<div class="money-in">
  <h2>Money In</h2>
  <table>
    <tr>
      <td class="title">Overdue</td>
      <td class="amount"><%= number_to_currency @overview.overdue %></td>
    </tr>
    <tr>
      <td class="title">Today</td>
      <td class="amount"><%= number_to_currency @overview.money_in_today %></td>
    </tr>
    <tr>
      <td class="title">Next 7 Days</td>
      <td class="amount"><%= number_to_currency @overview.money_in_next_seven %></td>
    </tr>

    <% if current_user.can_manage_market?(current_market) %>
      <tr>
        <td class="title">Next 30 Days</td>
        <td class="amount"><%= number_to_currency @overview.money_in_next_thirty %></td>
      </tr>
      <tr>
        <td class="title">Purchase Orders</td>
        <td class="amount"><%= number_to_currency @overview.money_in_purchase_orders %></td>
      </tr>
    <% end %>
  </table>
  <% if current_user.can_manage_market?(current_market) %>
    <%= link_to "Send Invoices", [:admin, :financials, :invoices], class: "btn btn--small mobile-block" %>
  <% end %>
</div>
