<%= render "admin/financials/header" %>

<div class="money-in">

  <h2>Money In</h2>
  <table>
    <tr>
      <td class="title">Overdue</td>
      <td class="amount"><%= number_to_currency @overview.overdue %></td>
    </tr>
    <tr>
      <td class="title">Today</td>
      <td class="amount"><%= number_to_currency @overview.money_in_today %></td>
    </tr>
    <tr>
      <td class="title">Next 7 Days</td>
      <td class="amount"><%= number_to_currency @overview.money_in_next_seven %></td>
    </tr>
  </table>

  <% if current_user.can_manage_market?(current_market) %>
  <%= link_to "Send Invoices", [:admin, :financials, :invoices], class: "btn btn--blue btn--small" %>
 <% end %>
</div>

<% if current_user.can_manage_market?(current_market) %>
<div class="money-out">
  <h2>Money Out</h2>

  <table>
    <tr>
      <td class="title">Next 7 Days</td>
      <td class="amount"><%= number_to_currency @overview.money_out_next_seven_days %></td>
    </tr>

    <tr>
      <td class="title">LO Fees</td>
      <td class="amount"><%= number_to_currency @overview.lo_fees_next_seven_days %></td>
    </tr>
  </table>
  <%= link_to "Record Payments", coming_soon_dashboard_path, class: "btn btn--blue btn--small" %>
</div>
<% end %>

<div>
  <p>
    This is a snapshot of all money currently owed to your organization. (If you're allowed to purchase on your market and pay by Purchase Order, it will also show what you owe to other organizations.)
  </p>
</div>
