<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :payment_method, "Update Payment Method:" %>
    <br>
    <%= f.radio_button :payment_method, 'cash' %>
    <%= label :paymentmethod_cash, 'Cash' %>
    <%= f.radio_button :payment_method, 'check' %>
    <%= label :paymentmethod_check, 'Check' %>
  </div>
</div>

<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :note, "If CHECK, update payment note:" %>
    <br>
    <%= f.text_field :note, class: "column--full" %>
  </div>
</div>