<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :payment_method, "Update Payment Method:" %>
    <br>
    <%= f.text_field :payment_method, class: "column--full" %>
  </div>
</div>

<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :note, "If CHECK, update payment note:" %>
    <br>
    <%= f.text_field :note, class: "column--full" %>
  </div>
</div>

<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :amount, "Update Payment Amount:" %>
    <br>
    <%= f.text_field :amount, class: "column--full" %>
  </div>
</div>