<%= render "admin/financials/header" %>
<%= link_to "#{svg_icon} Export CSV".html_safe, url_for(q: params[:q], format: :csv), class: 'export todo pull-right' %>
<h1>Payment History</h1>

<% if current_user.admin? || current_user.market_manager? %>
  <p>These are all completed payments to and from your organization. You can download a CSV file to import into your accounting system.</p>
  <%= render partial: "admin/financials/shared/market_manager_payment_filters", locals: { payment_history: @payment_history } %>
<% elsif current_user.buyer_only? %>
  <p>These are all completed payments you have made. You can download a CSV file to import into your accounting system.</p>
  <%= render partial: "admin/financials/shared/buyer_payment_filters", locals: { payment_history: @payment_history } %>
<% else %>
  <p>These are all completed payments made to you. You can download a CSV file to import into your accounting system.</p>
  <%= render partial: "admin/financials/shared/seller_payment_filters", locals: { payment_history: @payment_history } %>
<% end %>

<div class="table-wrapper">
  <table class="sortable">
    <thead class="stickable">
      <tr>
        <th><%= sort_link(@payment_history.q, :created_at, "Payment Date") %></th>
        <th>Description</th>
        <th>Payment Method</th>
        <% if current_user.admin? || current_user.market_manager? %>
        <th>Received From</th>
        <th>Paid To</th>
        <% end %>
        <th><%= sort_link(@payment_history.q, :amount, "Amount") %></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_history.payments.decorate.each do |payment| %>
        <tr class="payment-row">
          <td class="date"><%= payment.created_at.strftime("%m/%d/%Y") %></td>
          <td class="description">
            <% if payment.payment_type == "order" || payment.payment_type == "seller payment" || payment.payment_type == "market payment" %>
              <%- order_link_path = current_user.buyer_only? ? order_path(payment.orders.first) : admin_order_path(payment.orders.first) %>
              Order #: <%= link_to payment.orders.first.order_number, order_link_path %>
              <% if payment.orders.count > 1 %>
                <%= link_to raw('<i class="font-icon icon-plus-circle"> </i>'), "#more-info-#{payment.id}", class:"modal-toggle more-info payment-more", data: { modal: "more-info-#{payment.id}"} %>

                <!-- Modal -->
                <div class="popup modal clonable  is-hidden order-list-modal" id="more-info-<%= payment.id %>">
                  <div class="popup-header">
                    All Order Numbers Paid on <strong><%= payment.created_at.strftime("%m/%d/%Y") %></strong>
                    <button class="close"><i class="font-icon icon-close"></i></button>
                  </div>
                  <div class="all-order-numbers">
                    <% payment.orders.each do |order| %>
                      <p><%= link_to order.order_number + " -- " + order.total_cost.to_s, admin_order_path(order) %></p>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- End Modal -->

              <% end %>
            <% elsif payment.payment_type == "order refund" %>
              Order Refund #: <%= link_to payment.orders.first.order_number, admin_order_path(payment.orders.first) %>
            <% else %>
              <%= Payment::PAYMENT_TYPES[payment.payment_type] %>

              <% if payment.payment_type == "lo fee" ||  payment.payment_type == "hub fee" || payment.payment_type == "delivery fee" %>

                <%= link_to raw('<i class="font-icon icon-plus-circle"> </i>'), "#more-info-#{payment.id}", class:"modal-toggle more-info payment-more", data: { modal: "more-info-#{payment.id}"} %>

                <!-- Modal -->
                <div class="popup modal clonable  is-hidden order-list-modal" id="more-info-<%= payment.id %>">
                  <div class="popup-header">
                    All Order Numbers that contributed to fee
                    <button class="close"><i class="font-icon icon-close"></i></button>
                  </div>
                  <div class="all-order-numbers">
                    <% payment.orders.each do |order| %>
                        <p><%= link_to order.order_number, admin_order_path(order) %></p>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- End Modal -->
              <% end %>
            <% end %>

          </td>
          <td class="payment-method"><%= payment.display_payment_method %></td>
          <% if current_user.admin? || current_user.market_manager? %>
            <td class="from"><%= payment.from %></td>
            <td class="to"><%= payment.to %></td>
          <% end %>
          <td class="amount"><%= payment.display_amount %></td>
          <td><%= link_to "Update Payment", edit_admin_financials_payment_path(payment.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @payment_history.payments %>

<% if @payment_history.payments.none? %>
  <div class="info-note">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
