<%= form_tag admin_metric_path(params[:id]), method: :get, html: { class: "clear-after" } do |f| %>
  <div class="manager-filters">
    <div class="pull-left">
      <% if presenter.markets.present? %>
        <span class="preserve-alignment">
          <%= label_tag "Market" %><br>
          <%= select_tag :market, options_from_collection_for_select(presenter.markets, :first, :last, params[:market]), { prompt: "All", class: "filter-input" } %>
        </span>
      <% end %>
    </div>
    <div class="pull-left">
      <span class="preserve-alignment">
        <%= label_tag "Display By" %><br>
        <%= select_tag :interval, options_from_collection_for_select(MetricsPresenter::GROUPDATE_OPTIONS.map { |k, v| [k, v[:caption]] }, :first, :last, params[:interval]), class: "filter-input" %>
      </span>
    </div>
    <div class="pull-left">
      <span class="preserve-alignment">
        <%= label_tag "For Dates" %><br>
        <%= select_tag :metric_date_interval, options_from_collection_for_select([["now", "Ending Now"], ["range", "Between Range"]], :first, :last, params[:metric_date_interval]) %>
      </span>
    </div>
    <div class="date-filters">
      <div class="pull-left">
        <span class="preserve-alignment">
          <label for="start_date">Beginning on</label><br>
          <%= datetime_field_tag "start_date", presenter.start_date, class: 'datepicker filter-group-input', data: { requires_presence_of: "#end_date"} %>
        </span>
      </div>
      <div class="pull-left">
        <span class="preserve-alignment">
          <label for="end_date">Ending on</label><br>
          <%= datetime_field_tag "end_date", presenter.end_date, class: 'datepicker filter-group-input', data: { requires_presence_of: "#start_date" } %>
        </span>
      </div>
    </div>
  </div>
<% end %>
