<div class="devise-forms">
	<h2>Resend confirmation instructions</h2>

	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

		<%= recaptcha_v3(action: 'confirmation', site_key: ENV.fetch('RECAPTCHA_SITE_KEY_V3')) %>

	  <div><%= f.submit "Resend confirmation instructions" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>