<div class="field">
  <%= form.label :name, "Location Name" %><br>
  <%= form.text_field :name, class: "column column--full" %>
</div>

<div class="field">
  <%= form.label :address %><br>
  <%= form.text_field :address, class: "column column--full" %>
</div>

<div class="field">
  <%= form.label :city %><br>
  <%= form.text_field :city, class: "column column--full"  %>
</div>

<div class="field">
  <%= form.label :state %><br>
  <%= form.select :state, us_states, {include_blank: true} %>
</div>

<div class="field">
  <%= form.label :zip, "Postal Code" %><br>
  <%= form.text_field :zip, class: "column column--full"  %>
</div>
