<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= form.label :name, "Address Label" %><br>
    <%= form.text_field :name, placeholder: "Give your organization a location name", class: "column column--full" %>
  </div
  ><div class="field column column--half column--guttered">
    <%= form.label :address %><br>
    <%= form.text_field :address, class: "column column--full" %>
  </div>

</div>

<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= form.label :city %><br>
    <%= form.text_field :city, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= form.label :state %><br>
    <%= form.select :state, options_for_state_select, {include_blank: true}, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= form.label :zip, "Postal Code" %><br>
    <%= form.text_field :zip, size: 10, class: "column--full"  %>
  </div>
</div>

<div class="row row--field">
  <div class="field column column--guttered column--half">
    <%= form.label :phone %><br>
    <%= form.text_field :phone, maxlength: 18, size: 18, class: "column--full" %>
  </div
  ><div class="field column column--guttered column--half">
    <%= form.label :fax %><br>
    <%= form.text_field :fax, maxlength: 18, size: 18, class: "column--full" %>
  </div>
</div>
