<%= form_tag admin_organization_locations_path(@organization), method: :delete do %>
  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Telephone</th>
        <th>Default Billing</th>
        <th>Default Shipping</th>
        <th><input type="checkbox" class="check-all"></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.name_and_address %></td>
          <td></td>
          <td><%= radio_button_tag :default_billing_id, location.id, location.default_billing %></td>
          <td><%= radio_button_tag :default_shipping_id, location.id, location.default_shipping %></td>
          <td><%= check_box_tag "location_ids[]", location.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add New Address", new_admin_organization_location_path(@organization) %>
  <%= link_to "Save & Continue Editing", update_default_admin_organization_locations_path(@organization), id: "save-update-defaults" %>
  <%= submit_tag "Remove Checked" %>
<% end %>
