<div class="row row--partial">
  <div class="column column--three-fourths">
      <h1><i class="font-icon" data-icon="&#xe023;"></i>&nbsp; Fresh Sheet Preview</h1>
      <p>This is a preview of all items available to your Buyers. You can send a test version to a specified email address.
        When you are ready to send to your Buyer list, click Send to Everyone Now.
      </p>
      <%= form_tag [:admin, :fresh_sheet], method: :post do %>
        <div class="field field--inline fresh-sheet-test">
          <input name="email" type="email" placeholder="Email address" class="input--short" value="<%= current_user.email %>">
          <%= submit_tag 'Send Test', class: "btn btn--test btn--small trigger-email " %>
        </div>
        <%= submit_tag 'Send to Everyone Now', class: "btn btn--small pull-right trigger-email fresh-sheet-send", data: {confirm: "Are you ready to send the Fresh Sheet?"} %>

      <div class="clear-before add-note">
        <br>
        <a href="#fresh-sheet-note" class="btn btn--small btn--add toggle-slide">Add Note</a>
      </div>

      <div class="is-up slide" id="fresh-sheet-note">
        <div class="slide-content">
          <%= text_area_tag "note", @note, size: "100x10", placeholder: "Fresh Sheet Note" %>
          <%= submit_tag "Add Note", class: "btn btn--small pull-right" %>
          <% end %>
        </div>
      </div>

      <iframe width="600" height="1000" src="<%= preview_admin_fresh_sheet_path %>"></iframe>
  </div>
</div>
