<%= render 'admin/organizations/header' %>

<div class="row row--partial">
  <div class="column column--three-fourths">
    <%= form_for [:admin, @organization, User.new], html: { class: "form-actions" } do |f|%>
      <%= f.email_field :email, placeholder: "Email address" %>
      <button type="submit" class="btn--add btn--small">Invite New User</button>
    <% end %>

    <table class="sortable">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Registered On</th>
          <th></th>
        </tr>
      </thead>
      <% @organization.users.each do |user| %>
      <tr class="user-row <%= cycle "odd", "even" %>">
        <td class="name"><%= user.name %></td>
        <td class="email"><%= user.email %></td>
        <td><%= user.invitation_accepted_at.present? ? user.invitation_accepted_at.strftime("%b %-d, %Y") : "" %>

        <td class="delete">
          <%= button_to admin_organization_user_path(@organization, user), {method: :delete, class: "delete", data: {confirm: "Are you sure you want to delete #{user.email} from #{@organization.name}?"}} do%>
            <i class="font-icon icon-delete"></i> Delete
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
