<%= render 'admin/organizations/header' %>

<div class="row row--partial">
  <div class="column column--three-fourths">
    <%= form_for [:admin, @organization, User.new], html: { class: "form-actions" } do |f|%>
      <%= f.email_field :email, placeholder: "Email address", class: "invite-email-field" %>
      <button type="submit" class="btn--add btn--small invite-email-button">Invite New User</button>
    <% end %>
    <div class="table-wrapper">
      <table class="sortable">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Registered On</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @organization.users.decorate(context: {org: @organization}).each do |user| %>
        <tr class="user-row <%= cycle "odd", "even" %>">
          <td class="name"><%= link_to (user.name || "Edit"), edit_admin_organization_user_path(@organization, user) %></td>
          <td class="email"><%= user.email %></td>
          <td><%= user.invitation_accepted_at.present? ? user.invitation_accepted_at.strftime("%b %-d, %Y") : user.confirmed_at.present? ? user.confirmed_at.strftime("%b %-d, %Y") : '' %>

          <td>
            <%= user.toggle_enabled_button %>
          </td>
          <td>
            <% if user.is_invited? %>
                <%= link_to "Re-Invite", admin_organization_user_invite_path(@organization, user), class: "btn btn--small btn--save" %>
            <% end %>
          </td>
          <td class="delete">
            <%= button_to admin_organization_user_path(@organization, user), {method: :delete, class: "delete font-icon", data: {confirm: "Are you sure you want to delete #{user.email} from #{@organization.name}?"}, title: "Delete"} do%>
              <i class="fa fa-trash-o">&nbsp;</i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
