<%= render "admin/financials/header" %>
<div class="sub-header stickable">
  <div class="l-constraint">
    <h1>Make Payments to Markets</h1>
  </div>
</div>

<% @orders_by_market.each do |market, orders| %>
<div class="market-payment">
  <%= form_tag [:admin, :financials, :market_payments] do %>
    <%= hidden_field_tag :market_id, market.id %>
    <h2><%= market.name %></h2>
    <table>
      <tr class="table-header">
        <th></th>
        <th>Order Number</th>
        <th>Owed</th>
        <th>Item Subtotal</th>
        <th>Discount</th>
        <th>Delivery Fee</th>
        <th>LO Fee</th>
        <th>Payment Fee</th>
      </tr>
      <% orders.each do |order| %>
      <tr class="table-header">
        <td><%= check_box_tag "order_ids[]", order.id, true %></td>
        <td><%= order.order_number %></td>
        <td><%= number_to_currency(order.payable_to_market) %></td>
        <td><%= number_to_currency(order.payable_subtotal) %></td>
        <td><%= number_to_currency(order.discount_amount) %></td>
        <td><%= number_to_currency(order.delivery_fees) %></td>
        <td><%= number_to_currency(order.market_payable_local_orbit_fee) %></td>
        <td><%= number_to_currency(order.market_payable_payment_fee) %></td>
      </tr>
      <% end %>
      <tr class="totals">
        <td></td>
        <td>Total</td>
        <td><%= number_to_currency(orders.sum(&:payable_to_market)) %></td>
        <td><%= number_to_currency(orders.sum(&:subtotal)) %></td>
        <td><%= number_to_currency(orders.sum(&:discount_amount)) %></td>
        <td><%= number_to_currency(orders.sum(&:delivery_fees)) %></td>
        <td><%= number_to_currency(orders.sum(&:market_payable_local_orbit_fee)) %></td>
        <td><%= number_to_currency(orders.sum(&:market_payable_payment_fee)) %></td>
      </tr>
    </table>
    <div>
      <% if (accounts = market.decorate.payble_accounts_for_select).empty? %>
        <span class="warning">Market has not added a bank account.</span>
      <% else %>
        <%= label_tag :bank_account_id %>
        <%= select_tag :bank_account_id, options_for_select(market.decorate.payble_accounts_for_select) %>
        <%= submit_tag "Pay #{market.name}", class: 'btn--small' %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>