  <div class="tab-header stickable">
    <div class="l-constraint">
      <div class="l-page-header">

        <h1><i class="font-icon" data-icon="&#xe02d;"></i>&nbsp; Sold Items</h1>

        <div class="header-actions">
          <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: "export todo pull-right" %>
        </div>


        <%= search_form_for @q, url: admin_order_items_path, html: { class: "sold_item_search clear-after" } do |f| %>
          <div class="pull-left sold-item-search-widget">
            <span class="preserve-alignment">
              <%= f.search_field :order_order_number_cont, placeholder: "Search" -%><%= f.submit "Search", class: "btn--end" %>
            </span>
          </div>
          <a href="#items-filter" class="mobile-only mobile-block btn mobile-toggle">Show Filters</a>
          <div class="hidden-mobile" id="items-filter">
            <div class="filter-row">
              <span class="preserve-alignment">
                <%= f.label :order_market_id_eq, "Market" %><br>
                <%= f.select :order_market_id_eq, options_from_collection_for_select(@markets, :id, :name, @q.order_market_id_eq), { include_blank: "All" }, { class: "filter-input" } %>
              </span>

              <span class="preserve-alignment">
                <%= f.label :product_organization_id_eq, "Seller" %><br>
                <%= f.select :product_organization_id_eq, options_from_collection_for_select(@sellers, :id, :name, @q.product_organization_id_eq), { include_blank: "All" }, { class: "filter-input" } %>
              </span>

              <span class="preserve-alignment">
                <%= f.label :order_organization_id_eq, "Buyer" %><br>
                <%= f.select :order_organization_id_eq, options_from_collection_for_select(@buyers, :id, :name, @q.order_organization_id_eq), { include_blank: "All" }, { class: "filter-input" } %>
              </span>

              <span class="preserve-alignment">
                <%= f.label :delivery_status_eq, "Delivery Status" %><br>
                <%= f.select :delivery_status_eq, options_from_collection_for_select(@delivery_statuses, :to_s, :titleize, @q.delivery_status_eq), { include_blank: "All" }, { class: "filter-input" } %>
              </span>

              <span class="preserve-alignment">
                <%= f.label :order_payment_status_eq, "Buyer Payment Status" %><br>
                <%= f.select :order_payment_status_eq, options_from_collection_for_select(@buyer_payment_statuses, :to_s, :titleize, @q.order_payment_status_eq), { include_blank: "All" }, { class: "filter-input" } %>
              </span>

              <%# <span class="preserve-alignment"> %>
              <%#   <%= f.label :seller_payment_status_eq, "Seller Payment Status" %1><br> %>
              <%#   <%= f.select :seller_payment_status_eq, options_from_collection_for_select(["paid", "unpaid"], :to_s, :titleize, @q.seller_payment_status_eq), { include_blank: "All" }, { class: "filter-input" } %1> %>
              <%# </span> %>
            </div>

            <div class="date-filters">
              <span class="preserve-alignment">
                <label for="order_placed_at_date_gteq">Placed on or after</label><br>
                <%= datetime_field_tag "q[order_placed_at_date_gteq]", @start_date, class: 'datepicker' %>
              </span>
              <span class="preserve-alignment">
                <label for="order_placed_at_date_lteq">Placed on or before</label><br>
                <%= datetime_field_tag "q[order_placed_at_date_lteq]", @end_date, class: 'datepicker' %>
              </span>
              <span class="preserve-alignment">
                <br>
                <%= f.submit "Filter", class: "btn--small mobile-block" %>
              </span>
            </div>
            <a href="#items-filter" class="is-hidden mobile-only mobile-block mobile-toggle">Hide Filters</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= form_tag set_status_admin_order_items_path, class: "", id: "sold-items" do %>
  <div class="action-header stickable">
    <div class="l-constraint">
      <div class="actions l-constraint">
        <h4>Actions</h4>
        <%= select_tag :delivery_status, options_for_select([['Set Delivery Status', nil]] + OrderItem::DELIVERY_STATUSES.map {|s| [s.titleize, s] }) %>
        <input type="submit" class="btn btn--small" value="Apply Action">
        <span>This will be applied to any selected rows.</span>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="sold-table">
      <thead class="stickable">
        <tr>
          <th><input class="select-all" type="checkbox"></th>
          <th><%= sort_link @q, :created_at, "Order #" %></th>
          <th><%= sort_link @q, :product_organization_name, "Seller" %></th>
          <th><%= sort_link @q, :order_organization_name, "Buyer" %></th>
          <th><%= sort_link @q, :product_name, "Product" %></th>
          <th><%= sort_link @q, :quantity, "Qty" %></th>
          <th>Total</th>
          <th><%= sort_link @q, :delivery_status, "Delivery" %></th>
          <th><%= sort_link @q, :order_payment_status, "Buyer $" %></th>
          <th>Seller $</th>
        </tr>
      </thead>

      <% @order_items.decorate.each do |order_item| %>
      <tr class="<%= cycle "odd", "even" %> sold-item">
        <td><%= check_box_tag "order_item_ids[]", order_item.id %></td>
        <td class="order-number">
          <%= content_tag "span", order_item.placed_at, class: "order-date" %><br>
          <%= link_to order_item.order.order_number, admin_order_path(order_item.order), class: "order-number-bold" %>
        </td>
        <td class="order-seller"><%= link_to order_item.seller_name, [:admin, order_item.product.organization], class: "seller" %></td>
        <td>
          <%= link_to order_item.order.organization.name, [:admin, order_item.order.organization], class: "buyer" %><br>
          <%= content_tag "span", order_item.order.market.name, class: "market" %>
        </td>
        <td class="order-product"><%= link_to order_item.name, [:admin, order_item.product], class: "product" %></td>
        <td class="quantity"><%= order_item.quantity %></td>
        <td class="order-total-price">
          <%= content_tag "span", number_to_currency(order_item.gross_total), class: "total-price" %><br>
          <%= content_tag "span", order_item.price_per_unit, class: "unit-price" %>
        </td>
        <td class="delivery-status"><%= order_item.delivery_status.titleize %></td>
        <td class="buyer-payment-status"><%= order_item.payment_status.titleize %></td>
        <td class="seller-payment-status"><%= order_item.seller_payment_status %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= paginate @order_items %>

<% if @order_items.none? %>
  <div class="empty-results">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>

<%= render "shared/total_sales", totals: @totals %>
