<div class="row row--partial">
  <div class="column column--three-fourths">
    <legend>Edit Unit Price of <%= @order_item.name %> from <% @order_item.seller_name %></legend>
  </div>
    
    <%= form_for @order_item, :url => { :action => "update" }, :method => "patch" do |f| %>

        <div class="field">
          <%= f.label :unit_price %><br>
          <%= f.text_field :unit_price, { class: "column--one-fourth" } %>
        </div>

        <div class="form-actions">
          <%= f.submit "Edit Price" %>
        </div>


    <% end %>

</div>

