This is an admin interface for product import.
<br>
<br>

<h2>Import Products</h2>

<% if @plan == "LocalEyes" %>
	<strong>Make sure you are on the CORRECT site for uploading or you will not be able to upload your products.</strong>
	<%= form_tag({action: :upload}, multipart: true) do %>
	  <%= file_field_tag 'datafile' %>
	  <br></br>
	  <input type="hidden" id="job_id" name="job_id" value="<%=@job_id%>" />
	  <p>Please select the market supplier for which you are uploading data.</p>
		 <%= select_tag 'profile',  options_for_select(@suppliers_available) %> 
		<br>
		<br>
	  <%= submit_tag "Import" %>
	<% end %>

<% else %>

	<p>This feature is not available for this market's current plan.</p>

<% end %>