<% if current_user.multi_market_membership? %>
<td>
      <% if organization_can_access?(@product.organization, :advanced_pricing) %>
          <%= f.select :market_id, @product.organization.all_markets_for_select, {include_blank: 'All Markets'}, {class: "price_market_id"} %>
      <% else %>
          All Markets
      <% end %>
</td>
<% end %>
<td>
  <% if organization_can_access?(@product.organization, :advanced_pricing) %>
      <%= f.select :organization_id, current_user.buyers_for_select, {include_blank: 'All Buyers'}, {class: "price_buyer_id"} %>
  <% else %>
      All Buyers
  <% end %>
</td>
<td>
  <% if organization_can_access?(@product.organization, :advanced_pricing) %>
    <%= f.number_field :min_quantity, min: 0, size: 4, style: 'width: 60px' %>
  <% else %>
    1
  <% end %>
</td>
<td>
  <label class="lock-label" style="display: none">
    <input type="checkbox" class="lock-field" name="price[lock]"/>
    <span></span>
  </label>
  <%= f.number_field :net_price,    min: 0, step: 0.01, size: 4, class: 'net-price',
                     data: {"net-percents-by-market-id" => json_escape(@net_percents_by_market_id.to_json), "cc-rate" => @seller_cc_rate} %>
</td>
<% if FeatureAccess.product_level_fee?(market: current_market) %>
<td>
  <div style="float: left">
    <div style="float: left">
      <label style="font-size: 9px">Mkt</label> <input style="float: left" type="radio" value="0" name="price[fee]" class="mkt-fee" checked="checked"/>
    </div>
    <div style="clear: left"></div>
    <div style="float: left">
      <label style="font-size: 9px">Product</label> <input style="float: left" type="radio" value="1" name="price[fee]" class="product-fee"/>
    </div>
  </div>
  <%= f.number_field :product_fee_pct, min: 0, step: 0.01, size: 4, class: 'fee', style: 'display: none; float: left' %>
</td>
<% end %>
<td>
  <%= f.number_field :sale_price,   min: 0, step: 0.01, size: 4, class: 'sale-price' %>
</td>

<td>
  <%= content_tag(:button, "Cancel", class: "cancel") if @product.prices.view_sorted.any? %>
  <%= f.submit f.object.new_record? ? "Add" : "Save", class: "btn--small" %>
</td>
