<%= content_tag(:td, "", class: "hidden-mobile") if @product.prices.view_sorted.any? %>
<% if current_user.multi_market_membership? %>
<td>
  <% if organization_can_access?(@product.organization, :advanced_pricing) %>
    <%= f.select :market_id, current_user.markets_for_select, {include_blank: 'All Markets'}, {class: "price_market_id"} %>
  <% else %>
    All Markets
  <% end %>
<% end %>
<td>
  <% if organization_can_access?(@product.organization, :advanced_pricing) %>
    <%= f.select :organization_id, current_user.buyers_for_select, {include_blank: 'All Buyers'}, {class: "price_buyer_id"} %>
  <% else %>
    All Buyers
  <% end %>
</td>
<td>
  <% if organization_can_access?(@product.organization, :advanced_pricing) %>
    <%= f.number_field :min_quantity, min: 0, size: 4 %>
  <% else %>
    1
  <% end %>
</td>
<td><%= f.number_field :net_price,    min: 0, step: 0.01, size: 4, class: 'net-price', data: {"net-percents-by-market-id" => json_escape(@net_percents_by_market_id.to_json)} %></td>
<td><%= f.number_field :sale_price,   min: 0, step: 0.01, size: 4, class: 'sale-price' %></td>
<td>
  <%= content_tag(:button, "Cancel", class: "cancel") if @product.prices.view_sorted.any? %>
  <%= f.submit f.object.new_record? ? "Add" : "Save", class: "btn--small" %>
</td>
