<%= render "admin/products/header" %>
<%= centered_column('column--full') do %>
  <%= product_listing_disclaimer %>

  <h2>Add Prices</h2>

  <p>You can set a universal price or individual prices for specific
    <%= current_user.multi_market_membership? ? "Markets, " : "" %>
    Buyers and quantities.</p>

  <% unless @product.prices.view_sorted.any? %>
    <p>
      You don't have any Prices for <%= @product.plural_units_with_name %> yet! We've gone ahead and started the entry for you. When you enter a Sale Price,
      the Net Price will automatically update. You can adjust these numbers to arrive at the Net Price that you want
      to receive per unit.
    </p>
  <% end %>

  <%= render "shared/errors", {resource: @price} %>
  <%= render "shared/errors", {resource: @price_with_errors} if @price_with_errors %>

  <% @child_units.each do |unit_product| %>
    <h3 class="unit-name"><%= unit_product.unit_plural %></h3>
    <%= form_for [:admin, unit_product, @price],
                 namespace: "p#{unit_product.id}",
                 html: {class: "row row--partial price-form",
                        novalidate: "novalidate"} do |f| %>

      <div class="table-wrapper">
        <%= content_tag :table, border: 0,
                        data: edit_table_error_payload(@price_with_errors),
                        class: "sortable pricing-table" do %>
          <thead>
          <tr>
            <% if current_user.multi_market_membership? %>
              <th class="market">Market</th>
            <% end %>
            <th class="buyer">Buyer</th>
            <th class="min-qty">
              Min Qty <span class="tooltip" data-tooltip="This is the minimum quantity available for sale of this product."></span>
            </th>
            <th class="net-price">
              <div style="float: left">Estimated<br/>Net Price</div><span class="tooltip tool-tip-test" data-tooltip="The Net Price is the amount that
              the seller will receive. This amount is an estimate, calculated by subtracting the market fee and any
              applicable payment processing fees from the Sale Price."></span>
            </th>
            <% if FeatureAccess.product_level_fee?(market: current_market) %>
            <th class="fee">Fee %</th>
            <% end %>
            <th class="sale-price">
              Sale Price <span class="tooltip" data-tooltip="This is the sale price that the Buyer will see. The net
              price will adjust when you enter a sale price."></span>
            </th>
            <th></th>
          </tr>
          </thead>

          <tbody class="zebra-stripes">
          <% unit_product.prices.view_sorted.decorate.each do |price| %>
            <%= content_tag_for :tr, price, {data: {"form-url" => url_for([:admin, unit_product, price])},
                                             rel: "price_#{price.id}"} do %>

              <%= fields_for :price, price, index: price.id do |f| %>
                <% if current_user.multi_market_membership? %>
                  <td class="market">
                    <div class="edit-trigger view-cell">
                      <%= price.market_name %>
                    </div>
                    <div class="edit-cell">
                      <% if organization_can_access?(unit_product.organization, :advanced_pricing) %>
                        <%= f.select :market_id, unit_product.organization.all_markets_for_select,
                                     {include_blank: 'All Markets'}, {class: "price_market_id"} %>
                      <% else %>
                        <%= price.market_name %>
                      <% end %>
                    </div>
                  </td>
                  <% end %>
                  <td class="buyer">
                    <div class="edit-trigger view-cell">
                      <%= price.organization_name %>
                    </div>
                    <div class="edit-cell">
                      <% if organization_can_access?(unit_product.organization, :advanced_pricing) %>
                          <%= f.select :organization_id, current_user.buyers_for_select,
                                       {include_blank: 'All Buyers'}, {class: "price_buyer_id"} %>
                      <% else %>
                          <%= price.organization_name %>
                      <% end %>
                    </div>
                  </td>
                <td class="min-qty">
                  <div class="edit-trigger view-cell">
                    <%= price.min_quantity %>
                  </div>
                  <div class="edit-cell">
                    <% if organization_can_access?(unit_product.organization, :advanced_pricing) %>
                      <%= f.number_field :min_quantity, min: 0, size: 4, style: 'width: 60px' %>
                    <% else %>
                      <%= price.min_quantity %>
                    <% end %>
                  </div>
                </td>
                <td class="net-price">
                  <div class="edit-trigger view-cell">
                    <%= number_to_currency price.net_price %>
                  </div>
                  <div class="edit-cell">
                    <label class="lock-label" style="display: none">
                      <input type="checkbox" class="lock-field"/>
                      <span></span>
                    </label>
                    <%= f.number_field :net_price, min: 0, step: 0.01, size: 4, class: 'net-price',
                                       data:{"net-percents-by-market-id" => json_escape(@net_percents_by_market_id.to_json), "cc-rate" => @seller_cc_rate} %>
                  </div>
                </td>
                <% if FeatureAccess.product_level_fee?(market: current_market) %>
                <td class="fee">
                  <div class="edit-trigger view-cell">
                    <%= price.product_fee_pct == 0 || price.product_fee_pct.nil? ? "Use Mkt Fee" : number_to_percentage(price.product_fee_pct) %>
                  </div>
                  <div class="edit-cell">
                    <div style="float: left">
                      <div style="float: left">
                        <label style="font-size: 9px">Mkt</label> <input style="float: left" type="radio" value="0" name="fee<%=price.id%>" class="mkt-fee" <%= price.product_fee_pct.nil? || price.product_fee_pct == 0 ? "checked=checked" : "" %> />
                      </div>
                      <div style="clear: left"></div>
                      <div style="float: left">
                        <label style="font-size: 9px">Product</label> <input style="float: left" type="radio" value="1" name="fee<%=price.id%>" class="product-fee" <%= price.product_fee_pct > 0 ? "checked=checked" : "" %> />
                      </div>
                    </div>
                    <div style="float: left">
                      <%= f.number_field :product_fee_pct, min: 0, step: 0.01, size: 4, class: 'fee', style: 'display: none; float: left' %>
                    </div>
                  </div>
                </td>
                <% end %>
                <td class="sale-price">
                  <div class="edit-trigger view-cell">
                    <%= number_to_currency price.sale_price %>
                  </div>
                  <div class="edit-cell">
                    <%= f.number_field :sale_price,   min: 0, step: 0.01, size: 4, class: 'sale-price' %>
                  </div>
                </td>
                <td class="edit">
                  <div class="edit-trigger view-cell">
                    <%= link_to raw('<i class="font-icon" data-icon="&#xe002;"></i> Edit</span>'), "#fields_price_#{price.id}",
                                class: "edit-trigger edit-price" %>
                    <%= link_to raw('<i class="fa fa-trash-o">&nbsp;</i>'), [:admin, unit_product, price], method: :delete,
                                data: {confirm: 'Are you sure you want to delete this price?'},
                                class: "delete font-icon", title: "Delete" %>
                  </div>
                  <div class="edit-cell">
                    <%= content_tag(:button, "Cancel", class: "cancel") if unit_product.prices.view_sorted.any? %>
                    <%= f.submit f.object.new_record? ? "Add" : "Save", class: "btn--small" %>
                  </div>
                </td>
              <% end %>
            <% end %>
          <% end %>

          <tr class="add-price add-row price <%= unit_product.prices.view_sorted.any? && @price.errors.none? ? "is-hidden" : "open-row" %>">
            <%= render 'form_row', f: f %>
          </tr>

          <% if organization_can_access?(unit_product.organization, :advanced_pricing) && unit_product.prices.view_sorted.any? %>
            <tr class="add-toggle last-row">
              <% if current_user.multi_market_membership? %>
                <td></td>
              <% end %>
              <td></td>
              <td></td>
              <td></td>
              <% if FeatureAccess.product_level_fee?(market: current_market) %>
              <td></td>
              <% end %>
              <td></td>
              <td><%= link_to "Add Price", '#add-row', class: 'add-toggle' %></td>
            </tr>
          <% end %>
          </tbody>
        <% end #table %>
      </div>
    <% end # form %>
    <p></p>
  <% end %>

  <div class="form-actions">
    <p class="action-helper">
      Now that pricing is complete <%= link_to "return to product list", admin_products_path %>
      or <%= link_to "Add Another Product", new_admin_product_path, class: "btn btn--add" %>
    </p>
  </div>
<% end %>
