<div class="l-page-header">
  <h1>Update Product</h1>
  <a href="#" class="delete todo">Delete</a>
</div>

<%= render "admin/products/tabs" %>
<%= form_for [:admin, @product, @price], html: { class: "row row--partial" } do |f| %>
<%= render "shared/errors", {resource: @price} %>
<%= render "shared/errors", {resource: @price_with_errors} if @price_with_errors %>

  <%= product_listing_disclaimer %>

  <div class="column column--three-fourths">

    <% if @product.prices.any?(&:persisted?) %>
      <%= link_to "Add Price", "#add-price", class: "btn btn--add btn--small pull-right", id: "add-price-toggle" %>
      <h2 class="clear-after">Add Prices</h2>
      <p>These are your prices. Click on a field to edit it.</p>
      <p>
        <% # TODO: Do things when this is clicked %>
        <%= link_to "Delete Selected Prices", "/404", class: "btn delete todo" %>
      </p>
    <% else %>
      <h2>Add Prices</h2>
      <p>You don't have any prices yet! We've gone ahead and started the entry for you.</p>
    <% end %>

    <%= content_tag :table, border: 0, id: 'pricing_table', data: edit_table_error_payload(@price_with_errors) do %>
      <thead>
        <tr>
          <% if @product.prices.any?(&:persisted?) %>
            <th><input type="checkbox" class="todo"></th>
            <th>Market</th>
            <th>Buyer</th>
            <th>Min Qty</th>
            <th>Net Price</th>
            <th>Sale Price</th>
          <% else %>
            <th>Market</th>
            <th>Buyer</th>
            <th>Min Qty</th>
            <th>Net Price</th>
            <th>Sale Price</th>
            <th></th>
          <% end %>
        </tr>

        <tr class="price odd <%= @product.prices.any?(&:persisted?) ? "is-hidden" : "" %>" id="add-price">
          <% if @product.prices.any?(&:persisted?) %>
            <td></td>
          <% end %>
          <td><%= f.object.market_name %></td>
          <td><%= f.select :organization_id, current_user.buyers_for_select, include_blank: 'All Buyers' %></td>
          <td><%= f.number_field :min_quantity, min: 0, size: 4 %></td>
          <td><%= f.number_field :net_price, min: 0, step: 0.01, size: 4, class: 'net-price', data: {"net-percent" => "0.97"} %></td>
          <td><%= f.number_field :sale_price, min: 0, step: 0.01, size: 4, class: 'sale-price' %></td>
          <td>
            <% if @product.prices.any?(&:persisted?) %>
            <button class="cancel">Cancel</button>
            <% end %>
            <%= f.submit "Add", class: "btn--small" %>
          </td>
        </tr>
      </thead>
      <tbody>

      <% @product.prices.view_sorted.decorate.each do |price| %>
        <%= content_tag_for :tr, price, rel: "fields_price_#{price.id}", class: cycle('even', 'odd') do %>
          <% if @product.prices.any?(&:persisted?) %>
            <% # TODO: Make this do things in conjunction with the button on line 20 %>
            <td class="delete"><input type="checkbox" class="todo"></td>
          <% end %>
          <td class="market"><%= price.market_name %></td>
          <td class="buyer"><%= price.organization_name %></td>
          <td class="min-qty"><%= price.min_quantity %></td>
          <td class="net-price">$<%= "%.02f" % price.net_price %></td>
          <td class="sale-price">$<%= "%.02f" % price.sale_price %></td>
          <td class="edit">
            <%= link_to raw('<i class="font-icon" data-icon="&#xe002;"></i> Edit</span>'), "#fields_price_#{price.id}", class: "edit-price" %>
            <%= link_to raw('<i class="font-icon icon-delete"></i> Delete'), [:admin, @product, price], method: :delete, data: {confirm: 'Are you sure you want to delete this price'}, class: " delete" %>
          </td>
        <% end %>

        <%= content_tag_for :tr, price, :fields, {class: 'price', style:"display:none;", data: {"form-url" => url_for([:admin, @product, price]) }} do %>
          <%= fields_for :price, price, index: price.id do |price_in_table| %>
            <td></td>
            <td></td>
            <td><%= price_in_table.select :organization_id, current_user.buyers_for_select, include_blank: 'All Buyers' %></td>
            <td><%= price_in_table.number_field :min_quantity, min: 0, size: 4 %></td>
            <td><%= price_in_table.number_field :net_price,  min: 0, step: 0.01, size: 4, data: {"net-percent" => "0.97"}, class: "net-price"%></td>
            <td><%= price_in_table.number_field :sale_price,  min: 0, step: 0.01, size: 4, class: "sale-price" %></td>
            <td>
                <button class="cancel">Cancel</button>
                <%= f.submit "Save", class: "btn--small" %>
            </td>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    <% end # table %>
    <% if !@product.prices.any?(&:persisted?) %>
      <p>
        When entering a price with advanced pricing, you are able to set prices for specific buyers. Before you do that
        though, you should have a base price that everyone will pay. We have prefilled the information to get you started.
        Set a sale price and click add to add this price. You will notice that the Net Price updates when you enter a Sale
        Price. You can play with these numbers to get the Net Price that you want to receive per unit.
      </p>
    <% end %>
    <div class="form-actions">
    <%= link_to "Return to Products List", admin_products_path, disabled: @product.prices.count > 0 ? nil : "disabled", class: "btn" %>

    <% if !@product.prices.any?(&:persisted?) %>
      <%= link_to "Add Another product", new_admin_product_path, class: "btn btn--add" %>
    <% end %>
    </div>
  </div>
<% end # form %>
