<% # KXM GC: order filters will have to account for order status and sales/purchase types %>
<%= search_form_for @q, url:admin_consignment_qb_report_path, html: { class: "po_report_search clear-after" } do |f| %>
    <div class="reports-filters">
      <div class="row">
        <div class="column column--two-thirds column--guttered">
          <div class="pull-left order-search-widget mobile-block">
            <span class="preserve-alignment">
              <%= f.label :id_or_order_number_or_organization_name_or_items_seller_name_cont, "Search Orders" %><br>
              <%# NOTE: Do not change the whitespace on the following line %>
              <%= f.search_field :id_or_order_number_or_organization_name_or_items_seller_name_cont, placeholder: "Order #, etc.", class: append_sticky_class(:id_or_order_number_or_organization_name_or_items_seller_name_cont) -%>
            </span>
          </div>

          <div class="pull-right date-filters mobile-block">
            <span class="preserve-alignment">
              <label for="q_placed_at_date_gteq">Filter by Date</label><br>
              <%=  datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: append_sticky_class("placed_at_date_gteq", "datepicker", [30.days.ago.to_date.to_s]) %>
            </span>

            <span class="preserve-alignment">
              <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
              <%=  datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: append_sticky_class("placed_at_date_lteq", "datepicker", [Date.today.to_s]) %>
            </span>
          </div>
        </div>
        <div class="column column--fourth column--guttered">
          <div class="pull-right" style="margin-top: 45px">
            <%= f.submit "Search", class: "btn--small" %>
            <%= link_to "Reset", admin_consignment_qb_report_path(clear:''), class: 'btn reset' if can_reset?(@query_params) %>
          </div>
        </div>
      </div>
    </div>
<% end %>
