<%= render "admin/reports/header" %>
<%= link_to "#{svg_icon} Export CSV".html_safe, url_for(q: params[:q], format: :csv), class: 'export export--reports pull-right' %>
<%= render "admin/consignment_qb_report/filters" %>

<div class="report-table">
  <div class="table-wrapper">
    <table class="sortable report-table">
      <thead>
      <tr>
        <th>Journal No</th>
        <th>Journal Date</th>
        <th>Memo</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Name</th>
        <th>Location</th>
        <th>Class</th>
        <th>Currency Code</th>
        <th>Exchange Rate</th>
        <th>Is Adjustment</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
      <tr> <!-- Accounts Receivable -->
        <td><%= order.id %></td>
        <td><%= order.items.map(&:delivered_at).max.strftime("%m/%d/%Y") %></td>
        <td></td>
        <td>Accounts Receivable</td>
        <td><%= order.total_cost %></td>
        <td><%= order.id %></td>
        <td><%= order.organization.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
      </tr>
      <%
        profit_sum = 0
        po_orders = Inventory::Utils.get_supplier_net(order)
        po_orders.each do |po|
        profit_sum = profit_sum + po.profit
      %>
      <tr> <!-- Accounts Payable Grower -->
        <td><%= order.id %></td>
        <td><%= order.items.map(&:delivered_at).max.strftime("%m/%d/%Y") %></td>
        <td></td>
        <td>Accounts Payable Growers</td>
        <td><%= po.amt * -1 %></td>
        <td><%= po.order_id %></td>
        <td><%= po.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
      </tr>
      <% end %>
      <tr> <!-- Fees -->
        <td><%= order.id %></td>
        <td><%= order.items.map(&:delivered_at).max.strftime("%m/%d/%Y") %></td>
        <td></td>
        <td>Fees from Sales of Goods</td>
        <td><%= profit_sum * -1 %></td>
        <td><%= order.id %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
      </tr>
      <tr> <!-- Shipping & Delivery Income -->
        <td><%= order.id %></td>
        <td><%= order.items.map(&:delivered_at).max.strftime("%m/%d/%Y") %></td>
        <td></td>
        <td>Shipping & Delivery Income</td>
        <td><%= order.delivery_fees > 0 ? order.delivery_fees * -1  : 0 %></td>
        <td><%= order.id %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
