<div class="row">
  <aside class="column column--fourth column--guttered">

    <%= render "products/selected_delivery" %>

    <h2 class="heading heading--sidebar">Sellers</h2>
    <ul>
      <% @sellers.each do |seller| %>
        <%= content_tag :li, link_to(seller.name, seller_path(seller)) %>
      <% end %>
    </ul>

  </aside
  ><div class="column column--three-fourths column--guttered">

    <h1><%= @current_seller.name %></h1>

    <div class="row">

      <div class="column column--half">

        <div class="who-story">
          <h2>Who We Are</h2>
          <%= @current_seller.who_story %>
        </div>
        <div class="how-story">
          <h2>How We Do It</h2>
          <%= @current_seller.how_story %>
        </div>

      </div
      ><div class="column column--half">
        <div class="tab-box">
          <div class="tabbed-item profile-image" id="profile-image-tab">
            <% if @current_seller.photo.present? %>
              <%= image_tag @current_seller.photo.remote_url, alt: "Profile photo" %>
            <% end %>
          </div>

          <div class="tabbed-item map" id="map-tab">
            <img alt="map" src="<%= @current_seller.locations_map %>">
          </div>

          <% if @current_seller.photo.present? %>
          <ul class="tabs tabs--bottom tabs--small">
            <li class="tab">
              <a href="#profile-image-tab" class="inactive">Photo</a>
            </li>
            <li class="tab">
              <a href="#map-tab">Map</a>
            </li>
          </ul>
          <% end %>

        </div>
      </div>
    </div>


    <h2>Currently Selling</h2>
    <% @categories.each do |category| %>
      <% if @product_groups[category.id].present? %>
        <%= render "products/table", products: @product_groups[category.id], category: category %>
      <% end %>
    <% end %>
  </div>
</div>
