<aside>
  <h2>Sellers</h2>
  <ul>
    <% @sellers.each do |seller| %>
      <%= content_tag :li, link_to(seller.name, seller_path(seller)) %>
    <% end %>
  </ul>
</aside>

<div class="row">
  <div class="profile-image">
    <h2><%= @current_seller.name %></h2>
    <img alt="profile" src="">
  </div>
  <div class="map">
    <h2></h2>
    <img alt="map" src="<%= @current_seller.locations_map %>">
  </div>
</div>

<div class="row">
  <div class="who-story">
    <h2>Who We Are</h2>
    <%= @current_seller.who_story %>
  </div>
  <div class="how-story">
    <h2>How We Do It</h2>
    <%= @current_seller.how_story %>
  </div>
</div>
