<%= render "admin/products/header" %>

<%= form_for [:admin, @product, @lot], html: { class: "row row--partial" } do |f| %>

<div class="column column--three-fourths">
<%= product_listing_disclaimer %>

<%= render "shared/errors", {resource: @lot} %>

<%= render "shared/errors", {resource: @lot_with_errors} if @lot_with_errors %>

<%= link_to "Add Lot", '#add-lot', class: @product.lots.count > 0 ? 'pull-right btn btn--add btn--small add-toggle' : 'is-hidden'  %>
<h2>Add Inventory</h2>

<% if @product.lots.select { |lot| lot.persisted? }.empty? %>
  <p>You don't have any inventory yet! Get started by adding your first lot.</p>
<% end %>

<%= content_tag :table, id: 'inventory_table', data: edit_table_error_payload(@lot_with_errors), class: "sortable" do %>
  <thead>
    <tr>
      <th>Date Added</th>
      <th>Lot #</th>
      <th>Good From</th>
      <th>Expires On</th>
      <th>Quantity</th>
      <th></th>
    </tr>

    <tr class="lot add-row <%= @product.lots.count > 0 ? 'is-hidden' : '' %>" id="add-row">
      <td><%= Time.current.strftime('%m/%d/%Y') %></td>
      <td><%= f.text_field :number, size: 8  %></td>
      <td>
          <%= f.datetime_field :good_from, size: 8, class: 'datepicker' %><a href="#lot_good_from" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
      </td>
      <td>
          <%= f.datetime_field :expires_at, size: 8, class: 'datepicker', data: {'min-date' => 0} %><a href="#lot_expires_at" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
      </td>
      <td><%= f.number_field :quantity, min: 0, size: 3 %></td>
      <td>
        <button class="cancel">Cancel</button>
        <%= f.submit "Add", class: "btn--small" %>
      </td>
    </tr>
  </thead>

  <tbody>
  <% @product.lots.select(&:persisted?).each do |lot| %>
    <%= content_tag_for :tr, lot, rel: "fields_lot_#{lot.id}", class: cycle("odd", "even") do %>
      <td class="created_at edit-trigger"><%= lot.created_at.strftime('%m/%d/%Y') %></td>
      <td class="number edit-trigger"><%= lot.number %></td>
      <td class="good_from edit-trigger">
        <%= lot.good_from.try(:strftime, '%d %b %Y') %>
      </td>
      <td class="expires_at edit-trigger">
        <%= lot.expires_at.try(:strftime, '%d %b %Y') %>
      </td>
      <td class="quantity edit-trigger"><%= lot.quantity %></td>
      <td><%= link_to raw('<i class="font-icon" data-icon="&#xe002;"></i> Edit</span>'), "#lot_#{lot.id}", class: "edit-trigger edit-price" %></td>
    <% end %>

    <%= content_tag_for :tr, lot, :fields, {class: 'lot', style:"display:none;", data: {"form-url" => url_for([:admin, lot.product, lot]) }} do %>
      <%= fields_for :lot, lot, index: lot.id do |lot_in_table| %>
        <td><%= lot.created_at.strftime('%m/%d/%Y') %></td>
        <td><%= lot_in_table.text_field :number, size: 8 %></td>
        <td>
          <%= lot_in_table.datetime_field :good_from, size: 8, class: 'datepicker' %><a href="#lot_<%= lot.id %>_good_from" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
        </td>
        <td>
          <%= lot_in_table.datetime_field :expires_at, size: 8, class: 'datepicker', data: {'min-date' => 0} %><a href="#lot_<%= lot.id %>_expires_at" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
        </td>
        <td><%= lot_in_table.number_field :quantity, min: 0, size: 3 %></td>

        <td><%= link_to "Cancel", "#", class:"cancel" %><%= f.submit "Save", class: "btn--small" %></td>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
<% end # table %>
<div class="form-actions">
  <%= link_to "Continue to Pricing", [:admin, @product, :prices], class: "btn btn--save" %>
</div>
</div>
<% end # form %>
