<%= link_to "Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
<button class="btn btn--action btn--small pull-right print-button" id="print-button">Print</button>

<% @summaries.sellers.each_with_index do |(seller, orders), index| %>
  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <h1>Order Summary</h1>
  <div class="upcoming-delivery">

    <h2 class="heading heading-delivery-tool">Seller</h2>
    <div class="vcard vcard--seller">
      <h3 class="fn org"><%= seller.name %></h3>
      <div class="street-address"><%= seller.decorate.shipping_address %></div>
      <div><%= seller.decorate.shipping_city_state_zip %></div>
      <div class="tel"><%= number_to_phone seller.decorate.shipping_phone %></div>
    </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Buyer</th>
          <th>Items</th>
          <th>Units</th>
          <th>Qty</th>
          <th>Item Total Price</th>
          <th>Notes</th>
        </tr>
      </thead>

      <% orders.each do |order, items| %>
        <tbody class="order-summary">
          <% min_rowspan = 5 %>
          <tr>
            <th scope="row" rowspan="<%= [min_rowspan, items.count].max %>" class="vcard">
              <h3 class="fn org"><%= order.organization.name %></h3>
              <div class="street-address"><%= order.decorate.display_delivery_street %></div>
              <div><%= order.decorate.display_delivery_city_state_zip %></div>
              <% if order.decorate.display_delivery_phone.present? %>
                <div class="tel">T: <%= number_to_phone order.decorate.display_delivery_phone %></div>
              <% end %>
              <div class="order-number">Order #:<%= order.order_number %></div>
            </th>
            <% first_item = items.shift %>
            <td><%= first_item.name %></td>
            <td><%= first_item.unit %></td>
              <td><%= first_item.quantity %></td>
              <td><%= number_to_currency first_item.seller_net_total %></td>
              <td></td>
            </tr>

            <% items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.unit %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency item.seller_net_total %></td>
                <td></td>
              </tr>
            <% end %>

            <% (min_rowspan - (items.size + 1)).times do %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    <h2 class="heading heading-delivery-tool">Total</h2>
    <p class="order-summary-total"><%= number_to_currency @summaries.totals[seller] %></p>
  </div>

<% end %>
