<%= render "admin/financials/header" %>

<div class="row--partial">
  <div class="column column--half">
    <h1>Enter Offline Payment</h1>

    <%= form_for :payment, url: admin_financials_offline_payment_path do |f| %>
      <div class="field column--half">
        <%= f.hidden_field :payer_type, value: "Market" %>
        <%= f.label :payer_id, "Paying Market" %><br>
        <%= f.collection_select :payer_id, Market.order(:name), :id, :name, prompt: "Select a market" %>
      </div>
      <div class="field column--half">
        <%= f.label :created_at, "Payment Date" %><br>
        <%= f.datetime_field :created_at, class: 'datepicker', data: {'min-date' => nil}, value: Date.current.strftime("%d %b %Y") %>
      </div>
      <div class="field column--half">
        <%= f.label :amount, "Payment Amount" %><br>
        <%= f.text_field :amount, size: 8 %>
      </div>
      <div class="field column--half">
        <%= f.label :payment_type, "Payment Type" %><br>
        <%= f.select :payment_type, [["Service Fee", "service"]], {} %>
      </div>

      <div class="form-actions">
        <input type="submit" value="Save Payment" class="action-helper">
      </div>
    <% end %>
  </div>
</div>
