<h1>See what's fresh at <%= @market.name %></h1>
<p>Order by <%= @delivery.display_cutoff_time %>
   for <%= @delivery.cart_type %> <%= @delivery.display_date %> <%= @delivery.buyer_time_range %>.</p>

<% if @note %>
<p><%= @note %></p>
<% end %>

<% @products_for_sale.each_category_with_products do |category, products| %>
  <% current_top_level_category = category.top_level_category %>
  <% if @previous_top_level_category != current_top_level_category %>
    <% @previous_top_level_category = current_top_level_category %>
    <h2 class="pull-left"><%= current_top_level_category.name %></h2>
    <%= link_to "Shop Now", products_url(host: @market.domain), class: "lo_button pull-right" %>
  <% end %>

  <h3 class="clear"><%= category.name %></h3>

  <table class="lo_fresh_sheet">
    <% products.each do |product| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <th scope="row">
          <dl>
            <dt><%= product.name %></dt>
            <dd><%= product.unit_singular %></dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;<em><%= product.organization_name %></em></dd>
          </dl>
        </th>
        <td>
          <span class="lo_availability"><%= product.available_inventory %> Available</span><br>
          <%= link_to "Add to Order", products_url(host: @market.domain), class: "lo_add_link" %>
          <% if @preview %>
            <br>
            <%= link_to "Edit", admin_product_url(product, host: @market.domain), target: '_top', class: 'lo_button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
