<h1>See what's fresh at <%= @market.name %></h1>
<p>Order by <%= @delivery.display_cutoff_time %>
   for <%= @delivery.cart_type %> <%= @delivery.buyer_display_date %> <%= @delivery.buyer_time_range %>.</p>

<% if !@note.to_s.empty? %>
<div style="border-top:1px solid #222"></div>
<p><%= @note.html_safe %></p>
<div style="border-bottom:1px solid #222"></div>
<br/>
<% end %>

<% @products_for_sale.each_category_with_products do |category, products| %>
  <% current_top_level_category = category.top_level_category %>
  <% if @previous_top_level_category != current_top_level_category %>
    <% @previous_top_level_category = current_top_level_category %>
    <div class="product-catalog-category product-category-divider"><%= current_top_level_category.name %></div>
  <% end %>

  <div class="product-catalog-second-category"><%= category.name %></div>

    <% products.each do |product| %>
      <div>
      <div class="row product-listing">
        <div class="product-details-container column column--five-twelfths">
          <% if product.image_stored? %>
              <%= image_tag product.image.thumb("150x150>").url, class: "product-image", alt: "" %>
          <% else %>
              <%= image_tag 'default-product-image.png', class: "product-image", alt: "" %>
          <% end %>
          <div class="product-details">
            <h3><%= product.name %></h3>
            <h5>
              <span>From: </span>
              <%= product.organization_name %>
            </h5>
            <br/>
            <%= product.short_description %>
          </div>
        </div>
        <div class="product-details-spacer"> </div>
        <div class="product-pricing column column--seven-twelfths" style="width:100px">
          <table width="100%">
            <tbody>
            <tr class="cart_item">
              <th>
                <%= product.unit_singular %>
                <br>
                <span style="font-size:14px;color:#737373;">
                  <span><%= product.available_inventory %> Available</span>
                  <span>&nbsp;</span>
                </span>
              </th>
            </tr>
            <tr><th>
              <%= link_to "Add to Order", product_url(product), class: "btn btn--add" %>
              <% if @preview %>
                  <br/><br/>
                  <%= link_to "Edit", admin_product_url(product), target: '_top', class: 'btn btn--test' %>
              <% end %>
            </th></tr>
            </tbody>
          </table>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  <% end %>
<% end %>
