<h1>See what's fresh at <%= @market.name %></h1>
<p>Order by <%= @delivery.display_cutoff_time %>
   for <%= @delivery.cart_type %> <%= @delivery.buyer_display_date %> <%= @delivery.buyer_time_range %>.</p>

<% if !@note.to_s.empty? %>
<div style="border-top:1px solid #222"></div>
<p><%= @note.html_safe %></p>
<div style="border-bottom:1px solid #222"></div>
<br/>
<% end %>

<% @products_for_sale.each_category_with_products do |category, products| %>
  <% current_top_level_category = category.top_level_category %>
  <% if @previous_top_level_category != current_top_level_category %>
    <% @previous_top_level_category = current_top_level_category %>
    <div style="font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #FFF;
        padding: 10px 20px 10px 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: <%= @market.text_color -%>;
        border-color: <%= @market.text_color -%>;">
    <%= current_top_level_category.name %></div>
  <% end %>

  <div class="product-catalog-second-category"><%= category.name %></div>

    <% products.each do |product| %>
      <div>
      <div style="position: relative;
          max-width: 100%;
          clear: both;">
        <div style="display: table-cell;
            vertical-align: top;
            padding-right: 20px;
            margin-right: 0;
            margin-left: 0;
            text-align: left;
            font-size: 14px;
            width: 66%;">
          <% if product.image_stored? %>
              <%= image_tag product.image.thumb("150x150>").url, style: "width: 75px; height: 75px; overflow: hidden; border-radius: 4px; float: left; margin: 0;", alt: "" %>
          <% else %>
              <%= image_tag 'default-product-image.png', style: "width: 75px; height: 75px; overflow: hidden; border-radius: 4px; float: left; margin: 0;", alt: "" %>
          <% end %>
          <div style="float: left;
              width: 57%;
              padding-left: 3%;">
            <h3><%= product.name %></h3>
            <h5>
              <span>From: </span>
              <%= product.organization_name %>
            </h5>
            <br/>
            <div style="font-size: 13px;"><%= product.short_description %></div>
          </div>
        </div>
        <div style="display: table-cell;
            vertical-align: middle;
            clear: both;
            padding-left: 20px;
            border-left: 1px solid #eaeaea;"></div>
        <div  style="display: table-cell;
            padding: 0 10px 0 0;
            text-align: left;
            vertical-align: top;
            width: 33%;">
          <table style="width: 125px">
            <tbody>
            <tr style="border: 0;">
              <th>
                <%= product.unit_singular %>
                <br>
                <span style="font-size:14px;color:#737373;">
                  <span><%= product.available_inventory %> Available</span>
                  <span>&nbsp;</span>
                </span>
              </th>
            </tr>
            <tr><th>
              <%= link_to "Add to Order", product_url(product), style: "font-family: Arial, sans-serif; display: inline-block; padding: 5px; border: solid 1px #a6a6a6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #a6a6a6; color: #ffffff; cursor:pointer; font-size: 12px; text-align: center; -webkit-appearance: none; -webkit-font-smoothing: antialiased; -moz-appearance: none; text-decoration: none; background-color: #{@market.text_color}; border-color: #{@market.text_color};" %>
              <% if @preview %>
                  <br/><br/>
                  <%= link_to "Edit", admin_product_url(product), target: '_top', style: "font-family: Arial, sans-serif; display: inline-block; padding: 5px; border: solid 1px #a6a6a6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #a6a6a6; color: #ffffff; cursor:pointer; font-size: 12px; text-align: center; -webkit-appearance: none; -webkit-font-smoothing: antialiased; -moz-appearance: none; text-decoration: none; background-color: #a6a6a6; border-color: #a6a6a6;" %>
              <% end %>
            </th></tr>
            </tbody>
          </table>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  <% end %>
<% end %>
