<%# Message from subscriber to publisher - in other words: recipient is Publisher, sender is Subscriber %>
<p>Hello <%= @recipient.contact_name %>,

<h2><%= @sender.name %> has deactivated your Cross Selling List</h2>

<p>Unless you revoke subscription privileges for <%= @sender.name %> the cross selling list '<%= @list_in_question.name %>' will remain available for them to activate in the future.</p>

<div class="lo_call_to_action">
  <a class="lo_button lo_button_large" href="<%= root_url(host: @recipient.domain) %>">Visit your market</a>
  <p>
    If clicking the button doesn't work, right click it and copy the link.<br>
    After you've copied it, paste it into a new browser window.
  </p>
</div>



