<div class="is-hidden modal popup" id="edit-unit-price">
  <div class="popup-header">
    Edit Unit Price of <%= OrderItem.find(params[:item_id]).name %> <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">
    <%= form_for :order_item, :method => "patch", remote: true do |f| %>
      
      <% fields_for :order_item do |f| %>
        <div class="field">
          <%= f.label :price %><br>
          <%= f.text_field "price", { class: "column--full" } %>
        </div>

        <div class="field">
          <%= f.hidden_field :item_id, value: params[:item_id] %>
        </div>
        <div class="form-actions">
          <%= f.submit "Edit Price" %>
        </div>
      <% end %>

    <% end %>

  </div>
</div>

