<% # KXM GC: order filters will have to account for order status and sales/purchase types %>
  <%= search_form_for @q, url: @order_type == 'sales' ? admin_orders_path : admin_purchase_orders_path, html: { class: "order_search clear-after" } do |f| %>
    <div class="row">
      <div class="column column--two-thirds column--guttered">
        <div class="pull-left order-search-widget mobile-block">
          <span class="preserve-alignment">
            <%= f.label :id_or_order_number_or_organization_name_or_items_seller_name_cont, "Search Orders" %><br>
            <%# NOTE: Do not change the whitespace on the following line %>
            <%= f.search_field :id_or_order_number_or_organization_name_or_items_seller_name_cont, placeholder: "Order #, Buyer, etc.", class: append_sticky_class(:id_or_order_number_or_organization_name_or_items_seller_name_cont) -%>
          </span>
        </div>

        <% if current_market.is_consignment_market? %>
        <div class="pull-right date-filters mobile-block">
          <span class="preserve-alignment">
            <label for="q_delivered_at_date_gteq">Filter by Delivery Date</label><br>
            <%=  datetime_field_tag "q[delivered_at_date_gteq]", @search_presenter.start_date, class: append_sticky_class("delivered_at_date_gteq", "datepicker", [30.days.ago.to_date.to_s]) %>
          </span>
              <span class="preserve-alignment">
            <label for="q_delivered_at_date_lteq" class="is-invisible">End Date</label><br>
                <%=  datetime_field_tag "q[delivered_at_date_lteq]", @search_presenter.end_date, class: append_sticky_class("delivered_at_date_lteq", "datepicker", [Date.today.to_s]) %>
          </span>
        </div>
        <% else %>
        <div class="pull-right date-filters mobile-block">
          <span class="preserve-alignment">
            <label for="q_placed_at_date_gteq">Filter by Creation Date</label><br>
            <%=  datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: append_sticky_class("placed_at_date_gteq", "datepicker", [30.days.ago.to_date.to_s]) %>
          </span>
          <span class="preserve-alignment">
            <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
            <%=  datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: append_sticky_class("placed_at_date_lteq", "datepicker", [Date.today.to_s]) %>
          </span>
        </div>
        <% end %>

        <div class="manager-filters unjustify mobile-block">
          <% if current_user.multi_market_membership? %>
          <span class="preserve-alignment mobile-block">
            <%= f.label :market_id_in, "Market" %><br>
            <%= f.collection_select :market_id_in, @search_presenter.selling_markets, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:market_id_in, ""),'multiselect']} %>
          </span>
          <% end %>

          <span class="preserve-alignment mobile-block">
            <%= f.label :organization_id_in, "Buyer" %><br>
            <%= f.collection_select :organization_id_in, @search_presenter.buyer_organizations, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:organization_id_in, ""),'multiselect']} %>
          </span>

          <% if (current_user.admin? || current_user.market_manager?) && policy(:all_supplier).index? %>
          <span class="preserve-alignment mobile-block">
            <%= f.label :products_organization_id_in, "Supplier" %><br>
            <%= f.collection_select :products_organization_id_in, @search_presenter.seller_organizations, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:products_organization_id_in, ""),'multiselect']} %>
          </span>
          <% end %>
        </div>

        <div class="manager-filters unjustify mobile-block">

          <span class="preserve-alignment mobile-block">
            <%= f.label :delivery_status_in, "Delivery Status" %><br>
            <%= f.select :delivery_status_in, Order::DELIVERY_STATUSES.map { |ds| [ds[1], ds[0]] }, {include_blank: 'Select'}, {multiple: false} %>
          </span>

          <span class="preserve-alignment mobile-block">
            <%= f.label :payment_status_in, "Payment Status" %><br>
            <%= f.select :payment_status_in, Order::PAYMENT_STATUSES.map { |ps| [ps[1], ps[0]] }, {include_blank: 'Select'}, {multiple: false} %>
          </span>

          <% if current_market.is_consignment_market? && @order_type == 'purchase' %>
          <span class="preserve-alignment mobile-block">
            <%= f.label :sold_through_true, "Sold Through?" %><br>
            <%= f.check_box :sold_through_true %>
          </span>
          <% end %>
        </div>
      </div>
      <div class="column column--fourth column--guttered">
        <div class="pull-right" style="margin-top: 45px">
          <%= f.submit "Search", class: "btn--small" %>
          <%= link_to "Reset", @order_type == 'sales' ? admin_orders_path(clear: '') : admin_purchase_orders_path(clear:''), class: 'btn reset' if can_reset?(@query_params) %>
        </div>
      </div>
    </div>
  <% end %>
