  <%= search_form_for @q, url: admin_orders_path, html: { class: "order_search clear-after" } do |f| %>
    <div class="pull-left order-search-widget">
      <span class="preserve-alignment">
        <%= f.label :order_number_or_organization_name_or_items_seller_name_cont, "Search Orders" %><br>
        <%# NOTE: Do not change the whitespace on the following line %>
        <%= f.search_field :order_number_or_organization_name_or_items_seller_name_cont, placeholder: "Order #, Buyer, etc." -%><%= f.submit "Search", class: "btn--end" %>
      </span>
    </div>

    <div class="pull-right date-filters">
      <span class="preserve-alignment">
        <label for="q_placed_at_date_gteq">Filter by Date</label><br>
        <%=  datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: 'datepicker' %>
      </span>

      <span class="preserve-alignment">
        <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
        <%=  datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: 'datepicker' %>
      </span>

      <span class="preserve-alignment">
        <br>
        <%= f.submit "Filter", class: "btn--small" %>
      </span>
    </div>

    <div class="manager-filters unjustify">
      <% if current_user.multi_market_membership? %>
      <span class="preserve-alignment mobile-block">
        <%= f.label :market_id_eq, "Market" %><br>
        <%= f.collection_select :market_id_eq, @search_presenter.selling_markets, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
      </span>
      <% end %>

      <span class="preserve-alignment mobile-block">
        <%= f.label :organization_id_eq, "Buyer" %><br>
        <%= f.collection_select :organization_id_eq, @search_presenter.buyer_organizations, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
      </span>

      <% if current_user.admin? || current_user.market_manager? %>
      <span class="preserve-alignment mobile-block">
        <%= f.label :products_organization_id_eq, "Supplier" %><br>
        <%= f.collection_select :products_organization_id_eq, @search_presenter.seller_organizations, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
      </span>
      <% end %>
    </div>
  <% end %>
