<div class="tab-header stickable">
  <div class="l-constraint">
    <h1>Review Orders</h1>
  </div>
</div>


<% if current_user.market_manager? %>
  <%= search_form_for @q, url: admin_orders_path do |f| %>
  <%= f.label :market_id_eq, "Market" %>
  <%= f.collection_select :market_id_eq, @selling_markets, :id, :name, prompt: "Show by Market" %>
  <%= f.label :organization_id_eq, "Buyer" %>
  <%= f.collection_select :organization_id_eq, @buyer_organizations, :id, :name, prompt: "Show by Buyer" %>

  <%= f.submit "Update" %>
<% end %>
<% end %>


<table class="sortable">
  <thead class="stickable">
    <th data-column="number" class="<%= column_sort_classes("number")%>">Order #</th>
    <th data-column="date" class="<%= column_sort_classes("date")%>">Order Date</th>
    <th data-column="owed" class="<%= column_sort_classes("owed")%>">Amount</th>
    <th data-column="delivery" class="<%= column_sort_classes("delivery")%>">Delivery</th>
    <th data-column="buyer" class="<%= column_sort_classes("buyer")%>">Buyer</th>
    <th data-column="seller" class="<%= column_sort_classes("seller")%>">Seller</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr class="order-row">
      <td class="order-number">
        <%= link_to order.order_number, admin_order_path(order) %>
      </td>
      <td class="order-date"><%= order.placed_at.strftime("%m/%d/%Y") %></td>
      <td class="amount-owed"><%= number_to_currency(SellerOrder.new(order, current_user).gross_total) %></td>
      <td class="delivery-status"><%= order.delivery_status.titleize %></td>
      <td class="buyer-status"><%= order.payment_status.titleize %></td>
      <td class="seller-status"></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
