<% # KXM This form needs some wholesale changes around editing - i.e. revoked lists ought to be read only, status should be displayed for Pending and Revoked but those statuses are assigned and therefore not available as options, etc... %>
<div class="action_box column column--full">
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= list_fields.label :name, "List Name" %>
      <span class="help-text">This is the name people will use to identify your list of cross sold items.</span>
      <%= list_name(list_fields) %>
    </div
    ><div class="field column column--half column--guttered">
      <%= list_fields.label :status, "List Status" %>
      <!--span class="help-text"><%#= render "list_status_helper_text" %></span-->
      <span class="help-text"><%= status_help_text %></span>

      <%= list_fields.select :status, @cross_selling_list.statuses, {}, { class: "column--full" } unless @cross_selling_list.locked? %>
    </div>
  </div>
  <div class="row row--field">
    <div class="field column column--half column--guttered">

    <% # Only show the subscribers list for list creators...
    if @cross_selling_list.creator || @cross_selling_list.new_record? %>
      <%= list_fields.label :children_ids, "List Visibility" %>
      <span class="help-text">Control who may view, subscribe, or sell your products. Contact admin if you don't see who you're looking for.</span>
      <%= list_fields.select :children_ids, options_for_select(current_market.cross_sells.map {|market| [market.name, market.id] }, @cross_selling_list.children.active.map{|list| list.entity_id} ), { :prompt => "Select market(s)" }, { :multiple => true, :class => "column--full" } %>
    <% end %>

    </div>
  </div>
</div>
<% if !@cross_selling_list.new_record? %>
<div>
  <% if !@selected_suppliers.blank? then %>
    <% @selected_suppliers.each do |supplier_id| %>
      <%= hidden_field_tag "selected_suppliers[]", supplier_id %>
    <% end %>
  <% end %>
</div>
<div>
  <% if !@selected_categories.blank? then %>
    <% @selected_categories.each do |category_id| %>
      <%= hidden_field_tag "selected_categories[]", category_id %>
    <% end %>
  <% end %>
</div>
<% end %>
