<div style="margin-top: 1.4em; padding: 10px; background-color: #FAFAFA; border-radius: 5px; display:inline-block; border: 1px solid #ECE9E9">
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :name, "List Name" %>
      <span class="tooltip pull-right" data-tooltip="This will be the name people will use to identify your list of cross sold items."></span>
      <br />
      <%= f.text_field :name, class: "column--full" %>
    </div
    ><div class="field column column--half column--guttered">
      <%= f.label :shared_with, "List Visibility" %>
      <span class="tooltip pull-right" data-tooltip="Control who may view, subscribe, or sell your products. Contact admin if you don't see who you're looking for."></span>
      <br />
      <%= f.select :shared_with, options_for_select(current_market.cross_sells.map {|market| [market.name, market.id] }, @cross_selling_list.active_children.map{|list| list.entity_id} ), { :prompt => "Select market(s)" }, { :multiple => true, :class => "column--full" } %>
    </div>
  </div>
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :status, "List Status" %>
      <span class="tooltip pull-right" data-tooltip="Set the status of your list.  Leave as 'Draft' until you're ready to publish your list."></span>
      <br />
      <%= f.select :status, ['Draft', 'Active'], html_options: { class: "column--full" } %>
    </div>
  </div>
</div>