<div class="is-hidden modal popup" id="product_management">
  <div class="popup-header">
    Add Products to Cross Selling List <button class="close"><i class="font-icon icon-close"> Close</i></button>
    <p>Select products or groups of products to allow other Markets to sell on your behalf.</p>
  </div>

  <div id="tabs" class="popup-body">
    <ul id="product-add-tab-list" class="tabs wrapping-tabs">
      <li class="tab"><a href="#product-add-suppliers">Suppliers</a></li>
      <li class="tab"><a href="#product-add-categories">Categories</a></li>
      <li class="tab"><a href="#product-add-products">Products</a></li>
    </ul>

    <div id="product-add-suppliers" class="bound-list">
      <%# KXM List product management tables need to be sortable %>
      <table>
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Products</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %> <%#= "(supplier.id)" %></td>
            <td><%= @scoped_products.select {|product| product["organization_id"].to_i == supplier.id }.count %></td>
            <td><%= check_box_tag("suppliers[]", supplier.id, @selected_suppliers.include?(supplier.id) ) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="product-add-categories" class="bound-list">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Products</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %> <%#= "(category.id)" %></td>
            <td><%= @scoped_products.select {|product| product["category_id"].to_i == category.id }.count %></td>
            <td><%= check_box_tag("categories[]", category.id, @selected_categories.include?(category.id) ) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="product-add-products" class="bound-list">
      <table>
        <thead>
          <tr>
            <th>Products</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <%# KXM Product listings are different for creators and subscribers %>
        <%# That may be, but seriously... No no NO... TESTING ONLY %> 
        <% if @cross_selling_list.creator then %>
          <% @scoped_products.each do |product| %>
            <tr>
              <td><span id="list-product-name"><%= product.name %></span> <span id="list-product-unit-name"><%= "(#{product.unit.singular})" %></span><br /><span id="list-product-supplier"><%= product.organization.name %></span></td>
              <td><%= check_box_tag "cross_selling_list[product_ids][]", product.id, list.object.products.include?(product) %></td>
            </tr>
          <% end %>
        <% else %>
          <%= list.fields_for :cross_selling_list_products do |cslp| %>
            <tr>
              <%= cslp.hidden_field :product_id %>
              <td><span id="list-product-name"><%= cslp.object.product.name %></span><br /><span id="list-product-supplier"><%= cslp.object.product.organization.name %></span></td>
              <td><%= cslp.check_box :active %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= list.submit "Update List" %>
  </div>
</div>
