<div class="is-hidden modal popup" id="product_management">
  <div class="popup-header">
    Edit Cross Selling Product List <button class="close"><i class="font-icon icon-close"> Close</i></button>
    <p>Select products or groups of products to allow other Markets to sell on your behalf.</p>
  </div>

  <div id="tabs" class="popup-body">
    <ul id="product-add-tab-list" class="tabs wrapping-tabs">
      <li class="tab"><a href="#product-add-suppliers">Products by supplier</a></li>
      <li class="tab"><a href="#product-add-categories">Products by category</a></li>
      <li class="tab"><a href="#product-add-products">Individual products</a></li>
    </ul>

    <div id="product-add-suppliers" class="bound-list">
      <table>
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Products</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td class="supplier-name"><%= supplier.name %></td>
            <td class="supplier-product-count"><%= @scoped_products.select {|product| product["organization_id"].to_i == supplier.id }.count %></td>
            <td><%= check_box_tag("suppliers[]", supplier.id, @selected_suppliers.include?(supplier.id) ) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="product-add-categories" class="bound-list">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Products</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="category-name"><%= category.name %></td>
            <td class="category-product-count"><%= @scoped_products.select {|product| product["category_id"].to_i == category.id }.count %></td>
            <td><%= check_box_tag("categories[]", category.id, @selected_categories.include?(category.id) ) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="product-add-products" class="bound-list">
    <table class="product-listing">
      <tbody class="product-details-container">
      <% if @cross_selling_list.creator then %>
        <% @scoped_products.each do |product| %>
          <%= render "product_management_row", {list: list, product: product} %>
        <% end %>
      <% else %>
        <%= list.fields_for :cross_selling_list_products do |cslp| %>
          <%= render "product_activation_row", {list: list, cslp: cslp} %>
        <% end %>
      <% end %>
      </tbody>
    </table>
    </div>

    <%= list.submit "Update List" %>
  </div>
</div>
