<%= render "admin/bank_accounts/header" %>

<div class="row row--partial">
  <div class="column column--three-fourths">

    <%= render "header" %>
    
    <legend><%= @cross_selling_list.name %></legend>

    <%= render 'shared/errors', { resource: @cross_selling_list } %>

    <%= form_for @cross_selling_list, url: :admin_market_cross_selling_list, method: :patch do |list| %>
      <%= render 'form', {list: list} %>

    <% if @selected_list_prods.nil? || @selected_list_prods.empty? %>
      <p class="product-list-management"><span class="hint">This Cross Selling list is Empty... <%= link_to "Add products to cross selling list", "#product_management", class: "modal-toggle" if @cross_selling_list.creator %></span></p>

    <% else %>
      <p class="product-list-management"><span class="hint"><%= link_to "Edit cross selling product list", "#product_management", class: "modal-toggle" %></span></p>

      <div class="table-wrapper">
        <%# KXM List products ought not be one... long... list %>
        <table class="sortable" id="cross-sell-list-products">
          <thead>
            <tr>
              <th>Supplier</th>
              <th>Category</th>
              <th>Product</th>
              <% if !@cross_selling_list.creator %><th>Active?</th><% end %>
            </tr>
          </thead>
          <tbody>
          <% @selected_list_prods.each do |slp| %>
            <tr>
              <td class="supplier-name"><%= slp.product.organization.name %></td>
              <td class="category-name"><%= slp.product.category.name %></td>
              <td class="product-name"><%= slp.product.name %> (<%= "#{slp.product.unit.singular}" %><%= " - #{slp.product.unit_description}" if !slp.product.unit_description.blank? %>)</td>
              <% if !@cross_selling_list.creator %><th class="product-active"><%= yes_no(slp.active)  %></th><% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% end %>
    <%= render "product_management", {list: list} %>


    <% end # End of form... %>
  </div>
</div>
