<%= render "admin/bank_accounts/header" %>

<div class="row row--partial">
  <div class="column column--three-fourths">

    <%= render "header" %>
    
    <legend><%= @cross_selling_list.name %></legend>

    <%= render 'shared/errors', { resource: @cross_selling_list } %>

    <%= form_for @cross_selling_list, url: :admin_market_cross_selling_list, method: :patch do |list| %>
      <%= render 'form', {list_fields: list} %>
      <div class="form-actions">
        <%= list.submit "Update List" %>
      </div>

    <hr />

    <% if @selected_list_prods.empty? %>
      <p><span class="hint">This Cross Selling list is Empty... <%= link_to "Add products", "#product_management", class: "modal-toggle" if @cross_selling_list.creator %></span></p>

    <% else %>
      <p><span class="hint"><%= link_to "Manage products", "#product_management", class: "modal-toggle" %></span></p>

      <div class="table-wrapper">
        <table class="sortable" id="cross-sell-lists">
          <thead>
            <tr>
              <th>Supplier</th>
              <th>Category</th>
              <th>Product</th>
              <% if !@cross_selling_list.creator %><th>Active?</th><% end %>
            </tr>
          </thead>
          <tbody>
          <% @selected_list_prods.each do |list| %>
            <tr>
              <td><%= list.product.organization.name %></td>
              <td><%= list.product.category.name %></td>
              <td><%= list.product.name %></td>
              <% if !@cross_selling_list.creator %><th><%= yes_no(list.active)  %></th><% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <%= product_management_list = @cross_selling_list.creator ? "product_management" : "product_activiation"
      render product_management_list, {list: list} %>

    <% end # End of form... %>
  </div>
</div>
