<%= render partial: "admin/markets/header", locals: { market: @entity } %>

<div class="row row--partial">
  <div class="column column--three-fourths">
    <%= render "header" %>

    <% if @cross_selling_subscriptions.empty? %>
      <div class='action_box'>
        <p class="messaging"><span class="message">No one has shared a cross selling list with you yet...</span></p>
      </div>
    <% else %>
      <div style="clear:both; padding-top:1em;">
        <div style="float:left; width:50%;"><input type="text" name="search">&nbsp;<button>Search</button></div>
      </div>
      <hr style="clear:both;" />
    <% end %>

    <div class="table-wrapper">
      <table class="sortable" id="cross-sell-lists">
        <thead>
          <tr>
            <th>Name</th>
            <th>Publisher</th>
            <th>Status</th>
            <th># Products</th>
          </tr>
        </thead>
        <tbody>
          <% @cross_selling_subscriptions.each do |list| %>
          <tr>
            <td class="cross-sell-list-name"><%= link_to list.name, [:admin, @entity, list] %></td>
            <td class="cross-sell-list-subscribers"><%= list.parent.entity.name %></td>
            <td class="cross-sell-list-status"><%= list.status %></td>
            <td class="cross-sell-list-count"><%= list.products.active.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
