<div class="devise-forms password-reset">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="email-address-reset"><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

		<%= recaptcha_v3(action: 'password', site_key: Figaro.env.recaptcha_site_key_v3) %>

	  <div class="send-instructions"><%= f.submit "Send Instructions" %></div>
	<% end %>

	<div class="sign-in"><%= render "devise/shared/links" %></div>
</div>