<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="pdfkit-footer_right" content="Powered by Local Orbit">
  <meta name="pdfkit-print_media_type" content="true">
  <meta name="pdfkit-header_left" content="Invoice: <%= @invoice.order_number %>">
  <meta name="pdfkit-header_right" content="Page [page] of [toPage]">
  <meta name="pdfkit-header_spacing" content="5">
  <title>Local Orbit</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300%7COpen+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
  <link href="<%= asset_path('invoices.css') %>" rel="stylesheet">
  <link href="<%= asset_path('z-sniff.css') %>" rel="stylesheet">
</head>

<body class="controller-<%= controller.controller_name %>">
  <%= render "shared/invoice", { market: @invoice.market.decorate, invoice: @invoice } %>
</body>
</html>
