<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="pdfkit-footer_right" content="Powered by Local Orbit">
  <meta name="pdfkit-print_media_type" content="true">
  <meta name="pdfkit-header_left" content="Invoice: <%= invoice.order_number %>">
  <meta name="pdfkit-header_right" content="Page [page] of [toPage]">
  <meta name="pdfkit-header_spacing" content="5">
  <title>Local Orbit</title>
  <%= render 'shared/print_opensanscondensed_bold' %>
  <%= render 'shared/print_opensans' %>
  <%= render 'shared/print_opensans_bold' %>

  <link href="<%= pdf_asset_path('invoices.css') %>" rel="stylesheet">
  <link href="<%= pdf_asset_path('z-sniff.css') %>" rel="stylesheet">
</head>

<body class="controller-invoices">
  <% @logo_path = pdf_asset_path("logo.png") # needed if market doesn't have a logo %>
  <%= render "shared/invoice", { market: invoice.market.decorate, invoice: invoice, user: user} %>
</body>
</html>
