<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="pdfkit-footer_right" content="Powered by Local Orbit">
  <title>Local Orbit</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300|Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
  <style>
    body {
      font-size: 14px;
      font-family: OpenSans, "Open Sans", sans-serif;
    }

    .column, .row {
      position: relative;
      box-sizing: border-box;
    }

    .column {
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }
    .column--half { width: 50%; }

    .ar { text-align: right; }
    .al { text-align: left; }
    .ac { text-align: center; }

    .left-padded { padding-left: 20px; }

    table {
      width: 100%;
      border-top: 2px solid black;
    }

    th { vertical-align: bottom; }
    td { padding: 10px 0; }

    .buyer-name {
      margin-top: 20px;
      margin-bottom: 35px;
    }
  </style>
</head>

<body>
  <div class="invoice-top row">
    <div class="market-info column column--half">
      <%=
      if @market.logo
        image_tag(@market.logo.thumb('200x150>').url, alt: "#{@market.name} logo", class: "logo")
      else
        image_tag(asset_url("logo.png"), alt: "Local Orbit logo", class: "logo")
      end
      %>
      <div><%= @market.name %></div>
      <div>
        <%= @market.street_address %><br>
        <%= @market.city_state_zip %>
      </div>
    </div
    ><div class="invoice-info column column--half">
      <div>Invoice Number: <%= @invoice.order_number %></div>
      <%= content_tag :div, "Purchase Order Number: #{@invoice.payment_note}" if @invoice.payment_note.present? %>
      <div>Invoice Date: <%= @invoice.invoiced_at.strftime("%B %d, %Y") %></div>
      <br>
      <div>Payment Due: <b><%= @invoice.invoice_due_date.strftime("%B %d, %Y") %></b></div>
      <div>Amount Due: <b><%= number_to_currency @invoice.total_cost %></b></div>
    </div>
  </div>
  <div class="buyer-name">To: <%= @invoice.billing_organization_name %></div>
  <b>Detail</b>
  <table>
    <tr>
      <th class="al">Description</th>
      <th>Unit</th>
      <th>Price</th>
      <th>Quantity<br>Ordered</th>
      <th>Quantity<br>Delivered</th>
      <th class="ar">Amount</th>
    </tr>
    <% @invoice.items.each do |item| %>
    <tr class="line-item">
      <td class="al"><%= item.name %></td>
      <td><%= item.unit %></td>
      <td><%= number_to_currency item.unit_price %></td>
      <td class="ac"><%= item.quantity %></td>
      <td class="ac"><%= item.quantity %></td>
      <td class="ar"><%= number_to_currency item.gross_total %></td>
    </tr>
    <% item.lots.select {|lot| lot.number.present? }.each do |lot| %>
    <tr class="line-item-lot">
      <td class="al left-padded" colspan="3">Lot #: <%= lot.number %></td>
      <td class="ac"><%= lot.quantity %></td>
      <td class="ac"><%= lot.quantity %></td>
      <td></td>
    </td>
    <% end %>
    <% end %>
    <tr>
      <td colspan="5" align="right">Discounts</td>
      <td class="ar"><%= number_to_currency @invoice.discount %></td>
    </tr>
    <tr>
      <td colspan="5" align="right">Delivery Fees</td>
      <td class="ar"><%= number_to_currency @invoice.delivery_fees %></td>
    </tr>
    <tr>
      <td colspan="3">This order is complete.</td>
      <td colspan="2" align="right"><b>Total</b></td>
      <td class="ar"><b><%= number_to_currency @invoice.total_cost %><b></td>
    </tr>
  </table>
</body>
</html>
