<body style="margin:0; padding:0;">
  <%= link_to "Return to Invoices", admin_financials_invoices_path, class: "no-print" if user %>
  <table>
    <caption>Order Detail</caption>
    <thead>
      <tr>
        <th style="min-width:200px">Item</th>
        <th>Unit</th>
        <th>Qty.<br>Ordered</th>
        <th>Qty.<br>Delivered</th>
        <th>Unit Price</th>
        <th style="min-width:200px">Supplier</th>
        <th>Item<br>Total</th>
      </tr>
    </thead>
    <% invoice.items.each do |item| %>
    <tr class="line-item">
      <td class="al">
        <%= item.name %>
        <% if item.product.code.present? %>
          <br><%= item.product.code %>
        <% end %>
      </td>
      <td><%= item.unit %></td>
      <td><%= item.quantity %></td>
      <td><%= item.quantity_delivered || item.delivery_status.try(:titleize) %></td>
      <td class="invoice-amount"><%= number_to_currency item.unit_price %></td>
      <td><%= item.seller_name %></td>
      <td class="invoice-amount <%= item.delivery_status %>"><%= number_to_currency item.gross_total %></td>
    </tr>
    <% end %>
    <tbody class="pseudopod">
      <tr>
        <th scope="row" colspan="6" class="ar">Subtotal</th>
        <td class="invoice-amount"><%= number_to_currency invoice.gross_total %></td>
      </tr>
      <tr>
        <th scope="row" colspan="6" class="ar">Discounts</th>
        <td class="invoice-amount"><%= number_to_currency invoice.discount %></td>
      </tr>
      <% if invoice.credit_amount > 0 %>
        <tr>
          <th><%if invoice.credit.notes %><%= invoice.credit.notes.length > 0 ? "Note: #{invoice.credit.notes}" : "" %><% end %></th>
          <th scope="row" colspan="5" class="ar">Credits</th>
          <td class="invoice-amount"><%= number_to_currency invoice.credit_amount %></td>
        </tr>
      <% end %>
      <tr>
        <th scope="row" colspan="6" class="ar"><%= invoice.delivery.delivery_schedule.fee_label %></th>
        <td class="invoice-amount"><%= number_to_currency invoice.delivery_fees %></td>
      </tr>
      <tr class="total">
        <td colspan="4">Thank you for your business.</td>
        <th colspan="3" class="ar"><span>Total</span> <span class="amount app-total"><%= number_to_currency invoice.total_cost %></span></th>
      </tr>
    </tbody>
  </table>

<%= javascript_include_tag "application" if @needs_js %>
</body>
