<div class="invoices-wrapper">
  <h1>Invoice</h1>
  <h2>Invoice Number</h2>
  <p class="invoice-num"><%= invoice.order_number %></p><br>
  <%= "<h2>Purchase Order Number</h2><p class=\"po-num\">#{invoice.payment_note}</p><br>".html_safe if invoice.payment_note.present? %>

  <div class="invoice-top row">
    <div class="market-info column column--half">
      <%=
      if market.logo
        image_tag(market.logo.thumb('200x150>').url, alt: "#{market.name} logo", class: "logo")
      else
        image_tag(asset_url("logo.png"), alt: "Local Orbit logo", class: "logo")
      end
      %>
      <div class="vcard">
        <h2>From</h2>
        <h3 class="fn org org-from"><%= invoice.market.name %></h3>
        <div>
          <%= market.street_address %><br>
          <%= market.city_state_zip %>
        </div>
      </div>
    </div
    ><div class="column column--fourth">
      <div class="vcard vcard-buyer">
        <h2>To</h2>
        <h3 class="fn org buyer-name"><%= invoice.billing_organization_name %></h3>
        <div>
          <%= invoice.billing_address %><br>
          <%= invoice.billing_city %>,
          <%= invoice.billing_state %>
          <%= invoice.billing_zip %>
        </div>
      </div>
    </div
    ><div class="column column--fourth">
      <div class="due-date">
        <h2>Due Date</h2>
        <%= invoice.invoice_due_date.strftime("%-m/%-d/%Y") %>
      </div>
      <h2 class="inline">Invoice Date</h2>
      <span class="date"><%= invoice.invoiced_at.strftime("%-m/%-d/%Y") %></span>
    </div>
  </div>
  <table>
    <caption>Order Detail</caption>
    <thead>
      <tr>
        <th class="al">Item</th>
        <th>Unit</th>
        <th>Quantity<br>Ordered</th>
        <th>Quantity<br>Delivered</th>
        <th>Unit Price</th>
        <th>Seller</th>
        <th>Item Total<br>Price</th>
      </tr>
    </thead>
    <% invoice.items.each do |item| %>
    <tr class="line-item">
      <td class="al"><%= item.name %></td>
      <td><%= item.unit %></td>
      <td class="ac"><%= item.quantity %></td>
      <td class="ac"><%= item.quantity %></td>
      <td><%= number_to_currency item.unit_price %></td>
      <td><%= item.seller.name %></td>
      <% #TODO: Add class "cancelled" to cancelled items' td %>
      <td><span class="amount"><%= number_to_currency item.gross_total %></span></td>
    </tr>
    <% item.lots.select {|lot| lot.number.present? }.each do |lot| %>
    <tr class="line-item-lot">
      <td class="al left-padded" colspan="3">Lot #: <%= lot.number %></td>
      <td class="ac"><%= lot.quantity %></td>
      <td class="ac"><%= lot.quantity %></td>
      <td></td>
      <td></td>
    </td>
    <% end %>
    <% end %>
    <tfoot>
      <tr class="discounts">
        <th scope="row" colspan="6" class="ar">Discounts</th>
        <td><%= number_to_currency invoice.discount %></td>
      </tr>
      <tr class="delivery">
        <th scope="row" colspan="6" class="ar">Delivery Fees</th>
        <td><%= number_to_currency invoice.delivery_fees %></td>
      </tr>
      <tr class="total">
        <td colspan="4">Thank you for your business.</td>
        <th colspan="2" scope="row" class="ar">Total</th>
        <td class="amount"><%= number_to_currency invoice.total_cost %></td>
      </tr>
    </tfoot>
  </table>
</div>
