<div class="invoices-wrapper">
  <%= link_to "Return to Invoices", admin_financials_invoices_path, class: "no-print" %>

  <div class="row">
    <div class="column column--two-thirds">
      <h1>Invoice</h1>
    </div><div class="column column--third">
    <% if current_user.admin? || current_user.market_manager? %>
      <%= link_to "Print And Mark Invoiced", mark_invoiced_admin_invoice_path(invoice.id), class: "btn btn--small btn--save pull-right print-button", id: 'print-and-mark-invoiced' %>
    <% else %>
      <%= link_to "Print", "#", class: "btn btn--small btn--save pull-right print-button", id: 'print-invoice' %>
    <% end %>
    </div>
  </div>
  <div class="row invoice-basics">
    <div class="column column--two-thirds">
      <h2>Invoice Number</h2>
      <p class="invoice-num"><%= invoice.order_number %></p><br>
      <%= "<h2>Purchase Order Number</h2><p class=\"po-num\">#{invoice.payment_note}</p><br>".html_safe if invoice.payment_note.present? %>
    </div><div class="column column--third">
      <div class="due-date">
        <h2>Due Date</h2>
        <%= (invoice.invoice_due_date || market.po_payment_term.to_i.days.from_now).strftime("%-m/%-d/%Y") %>
      </div>
      <h2 class="inline">Invoice Date</h2>
      <span class="date">
        <%= (invoice.invoiced_at || Date.current).strftime("%-m/%-d/%Y") %>
      </span>
    </div>
  </div>

  <%=
  if market.logo_stored?
    image_tag(market.logo.thumb('200x150>').url, alt: "#{market.name} logo", class: "logo")
  else
    image_tag(asset_url("logo.png"), alt: "Local Orbit logo", class: "logo")
  end
  %>
  <div class="row invoice-parties">
    <div class="market-info column column--half">
      <div class="vcard">
        <h2>From</h2>
        <h3 class="fn org org-from"><%= invoice.market.name %></h3>
        <% if market.addresses.visible.any? %>
          <div>
            <%= market.street_address %><br>
            <%= market.city_state_zip %><br>
            <%= market.display_contact_phone %><br>
            <%= market.contact_email %>
          </div>
        <% end %>
      </div>
    </div
    ><div class="column column--half">
      <div class="vcard vcard-buyer">
        <h2>To</h2>
        <h3 class="fn org buyer-name"><%= invoice.billing_organization_name %></h3>
        <div>
          <%= invoice.billing_address %><br>
          <%= invoice.billing_city %>,
          <%= invoice.billing_state %>
          <%= invoice.billing_zip %>
        </div>
      </div>
    </div>
  </div>
  <table>
    <caption>Order Detail</caption>
    <thead>
      <tr>
        <th class="al">Item</th>
        <th>Unit</th>
        <th>Quantity<br>Ordered</th>
        <th>Quantity<br>Delivered</th>
        <th>Unit Price</th>
        <th>Seller</th>
        <th>Item Total<br>Price</th>
      </tr>
    </thead>
    <% invoice.items.each do |item| %>
    <tr class="line-item">
      <td class="al"><%= item.name %></td>
      <td><%= item.unit %></td>
      <td><%= item.quantity %></td>
      <td><%= item.quantity_delivered || item.delivery_status.try(:titleize) %></td>
      <td><%= number_to_currency item.unit_price %></td>
      <td><%= item.seller_name %></td>
      <td class="<%= item.delivery_status %>"><span class="amount"><%= number_to_currency item.gross_total %></span></td>
    </tr>
    <% end %>
    <tfoot>
      <tr class="discounts">
        <th scope="row" colspan="6" class="ar">Discounts</th>
        <td><%= number_to_currency invoice.discount %></td>
      </tr>
      <tr class="delivery">
        <th scope="row" colspan="6" class="ar">Delivery Fees</th>
        <td><%= number_to_currency invoice.delivery_fees %></td>
      </tr>
      <tr class="total">
        <td colspan="4">Thank you for your business.</td>
        <th colspan="2" scope="row" class="ar">Total</th>
        <td class="amount"><%= number_to_currency invoice.total_cost %></td>
      </tr>
    </tfoot>
  </table>
</div>

<%= javascript_include_tag "application" if @needs_js %>
