<%
if current_market.try(:logo_stored?)
  logo = image_tag(current_market.logo.thumb("600x200>").url, alt: "#{current_market.name} logo", class: "vertical-centerer logo")
else
  logo = image_tag(asset_path('logo.png'), alt: "Local Orbit logo", class: "vertical-centerer logo")
end
%>

<% if current_market %>
  <div class="catalog-header">
    <div class="column--full">
      <div class="row">
        <div class="branding-container column column--half">
          <%= link_to logo, signed_in_root_path(current_user), class: "logo-link vc-wrapper pull-left" %>
          <%= content_tag :span, "#{current_market.tagline}", class: "tagline" if current_market && current_market.tagline.present? && (@show_nav_tagline or current_user) %>
        </div>
        <% if current_user %>
          <div class="nav nav--main column column--half pull-right" style="text-align: center">
            <%= link_to "Order", products_path, class: "", tag: :a %>
            <%= link_to "Suppliers", sellers_path, class: "", tag: :a %>
            <%= link_to "About", market_path, class: "", tag: :a %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to logo, signed_in_root_path(current_user), class: "logo-link vc-wrapper pull-left" %>
  <%= content_tag :span, "#{current_market.tagline}", class: "tagline" if current_market && current_market.tagline.present? && (@show_nav_tagline or current_user) %>
<% end %>


<% if current_user %>
  <ul id="admin-nav" class="l-inline-list nav nav--admin clear-before <%= "mobile-only" if @hide_admin_nav %>">
    <li class="mobile-only"><%= link_to 'Dashboard', dashboard_path %></li>
    <% if policy(:purchase_history).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe00c;"></i> Purchase History'), orders_path %></li><% end %>
    <!-- admin or market_manager -->
    <% if policy(:market).index? || policy(:organization).index? || policy(:user).index? || policy(:role).index? || policy(:unit).index? || policy(:event).index? || policy(:taxonomy).index? || policy(:internal_financial).index? %>
    <li>
      <a href="#market-dropdown" class="caretted"><i class="font-icon" data-icon="&#xe054;"></i>Market Admin</a>
      <ul class="dropdown with-anchor top-anchor" id="market-dropdown">
        <% if policy(:market).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe000;"></i> Markets'), admin_markets_path(sort: "name-asc") %></li><% end %>
        <% if policy(:organization).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe027;"></i> Organizations'), admin_organizations_path(sort: "name-asc") %></li><% end %>
        <!-- admin -->
        <% if policy(:user).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe017;"></i> All Users'), admin_users_path(sort: "name-asc")  %></li><% end %>
        <% if policy(:role).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe035;"></i> Roles'), admin_roles_path %></li><% end %>
        <% if policy(:unit).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe035;"></i> Units'), coming_soon_dashboard_path %></li><% end %>
        <% if policy(:event).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe025;"></i> User Event Log'), admin_activities_path %></li><% end %>
        <% if policy(:taxonomy).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe023;"></i> Product Taxonomy'), admin_categories_path %></li><% end %>
        <% if policy(:internal_financial).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe00f;"></i> Admin Financials'), admin_financials_market_payments_path %></li><% end %>
      </ul>
    </li>
    <% end %>
    <% if policy(:financial).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe00f;"></i>Financials'), admin_financials_path %></li><% end %>

    <!-- buyer -->
    <% if policy(:order).index? || policy(:template).index? || policy(:delivery).index? || policy(:order_item).index? || policy(:delivery_schedule).index? %>
    <li>
      <a href="#orders-dropdown" class="caretted"><i class="font-icon" data-icon="&#xe024;"></i>Orders &amp; Delivery</a>
      <ul class="dropdown with-anchor top-anchor" id="orders-dropdown">
        <% if policy(:order).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe025;"></i> Orders'), admin_orders_path %></li><% end %>
        <% if current_market && FeatureAccess.order_templates?(market: current_market) %>
            <% if policy(:template).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe024;"></i> Order Templates'), templates_path %></li><% end %>
        <% end %>
        <% if policy(:delivery).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe022;"></i> Upcoming Deliveries'), admin_delivery_tools_path %></li><% end %>
        <% if policy(:order_item).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe02d;"></i> Sold Items'), admin_order_items_path %></li><% end %>
        <% if current_market %>
          <% if policy(:delivery_schedule).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe013;"></i> Delivery Schedules'), "/admin/markets/#{current_market.id}/deliveries" %></li><% end %>
        <% end %>
      </ul>
    </li>
    <% end %>

    <!-- admin, market_manager, seller -->
    <% if policy(:product).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe01f;"></i> Products'), admin_products_path(sort: "name-asc") %></li><% end %>

    <!-- admin, market_manager -->
    <% if policy(:fresh_sheet).index? || policy(:newsletter).index? || policy(:promotion).index? || policy(:discount_code).index? || policy(:sent_email).index? || policy(:email_test).index? %>
    <li>
      <a href="#marketing-dropdown" class="caretted"><i class="font-icon" data-icon="&#xe005;"></i> Marketing</a>
      <ul class="dropdown with-anchor top-anchor" id="marketing-dropdown">
        <% if policy(:fresh_sheet).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe023;"></i> Fresh Sheet'), [:admin, :fresh_sheet] %></li><% end %>
        <% if policy(:newsletter).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe00a;"></i> Newsletters'), [:admin, :newsletters] %></li><% end %>
        <% if policy(:promotion).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe005;"></i> Featured Promotions'), [:admin, :promotions] %></li><% end %>
        <% if policy(:discount_code).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe00b;"></i> Discount Codes'), [:admin, :discounts] %></li><% end %>

        <!-- admin -->
        <% if policy(:sent_email).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe012;"></i> Sent Emails'), coming_soon_dashboard_path %></li><% end %>
        <% if policy(:email_test).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe051;"></i> Email Testing'), coming_soon_dashboard_path %></li><% end %>
      </ul>
    </li>
    <% end %>

    <% if policy(:report).index? || policy(:referral).index? || policy(:metric).index? %>
    <li>
      <a href="#reports-dropdown" class="caretted"><i class="font-icon" data-icon="&#xe01e;"></i> Reports</a>
      <ul class="dropdown with-anchor top-anchor" id="reports-dropdown">
        <% if policy(:report).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe006;"></i> Reports'), admin_reports_path %></li><% end %>
        <!-- admin -->
        <% if policy(:referral).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe04f;"></i> Referrals'), coming_soon_dashboard_path %></li><% end %>
        <% if policy(:metric).index? %><li><%= link_to raw('<i class="font-icon" data-icon="&#xe01e;"></i> Metrics'), admin_metrics_path %></li><% end %>
      </ul>
    </li>
    <% end %>

    <li>
      <a href="#account-dropdown" class="caretted"><i class="font-icon" data-icon="&#xe011;"></i>Account</a>
      <ul class="dropdown with-anchor top-anchor" id="account-dropdown">
        <li><%= link_to raw('<i class="font-icon" data-icon="&#xe018;"></i> E-mail &amp; Password'), edit_user_registration_path %></li>
        <li><%= link_to_my_organization %></li>
        <li><%= link_to raw('<i class="font-icon" data-icon="&#xe024;"></i> Terms of Service'), TermsOfService.url %></li>
      </ul>
    </li>
    <li class="mobile-only"><%= link_to "Order", products_path, class: "" %></li>
    <li class="mobile-only"><%= link_to "Sellers", sellers_path, class: "" %></li>
    <li class="mobile-only"><%= link_to "About", market_path, class: "" %></li>
  </ul>
<% end %>

