<%= render "shared/errors", { resource: order } %>

<%= form_for order, url: admin_order_path(order.id), as: :order, method: :put do |f| %>
<div class="order-info">
  <h1>Order info for <%= order.order_number %></h1>
  <div class="order-info-date">Placed On: <span class="special-content"><%= order.placed_at.strftime "%m/%d/%Y at %l:%M%p" %></span></div>

  <div class="order-buyer">
    <div>Buyer: <span class="special-content"><%= order.organization.name %></span></div>

    <div class="order-address">Billing Address:</div>
    <div class="special-content">
      <%= order.billing_address %>, <%= order.billing_city %>, <%= order.billing_state %> <%= order.billing_zip %><br />
      <%= order.billing_phone %><br />
    </div>
    <div class="order-address"><%= order.display_delivery_or_pickup.titleize %></div>
    <div class="special-content">
      <%= order.display_delivery_address %><br />
      <%= order.delivery.decorate.human_delivery_date %>
    </div>
  </div>
  <div class="order-info-status">
    <p>Delivery Status: <span class="special-content"><%= order.delivery_status.titleize %></span></p>
    <p>Buyer Payment: <span class="special-content"><%= order.buyer_payment_status.titleize %></span></p>
  </div>
  <div class="order-info-total">
    <p>Payment Method: <span class="special-content"><%= order.payment_method.titleize %></span></p>
    <p>Payment Reference #: <span class="special-content"><%= order.payment_note %></span></p><br>
    <% if order.display_delivery_fees?(current_user) %>
      <p>Delivery Fees: <span class="special-content"><%= number_to_currency order.delivery_fees %></span></p>
    <% end %>
    <p>Grand Total: <span class="special-content"><%= number_to_currency order.total_cost %></span></p>
  </div>
</div>
<div class="order-data">
  <% if !current_user.buyer_only? && !order.delivered? %>
    <%= button_tag "Mark all delivered", class: 'pull-right btn btn--blue btn--small', id: 'mark-all-delivered', type: 'button' %>
  <% end %>

  <h2>Items for Delivery</h2>


  <table class="current-sales-table odd order-table-1">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Total</th>
        <th>Delivery</th>
        <th>Buyer Payment</th>
        <% if !current_user.buyer_only? %>
          <th>Seller Payment</th>
        <% end %>
        <% if current_user.market_manager? || current_user.admin? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :items do |item| %>
      <tr class="order-item-row">
        <td class="name">
          <span class="product-ordered"><%= item.object.name %></span> <br />
          <span class="seller-name">from <%= item.object.product.organization.name %></span>
        </td>
        <td class="quantity">
          <% if (current_user.admin? || current_user.market_manager?) && item.object.delivery_status == 'pending' %>
            <%= item.text_field :quantity, class: 'quantity-ordered' %>
          <% else %>
            <span><%= item.object.quantity %></span>
          <% end %> <%= item.object.unit %> (Ordered)<br />

          <% if current_user.admin? || current_user.market_manager? %>
            <%= item.text_field :quantity_delivered, class: 'quantity-delivered' %>
          <% else %>
            <span><%= item.object.quantity_delivered %></span>
          <% end %> <%= item.object.unit %> (Delivered)
        </td>
        <td class="price"><%= number_to_currency item.object.unit_price %></td>
        <td class="discount"><%= number_to_currency item.object.discount %></td>
        <td class="total"><%= number_to_currency item.object.gross_total %></td>
        <td class="delivery-status">
          <%= item.hidden_field :delivery_status %>
          <%= item.object.delivery_status.titleize %>
        </td>
        <td class="payment-status"><%= item.object.buyer_payment_status.titleize %></td>
        <% if !current_user.buyer_only? %>
          <td class="seller-status"><%= item.object.seller_payment_status %></td>
        <% end %>
        <% if (current_user.market_manager? || current_user.admin?) %>
          <td class="action-link">
            <% if item.object.delivery_status == 'pending' %>
              <%= item.hidden_field :_destroy %>
              <%= link_to raw('<i class="font-icon icon-delete"></i> Delete'), "#delete" %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user.admin? || current_user.market_manager? %>
    <%= f.submit "Update quantities", class: 'pull-right btn btn--blue btn--small' %>
  <% end %>

  <% if !current_user.buyer_only? %>
  <div class="order-totals">
    <h2>Order Totals</h2>
    <table class="current-sales-table odd">
      <thead>
        <tr>
          <th>Gross Total</th>
          <th>Discount</th>
          <th>Market Fees</th>
          <th>Transaction Fees</th>
          <th>Payment Processing Fees</th>
          <th>Net Sale</th>
        </tr>
      </thead>
      <tbody>
        <tr class="order-summary-row">
          <td class="gross-total"><%= number_to_currency order.gross_total %></td>
          <td class="discount"><%= number_to_currency order.discount %></td>
          <td class="market-fees"><%= number_to_currency order.market_fees %></td>
          <td class="transaction-fees"><%= number_to_currency order.transaction_fees %></td>
          <td class="payment-processing"><%= number_to_currency order.payment_fees %></td>
          <td class="net-sale"><%= number_to_currency order.net_total %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
  <% if current_user.market_manager? || current_user.admin? %>
    <div class="order-notes">
      <%= f.label :notes %>
      <%= f.text_area :notes, rows: 10 %>
      <%= f.submit "Save Notes", class: 'btn btn--blue btn--small' %>
    </div>
  <% end %>
</div>
<% end %>
