<div>
  <h2>Transactions</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Lot</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% balance_due = 0 %>
    <% @products = Product.for_market_id(current_market.id).visible.order("organizations.name, products.name") %>
    <% @po_transactions.each do |po| %>
        <% @po_qty = 0 %>
        <% @so_qty = 0 %>
        <% allocated = Inventory::Utils.qty_allocated(current_market.id, po.product_id, po.id) %>
        <tr>
          <td colspan="<% po.delivery_status == 'delivered' ? 1 : 6 %>"><strong><%=po.product_name %></strong></td>
          <% if po.delivery_status == 'delivered' %>
          <% @po_qty = po.quantity %>
          <td></td>
          <td><%=po.quantity %></td>
          <td></td>
          <td></td>
          <td></td>
          <% end %>
        </tr>
        <% @so_qty = 0 %>
        <% @child_transactions.flatten.each do |child| %>
            <% if child.product_id == po.product_id %>
                <% @so_qty = @so_qty + (child.delivery_status == 'pending' ? 0 : child.quantity) %>
                 <% if child.transaction_type == "SO" %>
                    <% balance_due = balance_due + (child.quantity * child.net_price) %>
                    <% oversold_style = @po_qty >= child.quantity ? '' : 'color: #990000' %>
                    <tr style="<%= oversold_style %>" data-transaction-id="<%= child.id %>">
                    <td>&nbsp;&nbsp;Sold: <%= link_to child.buyer_name, admin_order_path(child.order_id) %></td>
                    <td><%= child.lot_name %></td>
                    <td><%= child.quantity %><span style="font-size: 10px">&nbsp;<%= child.delivery_status == 'pending' ? 'Awaiting Delivery' : '' %></span></td>
                    <td><%= number_to_currency(child.net_price) %></td>
                    <td><%= number_to_currency(child.quantity * child.net_price) %></td>
                  </tr>
                  <% elsif child.transaction_type == "SPLIT" %>
                    <tr data-transaction-id="<%=child.id %>">
                      <td>&nbsp;&nbsp;Split</td>
                      <td></td>
                      <td><%= child.quantity %></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <% elsif child.transaction_type == "SHRINK" %>
                  <% balance_due = balance_due + (child.quantity * child.net_price) %>
                  <tr data-transaction-id="<%=child.id %>">
                    <td>&nbsp;&nbsp;Shrink</td>
                    <td></td>
                    <td><%= child.quantity %></td>
                    <td><%= number_to_currency(child.net_price) %></td>
                    <td><%= number_to_currency(child.quantity * child.net_price) %></td>
                    <td></td>
                    <td><button class="submit_undo_shrink_button btn btn--tiny">Undo</button></td>
                  </tr>
                <% elsif child.transaction_type == "HOLDOVER" %>
                    <tr data-transaction-id="<%=child.id %>">
                      <td>&nbsp;&nbsp;Holdover</td>
                      <td><%= link_to "PO: #{child.holdover_order_id}", purchase_order_path(child.holdover_order_id) %></td>
                      <td><%= child.quantity %></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><%= child.master ? '<button class="submit_undo_holdover_button btn btn--tiny">Undo</button>'.html_safe : '' %></td>
                    </tr>
                <% elsif child.transaction_type == "REPACK" %>
                    <% @so_qty = @so_qty - child.quantity %>
                    <tr data-transaction-id="<%=child.id %>">
                      <td>&nbsp;&nbsp;Repack</td>
                      <td></td>
                      <td><%= child.quantity %></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><%= child.master ? '<button class="submit_undo_repack_button btn btn--tiny">Undo</button>'.html_safe : '' %></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        <tr data-unallocated="<%= po.quantity - allocated %>">
          <td></td>
          <td></td>
          <td><strong><%= @po_qty - @so_qty %></strong><%= @po_qty - @so_qty == 0 ? '&nbsp;<i style="color: #559955" class="fa fa-check"></i>'.html_safe : '' %></td>
          <% if @po_qty - @so_qty > 0 # not sold_through %>
            <td colspan="5" align="right">
              <div class="product_ops" >
                <%= link_to "<span>Shrink</span> ".html_safe, '#', style: 'color: #000', class: "shrink_button btn btn--tiny" %>
                <%= link_to "<span>Holdover</span> ".html_safe, '#', style: 'color: #000', class: "holdover_button btn btn--tiny" %>
                <%= link_to "<span>Repack</span> ".html_safe, '#', style: 'color: #000', class: "repack_button btn btn--tiny" %>
              </div>
              <div class="shrink_options" style="float: right; display: none">
                <div style="float: left; margin-left: 10px;">
                  <label>Cost</label>
                  <input type="text" size="3" title="Amount" style="width: 100px; height: inherit" class="shrink_cost" /><br/>
                </div>
                <div style="float: left; margin-left: 10px">
                  <label>#</label>
                  <input type="text" size="3" title="Quantity" style="width: 50px; height: inherit" class="shrink_qty" />
                </div>
                <input type="hidden" class="transaction_id" value="<%=po.id %>"/><br/><br/>
                <button class="submit_shrink_button btn btn--primary btn--tiny">Shrink</button>
                <button class="shrink_cancel_button btn btn--tiny">Cancel</button>
              </div>
              <div class="holdover_options" style="float: right; display: none">
                <div style="float: left">
                  <label>#</label>
                  <input type="text" size="3" title="Quantity" style="width: 50px; height:inherit" class="holdover_qty" />
                </div>
                <div style="float: left; margin-left: 10px;">
                  <label>Order</label>
                  <% if !@open_po.nil? %>
                  <%= select_tag :holdover_po, options_for_select(@open_po.map{|o| ["#{o.id} - #{o.delivery.deliver_on.strftime("%m/%d/%y")}", o.id]}), :include_blank =>'New', class: 'holdover_po' %>
                  <% end %>
                </div><br/><br/>
                <div style="float: left; margin-left: 10px;">
                  <label>Delivery</label>
                  <input type="text" title="Delivery" style="width: 100px" class="holdover_delivery_date datepicker" />
                </div><br/>
                <input type="hidden" class="transaction_id" value="<%=po.id %>"/><br/>
                <button class="submit_holdover_button btn btn--primary btn--tiny">Holdover</button>
                <button class="holdover_cancel_button btn btn--tiny">Cancel</button>
              </div>
              <div class="repack_options" style="float: right; display: none">
                <div style="float: left">
                  <label># </label>
                  <input type="text" size="3" title="Quantity" style="width: 50px; height: inherit" class="repack_qty" value="<%= po.quantity - allocated %>"/>
                </div>
                <div style="float: left; margin-left: 10px;">
                  <label>Product: </label>
                  <%= select_tag :repack_product_id, options_for_select(@products.map{|p| ["#{p.organization.name} - #{p.name}: #{p.unit_quantity} Units", p.id]}), :include_blank =>'Choose:', class: 'repack_product_id chosen' %>
                </div><br/><br/>
                <input type="hidden" class="transaction_id" value="<%=po.id %>"/><br/>
                <button class="submit_repack_button btn btn--primary btn--tiny">Repack</button>
                <button class="repack_cancel_button btn btn--tiny">Cancel</button>
              </div>
            </td>
          <% else %>
            <td></td>
            <td colspan="4">&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
        </tr>
    <% end %>
    <tr style="background-color: #DDD">
      <td colspan="4" align="right"><strong>Balance Due:</strong></td>
      <td><%= number_to_currency(balance_due) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <input type="hidden" name="shrink_qty"/>
  <input type="hidden" name="shrink_cost" />
  <input type="hidden" name="holdover_qty"/>
  <input type="hidden" name="holdover_po" />
  <input type="hidden" name="holdover_delivery_date" />
  <input type="hidden" name="repack_qty"/>
  <input type="hidden" name="repack_product_id"/>
  <input type="hidden" name="poso" value="<%= @po_qty - @so_qty %>"/>

  <input type="hidden" name="transaction_id" />

</div>