<div>
  <h2>Ordered</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <% if order.delivery_status == "pending" %>
        <th>Ordered</th>
        <% else %>
        <th>Delivered</th>
        <% end %>
        <th>On Hand</th>
        <th>Sale Price</th>
        <th>Net Price</th>
      </tr>
    </thead>
    <tbody>
    <% if !@so_transactions.empty? %>
      <% @so_transactions.each do |so| %>
          <tr>
            <td><strong><%= so.product_name %></strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% if !@parent_transactions.nil? %>
            <% @parent_transactions.flatten.each do |parent| %>
                  <% if parent.product_id == so.product_id %>
                    <%
                        if order.delivery_status == 'pending'
                          onhand = so.lot_quantity + so.quantity
                          if onhand > parent.quantity
                            onhand = parent.quantity
                          end
                        else
                          onhand = so.lot_quantity
                        end
                    %>
                    <tr>
                    <td>&nbsp;&nbsp;<%= link_to "PO: #{parent.order_id}", admin_purchase_order_path(parent.order_id) %></td>
                    <td><%= parent.delivery_status == 'delivered' ? 'On Hand' : 'Awaiting Delivery' %></td>
                    <td><%= so.quantity %></td>
                    <td><%= onhand %></td>
                    <td><%= number_to_currency(so.sale_price) %></td>
                    <td><%= number_to_currency(so.net_price) %></td>
                  </tr>
                <% end %>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>