<% if !current_user.admin? %>
  <div class="totals-table">
    <% if buyer_only %>
      <h2>Totals</h2>
    <% else %>
      <h2>Total Sales</h2>
    <% end %> <!-- Suggests need for new partial -->
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <% if !buyer_only %>
              <th>Gross Sales</th>
              <th>Market Fees</th>
              <th>Transaction Fees</th>
              <th>Payment Processing Fees</th>
            <% else %>
              <th>Total Purchases</th>
            <% end %>
            <% if is_market_manager %>
              <th>Delivery Fees</th>
              <th>Discounts (by Market)</th>
              <th>Discounts (by Seller)</th>
            <% elsif !buyer_only %>
              <th>Discounts</th>
            <% end %>
            <% if !buyer_only %>
              <th>Net Sales</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% if !buyer_only %>
              <td class="gross-sales"><%= number_to_currency totals.gross_total %></td>
              <td class="market-fees"><%= number_to_currency totals.market_fees %></td>
              <td class="lo-fees"><%= number_to_currency totals.transaction_fees %></td>
              <td class="processing-fees"><%= number_to_currency totals.payment_fees %></td>
            <% else %>
              <td class="discounted-total"><%= number_to_currency totals.discounted_total %></td>
            <% end %>
            <% if is_market_manager %>
              <td class="delivery-fees"><%= number_to_currency totals.delivery_fees %></td>
              <td class="discount-market"><%= number_to_currency totals.discount_market %></td>
              <td class="discount-seller"><%= number_to_currency totals.discount_seller %></td>
            <% elsif !buyer_only %>
              <td class="discounts"><%= number_to_currency totals.discount_seller %></td>
            <% end %>
            <% if !buyer_only %>
              <td class="net-sales"><%= number_to_currency totals.net_total %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>