<%= render "admin/markets/header" %>

<%= render 'shared/errors', resource: @market %>

<div class="row row--partial">

  <% if (@market.legacy_stripe_account_id.nil? && @market.stripe_account_id.nil?) || (@market.legacy_stripe_account_id.nil? && !@market.stripe_account_id.nil?) %>
    <div class="column column--full">
      <br/>
      Stripe is the credit card processing technology that is integrated into the Local Orbit platform and lets you accept credit card payments.<br/><br/>To set up your Stripe account, click the button below and follow the instructions.<br/><br/>Once your account has been created and your information verified, you’ll be able to accept credit card payments on your Local Orbit powered site.<br/><br/>Want to learn more? Check out the <a target="_new" href="https://localorbit.zendesk.com/hc/en-us/articles/217975288
">Stripe FAQ article.</a>
      <br/><br/>
    </div>
      <%= link_to image_tag('light-on-light.png'), user_omniauth_authorize_path(:stripe_connect, scope: 'read_write', state: current_market.subdomain)  %>
  <% else %>
      <div class="row">
        <div>
          <h1>Account Summary</h1>
          Available: <strong><%= number_to_currency(@account_balance.available[0].amount/100.0) %></strong>
          Waiting: <strong><%= number_to_currency(@account_balance.pending[0].amount/100.0) %></strong>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div>
            <h1>10 Most Recent Transactions</h1>
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Gross Amount</th>
              <th>Stripe Fee</th>
              <th>Net Amount</th>
            </tr>
            </thead>
            <tbody>
            <% @account_payments.each do |payment| %>
              <tr>
                <td><%= Time.at(payment.created).strftime("%m/%d/%Y %H:%M") %></td>
                <td><%= payment.type.gsub('_',' ').capitalize %></td>
                <td><%= number_to_currency(payment.amount/100.0) %></td>
                <td><%= number_to_currency(payment.fee/100.0) %></td>
                <td><%= number_to_currency(payment.net/100.0) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br/><br/>
        <div>
          <h1>10 Most Recent Transfers</h1>
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <% @account_transfers.each do |transfer| %>
                <tr>
                  <td><%= Time.at(transfer.created).strftime("%m/%d/%Y") %></td>
                  <td><%= number_to_currency(transfer.amount/100.0) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>
</div>
