<div class="row row--partial">
  <%= form_for [:admin, @entity, @verification.bank_account, @verification], html: { class: "column column--half" } do |f| %>
    <h1>Verify Your Account</h1>
    <%= render "shared/errors", { resource: @verification } %>

    <p>You should see two small deposits in your bank account within 1-2 business days of adding payment information.  To verify your account in the market, place the amounts (in cents and without a decimal point) for both deposits in the Verify section of the specified checking or savings account.</p>
    <p>
      <% if @verification.attempts == 0 %>
      You have 3 tries to enter the correct values. Please be very careful that they are accurate when entering them.
      <% else %>
      <span class="warning"><strong>You have <%= pluralize(@verification.remaining_attempts, 'try') %> remaining to enter the correct values. Please be very careful that they are accurate when entering them.</strong></span>
      <% end %>
      If you have any questions or need help please contact <%= link_to 'Local Orbit Support', help_path %>.
    </p>

    <ul class="bank-info">
      <li><strong><%= @verification.bank_account.bank_name %></strong></li>
      <li><%= @verification.bank_account.account_type %></li>
      <li>******<%= @verification.bank_account.last_four %></li>
    </ul>

    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :amount_1, "Amount 1 (in cents)" %><br>
        <%= f.text_field :amount_1, class: "column--full" %>
        <small>The first deposit made to your account.</small>
      </div
      ><div class="field column column--half column--guttered">
        <%= f.label :amount_2, "Amount 2 (in cents)" %><br>
        <%= f.text_field :amount_2, class: "column--full" %>
        <small>The last deposit made to your account.</small>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Verify Account" %>
    </div>
  <% end %>
</div>
