<fieldset class="l-flush-top primary-delivery-info">
  <legend>Add a new Delivery</legend>
  <span>You can have multiple delivery options that all of your Buyers will see.</span>

  <div class="field">
    <%= f.label :cycle %><br>
    <span>Weekly</span>
  </div
  ><div class="field">
    <%= f.label :buyer_day %><br>
    <%= f.select :buyer_day, weekday_options %>
  </div>

  <div class="field" style="display:inline-block">
    <%= f.label :fee, 'Fee' %>
    <br>
    <%= f.number_field :fee, min: 0, step: "0.01", size: 4 %>
  </div>

  <div class="field" style="display:inline-block">
    <%= f.label :fee_label, 'Fee label' %><br>
    <%= f.select :fee_label, ['Delivery Fee', 'Service Fee', 'No Fee'] %>
  </div
  ><div class="field">
    <%= f.label :fee_type %><br>
    <%= f.select :fee_type, [["Percentage", "percent"], ["Dollar Amount", "fixed"]]  %>
  </div>


  <div class="field">
    <%= f.label :order_cutoff %>
    <span class="tooltip" data-tooltip="The order cutoff is the latest time a Buyer can place an order for that delivery cycle. The time is based on the start of the Seller delivery.  If you have a 24 hour cut off, orders would stop being accepted at 5:59am on Tuesday for a 6am Seller delivery start on Wednesday."></span>
    <br>
    <%= f.number_field :order_cutoff, min: 6, max: 504, size: 4 %> hours before delivery
  </div>

  <div class="field conditional">
    <%= f.check_box :require_delivery %>
    <%= f.label :require_delivery, 'All products from Sellers on this market will deliver on this cycle.' %>
    <span class="tooltip" data-tooltip="Check this box to add this delivery option to all existing products."></span>
  </div>

  <div class="field conditional">
    <%= f.check_box :require_cross_sell_delivery %>
    <%= f.label :require_cross_sell_delivery, 'All cross-sell products from Sellers on this market will deliver on this cycle.' %>
    <span class="tooltip" data-tooltip="Check this box to add this delivery option to all existing products."></span>
  </div>
</fieldset>

<fieldset>
  <legend>Seller drop off or delivery info</legend>

  <div class="field">
    <%= f.label :seller_fulfillment_location_id %><br>
    <%= f.select :seller_fulfillment_location_id, @market.fulfillment_locations('Direct to customer') %>
  </div>

  <div class="field conditional<%= ' is-hidden' unless f.object.seller_fulfillment_location %>" id="market_pickup_option">
    <%= f.check_box :market_pickup %>
    <%= f.label :market_pickup, 'Market will pick up from seller location.' %>
  </div>

  <div class="row row--field">
    <div class="field column column--third column--guttered">
      <%= f.label :day %><br>
      <%= f.select :day, weekday_options %>
    </div
    ><div class="field column column--third column--guttered">
      <%= f.label :seller_delivery_start %><br>
      <%= f.select :seller_delivery_start, quarter_hour_select_options %>
    </div
    ><div class="field column column--third column--guttered">
      <%= f.label :seller_delivery_end %><br>
      <%= f.select :seller_delivery_end, quarter_hour_select_options %>
    </div>
  </div>
</fieldset>

<%= content_tag :div, id: "buyer_order_receipt", class: (f.object.seller_fulfillment_location ? '' : 'is-hidden') do %>

  <div class="field">
    <%= f.label :buyer_pickup_location_id, "Buyer pick up/delivery location" %><br>
    <%= f.select :buyer_pickup_location_id, @market.fulfillment_locations('Delivered to Buyer from Market') %>
  </div>
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :buyer_pickup_start, "Buyer pick up/delivery start" %><br>
      <%= f.select :buyer_pickup_start, quarter_hour_select_options %>
    </div
    ><div class="field column column--half column--guttered">
      <%= f.label :buyer_pickup_end, "Buyer pick up/delivery end" %><br>
      <%= f.select :buyer_pickup_end, quarter_hour_select_options %>
    </div>
   </div>
<% end %>
