<%# 
Local variables:
  @subscriber: the subscribed market in question
  @event_params: the event.data.object for the event
%>
<p>Good day,</p>

<p>Stripe has reported a <span style="color:green">successful invoice payment</span> for '<%= @subscriber.name %>' (Stripe id: '<%= @event_params[:customer] %>')</p>

<p>Details:</p>
<dl>
  <dt>Invoice id:</dt>
  <dd><%= @event_params.id %></dd>

  <dt>Amount:</dt>
  <dd><%= @event_params.total %></dd>

  <% if @event_params.subscription.present? %>
    <dt>Subscription id:</dt>
    <dd><%= @event_params.subscription %></dd>
  <% end %>
</dl>
