<%= render "admin/financials/header" %>

<div class="row--partial">
  <div class="column column--two-thirds">
    <h1>Enter Receipt for Invoice <br><strong><%= @order.order_number %></strong></h1>

    <%= form_tag admin_financials_receipt_path(id: @order.id), method: :put do %>
      <%= fields_for @payment do |f| %>
        <div class="field column--half">
          <%= f.label :payment_method, "Payment Method" %><br>
          <%= f.select :payment_method, [['Cash', 'cash'], ['Check', 'check'], ['ACH', 'ach']], class: "column column--full" %>
        </div>
        <div class="field column--half">
          <%= f.label :amount %><br>
          <span class="receipt-price"><%= number_to_currency @order.total_cost %></span>
        </div>
        <div class="field">
          <%= f.label :note %><br>
          <%= f.text_area :note, rows: 4, class: "column column--full" %>
        </div>
      <% end %>
      <div class="form-actions">
        <input type="submit" value="Enter Receipt" class="action-helper">
      </div>
    <% end %>
  </div>
</div>
