<%= render "admin/financials/header" %>

<h1>Enter Receipts for Paid Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoice #</th>
      <th>Buyer (Name)</th>
      <th>Order Date</th>
      <th>Due Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr class="invoice-row<%= " past-due" if order.invoice_due_date < Time.current %>">
      <td class="order-number"><%= link_to order.order_number, admin_financials_order_path(order) %></td>
      <td class="buyer"><%= order.organization.name %></td>
      <td class="order-date"><%= order.placed_at.strftime("%m/%d/%Y") %></td>
      <td class="due-date"><%= display_due_date(order.invoice_due_date) %></td>
      <td class="amount"><%= number_to_currency(order.total_cost) %></td>
      <td><%= link_to 'Enter Receipt', edit_admin_financials_receipt_path(id: order.id), class: 'action-link' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
