<%= render "admin/financials/header" %>

<div>
  <div class="l-constraint">
    <h1>Enter Receipts</h1>
    <p>This is a list of all outstanding invoices. You can record payments received offline.</p>

    <%= search_form_for @q, url: admin_financials_receipts_path, html: { class: "invoice_search clear-after" } do |f| %>
      <div class="pull-left search-widget">
        <span class="preserve-alignment">
          <%= f.label :order_number_or_payment_note_cont, "Search Invoices" %><br>
          <%# NOTE: Do not change the whitespace on the following line %>
          <%= f.search_field :order_number_or_payment_note_cont, placeholder: "Order # or PO #", class: append_sticky_class(:order_number_or_payment_note_cont) -%><%= f.submit "Search", class: "btn--end" %>
        </span>
      </div>

      <div class="pull-right date-filters">
        <span class="preserve-alignment">
          <label for="q_placed_at_date_gteq">Filter by Date</label><br>
          <%= datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: append_sticky_class('placed_at_date_gteq', 'datepicker', [1.months.ago.to_date.to_s]) %>
        </span>
        <span class="preserve-alignment">
          <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
          <%= datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: append_sticky_class('placed_at_date_lteq', 'datepicker', [Date.today.to_s]) %>
        </span>
        <span class="preserve-alignment">
          <br>
          <%= f.submit "Filter", class: "btn--small mobile-block" %>
        </span>
      </div>

      <div class="manager-filters pull-left">
        <% if current_user.multi_market_membership? %>
        <span class="preserve-alignment pull-left">
          <%= f.label :market_id_in, "Market" %><br>
          <%= f.collection_select :market_id_in, @search_presenter.selling_markets, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:market_id_in, ""),'multiselect']} %>
        </span>
        <% end %>

        <span class="preserve-alignment pull-left">
          <%= f.label :organization_id_in, "Buyer" %><br>
          <%= f.collection_select :organization_id_in, @search_presenter.buyer_organizations, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:organization_id_in, ""),'multiselect']} %>
        </span>
        <%= link_to "Reset", admin_financials_receipts_path(clear: '', sort: @query_params["sort"]), class: 'btn reset' if can_reset?(@query_params) %>
      </div>
  <% end %>
    <% if current_user.admin? %>
      <%= link_to "Enter Offline Payment", admin_financials_offline_payment_path, class: "btn btn--save btn--small" %>
    <% end %>
    <!-- <%= link_to "Resend Overdue Invoices", resend_overdue_admin_financials_invoices_path(redirect_to: admin_financials_receipts_path), method: :post, class: "btn btn--save btn--small" %> -->
  </div>
</div>

<% if @orders.any? %>
  <div class="table-wrapper">
    <table class="sortable">
      <thead class="stickable">
        <tr>
          <th> <%= sort_link(@q, :order_number, "Invoice #") %></th>
          <th> <%= sort_link(@q, :organization_name, "Buyer (Name)") %></th>
          <th> <%= sort_link(@q, :placed_at, "Order Date") %></th>
          <th> <%= sort_link(@q, :delivery_buyer_deliver_on, "Delivery Date") %></th>
          <th> <%= sort_link(@q, :delivery_status, "Delivery Status") %></th>
          <th> <%= sort_link(@q, :invoice_due_date, "Due Date") %></th>
          <th> <%= sort_link(@q, :total_cost, "Amount") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr class="invoice-row<%= " past-due" if order.invoice_due_date < Time.current %>">
          <td class="order-number">
            <%= link_to order.order_number, admin_invoice_path(order) %>
            <%= link_to 'PDF', admin_invoice_path(order.id), class: 'pdf-download', target: '_blank' if order.invoiced? %>
          </td>
          <td class="buyer"><%= order.organization.name %></td>
          <td class="order-date"><%= order.placed_at.strftime("%m/%d/%Y") %></td>
          <td class="delivery-date"><%= order.delivery.buyer_deliver_on.strftime("%m/%d/%Y") || order.delivery.deliver_on.strftime("%m/%d/%Y") %>
          <td class="delivery-status"><%= order.delivery_status.capitalize %></td>
          <td class="due-date"><%= display_due_date(order.invoice_due_date) %></td>
          <td class="amount"><%= number_to_currency(order.total_cost) %></td>
          <td>
            <%= link_to '', edit_admin_financials_receipt_path(id: order.id), title: 'Enter Receipt', class: 'action-link fa fa-pencil-square-o fa-2x' %>
            <%= link_to '', resend_admin_financials_invoices_path(order_id: order.id, redirect_to: admin_financials_receipts_path), method: :post, title: 'Resend Invoice', class: 'action-link fa fa-envelope fa-2x' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @orders %>

<% else %>
  <div class="info-note">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
