<div>
  <div class="l-constraint">
    <h1>Invoices</h1>
      <p>This is all money owed to you by other organizations. Issue invoices to collect payments.</p>
    <%= render "admin/financials/invoices/filters/seller", url: admin_financials_invoices_path %>
  </div>
</div>

<%= form_tag admin_financials_invoices_path, method: :post, id: 'invoice-list' do %>
  <input type="hidden" name="invoice_list_batch_action" id="invoice_list_batch_action">
  <div class="clearfix sub-header-whitespace"></div>
  <div class="table-wrapper">
    <%# ToDo sticky-headers.js.coffee was picking up 'sortable' and 'stickable' before select-all.js.coffee could do its thing.  Changing the class was an easy way to supress that, but didn't seem to have any deleterious effect, suggesting that the table behaviors (sticky sorting, filters, etc) are handled elsewhere.  Do we need stick-headers.js.coffee (or at least the block on lines 70-94) anymore? %>
    <table class="sort-able">
      <thead class="stick-able">
        <tr>
          <th><input type="checkbox" class="select-all"></th>
          <th> <%= sort_link(@q, :order_number, "Order Number") %></th>
          <th> <%= sort_link(@q, :organization_name, "Buyer") %></th>
          <th> <%= sort_link(@q, :placed_at, "Order Date") %></th>
          <th> <%= sort_link(@q, :delivery_buyer_deliver_on, "Delivery Date") %></th>
          <th> <%= sort_link(@q, :delivery_status, "Delivery Status") %></th>
          <th> <%= sort_link(@q, :total_cost, "Amount") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr class="invoice-row">
          <td><%= check_box_tag "order_id[]", order.id %></td>
          <td class="order-number"><%= link_to order.order_number, admin_order_path(order) %></td>
          <td class="buyer"><%= order.organization.name %></td>
          <td class="order-date"><%= order.placed_at.strftime("%m/%d/%Y") %></td>
          <td class="delivery-date"><%= order.delivery.buyer_deliver_on.strftime("%m/%d/%Y") || order.delivery.deliver_on.strftime("%m/%d/%Y") %>
          <td class="delivery-status"><%= order.delivery_status_for_user(current_user).titleize %></td>
          <td class="amount"><%= number_to_currency(order.total_cost) %></td>
          <td class="action">
              <%= link_to '', admin_financials_invoices_path(order_id: order.id, invoice_list_batch_action: "send-selected-invoices"), method: :post, title: 'Email Invoice', class: 'action-link fa fa-envelope fa-2x'%></li>
              <% if current_user.admin? || current_user.market_manager? %>
                <%= link_to '', admin_invoice_path(order.id),
                  target: (Rails.env.test? ? "" : "_blank"),
                  title: 'Preview', class: 'action-link fa fa-eye fa-2x' %></li>
                <%= link_to '', admin_financials_invoices_path(order_id: order.id, invoice_list_batch_action: "mark-selected-invoiced"), method: :post, title: 'Mark Invoiced', class: 'action-link fa fa-check fa-2x'%></li>
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  <%= paginate @orders %>

  <% if @orders.none? %>
    <div class="info-note">
      <h2>No Results</h2>
      This table is empty, either because there is no data, or because the filter you've applied is hiding it.
    </div>
  <% end %>
