<div class="row row--partial">
  <div class="column column--eleven-twelfths">
    <h1><i class="font-icon" data-icon="&#xe022;"></i>&nbsp; Upcoming Deliveries</h1>

    <% if @upcoming_deliveries.empty? %>
      <h2>You currently have no upcoming deliveries.</h2>
    <% else %>
      <p>This is a list of all upcoming deliveries for your market.</p>
      <%
        previous_delivery_date = ''

        @upcoming_deliveries.each do |delivery|
            delivery_date = "#{delivery.deliver_on.strftime("%Y%m%d")}"
        %>
        <% if delivery_date != previous_delivery_date %>
        <div class="upcoming-delivery">
          <span class="market"><%= delivery.delivery_schedule.market.name %></span><br><br>
          <h2 class="upcoming-delivery-date"><%= delivery.upcoming_delivery_date_heading %></h2>

          <% dc = UserDeliveryContext.build(user: current_user, delivery: delivery) 
             access_master_packing_slips = FeatureAccess.master_packing_slips?(user_delivery_context: dc) && policy(:all_supplier).index?
             access_packing_labels = FeatureAccess.packing_labels?(user_delivery_context: dc)
             tool_count = 3
             tool_count += 1 if access_master_packing_slips
             tool_count += 2 if access_packing_labels
          %>
          <div class="seller-tools toolbar" data-tools="<%= tool_count %>">
            <% if FeatureAccess.not_LE_market_manager?(user:current_user, market: current_market) %>
              <div class="tool"><%= link_to "Pick List", "/admin/delivery_tools/pick_list_date/" + delivery_date %></div>
            <% end %>
            <% if access_master_packing_slips %>
              <div class="tool"><%= link_to "Master Packing Slips <span class='note'>for aggregation</span>".html_safe, "/admin/delivery_tools/pack_list_date/" + delivery_date %></div>
            <% end %>
            <% if FeatureAccess.not_LE_market_manager?(user:current_user, market: current_market) %>
              <div class="tool"><%= link_to policy(:all_supplier).index? ? "Individual Packing Slips <span class='note'>per Supplier</span>".html_safe : "Packing Slips", "/admin/delivery_tools/individual_pack_list_date/" + delivery_date %></div>
            <% end %>
            <div class="tool"><%= link_to "Order Summary", "/admin/delivery_tools/order_summary_date/" + delivery_date %></div>
            <% if access_packing_labels %>
              <% target = if Rails.env.test? then "" else "_blank" end %>
                <div class="tool">
                    <%= link_to "Master Labels <span class='note'>per Order</span>".html_safe, "/admin/delivery_tools/deliveries/" + delivery_date + "/packing_labels?product_only=false", class: "app-labels-link", target: target %>
                </div>
                <div class="tool">
                  <%= link_to "Individual Labels <span class='note'>per Product</span>".html_safe, "/admin/delivery_tools/deliveries/" + delivery_date + "/packing_labels?product_only=true", class: "app-labels-link", target: target %>
                </div>
            <% end %>
          </div>
          <hr>
        </div>
        <% previous_delivery_date = delivery_date %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
