<h1>Delivery Tools</h1>

<% if @upcoming_deliveries.empty? %>
  <h2>You currently have no upcoming deliveries.</h2>
<% else %>
  <% @upcoming_deliveries.each do |delivery| %>
  <div class="upcoming-delivery">
    <h2 class="upcoming-delivery-date"><%= delivery.upcoming_delivery_date_heading %></h2>
    Deliver to:
    <div class="location-name"><%= delivery.deliver_to_name %></div>
    <div class="location"><%= delivery.deliver_to_location %></div>

    <div class="seller-tools">
      <div><%= link_to "Pick List", admin_delivery_tools_pick_list_path(delivery) %></div>
      <div><%= link_to "Master packing slips", coming_soon_dashboard_path %></div>
      <div><%= link_to "Individual Packing Slips", coming_soon_dashboard_path %></div>
      <div><%= link_to "Order Summary", coming_soon_dashboard_path %></div>
    </div>

  </div>
  <% end %>
<% end %>
