<div class="row row--partial">
  <div class="column column--eleven-twelfths">
    <h1><i class="font-icon" data-icon="&#xe022;"></i>&nbsp; Upcoming Deliveries</h1>
    <p>This is a list of all upcoming deliveries for your market.</p>

    <% if @upcoming_deliveries.empty? %>
      <h2>You currently have no upcoming deliveries.</h2>
    <% else %>
      <% @upcoming_deliveries.each do |delivery| %>
      <div class="upcoming-delivery">
        <% if current_user.multi_market_membership? %>
          <span class="market"><%= delivery.delivery_schedule.market.name %></span><br>
        <% end %>
        <h2 class="upcoming-delivery-date"><%= delivery.upcoming_delivery_date_heading %></h2>
        Deliver to:
        <%= content_tag :div, delivery.deliver_to_name, class: "location-name" if delivery.deliver_to_name.present? %>
        <div class="location"><%= delivery.deliver_to_location %></div>

        <div class="seller-tools toolbar" data-tools="<%= current_user.market_manager? || current_user.admin? ? "4" : "3" %>">
          <div class="tool"><%= link_to "Pick List", admin_delivery_tools_pick_list_path(delivery) %></div>
          <% if current_user.market_manager? || current_user.admin? %>
            <div class="tool"><%= link_to "Master Packing Slips <span class='note'>for aggregation</span>".html_safe, admin_delivery_tools_pack_list_path(delivery) %></div>
          <% end %>
          <div class="tool"><%= link_to "Individual Packing Slips <span class='note'>per Seller</span>".html_safe, admin_delivery_tools_individual_pack_list_path(delivery) %></div>
          <div class="tool"><%= link_to "Order Summary", admin_delivery_tools_order_summary_path(delivery)%></div>
        </div>
        <hr>

      </div>
      <% end %>
    <% end %>
  </div>
</div>
