<div class="no-print">
  <%= link_to "< Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
  <span class="pull-right">
    <% if @very_important_person %>
      <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: 'export' %>

    <% end %>
    <button class="btn btn--primary btn--small print-button" id="print-button">Print</button>
  </span>
</div>

<div class="print-page">
<% @pick_lists.each_with_index do |pick_list, index| %>

  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <div class="pick-list">

    <h1>Pick List</h1>
    <div class="upcoming-delivery">

      <h2 class="heading heading-delivery-tool">Supplier Delivery</h2>
      <div class="upcoming-delivery-date"><%= @delivery.seller_display_date %> <%= @delivery.seller_time_range %></div>
      <% if @delivery.available_to_order? %>
        <p class="note">Ordering has not yet closed for this delivery</p>
      <% end %>

      <h2 class="heading heading-delivery-tool">Supplier</h2>
      <div class="vcard vcard--seller">
        <h3 class="fn org"><%= pick_list.seller_name %></h3>
        <%= pick_list.seller_ship_from_address %>

        <% if !pick_list.notes.empty? 
          # Only include this section if it, you know, *contains* anything..
        %>
        <div>
        <h3>Delivery Notes</h3>
          <% pick_list.notes.each do |note| %>
          <p><span class="buyer-name"><%= note.buyer.name %></span>: <%= note.note %></p>
          <% end %>
        </div>
        <% end %>
        
      </div>
    </div>

    <div class="table-wrapper">
      <table class="delivery-tools">
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Item</th>
            <th>Total Sold</th>
            <th>Units</th>
            <th>Buyer</th>
            <th>Breakdown</th>
            <th>Initials</th>
            <th>Notes</th>
          </tr>
        </thead>

        <% pick_list.products.each do |product| %>
          <tr class="pick-list-item">
            <td class="app-code"><%= product.code %></td>
            <td class="name"><%= product.name %></td>
            <td class="total-sold"><%= product.total_sold %></td>
            <td class="units"><%= product.unit %></td>
            <td class="buyer"><%= product.first_buyer.name %></td>
            <td class="breakdown"><%= product.breakdown(product.first_buyer) %></td>
            <td class="initials"></td>
            <td class="notes"></td>
          </tr>
          <% product.remaining_buyers.each do |buyer| %>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="buyer"><%= buyer.name %></td>
              <td class="breakdown"><%= product.breakdown(buyer) %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
</div>
