<%= link_to "Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
<%= link_to "Print", "#", class: "btn btn--small pull-right", id: "print-button" %>

<% @pick_list.keys.each_with_index do |organization, index| %>

  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <h1>Pick List</h1>

  <h2>Delivery</h2>
  <%= @delivery.display_date %> <%= @delivery.time_range %>
  <% if @delivery.available_to_order? %>
    <h4>Ordering has not yet closed for this delivery</h4>
  <% end %>

  <h2>Seller</h2>
  <address>
    <h3><%= organization.name %></h3>
    <%= organization.decorate.ship_from_address %>
  </address>

  <table>
    <tr>
      <th>Item</th>
      <th>Total Sold</th>
      <th>Units</th>
      <th>Buyer</th>
      <th>Breakdown</th>
      <th>Initials</th>
      <th>Notes</th>
    </tr>

    <% @pick_list[organization].each do |line| %>
      <tr class="pick-list-item">
        <td class="name"><%= line.name %></td>
        <td class="total-sold"><%= line.total_sold %></td>
        <td class="units"><%= line.unit %></td>
        <td class="buyer"><%= line.buyers.first.name %></td>
        <td class="breakdown">
          <%= line.buyers.first.quantity %>
          <% if line.buyers.first.lots.present? %>
            <ul>
              <% line.buyers.first.lots.each do |lot| %>
                <li>Lot #<%= lot.lot.number %>: <%= lot.quantity %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td class="initials"></td>
        <td class="notes"></td>
      </tr>
      <% line.buyers.drop(1).each do |buyer| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="buyer"><%= buyer.name %></td>
          <td class="breakdown"><%= buyer.quantity %>
          <% if buyer.lots.present? %>
            <ul>
              <% buyer.lots.each do |lot| %>
                <li>Lot #<%= lot.lot.number %>: <%= lot.quantity %></li>
              <% end %>
            </ul>
          <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
