
<div class="delivery-time">
  <div class="actions pull-right">
    <%= link_to "Review Order", order_path(@order) %> &nbsp;
    <button class="btn btn--small btn--blue" id="print-button">Print Order Confirmation</button>
  </div>

  <h2 class="order-heading">Items for <%=  @order.delivery.decorate.checkout_type %>:</h2>
  <p class="order-subheading checkout-date"><%= raw @order.delivery.decorate.checkout_date %></p>
</div>

<div class="location vcard">
  <h2 class="order-heading">Your order <%= @order.display_delivery_or_pickup %></h2>
  <!-- <h3 class="fn order-subheading">Delivery Location Name</h3> -->
  <p class="adr">
    <%#= link_to @product.organization.name, seller_path(@product.organization) %>
    <span class="street-address"><%= @order.delivery_address %></span><br>
    <span class="locality"><%= @order.delivery_city %></span>, <span class="region"><%= @order.delivery_state %></span> <span class="postal-code"><%= @order.delivery_zip %></span>
  <% if @order.delivery_phone.present? %>
    <br><span class="tel">T: <%= link_to @order.delivery_phone, "tel:#{@order.delivery_phone}", class: "value" %></span>
  <% end %>
  </p>
</div>

<table class="order-summary">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th></th>
      <th class="math">Item Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item| %>
    <tr class="order-item-row">
      <td class="name"><%= item.name %></td>
      <td class="quantity"><%= item.decorate.quantity_with_unit %></td>
      <td class="price"><%= number_to_currency item.unit_price %></td>
      <td> </td>
      <td class="item-total math"><%= number_to_currency item.gross_total %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot class="math">
    <tr class="line-item">
      <td></td>
      <td></td>
      <td></td>
      <th scope="row">Item Subtotal</th>
      <td class="delivery-fees"><strong><%= number_to_currency @order.subtotal %></strong></td>
    </tr>
    <tr class="line-item">
      <td></td>
      <td></td>
      <td></td>
      <th scope="row">Delivery Fees</th>
      <td class="delivery-fees"><strong><%= number_to_currency @order.delivery_fees %></strong></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <th scope="row" class="review-order-total">Order Total</th>
      <td class="total review-order-total"><strong><%= number_to_currency @order.total_cost %></strong></td>
    </tr>
  </tfoot>
</table>

<div class="order-status">
  <div>
    <p><strong>Payment Status</strong>  &nbsp; <%= @order.payment_status.titleize %></p>
  </div>

  <div>
    <p><strong>Payment Method</strong>  &nbsp; <%= @order.payment_method.titleize %></p>
  </div>

  <div>
  </div>
</div>
