<h1>Thank you for your order!</h1>

<p>You will receive a confirmation email with details of your order and a link to track its progress.</p>
<p>If you have any questions, <%= link_to "please let us know.", "http://localorbit.zendesk.com/anonymous_requests/new" %></p>

<div class="delivery-time">
  Items for <%=  @order.delivery.decorate.checkout_type %>:
  <strong><%= raw @order.delivery.decorate.checkout_date %></strong>
</div>

<div class="location">
  Your order <%= @order.display_delivery_or_pickup %>
  <address>
    <div><strong><%= @order.delivery_address %></strong></div>
    <div><%= @order.delivery_city %>, <%= @order.delivery_state %> <%= @order.delivery_zip %></div>
  </address>
  <% if @order.delivery_phone %>
    <div class="phone">T: <%= link_to @order.delivery_phone, "tel:#{@order.delivery_phone}" %></div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th></th>
      <th>Item Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item| %>
    <tr class="order-item-row">
      <td class="name"><%= item.name %></td>
      <td class="quantity"><%= item.decorate.quantity_with_unit %></td>
      <td class="price"><%= number_to_currency item.unit_price %></td>
      <td></td>
      <td class="item-total"><%= number_to_currency item.gross_total %></td>
    </tr>
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Delivery Fees</td>
      <td class="delivery-fee"><%= number_to_currency @order.delivery_fees %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Order Total</td>
      <td class="total"><%= number_to_currency @order.total_cost %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Payment status</td>
      <td class="payment-status"><%= @order.payment_status %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Delivery status</td>
      <td class="delivery-status"><%= @order.delivery_status %></td>
    </tr>
  </tbody>

</table>
