<%= link_to "< Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
<button class="btn btn--action btn--small pull-right print-button" id="print-button">Print</button>

<% @orders.decorate.each_with_index do |order, index| %>
  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <div class="upcoming-delivery pack-list">
    <h1>Packing Slip</h1>
    <p class="note"><%= index + 1 %> of <%= @orders.length %><p>

    <div class="row">
      <div class="column column--half vcard vcard--buyer">

        <h2 class="heading heading-delivery-tool">To Buyer</h2>
        <h3 class="fn org"><%= order.organization.name %></h3>
        <div class="street"><%= order.display_delivery_street %></div>
        <div class="city-state-zip"><%= order.display_delivery_city_state_zip %></div>
        <div class="phone"><%= number_to_phone order.display_delivery_phone %></div>
      </div><div class="column column--half vcard vcard--seller">

        <h2 class="heading heading-delivery-tool">From Market</h2>
        <h3 class="fn org"><%= order.market.name %></h3>
        <div class="street"><%= order.display_market_street %></div>
        <div class="city-state-zip"><%= order.display_market_city_state_zip %></div>
        <div class="phone"><%= number_to_phone order.display_market_phone %></div>

      </div>
    </div>


    <div class="row">
      <div class="column column--half">

        <h2 class="heading heading-delivery-tool delivery-message"><%= order.display_fulfillment_info %></h2>
        <span class="upcoming-delivery-date"><%= @delivery.display_date %> <%= @delivery.buyer_time_range %></span>

      </div><div class="column column--half">

        <h2 class="heading heading-delivery-tool">Order Number</h2>
        <span class="upcoming-delivery-order order-number"><%= order.order_number %></span>

      </div>
    </div>

    <div class="table-wrapper">
      <table class="delivery-tools">
        <thead>
          <tr>
            <th>Item</th>
            <th>Lot #</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Seller</th>
            <th>Item Total Price</th>
            <th>Notes</th>
          </tr>
        </thead>
        <% order.items.undelivered.includes(:product => :organization).order('products.name').each do |item| %>
          <tr class="pack-list-item">
            <td class="name"><%= item.product.name %></td>
            <td class="lot">
              <% if !item.product.use_simple_inventory and item.lots.any? %>
                <%= item.lots.map {|lot| lot.number }.join(', ') %>
              <% end %>
            </td>
            <td class="quantity"><%= item.quantity %></td>
            <td class="units"><%= item.unit %></td>
            <td class="seller"><%= item.product.organization.name %></td>
            <td class="total-price"><%= number_to_currency item.gross_total %></td>
            <td class="notes"></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
