<%= link_to "< Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
<button class="btn btn--primary btn--small pull-right print-button" id="print-button">Print</button>
<div class="print-page">

  <%  @wp = ""
      @orders.decorate.each_with_index do |order, index|
        mkt = order.market.decorate
        @orig = "#{current_market.addresses[0].geocode.latitude},#{current_market.addresses[0].geocode.longitude}"
        @dest = @orig
        if policy(:routing_plan).index? && !order.delivery.delivery_schedule.buyer_pickup?
            if !order.delivery_lat_long.nil?
              @wp = @wp + "#{order.delivery_lat_long}|"
            end
        end
  %>
  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <div class="upcoming-delivery pack-list">
    <h1>Packing Slip</h1>
    <p class="note"><%= index + 1 %> of <%= @orders.length %><p>

    <% @logo_path = asset_url("logo.png") # needed if market doesn't have a logo %>

    <div class="container">
      <div class="outer">
        <div class="inner">
          <div class="print-logo" style="width: 80%; content: url('<%=
          if order.market.logo_stored?
            ensure_full_url((order.market.logo_stored?) ? order.market.logo.thumb('100x75').url : nil)
          elsif @logo_path
            ensure_full_url(@logo_path)
          else
            ensure_full_url(asset_url("logo.png"))
          end
          %>')">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column--half vcard vcard--buyer">
        <h2 class="heading heading-delivery-tool">To Buyer</h2>
        <h3 class="fn org"><%= order.organization.name %></h3>
        <div class="street"><%= order.display_delivery_street %></div>
        <div class="city-state-zip"><%= order.display_delivery_city_state_zip %></div>
        <div class="phone"><%= number_to_phone order.display_delivery_phone %></div>
      </div
      
      ><div class="column column--half vcard vcard--seller">
        <h2 class="heading heading-delivery-tool">From Market</h2>
        <% if mkt.has_remit_to_address? %>
            <h3 class="fn org"><%= mkt.remit_to_name %></h3>
            <div>
              <div class="street"><%= (mkt.has_remit_to_address?) ? mkt.remit_to_street_address : nil %></div>
              <div class="city-state-zip"><%= (mkt.has_remit_to_address?) ? mkt.remit_to_city_state_zip : nil %></div>
              <div class="phone"><%= (mkt.remit_to_address) ? mkt.remit_to_phone_number : nil %></div>
              <%= mkt.contact_email %>
            </div>
        <% elsif mkt.has_address? %>
            <h3 class="fn org"><%= mkt.name %></h3>
            <div>
              <div class="street"><%= (mkt.has_address?) ? mkt.billing_street_address : nil %></div>
              <div class="city-state-zip"><%= (mkt.has_address?) ? mkt.billing_city_state_zip : nil %></div>
              <div class="phone"><%= (mkt.billing_address) ? mkt.billing_address_phone_number : nil %></div>
              <%= mkt.contact_email %>
            </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="column column--half">
        <h2 class="heading heading-delivery-tool delivery-message"><%= order.display_fulfillment_info %></h2>
        <span class="upcoming-delivery-date"><%= order.delivery.decorate.buyer_display_date %> <%= order.delivery.decorate.buyer_time_range %></span>
      </div>
      
      <div class="column column--half">
        <h2 class="heading heading-delivery-tool">Order Number</h2>
        <span class="upcoming-delivery-order order-number"><%= order.order_number %></span>
      </div>
    </div>

    <div class="table-wrapper">
      <table class="delivery-tools">
          <tr>
            <th>Product Code</th>
            <th>Item</th>
            <th>Lot #</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Supplier</th>
            <th>Item Total Price</th>
            <th>Notes</th>
          </tr>
        <% order.items.undelivered.includes(:product => :organization).order('products.name').each do |item| %>
          <tr class="pack-list-item">
            <td><%= item.product.code || "-" %></td>
            <td class="name"><%= item.product.name %></td>
            <td class="lot">
              <% if !item.product.use_simple_inventory and item.lots.any? %>
                <%= item.lots.map {|lot| lot.number }.join(', ') %>
              <% end %>
            </td>
            <td class="quantity"><%= item.quantity %></td>
            <td class="units"><%= item.unit %></td>
            <td class="seller"><%= item.product.organization.name %></td>
            <td class="total-price"><%= number_to_currency item.gross_total %></td>
            <td class="notes"></td>
          </tr>
        <% end %>
        <% if order.delivery_fees > 0.00 %>
            <% subtotal = Financials::Orders::Calc.gross_item_total(items: order.items) %>
            <% total = subtotal %>
            <tr class="totals">
              <th colspan="6" style="text-align: right">Subtotal:</th>
              <th class="total-price"><%= number_to_currency subtotal %></th>
            </tr>
            <% if order.discount_amount > 0 %>
            <tr class="totals">
              <% total = total - order.discount_amount %>
              <th colspan="6" style="text-align: right">Discount:</th>
              <th class="total-price"><%= number_to_currency order.discount_amount %></th>
            </tr>
            <% end %>
            <% if order.credit_amount > 0 && order.credit.apply_to == "subtotal" %>
                <% total = total - order.credit_amount %>
                <tr class="totals">
                  <th colspan="6" style="text-align:right">Credit:</th>
                  <th><%= number_to_currency order.credit_amount %></th>
                </tr>
            <% end %>
            <tr class="totals">
              <% total = total + order.delivery_fees %>
              <th colspan="6" style="text-align:right">Delivery Fee:</th>
              <th class="total-price"><%= number_to_currency order.delivery_fees %></th>
            </tr>
            <% if order.credit_amount > 0 && order.credit.apply_to == "total" %>
                <tr class="totals">
                  <% total = total - order.credit_amount %>
                  <th colspan="6" style="text-align:right">Credit:</th>
                  <th><%= number_to_currency order.credit_amount %></th>
                </tr>
            <% end %>
            <tr class="totals">
              <th colspan="6" style="text-align:right">Total:</th>
              <th class="total-price"><%= number_to_currency total %>
            </tr>
        <% else %>
            <% subtotal = Financials::Orders::Calc.gross_item_total(items: order.items) %>
            <% total = subtotal %>
            <tr class="totals">
              <th colspan="6" style="text-align: right">Subtotal:</th>
              <th class="total-price"><%= number_to_currency subtotal %></th>
            </tr>
            <% if order.discount_amount > 0 %>
            <tr class="totals">
              <% total = total - order.discount_amount %>
              <th colspan="6" style="text-align: right">Discount:</th>
              <th class="total-price"><%= number_to_currency order.discount_amount %></th>
            </tr>
            <% end %>
            <% if order.credit_amount > 0 %>
                <tr class="totals">
                  <% total = total - order.credit_amount %>
                  <th colspan="6" style="text-align:right">Credit:</th>
                  <th><%= number_to_currency order.credit_amount %></th>
                </tr>
            <% end %>
            <tr class="totals">
              <th colspan="6" style="text-align: right">Total:</th>
              <th class="total-price"><%= number_to_currency total %></th>
            </tr>
        <% end %>
      </table>
    </div>
    
    <% if @delivery_notes.where(buyer_org: order.organization.id).exists? %>
    <div class="delivery-notes">
      <h2>Delivery Notes</h2>
      <% @delivery_notes.where(buyer_org: order.organization.id).each do |note| %>
      <p><%= "To #{note.supplier.name}: #{note.note}" %></p>
      <% end %>
    </div> <!-- end delivery-notes -->
    <% end %>
    
  </div>
<% end %>
  <div class="pdf-page-break"></div>

  <% if policy(:routing_plan).index? && !@orig.nil? && !@dest.nil? %>
    <h1>Routing Plan</h1>
    <div id="path" class="pathdata"></div>
    <div id="map-container">
      <div id="map" data-orig="<%= @orig %>" data-dest="<%= @dest %>" data-wp="<%= @wp %>" style="height:100%"></div>
    </div>
    <div id="my_textual_div"></div>

    <div style="display: none">
      <div id="routeDrag"></div>
      <div id="exportGoogle"></div>
      <div id="exportDataButton"></div>
      <div id="exportData"></div>
      <div id="exportLabelButton"></div>
      <div id="exportLabelData"></div>
      <div id="exportAddrButton"></div>
      <div id="exportAddrData"></div>
      <div id="exportOrderButton"></div>
      <div id="exportOrderData"></div>
      <div id="garmin"></div>
      <div id="tomtom"></div>
      <div id="durations" class="pathdata"></div>
      <div id="durationsData"></div>
      <div id="reverseRoute"></div>
      <div id="exportData_hidden" style="visibility: hidden;"></div>
      <div id="exportLabelData_hidden" style="visibility: hidden;"></div>
      <div id="exportAddrData_hidden" style="visibility: hidden;"></div>
      <div id="exportOrderData_hidden" style="visibility: hidden;"></div>
      <div id="durationsData_hidden" style="visibility: hidden;"></div>
    </div>
    <div id="dialogProgress" title="Calculating route...">
      <div id="progressBar"></div>
    </div>
<% end %>
</div>
