<% @delivery.orders.decorate.each_with_index do |order, index| %>
  <% if index != 0 %>
    <div class="pdf-page-break"></div>
  <% end %>

  <h2>Packing Slip</h2>

  <b>Buyer Name</b>
  <h1><%= order.organization.name %></h1>

  <div class="half-block">
    <b><%= order.display_fulfillment_info %></b>
    <h2><%= @delivery.display_date %> <%= @delivery.buyer_time_range %></h2>
  </div>

  <div class="half-block">
    <b>Order Number</b>
    <h2><%= order.order_number %></h2>
  </div>

  <div class="half-block">
    <b>From Market</b>
    <h2><%= order.market.name %></h2>
    <div class="street"><%= order.display_market_street %></div>
    <div class="city-state-zip"><%= order.display_market_city_state_zip %></div>
    <div class="phone"><%= order.display_market_phone %></div>
  </div>

  <div class="half-block">
    <b>To Buyer</b>
    <h2><%= order.organization.name %></h2>
    <div class="street"><%= order.display_delivery_street %></div>
    <div class="city-state-zip"><%= order.display_delivery_city_state_zip %></div>
    <div class="phone"><%= order.display_delivery_phone %></div>
  </div>

  <table class="delivery-tools">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Units</th>
      <th>Seller</th>
      <th>Item Total Price</th>
      <th>Notes</th>
    </tr>
    <% order.items.each do |item| %>
      <tr class="pack-list-item">
        <td class="name"><%= item.product.name %></td>
        <td class="quantity"><%= item.quantity %></td>
        <td class="units"><%= item.unit %></td>
        <td class="seller"><%= item.product.organization.name %></td>
        <td class="total-price"><%= number_to_currency item.gross_total %></td>
        <td class="notes"></td>
      </tr>
    <% end %>
  </table>

<% end %>
