          <% @grouped_items.each.with_index do |(seller_name, items), index| %>
            <tbody class="item-group">
              <tr class="<%= index == 0 ? "" : "is-hidden" %>">
                <th class="subheading-cart">Your Order</th>
                <td class="cart-quantity-column">Quantity</td>
                <td class="product-clear"></td>
              </tr>
              <tr>
                <th colspan="3" supplier="<%= seller_name.gsub(" ","") %>" class="seller"> <%= seller_name %> <%= link_to "Note", new_delivery_note_path(:supplier => Organization.where(name:seller_name).first.id, :current_cart => current_cart, :buyer => current_organization.id) %> </th> 
              </tr>
              <% items.each do |item| %>
                <%= content_tag_for(:tr, item, id: "cart_item_#", supplier: seller_name.gsub(/[^a-zA-Z]/, ''), class: "product supplier-#{seller_name.gsub(/[^a-zA-Z]/, '')}", data: {id: item.product.id, :"cart-item" => item.to_json}) do %>
                  <td class="name"><%= item.product.name %> (<%= item.product.unit_plural %>)</td>
                  <td class="quantity math="><input class="cart-input app-product-input in-cart" name="quantity" type="text" size="3" autocomplete="off" min="0" value="<%= item.quantity %>" max="<%= item.product.available_inventory %>"></td>
                  <td class="product-clear"><%= link_to "", "#", class: "in-cart font-icon icon-clear" %></td>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
