<div class="cart-page">
  <h1 class="heading-cart"><i class="font-icon icon-cart"></i> Cart</h1>
  <%= form_for :order, url: [:orders], html: {id: "order-form"} do |f| %>
    <%= f.hidden_field 'order_type', value: (@order_type || 'sales') %>
    <%= render "shared/errors", {resource: @order} if @order %>
    <% if flash[:error] %>
      <% if current_market.is_consignment_market? %>
        <div style="width: 50%; font-weight: bold" class="flash--alert">
          <p><%= flash[:error] %></p>
        </div>
      <% else %>
        <div class="flash flash--warning">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    <% end %>
    <div class="row">
      <div class="column column--half column--guttered">
        <div class="cart_items" data-cart-url="<%= cart_path %>">
          <table class="cart">
          <%= render partial: (@order_type || 'sales')+'_order', locals: {f: f} %>
          </table>
          <% if policy(:template).index? && @order_type == 'sales' %>
            <p class="pull-right"><a href="/templates/new" class="app-create-template-link">Create an order template from this cart</a></p>
          <% end %>
          <h2 class="order-min-msg"></h2>
        </div>
        <% if @order_type == 'purchase' %>
            <div style="margin-top: 10px;">
              <%= f.label :notes %>
              <%= f.text_area :notes, rows: 5 %>
            </div>
        <% end %>
        </div
      ><div class="column column--half column--guttered">
        <div id="additional-information">
          <div id="address">
            <h2 class="subheading-cart"><i class="font-icon icon-truck"></i> <%= current_cart.delivery.decorate.type %> Address</h2>
            <div class="when-deliver">
              <%= current_cart.delivery.decorate.cart_type %> <%= current_cart.delivery.decorate.checkout_date %>
            </div>
            <% if !current_cart.delivery_location.nil? %>
              <address class="adr">
                <% if current_market.is_consignment_market? %>
                  <span class="buyer-name"><%= current_cart.organization.name %></span><br/>
                <% end %>
                <span class="address-label"><%= current_cart.delivery_location.name %></span><br/>
                <span class="street-address"><%= current_cart.delivery_location.address %></span><br />
                <span class="locality"><%= current_cart.delivery_location.city %></span>, <span class="region"><%= current_cart.delivery_location.state %></span> <span class="postal-code"><%= current_cart.delivery_location.zip %></span>
              </address>
            <% end %>
          </div>

          <% if current_market.organization.plan.discount_codes? && @order_type == 'sales'%>
          <div id="discount-info">
            <h2 class="subheading-cart"><i class="font-icon icon-coins"></i> Discount Information</h2>
          </div>

          <fieldset class="conditional">
            <div class="discount-field">
              <div class="warning"><strong><%= flash[:discount_message] %></strong></div>
              <%= hidden_field_tag :prev_discount_code, current_cart.discount_code %>
              <%= label_tag :discount_code, "Discount Code" %><br>
              <%= text_field_tag :discount_code, current_cart.discount_code, class: "input--short" %>
              <% if current_cart.discount.present? %>
                <%= link_to "Clear", "#", id: "clear-discount" %>
              <% else %>
                <%= link_to "Apply", "#", id: "apply-discount" %>
              <% end %>
            </div>
          </fieldset>
          <% end %>

          <div id="payment-info">
            <h2 class="subheading-cart"><i class="font-icon icon-coins"></i> Payment Information</h2>
          </div>

          <fieldset class="conditional">
            <legend class="haiku">Select Payment Method</legend>
              <% if current_market.is_consignment_market? && @order_type == 'sales' %>
                <%= select_tag "order[payment_method]", options_for_select([["Invoice","invoice"], ["Purchase Order", "po"], ["Credit Card", "credit"], ["Cash", "cash"], ["Check", "check"]]), class: 'payment_method' %>
                <br/><br/>
                <div class="payment-field">
                  <%= f.label :payment_note, "Payment Ref. #" %><br>
                  <%= f.text_field :payment_note, class: "input--short" %>
                </div>
              <% elsif current_market.is_consignment_market? && @order_type == 'purchase' %>
                <%= select_tag "order[payment_method]", options_for_select([["Purchase Order", "po"], ["Credit Card", "credit"], ["Cash", "cash"], ["Check", "check"]]), class: 'payment_method' %>
                <br/><br/>
                <div class="payment-field">
                  <%= f.label :payment_note, "Supplier Inv. #" %><br>
                  <%= f.text_field :payment_note, class: "input--short" %>
                </div>
              <% else %>
                <% if allow_payment_option?(:purchase_order, current_market, current_organization) %>
                  <div class="field">
                    <label>
                      <%= f.radio_button :payment_method, "purchase order", :class=>"payment-method" %>
                      Pay by Purchase Order
                    </label>
                    <fieldset id="purchase-order-fields" class="payment-fields is-hidden" data-available="true">
                      <div class="payment-field">
                        <%= f.label :payment_note, "PO Number" %><br>
                        <%= f.text_field :payment_note, class: "input--short" %>
                      </div>
                    </fieldset>
                  </div>
                <% end %>

                <% if allow_payment_option?(:credit_card, current_market, current_organization) %>
                  <div class="field">
                    <label>
                      <%= f.radio_button :payment_method, "credit card", :class=>"payment-method" %>
                      Pay by Credit Card
                    </label>
                    <fieldset id="credit-card-fields" class="payment-fields is-hidden" data-available="<%= current_organization.decorate.credit_cards_available? %>">
                      <div class="payment-field">
                        <% if current_organization.decorate.credit_cards_available? %>
                          <label for="order_credit_card_id">Choose Credit Card</label><br>
                          <%= select_tag "order[credit_card][id]", options_for_select(current_organization.decorate.credit_card_options), prompt: 'Add a new Credit Card' %><br>
                        <% end %><br>

                        <div id="cc-fields" class="<%= classes('is-hidden' => current_organization.decorate.credit_cards_available?) %>">

                          <% if current_organization.decorate.credit_cards_available? %>
                          <label>New Credit Card</label><br>
                          <% end %>

                          <fieldset id="payment-provider-container" data-payment-provider="<%= @payment_provider %>" data-balanced-marketplace-uri="<%= ENV["BALANCED_MARKETPLACE_URI"] %>" data-stripe-publishable-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>">
                            <div class="row">
                              <div class="column column--full column--guttered">
                                <label for="provider_account_name">Name</label>
                                <span class="hint">Full name as it appears on the account</span>
                                <br>
                                <input id="provider_account_name" type="text" value="" name="order[credit_card][name]" class="column--full">
                              </div>
                            </div>
                            <br/>
                            <div class="row">
                              <div class="column column--full column--guttered">
                                <label for="provider_account_name">Card</label>
                                <span class="hint">All card info is entered into this field</span>
                                <div style="height: 36px; border: 1px solid #aaa; border-radius:3px; padding: 5px 5px .071em 12px; margin: 4px 0; box-sizing: border-box;">
                                  <div id="card-element">
                                    <!-- a Stripe Element will be inserted here. -->
                                  </div>
                                </div>
                                <!-- Used to display form errors -->
                                <div id="card-errors"></div>
                                <div class="row">
                                  <div class="field column column--full column--guttered">
                                    <input id="save_for_future" type="checkbox" name="order[credit_card][save_for_future]">
                                    <label for="save_for_future">Save credit card for future use</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>

                      </div>
                    </fieldset>
                  </div>
                <% end %>

                <% if allow_payment_option?(:ach, current_market, current_organization) %>
                  <div class="field">
                    <label>
                      <%= f.radio_button :payment_method, "ach", :class=>"payment-method" %>
                      Pay by ACH
                    </label>
                    <fieldset id="ach-fields" class="payment-fields is-hidden" data-available="<%= current_organization.decorate.ach_available? %>">
                      <div class="payment-field">
                        <% if current_organization.decorate.ach_available? %>
                          <%= f.label :bank_account, "Account" %><br>
                          <%= f.select :bank_account, options_for_select(current_organization.decorate.ach_options) %>
                        <% else %>
                          You currently do not have any verified bank accounts.<br>
                          Please <%= link_to "create and/or verify one", new_admin_organization_bank_account_path(current_organization) %> to use ACH.
                        <% end %>
                      </div>
                    </fieldset>
                  </div>
                <% end %>
              <% end %>
          </fieldset>
        </div>
        <div class="form-actions">
          <%= f.submit "Place Order", class: 'btn btn btn--money', id: 'place-order-button', disabled: current_market.is_buysell_market?, data: {disable_with: "Please wait..."} %>
          <span class="pull-left cancel-link">
            <%= link_to "Cancel Order", [:cart], data: {method: :delete, confirm: "Are you sure you want to clear the cart?"}, class: "btn btn--small destructive", id: "cancel-button" %>
            <span class="note">(Clear Cart)</span>
          </span>
          <%= link_to "Continue Ordering", @order_type == 'sales' ? products_path : products_purchase_path, class: "continue-shop" %>  
        </div>
      </div>
    </div>
  <% end %>
</div>
