<div class="cart-page">
  <h1 class="heading-cart"><i class="font-icon icon-cart"></i> Cart</h1>
  <%= form_for :order, url: [:orders], html: { id: "order-form" } do |f| %>
    <%= render "shared/errors", {resource: @order} if @order %>
    <div class="row">
      <div class="column column--half column--guttered">
        <div class="cart_items" data-cart-url="<%= cart_path %>">
          <table class="cart">
          <% @grouped_items.each.with_index do |(seller_name, items), index| %>
            <tbody class="item-group">
              <tr class="<%= index == 0 ? "" : "is-hidden" %>">
                <th class="subheading-cart">Your Order</th>
                <td class="cart-quantity-column">Quantity</td>
                <td class="cart-price-column">Price</td>
                <td class="cart-total-column">Total</td>
              </tr>
              <tr>
                <th colspan="6" class="seller"><%= seller_name %></th>
              </tr>
              <% items.each do |item| %>
                <%= content_tag_for(:tr, item, id: "cart_item_#", class: "product", data: {id: item.product.id, :"cart-item" => item.to_json}) do %>
                  <td class="name"><%= item.product.name %> (<%= item.product.unit_plural %>)</td>
                  <td class="quantity"><input name="quantity" type="text" size="3" min="0" value="<%= item.quantity %>" max="<%= item.product.available_inventory %>"></td>
                  <td class="price-for-quantity math"><%= number_to_currency(item.unit_price.sale_price) %></td>
                  <td class="price math"><%= number_to_currency(item.total_price)%></td>
                  <td class="product-clear"><%= link_to "", "#", class: "font-icon icon-clear" %></td>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
            <tbody class="math" id="totals">
              <tr class="cart_total">
                <th scope="row" colspan="3">Item Subtotal</th>
                <td class="subtotal"><%= current_cart.decorate.display_subtotal %></td>
                <td></td>
              </tr>

              <tr class="cart_total">
                <th scope="row" colspan="3">Delivery Fees</th>
                <td class="delivery_fees"><%= current_cart.decorate.display_delivery_fees%></td>
                <td></td>
              </tr>

              <tr class="cart_total">
                <th scope="row" colspan="3"><strong>Total</strong></th>
                <td class="total"><strong><%= current_cart.decorate.display_total %></strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div
      ><div class="column column--half column--guttered">
        <div id="additional-information">
          <div id="address">
            <h2 class="subheading-cart"><i class="font-icon icon-truck"></i> Delivery Address</h2>
            <div class="when-deliver">
              <%= current_cart.delivery.decorate.cart_type %> <%= raw(current_cart.delivery.decorate.checkout_date) %>
            </div>
            <address class="adr">
              <span class="street-address"><%= current_cart.delivery_location.address %></span><br />
              <span class="locality"><%= current_cart.delivery_location.city %></span>, <span class="region"><%= current_cart.delivery_location.state %></span> <span class="postal-code"><%= current_cart.delivery_location.zip %></span>
            </address>
          </div>

          <div id="payment-info">
            <h2 class="subheading-cart"><i class="font-icon icon-coins"></i> Payment Information</h2>
          </div>

          <fieldset class="conditional">
            <legend class="haiku">Select Payment Method</legend>
              <% if allow_payment_option?(:allow_purchase_orders) %>
                <div class="field">
                  <label>
                    <%= f.radio_button :payment_method, "purchase order" %>
                    Pay by Purchase Order
                  </label>
                  <fieldset id="purchase-order-fields" class="payment-fields is-hidden" data-available="true">
                    <div class="payment-field">
                      <%= f.label :payment_note, "PO Number" %><br>
                      <%= f.text_field :payment_note, class: "input--short" %>
                    </div>
                  </fieldset>
                </div>
              <% end %>

              <% if allow_payment_option?(:allow_credit_cards) %>
                <div class="field">
                  <label>
                    <%= f.radio_button :payment_method, "credit card" %>
                    Pay by Credit Card
                  </label>
                  <fieldset id="credit-card-fields" class="payment-fields is-hidden" data-available="<%= current_organization.decorate.credit_cards_available? %>">
                    <div class="payment-field">
                      <% if current_organization.decorate.credit_cards_available? %>
                        <label for="order_credit_card_id">Saved credit cards</label><br>
                        <%= select_tag "order[credit_card][id]", options_for_select(current_organization.decorate.credit_card_options), prompt: 'Select a Stored Credit Card' %><br>
                      <% else %>
                        Add a <%= link_to "credit card", new_admin_organization_bank_account_path(current_organization) %> to your account.
                      <% end %><br>

                      <% unless Rails.env.production? %>
                      <label>New Credit Card</label><br>
                      <fieldset id="balanced-payments-uri" data-balanced-marketplace-uri="<%= ENV["BALANCED_MARKETPLACE_URI"] %>">
                        <div class="row">
                          <div class="column column--full column--guttered">
                            <label for="balanced_account_name">Name</label>
                            <span class="hint">Full name as it appears on the account</span>
                            <br>
                            <input id="balanced_account_name" type="text" value="" name="order[credit_card][name]" class="column--full">
                          </div>
                        </div>
                        <div class="row">
                          <div class="column column--full column--guttered">
                            <label for="balanced_card_number">Card Number</label><br>
                            <input class="column--full" id="balanced_card_number" type="text" name="card_number">
                          </div>
                        </div>
                        <div class="row">
                          <div class="column column--third column--guttered">
                            <label for="expiration_month">Month</label><br>
                            <%= select_tag(:expiration_month, options_for_select(expiration_month_options), class: "column--full") %>
                          </div
                          ><div class="column column--third column--guttered">
                            <label for="expiration_year">Year</label><br>
                            <%= select_tag(:expiration_year, options_for_select(expiration_year_options), class: "column--full") %>
                          </div
                          ><div class="column column--third column--guttered">
                            <label for="balanced_security_code">Security Code</label><br>
                            <input class="column--full" id="balanced_security_code" type="text" name="security_code">
                          </div>
                          <div class="row">
                            <div class="field column column--full column--guttered">
                              <input id="save_for_future" type="checkbox" name="order[credit_card][save_for_future]">
                              <label for="save_for_future">Save credit card for future use</label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <% end %>
                    </div>
                  </fieldset>
                </div>
              <% end %>

              <% if allow_payment_option?(:allow_ach) %>
                <div class="field">
                  <label>
                    <%= f.radio_button :payment_method, "ach" %>
                    Pay by ACH
                  </label>
                  <fieldset id="ach-fields" class="payment-fields is-hidden" data-available="<%= current_organization.decorate.ach_available? %>">
                    <div class="payment-field">
                      <% if current_organization.decorate.ach_available? %>
                        <%= f.label :bank_account, "Account" %><br>
                        <%= f.select :bank_account, options_for_select(current_organization.decorate.ach_options) %>
                      <% else %>
                        You currently do not have any verified bank accounts.<br>
                        Please <%= link_to "create and/or verify one", new_admin_organization_bank_account_path(current_organization) %> to use ACH.
                      <% end %>
                    </div>
                  </fieldset>
                </div>
              <% end %>
            </fieldset>
          </div>
        </div>
        <div class="form-actions">
          <span class="pull-left cancel-link">
            <%= link_to "Cancel Order", [:cart], data: { method: :delete, confirm: "Are you sure you want to clear the cart?"}, class: "btn btn--small destructive" %>
            <span class="note">(Clear Cart)</span>
          </span>
          <%= link_to "Continue Shopping", products_path %>  
          <%= f.submit "Place Order", class: 'btn btn btn--money', id: 'place-order-button', disabled: true, data: { disable_with: "Please wait..."}%>
        </div>
      </div>
    </div>
  <% end %>
</div>
