<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "column column--full" %>
</div>

<% if current_user.multi_market_membership? %>
  <div class="field">
    <%= f.label :market_id, "Market" %><br>
    <%= f.collection_select :market_id, @markets, :id, :name, {include_blank: "Select a market"}, class: "column--full" %>
  </div>
<% else %>
  <input type='hidden' name='promotion[market_id]' value='<%= @markets.first.id %>'>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "column column--full" %>
</div>

<div class="field">
  <%= f.label :product_id, "Product" %><br>
  <%= f.select :product_id, @products.map {|p| ["#{p.organization.name} - #{p.name}", p.id]}, {include_blank: "Select a product"}, class: "column--full" %>
</div>

<div class="field promotion-field">
  <%= f.text_area :body, rows: 15, class: "wysihtml5-textarea newsletter-body" %>
</div>

<div class="row row--field">
  <div class="column column--guttered">
    <%= f.label :image %><br>
    <%= image_tag @promotion.image.remote_url, class: "market-logo" if @promotion.image %>
    <%= f.file_field :image, class: "photo-button" %><br>
    <div><small>Drag and drop your image anywhere in the "Choose File" area and it will be uploaded when you save.</small></div>
  </div>
</div>

<%= f.submit "Save Promotion", class: 'pull-right save-button' %>
