<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>

<% selected_url = nil %>
<% per_page_select_options = [50, 100, 250, 500].map do |select_option_per_page| %>
<%  url = Kaminari::Helpers::FirstPage.new(self, params: {per_page: select_option_per_page}).url %>
<%  selected_url = url if per_page == select_option_per_page %>
<%  ["Show #{select_option_per_page} rows", url] %>
<% end %>
<%= select_tag :per_page, options_for_select(per_page_select_options, selected: selected_url), class: 'filter-input per-page-filter' %>

<%= paginator.render do %>
  <nav class="pagination">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| %>
      <% if page.left_outer? || page.right_outer? || page.inside_window? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    <%= next_page_tag unless current_page.last? %>
    <%= last_page_tag unless current_page.last? %>
  </nav>
<% end %>
