<%= render "admin/markets/header" %>

<%= render 'shared/errors', resource: @market %>

<div class="row row--partial">
  <%= form_for @market, url: [:admin, @market, :fees], html: { class: "column column--two-thirds" } do |f| %>

    <% if current_user.admin? %>
    <fieldset>
      <legend>Local Orbit Fees</legend>
      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <%= f.label :local_orbit_seller_fee, "Local Orbit % paid by Supplier" %><br>
          <%= f.number_field :local_orbit_seller_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
        </div
        ><div class="field column column--half column--guttered">
          <%= f.label :local_orbit_market_fee, "Local Orbit % paid by market" %><br>
          <%= f.number_field :local_orbit_market_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
        </div>
      </div>
    </fieldset>
    <% end %>
    <fieldset>
      <legend>Market Fees</legend>
      <div class="field">
        <%= f.label :market_seller_fee, "Market % paid by Supplier" %><br>
        <%= f.number_field :market_seller_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
      </div>
    </fieldset>
    <% if PaymentProvider.is_balanced?(@market.payment_provider) %>
      <fieldset>
        <legend>Credit Card Fees</legend>
        <div class="row row--field">
          <div class="field column column--half column--guttered">
            <%= f.label :credit_card_seller_fee, "Credit Card fee paid by Supplier" %><br>
            <%= f.number_field :credit_card_seller_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
          </div
          ><div class="field column column--half column--guttered">
            <%= f.label :credit_card_market_fee, "Credit Card fee paid by market" %><br>
            <%= f.number_field :credit_card_market_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>ACH Fees</legend>
        <div class="row row--field">
          <div class="field column column--half column--guttered">
            <%= f.label :ach_seller_fee, "ACH fee paid by Supplier" %><br>
            <%= f.number_field :ach_seller_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
          </div
          ><div class="field column column--half column--guttered">
            <%= f.label :ach_market_fee, "ACH fee paid by market" %><br>
            <%= f.number_field :ach_market_fee, min: 0, max: 99.999, step: "0.001", size: 6 %>%
          </div>
        </div>

        <div class="field">
          <%= f.label :ach_fee_cap, "ACH fee cap" %><br>
          $<%= f.number_field :ach_fee_cap, min: 0, max: 9999.99, step: "0.01", size: 6 %>
        </div>
      </fieldset>
    <% else %>
      <fieldset>
        <legend>Payment Fees</legend>
        <div class="row row--field">
          <div class="field column column--half column--guttered">
            Payment processing fees to be paid by:<br/>
            <input type="radio" name="market[payment_fees_paid_by]" value="seller" <%= 'checked="checked"' if @market.credit_card_payment_fee_payer == 'seller' %>><label for="payment_fees">Supplier</label><br>
            <input type="radio" name="market[payment_fees_paid_by]" value="market" <%= 'checked="checked"' if @market.credit_card_payment_fee_payer == 'market' %>><label for="payment_fees">Market</label><br>
          </div>
        </div>
      </fieldset>
    <% end %>

    <fieldset>
      <legend>Payment Methods</legend>
      <div class="field">
        <%= f.label :po_payment_term, "PO Payment Terms" %><br>
        <%= f.number_field :po_payment_term, min: 0, max: 365, size: 6 %> Days
      </div>
    </fieldset>

    <fieldset>
      <legend>Plan Payment Schedule</legend>
    <% if !@market.self_directed_creation? %>
    <%# Markets that have performed self_directed_creation (AKA roll your own) should supress alla this %>
      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <%= f.label :plan_id %><br>
          <%= f.select :plan_id, Plan.options_for_select, {}, {:disabled => !current_user.admin?, :include_blank => 'Select a plan' } %>
        </div
        ><div class="field column column--half column--guttered">
        <% if current_user.admin? %>
        <%= f.label :plan_interval, "Plan Schedule" %><br>
          <%= f.select :plan_interval, [["Monthly", 1], ["Yearly", 12]], include_blank: 'Select a schedule' %><br>
          IMPORTANT: When changing the plan schedule, set the Plan Start Date to be the date the next payment is due.
        </div>
        <% end %>
      </div>

      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <%= f.label :plan_fee %><br>
          $<%= f.number_field :plan_fee, min: 0, max: 9999.99, step: "0.01", size: 6, :disabled => !current_user.admin? %>
        </div
        ><div class="field column column--half column--guttered">
          <% if current_user.admin? %>
          <%= f.label :plan_start_at, "Plan Start Date" %><br>
          <%= f.datetime_field :plan_start_at, size: 8, class: "alt-datepicker" %><a href="#market_plan_start_at" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
          <div class="datepicker" data-input="market_plan_start_at"></div>
          <% end %>
        </div>
      </div>

      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <% if current_user.admin? %>
          <%= f.label :plan_bank_account_id %><br>
          <%= f.select :plan_bank_account_id, @market.decorate.payment_accounts_for_select, {}, {:disabled => !current_user.admin?, :include_blank => 'Select a bank account'} %>
          <% end %>
        </div
        ><div class="field column column--half column--guttered">
          <% if (payment_date = @market.next_service_payment_at) %>
          Next Payment Due On:<br>
          <%= payment_date.strftime("%b %d, %Y") %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>This is a <span style="border:1px black dotted;border-width:0 0 1px 0"  title="AKA 'Roll Your Own'">self-directed</span> market - plan management will be handled through Stripe...</p>
    <% end %>
    </fieldset>
    <div class="form-actions">
      <%= f.submit "Update Fees", class: "mobile-block" %>
    </div>
  <% end %>
</div>
