<%= render "admin/markets/header" %>

<%= render 'shared/errors', resource: @market.organization.qb_profile.nil? ? @market : @market.organization.qb_profile %>

<% if !session[:qb_token].nil? %>
<h1>QuickBooks Profile</h1>
<%= form_for @market.organization.qb_profile, url: [:admin, @market, :qb_profile], html: { class: "column column--two-thirds" } do |f| %>
    <% if current_market.qb_integration_type.nil? || current_market.qb_integration_type != 'journal entry' %>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :income_account_name, 'Receivables: Income Account for Sales' %><br>
        <%= f.text_field :income_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :asset_account_name, 'Payables: Liability Account for Products' %><br>
        <%= f.text_field :asset_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :expense_account_name, 'COGS: Expense account for Inventory' %><br>
        <%= f.text_field :expense_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :delivery_fee_item_name, 'Delivery Fee Item Name' %><br>
        <%= f.text_field :delivery_fee_item_name, class: "column--full" %>
      </div>
    </div>
    <% else %>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :ar_account_name, 'Journal Entry: Receivables Account' %><br>
        <%= f.text_field :ar_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :ap_account_name, 'Journal Entry: Payables Account' %><br>
        <%= f.text_field :ap_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :fee_income_account_name, 'Journal Entry: Fee Income Account' %><br>
        <%= f.text_field :fee_income_account_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :delivery_fee_account_name, 'Journal Entry: Delivery Fees Income Account' %><br>
        <%= f.text_field :delivery_fee_account_name, class: "column--full" %>
      </div>
    </div>
    <% end %>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :prefix, 'PO/Invoice Number Prefix' %><br>
        <%= f.text_field :prefix, class: "column--full" %>
      </div>
    </div>
    <% if current_market.is_consignment_market? && (current_market.qb_integration_type.nil? || current_market.qb_integration_type == 'invoice') %>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :consolidated_supplier_item_name, 'Consolidated Supplier Item Name' %><br>
        <%= f.text_field :consolidated_supplier_item_name, class: "column--full" %>
      </div>
    </div>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :consolidated_buyer_item_name, 'Consolidated Buyer Item Name' %><br>
        <%= f.text_field :consolidated_buyer_item_name, class: "column--full" %>
      </div>
    </div>
    <% end %>
    <div class="row row--field">
      <div class="field column column--one-third column--guttered">
        <div class="form-actions">
          <%= f.submit "Save" %>
        </div>
      </div>
      <!--
      <div class="field column column--two-thirds column--guttered">
        <div class="form-actions">
          <%#= link_to 'Update QB Entities', sync_admin_market_qb_profile_url, class: 'btn' %>
        </div>
      </div>
      -->
    </div>
    <br/>
    <br/>
    <div class="row row--field">
      <div class="field column column--full column--guttered">
        <%= link_to 'Disconnect QuickBooks', disconnect_admin_market_qb_profile_url, class: 'btn alert' %>
      </div>
    </div>
    <% end %>
<% else %>
<div class="row row--partial">

  <!-- somewhere in your document include the Javascript -->
  <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

  <!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
  <script>
      intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_admin_market_qb_profile_url %>'});
  </script>

  <!-- this will display a button that the user clicks to start the flow -->
  <ipp:connectToIntuit></ipp:connectToIntuit>


</div>
<% end %>

