<div>
  <div class="l-constraint">
    <h1><i class="font-icon" data-icon="&#xe027;"></i>&nbsp; Inventory</h1>
    <%= render "filters" %>

    <div class="clearfix"></div>
  </div>
</div>

<div class="table-wrapper">
  <table class="sortable organization-table market-org-list">
    <thead class="stickable">
    <tr>
      <th data-column="name" class="<%= column_sort_classes("name")%>">Product</th>
      <th>Supplier</th>
      <th>Lot</th>
      <th>Location</th>
      <th>On Hand</th>
      <th>Committed</th>
      <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <% @inventories.decorate.each do |inv| %>
    <% committed = Inventory::Utils.qty_committed(current_market.id, inv.product_id, inv.ct_id) %>
    <% if (inv.lot_quantity || 0) + committed > 0 %>
    <tr>
      <td class="name"><%= link_to inv.product_name, admin_product_path(inv.product_id) %></td>
      <td class="supplier"><%= link_to "PO: #{inv.order_id} - #{inv.supplier_name}", purchase_order_path(inv.order_id) %>&nbsp;<%= !inv.note.nil? && inv.note.length > 0 ? "<span class='tooltip--flag' data-tooltip='#{inv.note}'></span>".html_safe : '' %></td>
      <td class="lot">
          <%=inv.lot_number %><br/>
      </td>
      <td>
      <%= inv.decorate.location_info %>
      </td>
      <td>
        <%= inv.status =='waiting' ? inv.ct_quantity : inv.lot_quantity + committed %>
      </td>
      <td class="committed"><%= committed %></td>
      <td>
        <%= link_to "Note", "#inventory-note-#{inv.ct_id}", class: "create-inventory-note btn btn--tiny modal-toggle" %>
        <div class="is-hidden modal popup" id="inventory-note-<%= inv.ct_id %>" style="padding: 10px; width: 50%">
          <%= form_for :consignment_inventory, method: "put" do |f| %>
          <%= f.label :notes, "Inventory Note for #{inv.product_name}<br/>PO: #{inv.order_id} - #{inv.supplier_name}".html_safe %>
          <%= f.text_area :notes, rows: 5, value: inv.note %>
          <%= f.hidden_field :transaction_id, value: inv.ct_id %>
          <%= f.submit "Save Note", class: 'btn btn--small mobile-block' %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @inventories %>

<% if @inventories.none? %>
    <div class="info-note">
      <h2>No Results</h2>
      This table is empty, either because there is no data, or because the filter you've applied is hiding it.
    </div>
<% end %>