<h1 class="clear-before page-title">Welcome to <%= current_market ? current_market.name : "Local Orbit" %></h1>
<%= content_tag :span, "#{current_market.tagline}", class: "tagline" if current_market.present? && current_market.tagline.present? %>
<div class="row devise-forms center-rule">

<div class="column column--half">
  <div class="row row--partial">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "column column--three-fourths" }) do |f| %>
      <h2>Please Sign In</h2>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, :autofocus => true, class: "column--full" %>
      </div>

      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "column--full" %><br>
      </div>

      <%= f.submit "Sign In", class: "pull-right mobile-block" %>

      <% if devise_mapping.rememberable? -%>
        <fieldset class="conditional">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me,  "Keep me signed in." %>
         <span class="tooltip" data-tooltip="This is not recommended for shared computers. Unless you log out, anyone using this computer will be able to access your account."></span><br>
        </fieldset>
      <% end -%>
      <%= render "devise/shared/links" %>

      <%= link_to "Request an Account", registration_path, class: 'account-request' if current_market %>
    <% end -%>
  </div>
</div
><div class="column column--half">
  <div class="row row--partial">
    <div class="column column--three-fourths">
      <h2>Market Info</h2>
      <% if current_market %>
        <%= simple_format current_market.profile %>
      <% else %>
        <p>If you are registered on any Local Orbit powered market, please sign in using your email and password.</p>

        <p>If you are looking for a particular market, please <a href="mailto:service@localorb.it">send us a note</a> with the market name and we'll get you there.</p>

        <p>If you are interested in learning more about Local Orbit's platform, please <a href="mailto:service@localorb.it">get in touch</a>.</p>
      <% end %>
    </div>
  </div>
</div>

</div>
