<h1 class="clear-before">Sign In</h1>
<div class="row row--partial devise-forms">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "column column--half" }) do |f| %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, :autofocus => true, class: "column--three-fourths" %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "column--three-fourths" %><br>
      <%= render "devise/shared/links" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <fieldset>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </fieldset>
    <% end -%>


    <div class="form-actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

</div>
