<%= form_for [:admin, @role], html: {class: "organization column column--full"} do |f| %>

    <%= render "shared/errors", { resource: @role } %>

    <fieldset class="role-info">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>
    </fieldset>

    <table>
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all"></th>
          <th>Permission</th>
          <th>Description</th>
        </tr>
      </thead>
      <% @role_actions.each do |r| %>
      <tr>
        <td>
          <input type="checkbox" name="role[activities][]" id="<%= r.section + '-perm' %>" value="<%=r.id%>" <%= !@act.nil? && @act.map(&:id).include?(r.id) ? 'checked' : '' %> />
        </td>
        <td>
          <%= r.section.titleize %>
        </td>
        <td>
          <%= r.help_text %>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="field form-actions">
      <%= link_to "Cancel", admin_roles_path, class: "btn cancel org-cancel" %>
      <%= f.submit "#{@role.new_record? ? 'Add' : 'Save'} Role" %>
    </div>
<% end %>