<%= form_for [:admin, @role], html: {class: "role column column--full"} do |f| %>

    <%= render "shared/errors", { resource: @role } %>

    <fieldset class="role-info">

      <div class="field">
        <%= f.label :name %>
        <span class="tooltip" data-tooltip="This is the name of the role"></span>
        <br>
        <%= f.text_field :name %>
      </div>

    </fieldset>

    <% fields_for :activity, f.activities do |p| %>
        <%= p.check_box "activity", nil, :value => p.object.id  %>
        <b><%= p.object.name %></b><br/>
    <% end %>

<% end %>
