<%= form_for [:admin, @role], html: {class: "organization column column--full"} do |f| %>

    <%= render "shared/errors", { resource: @role } %>

    <fieldset class="role-info">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>
    </fieldset>

    <fieldset class="role-info">
      <div class="field">
        <br>
        <%= f.collection_check_boxes(:activities, @role_actions, :id, :section, {:checked => @act.map(&:id)}) do |cb| %>
          <div class="row">
          <%= cb.label(class: "check_box") do %>
            <div style="float: left">
              <%= cb.check_box(class: "check_box") %>
            </div>

            <div style="float: left">
              <%= cb.text.humanize %>
            </div>
        <% end %>
      </div>
<% end %>
      </div>
    </fieldset>

    <div class="field form-actions">
      <%= link_to "Cancel", (@role.new_record? ? admin_roles_path : admin_role_path(@role)), class: "btn cancel org-cancel" %>
      <%= f.submit "#{@role.new_record? ? 'Add' : 'Save'} Role" %>
    </div>
<% end %>