<div class="row product-header filter-group">
  <div class="header-actions pull-right">
    <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: "export" %>
    <%= link_to 'Add Organization', new_admin_organization_path, class: "btn btn--add btn--small" if current_user.admin? || current_user.market_manager? %>
  </div>

  <div class="column product-filters">
    <div class="product-search search-widget">
      <input type="search" id="search" value="<%= @query_params["search"] %>" placeholder="Organization Name"><button type="submit" id="search-btn" class="btn btn--end">Search</button>
    </div>
  </div>


  <div class="manager-filters">
    <% if current_user.admin? || current_user.multi_market_membership? %>
    <span class="preserve-alignment pull-left mobile-block">
      <label for="filter_maket">Market</label><br>
      <%= select_tag :filter_market, options_for_select(@selling_markets, selected: @query_params["market"]), class: append_sticky_class('market', 'filter-dropdown'), data: { parameter: "market"} %>
    </span>
    <% end %>
    <span class="preserve-alignment pull-left mobile-block">
      <label for="filter_can_sell">Role</label><br>
      <%= select_tag :filter_can_sell, options_for_select(seller_status_options, selected: @query_params["can_sell"]), class: append_sticky_class('can_sell', 'filter-dropdown'), data: { parameter: "can_sell"} %>
    </span>
    <%= link_to "Reset", admin_organizations_path(clear: '', sort: @query_params["sort"]), class: 'btn reset' if can_reset?(@query_params) %>

  </div>

</div>
