<%= form_for [:admin, @organization], html: {class: "organization column column--full"} do |f| %>

  <%= render "shared/errors", { resource: @organization } %>

  <fieldset class="organization-info">
    <legend>Organization Information</legend>
    <% if @organization.new_record? %>
      <% if @markets.size > 1 %>
        <%= label_tag :initial_market_id, "Market" %><br>
        <%= select_tag :initial_market_id, options_for_select(@markets.map {|m| [m.name, m.id] }), prompt: "Select a Market", class: "column--full" %>
      <% else %>
        <%= hidden_field_tag :initial_market_id, @markets.first.id %>
      <% end %>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "column column--full" %>
    </div>

    <% if @organization.new_record? || current_user.can_manage_organization?(@organization) %>
      <div class="field">
        <%= f.check_box :can_sell %>
        <%= f.label :can_sell, "Can sell products" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :facebook %><br>
      <%= f.text_field :facebook, class: "column column--full" %>
    </div>

    <div class="field">
      <%= f.label :twitter %><br>
      <%= f.text_field :twitter, class: "column column--full" %>
    </div>

    <div class="field">
      <%= f.label :who_story, "Who" %><br>
      <%= f.text_area :who_story, class: "column column--full", rows: 2 %>
    </div>

    <div class="field">
      <%= f.label :how_story, "How" %><br>
      <%= f.text_area :how_story, class: "column column--full", rows: 4 %>
    </div>

    <div class="field">
      <%= f.label :photo, "Profile photo" %><br>
      <%= f.file_field :photo %>
      <%= image_tag @organization.photo.remote_url, alt: "Profile photo", class: "org-profile-photo" if @organization.photo %>
    </div>

  </fieldset>

  <% if @organization.new_record? %>
    <% if @organization.locations.empty? %>
      <% @organization.locations.build %>
    <% end %>

    <fieldset>
      <legend>Location Info</legend>
      <%= f.fields_for :locations do |location|  %>

        <%= render "admin/locations/fields", form: location %>
      <% end %>
    </fieldset>
  <% end %>

  <div class="field form-actions">
    <%= f.submit "#{@organization.new_record? ? 'Add' : 'Save'} Organization" %>
  </div>
<% end %>
