<%= form_for [:admin, @organization] do |f| %>

  <ul class="error">
  <% @organization.errors.full_messages.each do |err| %>
    <li>
      <%= err %>
    </li>
  <% end %>
  </ul>

  <% if @organization.new_record? %>
    <% if @markets.size > 1 %>
      <%= label_tag :initial_market_id, "Market" %>
      <%= select_tag :initial_market_id, options_for_select(@markets.map {|m| [m.name, m.id] }), prompt: "Select a Market" %>
    <% else %>
      <%= hidden_field_tag :initial_market_id, @markets.first.id %>
    <% end %>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if @organization.new_record? || current_user.can_manage_organization?(@organization) %>
    <div>
      <%= f.label :can_sell, "Can sell product" %>
      <%= f.check_box :can_sell %>
    </div>
  <% end %>

  <div>
    <%= f.submit "#{@organization.new_record? ? 'Add' : 'Save'} Organization" %>
  </div>
<% end %>
