<%= form_for [:admin, @organization], html: {class: "organization column column--full"} do |f| %>

  <%= render "shared/errors", { resource: @organization } %>

  <fieldset class="organization-info">
    <legend>Organization Information</legend>
    <% if @organization.new_record? %>
      <% if @markets.size > 1 %>
      <div class="field column column--half">
        <%= label_tag :initial_market_id, "Market" %><br>
        <%= select_tag :initial_market_id, options_for_select(@markets.map {|m| [m.name, m.id] }, selected: params[:initial_market_id]), prompt: "Select a Market", class: "column--full" %>
      </div>
      <% else %>
        <%= hidden_field_tag :initial_market_id, @markets.first.id %>
      <% end %>
    <% end %>

    <div class="organization_name field <%= @organization.can_sell? ? 'column--half' : 'column--full' %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "column column--full" %>
    </div>

    <% if @organization.new_record? || current_user.can_manage_market?(current_market) %>
      <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.check_box :can_sell %>
        <%= f.label :can_sell, "Can sell products" %>
        <span class="tooltip" data-tooltip="This allows a customer to be a Seller and a Buyer."></span>
      </div
      >
      </div>
    <% end %>

    <% if @organization.new_record? || @organization.can_sell? %>
      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <%= f.check_box :show_profile %>
          <%= f.label :show_profile, "Show on Profile page" %>
          <span class="tooltip" data-tooltip="Show or hide this customer on the Profile page."></span>
        </div>
      </div>
    <% end %>

    <% if @organization.new_record? || (current_user.can_manage_organization?(@organization))  %>
    <fieldset class="seller-fields<%= ' is-hidden' unless @organization.can_sell? %>">
      <div class="field field--inline">
        <%= f.label :facebook %><br>
        <span class="btn btn--start">facebook.com/</span><%= f.text_field :facebook %>
      <% if @organization.persisted? %>
        <div class="todo">
          <%= f.check_box :display_facebook %>
          <%= f.label :display_facebook, "Display Feed on Profile Page" %>
        </div>
      <% end %>
    </div>

    <div class="field field--inline">
      <%= f.label :twitter %><br>
      <span class="btn btn--start">@</span><%= f.text_field :twitter, maxlength: 15 %>
    <% if @organization.persisted? %>
      <div class="todo">
        <%= f.check_box :display_twitter %>
        <%= f.label :display_twitter, "Display Feed on Profile Page" %>
      </div>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :photo, "Profile photo" %>
      <span class="tooltip" data-tooltip="This image will appear on the Market info page."></span>
      <br>
      <%= image_tag @organization.photo.remote_url, alt: "Profile photo", class: "org-profile-photo" if @organization.photo_stored? %>
      <%= f.file_field :photo, class: "column column--full photo-button" %>
      <div><small>Drag and drop your photo anywhere in the "Choose File" area and it will be uploaded when you save.</small></div>
    </div>

    <div class="field">
      <%= f.label :who_story, "Who" %>
      <span class="tooltip pull-right" data-tooltip="A description of your organization."></span>
      <br>
      <%= f.text_area :who_story, class: "column column--full", rows: 2 %>
    </div>

    <div class="field">
      <%= f.label :how_story, "How" %>
      <span class="tooltip pull-right" data-tooltip="A description of how you produce your products."></span>
      <br>
      <%= f.text_area :how_story, class: "column column--full", rows: 4 %>
    </div>
  </fieldset>
  <% end %>

    <% if current_user.admin? || current_user.market_manager? %>
      <div class="row row--field">
        <div class="field column column--half column--guttered">
          <label>Organization Status</label><br>
          <%= f.check_box :active %>
          <%= f.label :active, "Organization is active" %>
        </div>
      </div>

      <div class="row row--field">
        <div class="field column column--half column--guttered" id="allowed-payment-methods">
          <%= render 'admin/markets/payment_options' %>
        </div>
      </div>
    <% end %>

  </fieldset>

  <% if @organization.new_record? %>
    <% if @organization.locations.empty? %>
      <% @organization.locations.build %>
    <% end %>

    <fieldset>
      <legend>Primary Address</legend>
      <%= f.fields_for :locations do |location|  %>

        <%= render "admin/locations/fields", form: location %>
      <% end %>
    </fieldset>
  <% end %>

  <div class="field form-actions">
    <%= link_to "Cancel", (@organization.new_record? ? admin_organizations_path : admin_organization_path(@organization)), class: "btn cancel org-cancel" %>
    <%= f.submit "#{@organization.new_record? ? 'Add' : 'Save'} Organization" %>
  </div>
<% end %>
