<div class="tab-header">
  <div class="l-constraint">
    <%= link_to "< Return to Organizations List", admin_organizations_path, class: "redundant-nav" %>

    <h1>Editing Organization: <%= @organization.name %></h1>
    <div class="tabs-wrapper">
      <ul class="tabs">
        <%= content_tag(:li, link_to_or_span("Info", [:admin, @organization]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Users", [:admin, @organization, :users]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Addresses", [:admin, @organization, :locations]), class: 'tab')%>
        <%= content_tag(:li, link_to_or_span("Bank Accounts", [:admin, @organization, :bank_accounts]), class: 'tab')%>
      </ul>
    </div>
  </div>
</div>
