<div class="tab-header stickable">
  <div class="l-constraint">
    <%= link_to "< Return to Organizations List", admin_organizations_path, class: "redundant-nav" if current_user.multi_organization_membership? %>
    
    <h1>Editing Organization: <%= @organization.name %></h1>

    <div class="pull-right">
      <%= @organization.decorate.toggle_active_button %>
    </div>

    <div class="tabs-wrapper organization-tabs">
      <ul class="tabs">
        <%= content_tag(:li, link_to_or_span("Info", [:admin, @organization]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Users", [:admin, @organization, :users]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Addresses", [:admin, @organization, :locations]), class: 'tab')%>
        <%= content_tag(:li, link_to_or_span("Payment Methods", [:admin, @organization, :bank_accounts]), class: 'tab')%>
        <%= content_tag(:li, link_to_or_span("Cross Sell", admin_organization_cross_sell_path(@organization)), class: 'tab') if @organization.can_cross_sell? %>
      </ul>
    </div>
  </div>
</div>
