<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
      <h1><i class="font-icon" data-icon="&#xe027;"></i>&nbsp; Organizations</h1>
      <%= link_to 'Add Organization', new_admin_organization_path, class: "btn btn--add btn--small" if current_user.admin? || current_user.market_manager? %>
    </div>
    <%= select_tag :filter_market, options_for_select(@selling_markets, selected: params[:market]), class: 'filter-dropdown', data: { parameter: "market"} %>
    <%= select_tag :filter_can_sell, options_for_select(seller_status_options, selected: params[:can_sell]), class: 'filter-dropdown', data: { parameter: "can_sell"} %>
    <%= link_to "Reset", admin_organizations_path(clear: '', sort: @query_params["sort"]), class: 'btn reset' if can_reset?(@query_params, "sort") %>
  </div>
</div>

<table class="sortable organization-table market-org-list">
  <thead class="stickable">
    <tr>
      <th data-column="name" class="<%= column_sort_classes("name")%>">Name</th>
      <th>Market</th>
      <th data-column="registered" class="<%= column_sort_classes("registered")%>">Registered On</th>
      <th data-column="can_sell" class="<%= column_sort_classes("can_sell")%>">Can Sell</th>
    </tr>
  </thead>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= link_to organization.name, [:admin, organization] %></td>
      <td><%= organization.markets.map {|m| m.name }.join(', ') %></td>
      <td><%= organization.created_at.strftime("%b, %d %Y") %></td>
      <td><%= organization.can_sell? ? "Yes" : "No" %></td>
    </tr>
  <% end %>
</table>

<%= paginate @organizations %>

<% if @organizations.none? %>
  <div class="empty-results">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
