<div>
  <div class="l-constraint">
    <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: "export todo pull-right" %>
    <h1><i class="font-icon" data-icon="&#xe027;"></i>&nbsp; Organizations</h1>
    <p>An organization is a Buyer or Supplier who is invited to use your market. An organization can be a Buyer, a Supplier or both.</p>
    <%= render "filters" %>

    <div class="clearfix"></div>
  </div>
</div>

<div class="table-wrapper">
  <table class="sortable organization-table market-org-list">
    <thead class="stickable">
      <tr>
        <th data-column="name" class="<%= column_sort_classes("name")%>">Name</th>
        <th>Market</th>
        <th>Contact</th>
        <th data-column="registered" class="<%= column_sort_classes("registered")%>">Registered On</th>
        <th data-column="can_sell" class="<%= column_sort_classes("can_sell")%>">Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @organizations %>
    </tbody>
  </table>
</div>

<%= paginate @organizations %>

<% if @organizations.none? %>
  <div class="info-note">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>

<div class="is-hidden modal popup" id="delete-organization">
  <div class="popup-header">
    Remove Organization from Markets <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">
    Loading Market Membership(s)…
  </div>
</div>
