<div class="sub-header stickable">
  <div class="l-constraint">
      <h1><i class="font-icon" data-icon="&#xe027;"></i>&nbsp; Organizations</h1>
      <%= render "filters" %>

      <div class="clearfix"></div>
  </div>
</div>

<table class="sortable organization-table market-org-list">
  <thead class="stickable">
    <tr>
      <th data-column="name" class="<%= column_sort_classes("name")%>">Name</th>
      <th>Market</th>
      <th data-column="registered" class="<%= column_sort_classes("registered")%>">Registered On</th>
      <th data-column="can_sell" class="<%= column_sort_classes("can_sell")%>">Role</th>
    </tr>
  </thead>
  <tbody>
  <% @organizations.each do |organization| %>
    <tr>
      <td class="name"><%= link_to organization.name, [:admin, organization] %></td>
      <td class="market"><%= organization.markets.map {|m| m.name }.join(', ') %></td>
      <td class="registered"><%= organization.created_at.strftime("%b, %d %Y") %></td>
      <td class="can-sell"><%= organization.can_sell? ? "Seller" : "Buyer" %></td>
      <td class="can-sell"><%= organization.can_sell? ? "Seller" : "Buyer" %></td>
      <td class="action">
        <% if current_user.market_manager? %>
          <%= link_to 'Delete', admin_organization_path(organization.id), method: :delete, class: 'action-link font-icon icon-delete', data: {confirm: "Are you sure you want to delete organization #{organization.name}? All discounts, users, prices, products related to this organization will also be deleted. This cannot be undone."} %>
        <% end %>
      </td>
    </tr>


  <% end %>
  </tbody>
</table>

<%= paginate @organizations %>

<% if @organizations.none? %>
  <div class="empty-results">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
