<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="pdfkit-print_media_type" content="true">
  <meta name="pdfkit-header_html" content="<%= request.base_url.gsub(/:3000/, ':3500') + pdf_view_header_path %>">
  <meta name="pdfkit-header_spacing" content="15">
  <meta name="pdfkit-footer_spacing" content="15">
  <meta name="pdfkit-margin_top" content="0.25in"/>
  <meta name="pdfkit-margin_right" content="0.25in"/>
  <meta name="pdfkit-margin_bottom" content="0.25in"/>
  <meta name="pdfkit-margin_left" content="0.25in"/>
  <meta name="pdfkit-header_font_size" content="10">
  <title>Local Orbit</title>
  <%= render 'shared/print_opensanscondensed_bold' %>
  <%= render 'shared/print_opensans' %>
  <%= render 'shared/print_opensans_bold' %>
  <style type="text/css">

    .signature {
      display:inline-block;
      width:45%;
      color:#666;
      border-top:1px solid #666;
      font-family:Arial;
      font-weight:bold;
      font-size:14px;
      margin-top:60px;
    }

    .picklists-wrapper {
      font-size: 14px;
      font-family: OpenSans, "Open Sans", Geneva, Arial, sans-serif;
    }

    .picklists-wrapper .btn {
        display: inline-block;
        padding: 12px 18px;
        border: solid 1px #b0b0b0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        margin-bottom: .5em;
        color: #fff;
        background-color: #43639F;
        font-family: inherit;
        font-size: 17px;
        text-decoration: none;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased
    }

    .picklists-wrapper .btn:hover {
        background-image: none;
        text-decoration: none
    }

    .picklists-wrapper .btn:disabled, .picklists-wrapper .btn.disabled {
        opacity: 0.15;
        cursor: default;
        cursor: not-allowed
    }

    .picklists-wrapper .btn:active {
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3))
    }

    .picklists-wrapper .btn:focus {
        outline: none
    }

    .picklists-wrapper .btn:first-child {
        margin-bottom: 1em
    }

    .picklists-wrapper .btn:last-child {
        margin-right: 0
    }

    .picklists-wrapper .btn.btn--small {
        padding: 4px 18px;
        font-size: 14px
    }

    .picklists-wrapper .column, .picklists-wrapper .row {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .picklists-wrapper .column {
        display: inline-block;
        padding: 0 10px 0 0;
        text-align: left;
        vertical-align: top
    }

    .picklists-wrapper .column:last-child {
        padding-right: 0
    }

    .picklists-wrapper .column--three-fourths {
        width: 75%
    }

    .picklists-wrapper .column--two-thirds {
        width: 66%
    }

    .picklists-wrapper .column--half {
        width: 50%
    }

    .picklists-wrapper .column--third {
        width: 33%
    }

    .picklists-wrapper .column--fourth {
        width: 25%
    }

    .picklists-wrapper .ar {
        text-align: right
    }

    .picklists-wrapper .al {
        text-align: left
    }

    .picklists-wrapper .ac {
        text-align: center
    }

    .picklists-wrapper .left-padded {
        padding-left: 20px
    }

    .picklists-wrapper h1 {
        margin: 0 0 .5em;
        font: bold 25px Arial
    }

    .picklists-wrapper h2 {
        margin: 0;
        color: #333;
        font: bold 14px Arial
    }

    .picklists-wrapper table {
        width: 100%;
        border-collapse: collapse
    }

    .picklists-wrapper caption {
        color: #000;
        font: bold 14px Arial;
        text-align: left
    }

    .picklists-wrapper tr, .picklists-wrapper td, .picklists-wrapper th {
        page-break-inside: avoid;
    }

    .picklists-wrapper td:first-child {
        padding-left:8px;
    }

    .picklists-wrapper td:last-child {
        padding-right:8px;
    }

    .picklists-wrapper th {
        padding: 4px;
        color: #666;
        font-size: 12px;
        text-align: left;
        vertical-align: top;
    }

    .picklists-wrapper .pseudopod th {
        vertical-align: middle;
    }

    .picklists-wrapper td {
        padding: 10px 3px 10px 3px;
        font-size: 12px
    }

    .picklists-wrapper tbody tr:nth-child(odd) {
        background: #f9f9f9
    }

    .picklists-wrapper .pseudopod th {
        padding-right:10px;
        font-size: 12px;
        font-weight: normal
    }

    .picklists-wrapper .canceled>span {
        text-decoration: line-through
    }

    .picklists-wrapper .canceled:after {
        color: #911;
        content: " Cancelled";
        text-decoration: none
    }

    .picklists-wrapper .discounts th, .picklists-wrapper .discounts td {
        padding: 10px 10px 2px
    }

    .picklists-wrapper .delivery th, .picklists-wrapper .delivery td {
        padding: 2px 10px 10px
    }

    .picklists-wrapper .total {
        border-top: solid 1px #ccc;
        color: #666
    }

    .picklists-wrapper .total .amount {
        padding-left: 10px;
        color: #000;
        font: bold 24px Arial
    }

    .picklists-wrapper .total td, .picklists-wrapper .total th {
        padding-left: 0;
        font-size: 18px
    }

    .picklists-wrapper .total td:first-child {
        font-style: italic
    }

    .picklists-wrapper .date {
        font-family: Arial;
        font-weight: bold
    }

    .picklists-wrapper .gray-box {
        width:112px;
        display:inline-block;
        padding: 5px;
        border: solid 2px #C7C7C7;
        background: #f9f9f9;
        font: bold 22px Arial
    }

    .picklists-wrapper .inline {
        display: inline
    }

    .picklists-wrapper .receipt-basics {
        margin-bottom: 1em
    }

    .picklists-wrapper .receipt-parties {
        margin-bottom: 1em
    }

    .picklists-wrapper .logo {
        max-width: 1in;
    }
        .picklists-wrapper .logo img, .picklists-wrapper .logo-column { width: 1in; }

    .picklists-wrapper .inline-block {
        display: inline-block;
        width: 100%;
    }

    .picklists-wrapper .left {
        float:left;
    }

    .picklists-wrapper .right {
        float:right;
    }

    .picklists-wrapper .vcard {
        overflow: hidden;
        word-break: break-all;
        word-wrap: break-word;
    }

    .picklists-wrapper .vcard-buyer {
        margin-bottom: 25px
    }

    .picklists-wrapper .buyer-name, .picklists-wrapper .org-from, .picklists-wrapper .receipt-num,
    .picklists-wrapper .po-num, .picklists-wrapper .delivery-date {
        margin: 0;
        font: bold 16px Arial
    }

    .picklists-wrapper .receipt-num, .picklists-wrapper .buyer-name, .picklists-wrapper .org-from {
        word-break: break-all;
        word-wrap: break-word;
    }

    .picklists-wrapper .order-header {
      border-top: 1px solid #DDD;
      margin-top: 25px;
    }

    .picklists-wrapper .notes {
      font-size: 11px;
    }

    @media print {
        .controller-picklists .l-app-header, .controller-picklists .l-app-footer,
        .controller-picklists .btn--save, .controller-picklists .logo-link,
        .controller-picklists .nav--main, .controller-picklists .nav--admin,
        .controller-picklists .tab-header, .controller-picklists .teflon, .controller-picklists .no-print {
            display: none
        }

        .controller-picklists .logo {
            display: block
        }
    }

    @media screen {
        body>.picklists-wrapper {
            width: 7.5in;
            min-height: 9in;
            padding: 0 .5in 1in;
            margin: 0 auto;
            background: #fff
        }

        body>.picklists-wrapper .btn--save {
            float: right
        }
    }

    body.os-android .print-button{display:none}

  </style>
</head>

<body class="controller-picklists" style="margin:0px;padding:30px;">
<div class="picklists-wrapper">
  <table>
        <thead></thead>
        <tbody class="order-header">
        <tr>
          <td colspan="6">
              <div class="inline-block">
                <h1 class="left">Order: <%= order.order_number %></h1> <div class="right" style="text-align: right"><h2>Buyer: <%=order.organization.name %></h2><h2>Delivery: <%=order.delivery.deliver_on.strftime("%-m/%-d/%Y") %></h2></div>
              </div>
          </td>
        </tr>
        <tr><td colspan="6"><div class="notes"><%= order.notes.nil? ? '' : "Notes: #{order.notes}" %></div></td></tr>
        </tbody>
        <thead>
        <tr>
          <th>Product</th>
          <th>Supplier</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Location</th>
          <th>Lot</th>
        </tr>
        </thead>
        <tbody class="order-detail">
        <% order.items.order(:name).each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.product.organization.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.lots.empty? ? 0 : "On Hand: #{item.lots.last.lot.quantity + item.quantity}" %></td>
          <td><%= !item.lots.empty? && !item.lots.last.lot.storage_location.nil? ? item.lots.last.lot.storage_location.name : 'No Location Provided' %></td>
          <td><%= item.lots.empty? ? 0 : item.lots.last.lot.number %></td>
        </tr>
        <% end %>
        <tr></tr>
        <tr></tr>
      </tbody>
  </table>
</div>
</body>
</html>