<table class="lo_order">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th class="lo_currency">Unit Price</th>
      <th class="lo_currency">Subtotal</th>
      <th class="status"></th>
    </tr>
  </thead>

  <% @order.grouped_items.each_pair do |seller, items| %>
    <tr>
      <th colspan="5" class="lo_vendor"><%= seller %></th>
    </tr>

    <% items.each do |item|%>
      <%= render "order_item", {item: item} %>
    <% end %>
  <% end %>

  <tbody class="pseudopod">
    <tr>
      <th colspan="3">Product Total</th>
      <td class="lo_currency"><%= number_to_currency @order.gross_total %></td>
      <td></td>
    </tr>
    <% if @order.discount > 0 %>
    <tr>
      <th colspan="3">Discount</th>
      <td class="lo_currency"><%= number_to_currency @order.discount %></td>
      <td></td>
    </tr>
    <% end %>
    <% if @order.delivery_fees > 0 %>
    <tr>
      <th colspan="3"><%= @order.delivery.delivery_schedule.fee_label %></th>
      <td class="lo_currency"><%= number_to_currency @order.delivery_fees %></td>
      <td></td>
    </tr>
    <% end %>
    <% if @order.credit_amount > 0 %>
      <tr>
        <td colspan="3">
          <span class="credit-header">Credit</span>
          <% if !@order.credit.notes.nil? %>
          <br/><span class="credit-notes"><%= @order.credit.notes %></span>
          <% end %>
        </td>
        <td class="lo_currency"><%= number_to_currency @order.credit_amount %></td>
        <td></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="3">Total</th>
      <td class="lo_currency"><%= number_to_currency @order.total_cost %></td>
      <td></td>
    </tr>
  </tbody>

</table>
