<h1>You have a new order!</h1>
<p>
  <span class="lo_order_number">Order Number: <%= @order.order_number %></span>
</p>

<p>

<% if @order.placed_by.present? %>
  An order was just placed by <strong><%= mail_to(@order.placed_by.email) %></strong>.
<% else %>
  An order was just placed in <strong><%= @market.name %></strong>.
<% end %>

You can check the details of this and all of your current orders by
following the link below and logging in to your <%= @seller.name %> account.
</p>

<div class="lo_call_to_action">
  <%= link_to "Check Order Status", admin_order_url(@order.id, host: @market.domain), class: "lo_button lo_button_large"%>
  <p>
    If clicking the button doesn't work, right click it and copy the link.<br>
    After you've copied it, paste it into a new browser window.
  </p>
</div>

<%= render "order" %>
