<%= search_form_for @q, url: url, html: { class: "invoice_search clear-after" } do |f| %>
  <div class="pull-left">
    <span class="preserve-alignment">
      <%= f.label :order_number_or_payment_note_cont, "Search Invoices" %><br>
      <%# NOTE: Do not change the whitespace on the following line %>
      <%= f.search_field :order_number_or_payment_note_cont, placeholder: "Order # or PO #" -%><%= f.submit "Search", class: "btn--end" %>
    </span>
  </div>

  <div class="pull-right">
    <span class="preserve-alignment">
      <label for="q_placed_at_date_gteq">Filter by Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: 'datepicker' %>
    </span>
    <span class="preserve-alignment">
      <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: 'datepicker' %>
    </span>
    <span class="preserve-alignment">
      <br>
      <%= f.submit "Filter", class: "btn--small" %>
    </span>
  </div>

  <div class="manager-filters pull-left">
    <% if current_user.multi_market_membership? %>
    <span class="preserve-alignment">
      <%= f.label :market_id_eq, "Market" %><br>
      <%= f.collection_select :market_id_eq, @search_presenter.selling_markets, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
    </span>
    <% end %>

    <span class="preserve-alignment">
      <%= f.label :organization_id_eq, "Buyer" %><br>
      <%= f.collection_select :organization_id_eq, @search_presenter.buyer_organizations, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
    </span>
    <p class="preserve-alignment">These invoices require your attention.</p>
    <input type="button" value="Send Selected Invoices" id="submit_send_selected" class="btn btn--small btn--save">
  </div>
  
<% end %>
