<%= search_form_for payment_history.q, url: admin_financials_payments_path, html: { class: "payment_search clear-after" } do |f| %>
  <div class="pull-left search-widget">
    <%= render "admin/financials/shared/payment_filters_search", { f: f } %>
  </div>
  <div class="pull-right date-filters">
    <%= render "admin/financials/shared/payment_filters_payment_date",
          { f: f,
            start_date: payment_history.start_date,
            end_date: payment_history.end_date } %>
  </div>
  <div class="manager-filters">
    <% if current_user.multi_market_membership? %>
    <span class="preserve-alignment">
      <%= f.label :payer_type_id_nil_eq, "Received From" %><br>
      <%= f.select :payer_type_id_nil_eq, payment_history.payers, { include_blank: nil }, { class: "filter-input" } %>
    </span>
    <% end %>

    <span class="preserve-alignment">
      <%= f.label :payee_type_id_nil_eq, "Paid To" %><br>
      <%= f.select :payee_type_id_nil_eq, payment_history.payees, { include_blank: nil }, { class: "filter-input" } %>
    </span>
    <span class="preserve-alignment">
      <%= f.label :payment_type_eq, "Payment Type" %><br>
      <%= f.select :payment_type_eq, Payment::PAYMENT_TYPES.map { |pm| [pm[1], pm[0]] }, { include_blank: nil }, { class: "filter-input" } %>
    </span>
    <%= render "admin/financials/shared/payment_filters_payment_method", { f: f } %>
  </div>
<% end %>
