<%= render "admin/reports/header" %>
<%= link_to "#{svg_icon} Export CSV".html_safe, url_for(q: params[:q], format: :csv), class: 'export export--reports pull-right' %>
<%= render "admin/reports/filters", presenter: @presenter %>

<div class="report-table">
  <div class="table-wrapper">
    <table class="sortable report-table">
      <thead class="stickable">
        <tr>
          <% @presenter.fields.each do |field| %>
            <% filter_map = ReportPresenter::FIELD_MAP[field] || {} %>
            <th class="<%= filter_map[:sort] unless @presenter.report == "discount_code_use" %>">
              <% if filter_map[:sort] %>
                <% if filter_map[:display_name] == "Quantity" %>
                  <%= sort_link @presenter.q, filter_map[:sort], "<abbr title='Quantity'>Qty.</abbr>".html_safe %>
                <% else %>
                   <%= sort_link @presenter.q, filter_map[:sort], filter_map[:display_name] %>
                <% end %>
              <% else %>
                <%= filter_map[:display_name] %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>

      <% @presenter.items.decorate.each do |item| %>
      <tr class="<%= cycle "odd", "even" %> item">
        <% @presenter.fields.each do |field| %>
          <% if field == :placed_at %>
            <td class="placed-at">
              <%= content_tag "span", item.placed_at, class: "order-date" %><br>
              <%= link_to item.order_number, admin_order_path(item.order), class: "order-number" %>
            </td>
          <% end %>

          <% if field == :fulfillment_day %>
            <td class="fulfillment-day"><%= item.fulfillment_day %></td>
          <% end %>

          <% if field == :fulfillment_type %>
            <td class="fulfillment-type"><%= item.fulfillment_type %></td>
          <% end %>

          <% if field == :category_name %>
            <td class="category"><%= item.category_name %></td>
          <% end %>

          <% if field == :product_name %>
            <td class="product"><%= link_to item.product_name, [:admin, item.product] %></td>
          <% end %>

          <% if field == :seller_name %>
            <td class="seller"><%= link_to item.seller_name, [:admin, item.product.organization] %></td>
          <% end %>

          <% if field == :buyer_name %>
            <td><%= link_to item.buyer_name, [:admin, item.order.organization], class: "buyer" %></td>
          <% end %>

          <% if field == :quantity %>
            <td class="quantity"><%= item.quantity %></td>
          <% end %>

          <% if field == :unit_price %>
            <td class="price"><span><%= item.unit_price %> /<br/> <%= item.unit %></span></td>
          <% end %>

          <% if field == :discount_code %>
            <td class="discount-code"><%= item.discount_code %></td>
          <% end %>

          <% if field == :discount_amount %>
            <td class="discount-amount"><%= item.discount_amount %></td>
          <% end %>

          <% if field == :discount %>
            <td class="<%= "discounts" unless @presenter.report == "discount_code_use" %>"><%= item.discount %></td>
          <% end %>

          <% if field == :row_total %>
            <td class="row-total"><%= item.row_total %></td>
          <% end %>

          <% if field == :net_sale %>
            <td class="net-sale"><%= content_tag "span", item.net_sale, class: "total-price" %></td>
          <% end %>

          <% if field == :payment_method %>
            <td class="payment-method"><%= item.payment_method %></td>
          <% end %>

          <% if field == :delivery_status %>
            <td class="delivery-status"><%= item.delivery_status %></td>
          <% end %>

          <% if field == :buyer_payment_status %>
            <td class="buyer-payment-status"><%= item.buyer_payment_status %></td>
          <% end %>

          <% if field == :seller_payment_status %>
            <td class="seller-payment-status"><%= item.seller_payment_status %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render "admin/reports/footer", presenter: @presenter %>
<%= render "shared/total_sales", totals: @presenter.totals %>
