<%= render "admin/markets/header" %>

<%= render "shared/errors", resource: @market %>

<div class="row row--partial">
  <div class="column column--three-fourths">
    <h2>Cross Selling with Markets</h2>
    <%= form_tag [:admin, @market, :cross_sell], method: :put do %>
      <table id="cross-sell-with">
        <thead>
          <tr>
            <th>Accept Products</th>
            <th>Market</th>
          </tr>
        </thead>
        <% @cross_selling_markets.each do |market| %>
          <tr>
            <td class="accept-products"><%= check_box_tag("market[cross_sell_ids][]", market.id, @market.cross_sell_ids.include?(market.id)) %></td>
            <td class="name"><%= market.name %></td>
          </tr>
        <% end %>
      </table>
      <%= submit_tag "Save Changes", class: "pull-right" %>
    <% end %>
  </div>
</div>
