<%= link_to "< Back to Upcoming Deliveries", admin_delivery_tools_path, class: 'back-button' %>
<button class="btn btn--action btn--small pull-right print-button" id="print-button">Print</button>

<% @pack_lists.sellers.each_with_index do |(seller, orders), org_index| %>
  <% orders.each_with_index do |(order, items), index| %>
    <% if index != 0 or org_index != 0 %>
      <div class="pdf-page-break"></div>
    <% end %>

    <div class="upcoming-delivery">
      <h1>Individual Packing Slips</h1>

      <div class="row">
        <div class="column column--half vcard vcard--buyer">
          <h2 class="heading heading-delivery-tool">To Buyer</h2>
          <h3 class="fn org"><%= order.organization.name %></h3>
          <div class="street-address"><%= order.decorate.display_delivery_street %></div>
          <div class="city-state-zip"><%= order.decorate.display_delivery_city_state_zip %></div>
          <div class="tel"><%= number_to_phone order.decorate.display_delivery_phone %></div>
        </div><div class="column column--half vcard vcard--seller">
          <h2 class="heading heading-delivery-tool">From Supplier</h2>
          <h3 class="fn org"><%= seller.name %></h3>
          <div class="street-address"><%= seller.decorate.shipping_address %></div>
          <div class="city-state-zip"><%= seller.decorate.shipping_city_state_zip %></div>
          <div class="tel"><%= number_to_phone seller.decorate.shipping_phone %></div>

        </div>
      </div>

      <div class="row">
        <div class="column column--half">
          <h2 class="heading heading-delivery-tool">Supplier Delivers to <%= @delivery.display_dropoff_location_type %> on</h2>
          <span class="upcoming-delivery-date"><%= @delivery.seller_display_date %> <%= @delivery.fulfillment_time_range %></span>
          <% if @delivery.buyer_pickup? %>
          <p class="note">For pick up on <%= @delivery.buyer_display_date %> <%= @delivery.buyer_time_range %></p>
          <% end %>
        </div><div class="column column--half">

          <h2 class="heading heading-delivery-tool">Order Number</h2>
          <span class="upcoming-delivery-order"><%= order.order_number %></span>

        </div>
      </div>

      <div class="table-wrapper">
        <table class="delivery-tools">
          <thead>
            <tr>
              <th>Product Code</th>
              <th>Item</th>
              <th>Lot #</th>
              <th>Quantity</th>
              <th>Units</th>
              <th>Item Total Price</th>
              <th>Delivery</th>
              <th>Initials</th>
              <th>Notes</th>
            </tr>
          </thead>
          <% items.each do |item| %>
            <tr class="individual-pack-list-item">
              <td><%= item.product.code || "-" %></td>
              <td class="name"><%= item.product.name %></td>
              <td class="lot">
                <%= item.lots.map {|lot| lot.number }.join(', ') if !item.product.use_simple_inventory and item.lots.any? %>
              </td>
              <td class="total-sold"><%= item.quantity %></td>
              <td class="units"><%= item.unit %></td>
              <td class="total-price"><%= number_to_currency item.gross_total %></td>
              <td class="delivery"></td>
              <td class="initials"></td>
              <td class="notes"></td>
            </tr>
          <% end %>
          <tr class="totals">
            <th colspan="4" style="text-align: right">Total:</th>
            <th class="total-price"><%= number_to_currency Financials::Orders::Calc.gross_item_total(items: items) %></th>
            <th colspan="4" style="text-align:left">Delivery Fees:</th>
            <th class="total-price"><%= number_to_currency order.calculate_delivery_fees %></th>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
