<div class="upcoming-delivery-mini">
  <h2 class="dashboard-titles"><i class="font-icon" data-icon="&#xe022;"></i>&nbsp; Upcoming Deliveries</h2>
  <span class="supporting-text-mini">These orders are ready to be delivered.</span><br>
  <% if @presenter.upcoming_deliveries.present? %>

    <% @presenter.upcoming_deliveries.each do |delivery| %>
      <div class="upcoming-delivery">
        <% if current_user.multi_market_membership? %>
          <span class="market"><%= delivery.delivery_schedule.market.name %></span><br>
        <% end %>
        <h2 class="upcoming-delivery-date">Deliveries for <%= delivery.upcoming_delivery_date_heading %></h2>
        Deliver to:
        <div class="location-name"><%= delivery.deliver_to_name %></div>
        <div class="location"><%= delivery.deliver_to_location %></div>

        <% 
          dc = UserDeliveryContext.build(user: current_user, delivery: delivery)
          access_packing_labels = FeatureAccess.packing_labels?(user_delivery_context: dc)
          summary_last = "last"
          labels_last = ""
          if access_packing_labels
            summary_last = ""
            labels_last = "last"
          end
        %>
        <div class="seller-tools-mini">
          <div class="tool-mini"><%= link_to "Pick List", admin_delivery_tools_pick_list_path(delivery) %></div>
          <div class="tool-mini"><%= link_to "Individual\nPacking Slips", admin_delivery_tools_individual_pack_list_path(delivery) %></div>
          <div class="tool-mini <%=summary_last%>" ><%= link_to "Order Summary", admin_delivery_tools_order_summary_path(delivery) %></div>
          <% if access_packing_labels %>
            <div class="tool-mini <%=labels_last%>"><%= link_to "Labels", '#' %></div>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="upcoming-delivery upcoming-delivery-mini">There are currently no upcoming deliveries</div>
  <% end %>
</div>
