<h1>Purchase History</h1>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Order #</th>
        <th>Placed On</th>
        <th>Delivery</th>
        <th>Payment</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.buyer_orders.each do |order| %>
      <tr class="order-row">
        <td class="order-number"><%= link_to order.order_number, order_path(order.id) %></td>
        <td class="order-date"><%= order.placed_at.strftime("%m/%d/%Y") %></td>
        <td class="delivery-status"><%= order.delivery_status_for_user(current_user).titleize %></td>
        <td class="payment-status"><%= order.payment_status.titleize %></td>
        <td class="total"><%= number_to_currency(order.total_cost) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if @presenter.buyer_orders.none? %>
  <div class="info-note">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
