<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Dashboard</h1>

<div class="row">
    <div class="column column--half">
        <div style="float: right">
          <span>$1234</span><br/>
          <span>Total Cost</span>
        </div>
        <%= line_chart Order.group_by_month(:created_at).sum(:total_cost), vAxis: { gridlines: { color: 'transparent' }}, colors: ["gray", "#999"] %>
    </div>

    <div class="column column--half">
      <div style="float: right">
        <span>$1234</span><br/>
        <span>Total Orders</span>
      </div>
      <%= column_chart Order.group_by_month(:created_at).count %>
    </div>

    <div class="column column--half">
      <div style="float: right">
        <span>$1234</span><br/>
        <span>Total Orders</span>
      </div>
      <%= react_component('sales_widget') %>
      <canvas id="deliveries-widget"></canvas>
    </div>
</div>

<h2 class="dashboard-titles">Current Orders</h2>
<span class="supporting-text">Displaying the 15 most recent orders.</span>
<span class="dashboard-link"><%= link_to "View All Orders", admin_orders_path %></span>
<% if current_market.orders.visible.present? %>
  <%= render "current_sales" %>
<% else %>
  No orders have yet been created
<% end %>

<h2 class="products-dashboard dashboard-titles">Products</h2>
<span class="supporting-text">Displaying the 10 most recently updated products.</span>
<span class="dashboard-link"><%= link_to "View All Products", admin_products_path %></span>
<% @products = Product.available_for_market(current_market) %>
<% if @products.any? %>
  <%= render "products" %>
<% else %>
  No products have yet been created
<% end %>
