<% max_depth = Category.maximum(:depth) %>

<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
     <h1><i class="font-icon" data-icon="&#xe023;">&nbsp; </i>Product Taxonomy</h1>

     <%= select_tag :filter_depth, options_for_select([['Top-Level Categories', 1], ['Subcategories', 2], ['All', max_depth]], max_depth), id: 'filter-categories', data: { parameter: "depth"} %>
    </div>
  </div>
</div>

<%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: 'export pull-right' %>

<div class="row row--partial">
  <div class="column">
    <table>
      <thead>
        <th colspan="<%= max_depth %>">Name</th>
        <th>Products</th>
      </thead>
      <tbody>
        <% @root.descendants.each do |category| %>
          <tr data-depth="<%= category.depth %>">
            <% row_categories = category.self_and_ancestors.where("depth > 0") %>
            <% row_categories.each do |column_category| %>
              <td <%= "colspan=#{max_depth + 1 - column_category.depth}" if column_category == row_categories.last %>>
                <%= column_category.name %>
              </td>
            <% end %>
            <td>
              <%= category.products.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
