<div class="tab-header stickable">
  <div class="l-constraint">
    <%= link_to "< Return to Product Taxonomy", admin_categories_path, class: "redundant-nav" %>
    <div class="l-page-header">
     <h1><i class="font-icon" data-icon="&#xe023;">&nbsp; </i><%= @category.self_and_ancestors.pluck(:name).join(" / ") %></h1>
    </div>
  </div>
</div>

<div class="row row--partial">
  <div class="column">
    <table>
      <thead>
        <th>Product</th>
        <th>Seller</th>
        <th>Market</th>
      </thead>
      <tbody>
        <% @category.products.each do |product| %>
          <tr>
            <td><%= link_to product.name, [:admin, product] %></td>
            <td><%= link_to product.organization.name, [:admin, product] %></td>
            <td><%= link_to product.organization.markets.pluck(:name).join(", "), [:admin, product] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @category.products.none? %>
  <div class="empty-results">
    <h2>No Results</h2>
    This table is empty because there are no products using this category.
  </div>
<% end %>