<%= form_for [:admin, price.product, price], url: admin_product_price_path(price.product, price, format: :js, query_params: @query_params), html: { class: "popup popup--edit is-hidden edit_price", novalidate: "novalidate", data: { prefix: "price_#{price.id}" }} do |f| %>
  <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
  <hgroup>
    <h2>Edit Price</h2>
    <h3><%= price.product.name %></h3>
  </hgroup>
  <%= fields_for :price, price, index: price.id do |f| %>
    <div class="fields">
      <%= f.select :market_id, price.product.organization.all_markets_for_select, {include_blank: 'All Markets'}, {class: "price_market_id"} %>

      <h3>Price for all Buyers</h3>
      <span class="preserve-alignment">
        <input type="checkbox" name="lockfld" class="lock-field"/>
        <label for="<%= "price_#{price.id}_net_price" %>">Net Price</label>
        <%= f.number_field :net_price, min: 0, step: 0.01, size: 4, class: 'net-price', data: {"net-percents-by-market-id" => json_escape(@net_percents_by_market_id.to_json), "cc-rate" => @seller_cc_rate} %>
      </span>
      <span class="preserve-alignment">
        <label for="<%= "price_#{price.id}_product_seller_fee" %>">Fee</label>
        <%= f.number_field :product_fee_pct, min: 0, step: 0.01, size: 4, class: "fee", inputmode: "numeric" %>
      </span>
      <span class="preserve-alignment">
        <label for="<%= "price_#{price.id}_sale_price" %>">Sale Price</label>
        <%= f.number_field :sale_price, min: 0, step: 0.01, size: 4, class: "sale-price", inputmode: "numeric" %>
      </span>
      <span class="preserve-alignment">
        <label for="<%= "price_#{price.id}_min_quantity" %>">Min Qty</label>
        <%= f.number_field :min_quantity, min: 0, size: 4 %>
      </span>
      <div class="popup-error">
      </div>
    </div>
    <div class="form-actions pull-right">
      <%= f.submit f.object.new_record? ? "Add" : "Save Price" %>
    </div>
    <% if can_access?(:advanced_pricing) %>
      <div class="links">
        <%= link_to "✚ Add New Price", [:admin, price.product, :prices] %>
        <%= link_to "Go to Price List", [:admin, price.product, :prices] %>
      </div>
    <% end %>
  <% end %>
<% end %>
