<div class="popup popup--edit is-hidden" id="edit_price_<%= price.id %>">
  <h2>Simple Edit Price</h2>

  <%= form_for [:admin, price.product, price], html: { novalidate: "novalidate" }, format: :js do |f| %>
    <%= fields_for :price, price, index: price.id do |f| %>
      <table class="pricing-table">
        <caption>Price for all Buyers</caption>
        <thead>
        <tr>
          <th><label for="<%= "price_#{price.id}_net_price" %>">Net Price</label></th>
          <th><label for="<%= "price_#{price.id}_fee" %>">Fee</label></th>
          <th><label for="<%= "price_#{price.id}_sale_price" %>">Sale Price</label></th>
        </tr>
        </thead>

        <tr>
          <td>
            <label class="lock-label" for="lockFieldID">
              <input type="checkbox" id="lockFieldID" class="lock-field"/>
              <span></span>
            </label>
            <%= f.number_field :net_price, min: 0, step: 0.01, size: 4, class: 'net-price',
                               data: { "net-percents-by-market-id" => json_escape(@net_percents_by_market_id.to_json) } %>
          </td>
          <td>
            <%= f.number_field :product_fee_pct, min: 0, step: 0.01, size: 2, class: 'fee' %>
          </td>
          <td>
            <%= f.number_field :sale_price, min: 0, size: 4 %>
          </td>
        </tr>
      </table>

      <div class="form-actions pull-right">
        <%= f.submit f.object.new_record? ? "Add" : "Save Price" %>
      </div>

    <% end %>
  <% end %>
</div>
