<%= form_for [:admin, product, product.lots.build], url: admin_product_lots_path(product, format: :js, query_params: @query_params), html: { class: "popup popup--edit is-hidden", id: "add_inventory_product_#{product.id}" } do |f| %>
  <div class="fields">
    <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
    <h2>Edit Inventory</h2>
    <fieldset>
      <legend>Add a lot for “<%= product.name %>”</legend>

      <div class="row">
        <div class="column column--half">
          <%= f.label :number, "Lot #" %><br>
          <%= f.text_field :number, size: 8  %>
        </div><div class="column column--half">
        <%= f.label :quantity %><br>
        <%= f.number_field :quantity, min: 0, size: 3 %>
      </div>
      </div>

      <div class="row">
        <div class="column column--half">
          <label for="lot_<%= product.id %>_good_from">Good From</label>
          <%= f.datetime_field :good_from, size: 8, class: 'alt-datepicker', id: "lot_#{product.id}_good_from" %><a href="#lot_<%= product.id %>_good_from" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
          <div class="datepicker" data-input="lot_<%= product.id %>_good_from"></div>
        </div>
        <div class="column column--half">
          <label for="lot_<%= product.id %>_expires_at">Expires On</label>
          <%= f.datetime_field :expires_at, size: 8, class: 'alt-datepicker', id: "lot_#{product.id}_expires_at", data: {'min-date' => 0} %><a href="#lot_<%= product.id %>_expires_at" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
          <div class="datepicker" data-input="lot_<%= product.id %>_expires_at"></div>
        </div>
      </div>
    </fieldset>

    <div class="popup-error">
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Save Lot", class: "btn--small" %>
    <p><%= link_to "Edit Existing Lot",  admin_product_lots_path(product) %></p>
  </div>
<% end %>
