<%= render "shared/errors", {resource: @product} %>

<% if current_user.managed_organizations.count > 1 %>
<div>
  <%= f.label :organization_id, "Product Organization" %>
  <%= f.collection_select :organization_id, current_user.managed_organizations, :id, :name, {include_blank: "Select an organization"} %>
</div>

<% else %>
  <%= f.hidden_field :organization_id, {value: current_user.managed_organizations.first.id} %>
<% end %>

<div>
  <%= f.label :name, "Product Name" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.for_select, {include_blank: ""}, {data: {placeholder: "Click and type to search for a Category"}} %>
</div>

<div>
  <h2>More info about this product (where, when, how)</h2>
  <%= check_box_tag :seller_info, "", true %>
  <%= label_tag :seller_info, "Use seller info from my account" %>
  <%= content_tag :span, "Uncheck this to customize your seller information for this product", class: "hint" %>

  <div class="hidden seller_info_fields">
    <div>
      <%= f.label :location_id, "Product Location" %>
      <%= f.select :location_id, loaded_on_demand = [] %>
      <%= content_tag :span, "This address comes from the My Account page" %>
      <%= content_tag :span, "Select an organization above to select an organization", class: "hint" %>
    </div>

    <div>
      <%= f.label :who_story, "Who" %>
      <%= f.text_area :who_story %>
      <%= content_tag :span, "This description comes from the My Organization page" %>
    </div>

    <div>
      <%= f.label :how_story, "How" %>
      <%= f.text_area :how_story %>
      <%= content_tag :span, "This description comes from the My Organization page" %>
    </div>
  </div>
</div>
