<%= render "shared/errors", {resource: @product} %>

<% if current_user.managed_organizations.count > 1 %>
<div>
  <%= f.label :organization_id, "Product Organization" %>
  <%= f.collection_select :organization_id, current_user.managed_organizations, :id, :name, {include_blank: "Select an organization"} %>
</div>

<% else %>
  <%= f.hidden_field :organization_id, {value: current_user.managed_organizations.first.id} %>
<% end %>

<div>
  <%= f.label :name, "Product Name" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.for_select, {include_blank: ""}, {data: {placeholder: "Click and type to search for a Category"}} %>
</div>

<div>
  <h2>More info about this product (where, when, how)</h2>
  <%= check_box_tag :seller_info, "", !@product.has_custom_seller_info? %>
  <%= label_tag :seller_info, "Use seller info from my account" %>
  <span class="hint">Uncheck this to customize your seller information for this product</span>

  <div class="hidden seller_info_fields">
    <div>
      <%= f.label :location_id, "Product Location" %>
      <%= f.select :location_id, @product.location_options_for_select, include_blank: true %>
      <span>This address comes from the My Account page</span>
      <span class="hint">Select an organization above to load location options</span>
    </div>

    <div>
      <%= f.label :who_story, "Who" %>
      <%= f.text_area :who_story %>
      <span>This description comes from the My Organization page</span>
    </div>

    <div>
      <%= f.label :how_story, "How" %>
      <%= f.text_area :how_story %>
      <%= content_tag :span, "This description comes from the My Organization page" %>
      <span>This description comes from the My Organization page</span>
    </div>
  </div>
</div>
