<%= render "shared/errors", {resource: @product} %>

<% if @product.persisted? %>
    <label>
      Seller Organization<br>
      <%= link_to @product.organization.name, [:admin, @product.organization] %>
    </label>
    <%= f.hidden_field :organization_id %>
<% else %>
  <% if @organizations.count > 1 %>
    <div class="field">
      <%= f.label :organization_id, "Seller Organization" %><br>
      <%= f.collection_select :organization_id, @organizations, :id, :name, {include_blank: "Select an organization"}, class: "column--full" %>
    </div>
  <% else %>
    <%= f.hidden_field :organization_id %>
  <% end %>
<% end %>

<div class="field">
  <%= f.label :name, "Product Name" %>
  <span class="tooltip pull-right" data-tooltip="Only list the product name here. Quantity, sizes and units should be included in the short description section."></span>
  <br>
  <%= f.text_field :name, class: "column column--full" %>
</div>

<div class="field">
  <%= f.label :category_id %>
  <span class="tooltip pull-right" data-tooltip="Type the product name and select a category."></span>
  <br>
  <%= f.select :category_id, Category.for_select, {include_blank: ""}, {data: {placeholder: "Click and type to search for a Category"}, class: "chosen"} %>
  <span class="hint">Not seeing what you need? <%= link_to "Request a New Category", "#", class: "modal-toggle", data: { modal: "request-new-category" } %></span>
</div>

<div class="field">
  <%= f.label :image, "Photo" %><br>
  <%= image_tag f.object.image.remote_url, alt: f.object.name if f.object.image %>
  <%= f.file_field :image, class: "column column--full photo-button" %>
  <div><small>Drag and drop your photo anywhere in the "Choose File" area and it will be uploaded when you save.</small></div>
</div>

<div class="field">
  <%= f.label :short_description %>
  <span class="hint">Up to 50 characters</span>
  <span class="tooltip pull-right" data-tooltip="This is the first opportunity for a buyer to learn about the product. Include additional explanation about the quantity, size or unit here, if needed."></span>
  <br>
  <%= f.text_field :short_description, size: 50, maxlength: 50, class: "column column--full" %>
</div>

<div class="field">
  <%= f.label :long_description %>
  <span class="hint">Up to 500 characters</span>
  <span class="tooltip pull-right" data-tooltip="Buyers want to know how you grow or prepare your products. Tell them how you do it!"></span>
  <span class="warning pull-right">(Recommended)</span>
  <%= f.text_area :long_description, rows: 4 %>
</div>


<div class="field">
  <%= f.label :unit_id %>
  <br>
  <%= f.select :unit_id, Unit.for_display.map { |u| [u.plural, u.id] } , {include_blank: ""}, {data: {placeholder: "Click and type to search for a Unit"}, class: "chosen column--full"} %>
  <span class="hint">Not seeing what you need? <%= link_to "Request a New Unit", "#", class: "modal-toggle", data: { modal: "request-new-unit" } %></span>
</div>

<div class="field">
  <%= f.label :unit_description %>
  <span class="hint">Up to 20 characters</span>
  <br>
  <%= f.text_field :unit_description, size: 20, maxlength: 20, class: "column column--full" %>
</div>


<fieldset class="conditional">
  <legend>Inventory</legend>
  <%= f.check_box :use_simple_inventory, disabled: !@product.can_use_simple_inventory? %>
  <%= f.label :use_simple_inventory, 'Use simple inventory management.' %>
  <% if @product.can_use_simple_inventory? %>
  <span class="hint">Uncheck this to use advanced inventory tracking with lot numbers and expiration dates.</span>
  <% else%>
  <span class="warning">To use simple inventory management you must clear out your current available inventory.</span>
  <% end %>
  <%= content_tag :div, id: "simple-inventory", class: (@product.use_simple_inventory? ? nil : 'is-hidden') do %>
    <%= f.text_field :simple_inventory, size: 4 %>
    <%= f.label :simple_inventory, 'Current inventory' %>
  <% end %>
</fieldset>

<fieldset class="conditional">
  <legend>More product info (Where, Who, How)</legend>
  <%= check_box_tag :seller_info, "", !@product.has_custom_seller_info? %>
  <%= label_tag :seller_info, "Use seller info from my account." %>
  <span class="hint">Uncheck this to customize your seller information for this product.</span>

  <div class="hidden seller_info_fields">
    <div class="field">
      <%= f.label :location_id, "Where" %>
      <span class="hint">Select the location this product is produced.</span>
      <span class="tooltip pull-right" data-tooltip="Select the production location of this item."></span>
      <%= f.select :location_id, @product.location_options_for_select, {include_blank: "Select a location"}, {class: "column column--full"} %>
      <% if @product.organization.present? %>
        <span class="hint">These come from the Organization area under Account. Edit them <%= link_to "here", [:admin, @product.organization, :locations] %>.</span>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :who_story, "Who" %>
      <span class="hint">A description of who you are.</span>
      <span class="tooltip pull-right" data-tooltip="This field is pre-populated with the `Who` from your Organization page. Feel free to edit to relate the story to your product."></span>
      <%= f.text_area :who_story, size: 2 %>
    </div>

    <div class="field">
      <%= f.label :how_story, "How" %>
      <span class="hint">A description of how you produce your products.</span>
      <span class="tooltip pull-right" data-tooltip="This field is pre-populated with the `How` from your Organization page. Feel free to edit to relate the story to your product."></span>
      <%= f.text_area :how_story, size: 2 %>
    </div>
  </div>

</fieldset>

<fieldset class="conditional">
  <legend>Delivery Times</legend>
  <%= f.check_box :use_all_deliveries, class: "negation" %>
  <%= f.label :use_all_deliveries, "Make product available on all market delivery dates" %>

  <div id="delivery-schedules" class="delivery-schedules">
    <% if @organizations.count > 1 && @product.organization.blank? %>
      <h3 class="heading-conditionals">No Organization Selected</h3>
    <% else %>
      <%= render partial: "admin/organizations/delivery_schedules", locals: {delivery_schedules: @delivery_schedules, selected_ids: @selected_delivery_schedule_ids, product: @product, organization: @product.organization} %>
    <% end %>
  </div>
</fieldset>

<% if @product.lots.count < 1 %>
<p class="form-footer">
  At this point your product is complete but won't be listed until you have added inventory and set pricing.
</p>
<% end %>
