<%= search_form_for @q, url: admin_products_path, html: { class: "product_search clear-after" } do |f| %>
<div class="row product-header filter-group">
  <%= link_to "Add New Product", new_admin_product_path, class: "btn btn--add btn--small pull-right" %>
  <div class="column product-filters" id="product-filter">
    <span class="preserve-alignment">
      <%= f.label :name_cont, "Search Products" %><br>
      <%# NOTE: Do not change the whitespace on the following line %>
      <%= f.search_field :name_cont, class: append_sticky_class(:name_cont) -%>
    </span>

    <div class="manager-filters unjustify mobile-block">
      <% if current_user.multi_market_membership? %>
      <span class="preserve-alignment mobile-block">
        <%= f.label :markets_id_in, "Market" %><br>
        <%= f.collection_select :markets_id_in, @search_presenter.selling_markets, :id, :name, {include_blank: nil}, {id: 'filter_market', multiple: true, class: [append_sticky_class(:markets_id_in, ""),'multiselect']} %>
      </span>
      <% end %>

      <% if current_user.multi_organization_membership? %>
      <span class="preserve-alignment mobile-block">
        <%= f.label :organization_id_in, "Supplier" %><br>
        <%= f.collection_select :organization_id_in, @search_presenter.seller_organizations, :id, :name, {include_blank: nil}, {id: 'filter_organization', multiple: true, class: [append_sticky_class(:organization_id_in, ""),'multiselect']} %>
      </span>
      <% end %>

      <span class="preserve-alignment mobile-block">
        <%= f.label :lots_sellable_quantity_eq, "Product availability" %><br> 
        <%= f.select :lots_sellable_quantity_eq, options_for_select([["Items with inventory", 't'], ["Items without inventory", 'f']], selected: @q.lots_sellable_quantity_eq), {include_blank: "all items"}, {class: [append_sticky_class(:lots_sellable_quantity_eq, "vanilla_select")]} %>
      </span>

      <div class="pull-right">
        <%= f.submit "Search", class: "btn--small" %>
        <%= link_to "Reset", admin_products_path(clear: ''), class: 'btn reset' if can_reset?(@query_params) %>
      </div>
    </div>
  </div>
</div>
<% end %>
