<div class="request-new-unit is-hidden modal popup">
  <div class="popup-header">
    Request a New Unit <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">
    <p>Adding new units to the system requires
    approval. Please enter the unit you'd like to
    have added. We'll have it added for you
    within 24 hours.</p>

    <%= form_tag admin_unit_request_path do %>
      <div class="field">
        <%= label_tag :singular, "Singular" %><br>
        <%= text_field_tag "singular", nil, class: "column--full" %>
      </div>

      <div class="field">
        <%= label_tag :plural, "Plural" %><br>
        <%= text_field_tag "plural", nil, class: "column--full" %>
      </div>

      <div>
        <%= label_tag :additional_notes, "Additional Notes" %><br>
        <%= text_area_tag "additional_notes", nil,  size: 2 %>
      </div>

      <div class="form-actions">
        <%= submit_tag "Request Unit" %>
      </div>
    <% end %>
  </div>
</div>
