<div class="request-new-unit is-hidden modal popup">
  <div class="popup-header">
    Request a New Unit <button>X</button>
  </div>
  <div class="popup-body">
    <p>Adding new units to the system requires
    approval. Please enter the unit you'd like to
    have added. We'll have it added for you
    within 24 hours.</p>

    <%= form_tag admin_request_units_path do %>
      <div class="inline-field">
        <%= label_tag :singular, "Singular" %><br>
        <%= text_field_tag "singular" %>
      </div>

      <div class="inline-field">
        <%= label_tag :plural, "Plural" %><br>
        <%= text_field_tag "plural" %>
      </div>

      <div class="">
        <%= label_tag :additional_notes, "Additional Notes" %><br>
        <%= text_area_tag "additional_notes" %>
      </div>

      <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>
