<div>
  <div class="l-constraint">
    <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(q: params[:q], format: :csv), class: 'export pull-right ' %>
    <h1><i class="font-icon" data-icon="&#xe01f;"></i>&nbsp; Products</h1>
    <%= render "filters" %>
  </div>
</div>

<table class="product-table product-table--admin sortable">
  <thead class="stickable">
  <tr>
    <%= content_tag(:th, sort_link(@q, :organization_name, "Supplier"), data: {column: 'supplier'}, class: "hidden-mobile") if current_user.multi_organization_membership? && policy(:all_supplier).index?%>
    <%= content_tag(:th, "Market", class: "hidden-mobile") if current_user.multi_market_membership? && policy(:all_supplier).index?%>
    <%= content_tag :th, sort_link(@q, :name, "Name"), data: {column: 'name'} %>
    <%= content_tag :th, sort_link(@q, :prices_sale_price, "Price"), data: {column: 'price'} %>
    <%= content_tag :th, sort_link(@q, :lots_quantity, "Available"), data: {column: 'stock'} %>
    <%= content_tag :th, sort_link(@q, :updated_at, "Last Updated"), data: {column: 'updated'} %>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% general_product = nil; row_style = nil; continued_product = false %>
  <% @products.decorate.each do |product| %>
    <% if !general_product || general_product != product.general_product %>
      <% general_product = product.general_product %>
      <% row_style = cycle "odd", "even" %>
      <% # This check will likely drive display of sourcing info %>
      <% list_item = "list_item" if product.cross_selling_list_products.exists? %>
      <% continued_product = false %>
    <% else %>
      <% continued_product = true %>
    <% end %>

    <tr class="product-row <%= row_style %>">
      <%= content_tag(:td, continued_product ? "" : link_to(product.organization_name, [:admin, product.organization]),
                      class: 'seller hidden-mobile') if current_user.multi_organization_membership? && policy(:all_supplier).index? %>
      <% if current_user.multi_market_membership? && policy(:all_supplier).index? %>
      <td class="market hidden-mobile">
        <% if !continued_product
              mkts = product.organization.decorate.delivery_schedules.keys.map(&:id)
              Market.active.where(id: mkts).order(:name).each do |m| %>
                <%= link_to( m.name, admin_market_path(m.id)) %><br/><br/>
              <% end
           end
        %>
      </td>
      <% end %>
      <td class="name product-name">
        <%= link_to "#{continued_product ? "" : ""}#{product.name_and_unit}", [:admin, product] %>
      </td>
      <td class="pricing">
        <ul class="l-inline-list">
          <% product.prices.view_sorted.decorate.each do |price| %>
            <li>
              <%= link_to price.quick_info, "#edit_price_#{price.id}", class: 'edit-toggle popup-toggle' %>
              <%= form_for [:admin, price.product, price], url: admin_product_price_path(price.product, price, format: :js, query_params: @query_params), html: { class: "popup popup--edit is-hidden edit_price", novalidate: "novalidate", data: { prefix: "price_#{price.id}" }} do |f| %>

              <% if !current_user.admin? && current_market.is_consignment_market? %>
                  <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
                  <hgroup>
                    <h2>Edit Consignment Price</h2>
                    <h3><%= price.product.name %></h3>
                  </hgroup>
                  <%= fields_for :price, price, index: price.id do |f| %>
                  <table class="pricing-table">
                    <thead>
                    <tr>
                      <th><label for="<%= "price_#{price.id}_sale_price" %>">Sale Price</label></th>
                      <th><label for="<%= "price_#{price.id}_net_price" %>">Net Price</label></th>
                    </tr>
                    </thead>

                    <tr>
                      <td>
                        <%= f.number_field :sale_price, min: 0, size: 4 %>
                      </td>
                      <td>
                        <%= f.number_field :net_price, min: 0, size: 4 %>
                      </td>
                    </tr>
                  </table>

                  <div class="form-actions pull-right">
                    <%= f.submit f.object.new_record? ? "Add" : "Save Price" %>
                  </div>

                <% end %>
              <% else %>
                  <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
                  <hgroup>
                    <h2>Edit Price</h2>
                    <h3><%= price.product.name %></h3>
                  </hgroup>
                  <%= fields_for :price, price, index: price.id do |f| %>
                      <div class="fields">
                        <% if policy(:advanced_pricing).index? || (current_user.seller? && organization_can_access?(price.product.organization, :advanced_pricing)) %>
                            <%= f.select :market_id, price.product.organization.all_markets_for_select, {include_blank: 'All Markets'}, {class: "select_market_id chosen"} %>
                        <% else %>
                            All Markets&nbsp;<span class="tooltip" data-tooltip="Market Selection Available in Grow Plan"></span>
                        <% end %>
                        <h3>Price for All Buyers</h3>
                        <span class="preserve-alignment" style="vertical-align: top">
                          <label style="float: left" for="<%= "price_#{price.id}_net_price" %>">Net Price</label>
                          <% if policy(:product_fees).index? && price.product_fee_pct > 0 %>
                          <label class="lock-label" for="lockFieldID" style="float: left">
                            <input type="checkbox" id="lockFieldID" class="lock-field"/>
                            <span></span>
                          </label>
                          <% end %>
                          <div style="clear: left"></div>
                          <% if price.fee == 0 %>
                            <input type="hidden" name="price[<%=price.id%>][fee]" value="0" class="fee-type mkt-fee">
                          <% elsif price.fee == 1 %>
                            <input type="hidden" name="price[<%=price.id%>][fee]" value="1" class="fee-type category-fee">
                          <% elsif price.fee == 2 %>
                            <input type="hidden" name="price[<%=price.id%>][fee]" value="2" class="fee-type product-fee">
                          <% end %>

                          <%= f.number_field :net_price, min: 0, step: 0.01, size: 4, class: 'net-price', data: {"category-fee" => json_escape(::Financials::Pricing.category_percents_by_market(price.product.organization.all_markets, price.product).to_json), "product-fee" => json_escape(price.product_fee_pct), "net-percents-by-market-id" => json_escape(::Financials::Pricing.seller_net_percents_by_market(price.product.organization.all_markets).to_json), "cc-rate" =>::Financials::Pricing.seller_cc_rate(current_market)} %>
                        </span>
                        <% if policy(:product_fees).index? && price.product_fee_pct > 0 %>
                        <span class="preserve-alignment" style="vertical-align: top">
                          <label for="<%= "price_#{price.id}_product_fee_pct" %>">Fee</label>
                          <div>
                            <%= f.number_field :product_fee_pct, min: 0, step: 0.01, size: 4, class: "fee has-product-fee", inputmode: "numeric" %>
                            <div class="markup-pct"></div>
                          </div>
                        </span>
                        <% end %>
                        <span class="preserve-alignment" style="vertical-align: top">
                          <label for="<%= "price_#{price.id}_sale_price" %>">Sale Price</label>
                          <%= f.number_field :sale_price, min: 0, step: 0.01, size: 4, class: "sale-price", inputmode: "numeric" %>
                        </span>
                        <span class="preserve-alignment" style="vertical-align: top">
                          <label for="<%= "price_#{price.id}_min_quantity" %>">Min Qty</label>
                          <%= f.number_field :min_quantity, min: 0, size: 4 %>
                        </span>
                        <div class="popup-error">
                        </div>
                      </div>
                      <div class="form-actions pull-right">
                        <%= f.submit f.object.new_record? ? "Add" : "Save Price" %>
                      </div>
                      <% if can_access?(:advanced_pricing) %>
                          <div class="links">
                            <%= link_to "✚ Add New Price", [:admin, price.product, :prices] %>
                            <%= link_to "Go to Price List", [:admin, price.product, :prices] %>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>
              <% end %>
              <%#= render partial: "edit_price_advanced", locals: { price: price.decorate } %>
            </li>
          <% end %>
        </ul>
      </td>
      <td class="stock">
        <% if product.use_simple_inventory? %>
            <% if current_user.admin? || current_market.is_buysell_market? %>
              <%= link_to product.available_inventory, "#edit_product_#{product.id}",
                      class: "edit-toggle popup-toggle" %>
            <% else %>
              <%= product.available_inventory %>
            <% end %>
            <%= form_for [:admin, product], url: admin_product_path(product, format: :js, query_params: @query_params), html: { class: "popup popup--edit is-hidden", data: { organizations: @organizations.to_json(include: :locations), type: "edit"}} do |f| %>
                <div class="fields">
                  <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
                  <hgroup>
                    <h2>Edit Inventory</h2>
                    <h3><%= product.name %></h3>
                  </hgroup>

                  <%= f.label :simple_inventory, "Quantity" %><br>
                  <%= f.number_field :simple_inventory, min: 0, size: 3 %>
                  <div class="popup-error">
                  </div>
                </div>

                <div class="form-actions">
                  <%= f.submit "Save Inventory", class: "btn--small" %>
                </div>
            <% end %>
            <%#= render partial: "edit_lot", locals: { product: product } %>
        <% else %>
          <%= link_to product.available_inventory, "#add_inventory_product_#{product.id}",
                      class: "edit-toggle popup-toggle" %>
            <%= form_for [:admin, product, product.lots.build], url: admin_product_lots_path(product, format: :js, query_params: @query_params), html: { class: "popup popup--edit is-hidden", id: "add_inventory_product_#{product.id}" } do |f| %>
                <div class="fields">
                  <button type="button" class="pull-right close"><i class="font-icon icon-close"></i></button>
                  <h2>Edit Inventory</h2>
                  <fieldset>
                    <legend>Add a lot for “<%= product.name %>”</legend>

                    <div class="row">
                      <div class="column column--half">
                        <%= f.label :number, "Lot #" %><br>
                        <%= f.text_field :number, size: 8  %>
                      </div><div class="column column--half">
                      <%= f.label :quantity %><br>
                      <%= f.number_field :quantity, min: 0, size: 3 %>
                    </div>
                    </div>

                    <div class="row">
                      <div class="column column--half">
                        <label for="lot_<%= product.id %>_good_from">Good From</label>
                        <%= f.datetime_field :good_from, size: 8, class: 'alt-datepicker', id: "lot_#{product.id}_good_from" %><a href="#lot_<%= product.id %>_good_from" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
                        <div class="datepicker" data-input="lot_<%= product.id %>_good_from"></div>
                      </div>
                      <div class="column column--half">
                        <label for="lot_<%= product.id %>_expires_at">Expires On</label>
                        <%= f.datetime_field :expires_at, size: 8, class: 'alt-datepicker', id: "lot_#{product.id}_expires_at", data: {'min-date' => 0} %><a href="#lot_<%= product.id %>_expires_at" class="btn btn--end calendar-toggle" title="Select a date"><i class="font-icon icon-calendar"></i></a>
                        <div class="datepicker" data-input="lot_<%= product.id %>_expires_at"></div>
                      </div>
                    </div>
                  </fieldset>

                  <div class="popup-error">
                  </div>
                </div>

                <div class="form-actions">
                  <%= f.submit "Save Lot", class: "btn--small" %>
                  <p><%= link_to "Edit Existing Lot",  admin_product_lots_path(product) %></p>
                </div>
            <% end %>
            <%#= render partial: "edit_lot_advanced", locals: { product: product } %>
        <% end %>
      </td>
      <td><%= product.updated_at_dte %></td>
      <% if current_user.admin? || current_market.is_buysell_market? %>
      <td class="delete action-link">
        <%= link_to raw('<i class="fa fa-trash-o">&nbsp;</i>'), [:admin, product], method: :delete,
                    data: { confirm: "Are you sure you want to permanently delete #{product.plural_units_with_name}?" },
                    title: "Delete", class: "del-link font-icon" %>
      </td>
      <% else %>
      <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @products %>

<% if @products.none? %>
    <div class="info-note">
      <h2>No Results</h2>
      This table is empty, either because there is no data, or because the filter you've applied is hiding it.
    </div>
<% end %>
