<div>
  <div class="l-constraint">
    <%= link_to "#{svg_icon} Export CSV".html_safe, url_for(format: :csv), class: 'export pull-right ' %>
    <h1><i class="font-icon" data-icon="&#xe01f;"></i>&nbsp; Products</h1>
    <%= render "filters" %>
  </div>
</div>

<table class="product-table product-table--admin sortable">
  <thead class="stickable">
  <tr>
    <%= content_tag :th, sort_link(@q, :organization_name, "Supplier"), class: "hidden-mobile" if current_user.multi_organization_membership? %>
    <%= content_tag :th, sort_link(@q, :markets_name, "Market"), class: "hidden-mobile" if current_user.multi_market_membership? %>
    <%= content_tag :th, sort_link(@q, :name, "Name") %>
    <%= content_tag :th, sort_link(@q, :prices_sale_price, "Price") %>
    <%= content_tag :th, sort_link(@q, :lots_quantity, "Stock") %>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% general_product = nil; row_style = nil; continued_product = false %>
  <% @products.decorate.each do |product| %>
    <% if !general_product || general_product != product.general_product %>
      <% general_product = product.general_product %>
      <% row_style = cycle "odd", "even" %>
      <% continued_product = false %>
    <% else %>
      <% continued_product = true %>
    <% end %>

    <tr class="product-row <%= row_style %>">
      <%= content_tag(:td, continued_product ? "" : link_to(product.organization_name, [:admin, product.organization]),
                      class: 'seller hidden-mobile') if current_user.multi_organization_membership? %>
      <%= content_tag(:td, continued_product ? "" : link_to(product.market_name, [:admin, product.organization.original_market]),
                      class: 'market hidden-mobile') if current_user.multi_market_membership? %>
      <td class="name product-name">
        <%= link_to "#{continued_product ? "" : ""}#{product.name_and_unit}", [:admin, product] %>
      </td>
      <td class="pricing">
        <ul class="l-inline-list">
          <% product.prices.view_sorted.decorate.each do |price| %>
            <li>
              <%= link_to price.quick_info, "#edit_price_#{price.id}", class: 'edit-toggle popup-toggle' %>
              <%= render partial: "edit_price_advanced", locals: { price: price } %>
            </li>
          <% end %>
        </ul>
      </td>
      <td class="stock">
        <% if product.use_simple_inventory? %>
          <%= link_to product.available_inventory, "#edit_product_#{product.id}",
                      class: "edit-toggle popup-toggle" %>
          <%= render partial: "edit_lot", locals: { product: product } %>
        <% else %>
          <%= link_to product.available_inventory, "#add_inventory_product_#{product.id}",
                      class: "edit-toggle popup-toggle" %>
          <%= render partial: "edit_lot_advanced", locals: { product: product } %>
        <% end %>
      </td>
      <td class="delete action-link">
        <%= link_to raw('<i class="fa fa-trash-o">&nbsp;</i>'), [:admin, product], method: :delete,
                    data: { confirm: "Are you sure you want to permanently delete #{product.plural_units_with_name}?" },
                    title: "Delete", class: "del-link font-icon" %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @products %>

<% if @products.none? %>
    <div class="info-note">
      <h2>No Results</h2>
      This table is empty, either because there is no data, or because the filter you've applied is hiding it.
    </div>
<% end %>
