<div class="l-page-header">
  <h1>Add Product</h1>
  <%= product_listing_disclaimer %>
</div>

<%= render "tabs" %>

<div class="row row--partial">
  <%= form_for [:admin, @product], html: { class: "column column--three-fourths" } do |f| %>
    <%= render "fields", {f: f} %>

    <div class="row form-actions">
      <%= f.submit "Add Product" %>
    </div>
  <% end %>
</div>
