<%= render "header" %>
<div class="row row--partial">
  <%= form_for [:admin, @product], html: { class: "product column column--half", data: { organizations: @organizations.to_json(include: :locations), type: 'new'}} do |f| %>
    <%= render "fields", {f: f} %>

    <div class="row form-actions">
      <p class="action-helper">When the product info is complete <%= f.submit "Save and Contiue" %></p>
    </div>
  <% end %>
</div>

<%= render "new_unit_modal" %>
<%= render "new_category_modal" %>
