<div>
  <h1>Add Product</h1>
  <%= product_listing_disclaimer %>
</div>

<%= render "tabs" %>

<%= form_for [:admin, @product] do |f| %>
  <%= render "fields", {f: f} %>

  <div>
    <%= f.submit "Add Product" %>
  </div>
<% end %>
