<div class="l-page-header">
  <h1>Update Product</h1>
  <a href="#" class="delete todo">Delete</a>
</div>

<%= render "tabs" %>

<div class="row row--partial">
  <%= product_listing_disclaimer %>
  <%= form_for [:admin, @product], html: { class: "product column column--half", data: { organizations: @organizations.to_json(include: :locations), type: "edit"}} do |f| %>


    <%= render "fields", {f: f} %>

    <div class="form-actions">
      <%= f.submit "Save Product" %>
    </div>
  <% end %>
</div>

<%= render "new_unit_modal" %>
<%= render "new_category_modal" %>
