<%= render "admin/products/header" %> 

<div class="row row--partial">
  <%= product_listing_disclaimer %>
  <%= form_for [:admin, @product], html: { class: "product column column--half", data: { organizations: @organizations.to_json(include: :locations), type: "edit"}} do |f| %>


    <%= render "fields", {f: f} %>

    <div class="form-actions">
      <p class="action-helper">When the product info is complete <%= f.submit "Save and Continue" %></p>
    </div>
  <% end %>
</div>

<%= render "new_unit_modal" %>
<%= render "new_category_modal" %>
