<%= product_listing_disclaimer %>

<h1>Update Product</h1>

<%= render "tabs" %>

<%= form_for [:admin, @product] do |f| %>
  <%= render "fields", {f: f} %>

  <div>
    <%= f.submit "Save Product" %>
  </div>
<% end %>
