<% if bank_account.verified? %>

  <tr class="bank-account">
    <td class="bank-name"><%= bank_account.bank_name %></td>
    <td class="name"><%= bank_account.name %></td>
    <td class="account-number">******<%= bank_account.last_four %></td>
    <td class="account-type"><%= bank_account.account_type.titleize %></td>
    <td class="verified">
        <i class="font-icon icon-checkmark"></i> Verified
    </td>
    <td class="notes"><%= bank_account.notes %></td>
    <td class="delete">
      <%= link_to raw("&#57418;"), [:admin, @entity, bank_account], data: { method: :delete }, title: "Delete" %>
    </td>
  </tr>

<% else %>

  <tr class="bank-account unverified-bank-data">
    <td class="bank-name"><%= bank_account.bank_name %></td>
    <td class="name"><%= bank_account.name %></td>
    <td class="account-number">******<%= bank_account.last_four %></td>
    <td class="account-type"><%= bank_account.account_type.titleize %></td>
    <td class="verified">    </td>
    <td class="notes"><%= bank_account.notes %></td>
    <td class="delete"><%= link_to raw("&#57418;"), [:admin, @entity, bank_account], data: { method: :delete }, title: "Delete" %></td>
  </tr>
  <tr class="unverified">
    <td colspan="7"><%= link_to "Verify Account", [:admin, @entity, bank_account, BankAccountVerification.new], class: "btn btn--blue btn--small" %> <span class="please-verify">This account needs to be verified. Please click the button and follow the instructions.</span></td>
  </tr>

<% end %>
