<%= render "admin/bank_accounts/header" %>

<div class="row row--partial">
<form class="column column--three-fourths" id="balanced-payments-uri" data-balanced-marketplace-uri="<%= ENV["BALANCED_MARKETPLACE_URI"] %>" data-target-form="new_bank_account" data-balanced-object-type="bankAccount">
  <%= render 'shared/enable_javascript' %>

  <%= render 'shared/errors', resource: @bank_account %>

  <fieldset>
    <legend>Account Information</legend>
    <%= link_to "Our Security Assurance", "#security-assurance", class: "popup-toggle" %>
    <div class="is-hidden popup popup--wide with-anchor top-anchor" id="security-assurance">
      <h3>About Our Security Assurance</h3>
      <p>Adding a payment method to your Local Orbit powered market is safe and secure. Here's how we protect you:</p>
      <ul>
       <li>No one from Local Orbit, your market or the payment processor can view or access your bank account or credit card information at any time. Account information is stored using the strictest security standards and transmitted securely by our payments provider.</li>
       <li>You will receive a receipt each time you make an online payment so you can monitor your account activity.</li>
      </ul>
    </div>

    <div>
      <% if current_user.market_manager? %>
        <p>This payment method will be used to deliver payments from orders and from where you will be charged Local Orbit fees.</p>
      <% elsif current_user.buyer_only? %>
        <p>This payment method will be used to fulfill your orders.</p>
      <% else %>
        <p>This payment method will be used to deliver payments from orders.</p>
      <% end %>
    </div>

    <div class="row">
      <div class="field column column--half column--guttered">
        <label for="balanced_account_name">Name</label>
        <span class="hint">Full name as it appears on the account</span>
        <br>
        <input id="balanced_account_name" type="text" name="name" value="<%= @bank_account.name %>" class="column--full">
      </div
      ><div class="field column column--half column--guttered">
        <label for="balanced_account_type">Account Type</label><br>
        <%= select_tag :type, account_type_options(@bank_account), prompt: 'Select an account type', id: 'balanced_account_type', class: 'column--full' %>
      </div>
    </div>

    <fieldset id="bank-account-fields" <%= raw 'class="is-hidden" disabled' if @bank_account.account_type.nil? || is_credit_card?(@bank_account) %>>
      <div class="row">
        <div class="field column column--half column--guttered">
          <label for="balanced_routing_number">Routing Number</label><br>
          <input class="column--full" id="balanced_routing_number" type="text" name="routing_number">
        </div
        ><div class="field column column--half column--guttered">
          <label for="balanced_account_number">Account Number</label><br>
          <input class="column--full" id="balanced_account_number" type="text" name="account_number">
        </div>
      </div>
      <div class="row">
        <div class="field column column--half column--guttered">
          <label for="bank-account-notes">Notes</label><br>
          <input class="column--full" id="bank-account-notes" type="text" name="notes">
        </div>
      </div>
    </fieldset>

    <fieldset id="credit-card-fields" <%= raw 'class="is-hidden" disabled' unless @bank_account.account_type.present? && is_credit_card?(@bank_account) %>>
      <div class="row">
        <div class="field column column--half column--guttered">
          <label for="balanced_card_number">Card Number</label><br>
          <input class="column--full" id="balanced_card_number" type="text" name="card_number">
        </div
        ><div class="field column column--half column--guttered">
          <label for="balanced_security_code">Security Code</label><br>
          <input class="column--full" id="balanced_security_code" type="text" name="security_code">
        </div>
      </div>
      <div class="row">
        <div class="field column column--fourth column--guttered">
          <label for="expiration_month">Month</label><br>
          <%= select_tag(:expiration_month, options_for_select(expiration_month_options), class: "column--full") %>
        </div
        ><div class="field column column--fourth column--guttered">
          <label for="expiration_year">Year</label><br>
          <%= select_tag(:expiration_year, options_for_select(expiration_year_options), class: "column--full") %>
        </div
        ><div class="field column column--half column--guttered">
          <label for="credit-card-notes">Notes</label><br>
          <input class="column--full" id="credit-card-notes" type="text" name="notes">
        </div>
      </div>
    </fieldset>

  </fieldset>
</form>

<%= form_for [:admin, @entity, @bank_account], html: { class: "column column--three-fourths" } do |f| %>
  <fieldset id="underwriting-fields" class="is-hidden" disabled>
    <% unless @entity.balanced_underwritten? || (defined?(@entity.can_sell) && !@entity.try(:can_sell?)) %>

      <fieldset>
        <legend>Account Verification Information</legend>
        <p>Please provide as much of the following information as you can to help us verify your account with our payment processor.</p>
        <div class="row">
         <div class="field column column--half column--guttered">
          <label for="representative_ein">Organization <abbr title="Employer Identification Number">EIN</abbr></label><br>
          <input class="column--full" id="representative_ein" type="text" name="representative[ein]" size="9">
          <span class="hint">We recommend providing an EIN if it is available.</span>
        </div
        ><div class="field column column--half column--guttered">
          <label for="representative_name">Full Legal Name</label><br>
          <input id="representative_name" type="text" name="representative[name]" class="column--full">
        </div>

        <div class="row row--field">
          <div class="field column column--half column--guttered">
            <label>Date of Birth</label><br>
            <%= select_date 18.years.ago.beginning_of_year, start_year: 100.years.ago.year, end_year: 18.years.ago.year, use_short_month: true, order: [:month, :day, :year], prefix: "representative[dob]" %>
          </div
          ><div class="field column column--half column--guttered">
            <label for="representative_ssn_last4">Last 4 of SSN</label><br>
            <input id="representative_ssn_last4" type="text" name="representative[ssn_last4]" size="4" maxlength="4">
             <span class="hint">We recommend providing the last 4 of your SSN if you can.</span>
          </div>
        </div>

        <div class="row">
          <div class="field column column--half column--guttered">
            <label for="representative_address_line1">Street Address (Personal)</label><br>
            <input id="representative_address_line1" type="text" name="representative[address][line1]" class="column--full">
             <span class="hint">This is optional but is strongly recommended.</span>

          </div
          ><div class="field column column--half column--guttered">
            <label for="representative_address_postal_code">Zip Code (Personal)</label><br>
            <input id="representative_address_postal_code" type="text" name="representative[address][postal_code]" size="10">
             <span class="hint">This is optional but is strongly recommended.</span>

          </div>
        </div>
      </fieldset>
    <% end %>
  </fieldset>

  <input type="hidden" name="type" value="checking" id="account_type">
  <input type="hidden" name="bank_account[notes]" value="" id="notes">
<% end -%>

  <ul id="balanced-js-errors" class="form-errors"></ul>

  <div class="column column--three-fourths">
    <div class="form-actions">
      <%= link_to "Cancel", [:admin, @entity, @bank_account], class: "btn cancel" %>
      <input type="submit" value="Save This Payment Method" id="submit-bank-account">
    </div>

  </div>
</div>
