<%= search_form_for @finder.q, url: url, html: { class: "invoice_search clear-after" } do |f| %>
  <div class="pull-left">
    <span class="preserve-alignment">
      <%= f.label :order_number_cont, "Search Payments" %><br>
      <%# NOTE: Do not change the whitespace on the following line %>
      <%= f.search_field :order_number_cont, placeholder: "Order #" -%><%= f.submit "Search", class: "btn--end" %>
    </span>
  </div>

  <div class="pull-right">
    <span class="preserve-alignment">
      <label for="q_placed_at_date_gteq">Filter by Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: 'datepicker' %>
    </span>
    <span class="preserve-alignment">
      <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: 'datepicker' %>
    </span>
    <span class="preserve-alignment">
      <br>
      <%= f.submit "Filter", class: "btn--small" %>
    </span>
  </div>

  <div class="manager-filters">
    <% if current_user.multi_market_membership? %>
    <span class="preserve-alignment">
      <%= f.label :market_id_eq, "Market" %><br>
      <%= f.collection_select :market_id_eq, @search_presenter.selling_markets, :id, :name, {include_blank: "All"}, {class: "filter-input"} %>
    </span>
    <% end %>

    <span class="preserve-alignment">
      <label for="filtered_organization_id">Sellers</label><br>
      <%= select_tag :filtered_organization_id, options_from_collection_for_select(@search_presenter.seller_organizations, :id, :name, selected: @search_presenter.organization_id), {prompt: "All", class: "filter-input"} %>
    </span>

    <span class="preserve-alignment">
      <%= f.label :payment_status_eq, "Payment Status" %><br>
      <%= f.select :payment_status_eq, @search_presenter.payment_statuses, {include_blank: "All"}, {class: "filter-input"} %>
    </span>
  </div>
<% end %>
