<%= search_form_for @finder.q, url: url, html: { class: "invoice_search clear-after" } do |f| %>
  <div class="manager-filters">
    <span class="preserve-alignment">
      <%= f.label :market_id_eq, "Market" %><br>
      <%= f.collection_select :market_id_eq, @search_presenter.selling_markets, :id, :name, {include_blank: "Show by Market"}, {class: "filter-input"} %>
    </span>

    <span class="preserve-alignment">
      <%= f.label :products_organization_id_eq, "Sellers" %><br>
      <%= f.collection_select :products_organization_id_eq, @search_presenter.seller_organizations, :id, :name, {include_blank: "Show by Seller"}, {class: "filter-input"} %>
    </span>
  </div>
  <span class="preserve-alignment">
    <br>
    <%= f.submit "Filter", class: "btn--small" %>
  </span>
<% end %>
