<%= search_form_for @finder.q, url: url, html: { class: "invoice_search clear-after" } do |f| %>
  <div class="pull-left search-widget">
    <span class="preserve-alignment">
      <%= f.label :order_number_cont, "Search Payments" %><br>
      <%# NOTE: Do not change the whitespace on the following line %>
      <%= f.search_field :order_number_cont, placeholder: "Order #", class: append_sticky_class(:order_number_cont) -%><%= f.submit "Search", class: "btn--end" %>
    </span>
  </div>

  <div class="pull-right date-filters">
    <span class="preserve-alignment">
      <label for="q_placed_at_date_gteq">Filter by Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_gteq]", @search_presenter.start_date, class: append_sticky_class('placed_at_date_gteq', 'datepicker', [1.months.ago.to_date.to_s]) %>
    </span>
    <span class="preserve-alignment">
      <label for="q_placed_at_date_lteq" class="is-invisible">End Date</label><br>
      <%= datetime_field_tag "q[placed_at_date_lteq]", @search_presenter.end_date, class: append_sticky_class('placed_at_date_lteq', 'datepicker', [Date.today.to_s]) %>
    </span>
    <span class="preserve-alignment">
      <br>
      <%= f.submit "Filter", class: "btn--small mobile-block" %>
    </span>
  </div>

  <div class="manager-filters">
    <% if current_user.multi_market_membership? %>
    <span class="preserve-alignment">
      <%= f.label :market_id_in, "Market" %><br>
      <%= f.collection_select :market_id_in, @search_presenter.selling_markets, :id, :name, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:market_id_in, "filter-input"),'multiselect']} %>
    </span>
    <% end %>

    <span class="preserve-alignment">
      <label for="organization_id_in">Suppliers</label><br>
      <%= select_tag :organization_id_in, options_from_collection_for_select(@search_presenter.seller_organizations, :id, :name, selected: @search_presenter.organization_id), {multiple: true, prompt: nil, class: [append_sticky_class(:organization_id_in, "filter-input"),'multiselect']} %>
    </span>

    <span class="preserve-alignment">
      <%= f.label :payment_status_in, "Payment Status" %><br>
      <%= f.select :payment_status_in, @search_presenter.payment_statuses, {include_blank: nil}, {multiple: true, class: [append_sticky_class(:payment_status_in, "filter-input"),'multiselect']} %>
    </span>
    <%= link_to "Reset", admin_financials_vendor_payments_path(clear: '', sort: @query_params["sort"]), class: 'btn reset' if can_reset?(@query_params) %>

  </div>
<% end %>
