<%= render "admin/financials/header" %>

<h1>Record Payments to Vendors</h1>

<div>These sellers have outstanding payments that need to be recorded.</div>

<% @sellers.each do |seller| %>
<div class="vendor-payment">
  <h2><%= seller.name %></h2>
  <%= form_tag [:admin, :financials, :vendor_payments] do %>
    <%= hidden_field_tag :seller_id, seller.id %>
    <table class="total">
      <tr>
        <td class="order-count"><%= pluralize(seller.order_count, "order") %> <%= link_to "Review", "#", class: "review-orders" %></td>
        <td class="delivery-status">All Delivered</td>
        <td class="buyer-payment-status"><%= seller.unpaid_count == 0 ? "All paid" : "#{seller.unpaid_count} unpaid" %></td>
        <td class="owed"><%= number_to_currency seller.owed %></td>
        <td class="pay-now"><%= link_to "Pay All Now", "#", class: 'pay-all-now' %></td>
      </tr>
    </table>
    <table class="is-hidden">
      <% seller.orders.each do |order| %>
        <tr class="payment-order">
          <td><%= check_box_tag 'order_ids[]', order.id, true, class: 'seller-order-id', data: {owed: order.net_total} %></td>
          <td class="order-number">
            <%= link_to order.order_number, admin_order_path(order) %>
            <%= link_to 'PDF', invoice_admin_invoice_path(order.id, format: 'pdf'), class: 'pdf-download', target: '_blank' if order.invoiced? %>
          </td>
          <td><%= order.placed_at.strftime("%b %d, %Y") %></td>
          <td><%= order.delivery_status.titleize %></td>
          <td><%= order.payment_status.titleize %></td>
          <td><%= number_to_currency order.net_total %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5" class="math">Total Selected</td>
        <td class="total-owed"><%= number_to_currency seller.owed %></td>
      </tr>
      <tr>
        <td colspan="6" class="math"><%= submit_tag 'Pay Selected Now', class: 'btn--small' %></td>
      </tr>
    </table>
  <% end %>
</div>
<% end %>
