    <!-- Preset market values --> 
    <%= f.hidden_field :plan_id %>
    <%= f.hidden_field :pending %>
    <%= f.hidden_field :stripe_tok %>

    <div id="tabs">
      <ul id="market-tab-list">
        <li class="pass"><span class="anchor">Plan Selection</span></li>
        <li><a href="#form-contact-info">Contact Info</a></li>
        <li><a href="#form-terms">Service Agreement</a></li>
        <li><a href="#form-billing">Billing</a></li>
        <li><a href="#form-review">Review</a></li>
      </ul>

      <!--==== Form tab break ==========================================================-->
      <div id="form-contact-info">
        <fieldset id="fields-contact-info">
          <h2>Contact Information</h2>
          <div class="field">
            <%= f.text_field :contact_name, class: "column--full", placeholder: 'Contact Name' %>
          </div>
          <div class="row row--field">
            <div class="field column column--half column--guttered">
              <%= f.email_field :contact_email, class: "column--full", placeholder: 'Email' %>
            </div
            ><div class="field column column--half column--guttered">
              <%= f.text_field :contact_phone, size: 18, class: "column--full", placeholder: 'Phone' %>
            </div>
          </div>

          <h2>Market Information</h2>
          <div class="row row--field">
            <div class="field column column--half column--guttered">
              <span class="help-text">This is the primary name of your market.<br />Don't forget to double check your spelling.</span>
              <br>
              <%= f.text_field :name, class: "column--full", placeholder: 'Market Name' %>
            </div
            ><div class="field column column--half column--guttered">
              <span class="help-text">This will be your site's web address<br />ex. yourbusiness.localorbit.com</span>
              <span class="tooltip pull-right" data-tooltip="Your site URL must be all lower case, with no spaces or special characters">&nbsp;</span>
              <br>
              <%= f.text_field :subdomain, class: "column--full", placeholder: 'Subdomain' %>
            </div>
          </div>
        </fieldset>

        <div class="wizard_nav_div">
          <button class="wizard_nav" target="#form-terms">Continue</button>
        </div>
      </div> <!-- end form-contact-info -->

      <!--==== Form tab break ==========================================================-->
      <div id="form-terms">
        <fieldset>
          <h2>Service Agreement</h2>
          <div id="terms-of-service">
            <h2>Local Orbit User Agreement</h2>
                      
            <p>The following describes the terms on which Local Orbit offers you access to our services. Outlined below are the terms and conditions for each type of user: <b>Buyers, Sellers and Market Manager Organizations</b>. LocalEyes™ customers are, in addition, bound by the terms in their individual service agreements.</p>
            <h1>Introduction</h1>
            <p>By using the services provided by localorbit.com or localorb.it (hereafter referred to as <q>Local Orbit</q>) in both its domains and sub-domains, you agree to the terms and conditions provided in this User Agreement and Local Orbit&#8217;s Privacy Policies. In addition, when using Local Orbit services you agree to adhere to any posted guidelines which may be updated periodically. If you have any questions, please contact us. Prior to becoming a user of Local Orbit, you must read and accept all of the terms and conditions in, and linked to, this User Agreement and the Privacy Policy.  These agreements are effective as of May 15, 2015. Local Orbit and its users work together to keep Local Orbit and the Local Orbit user community safe. Please report problems, offensive content, and policy violations to us. If we believe a user is not complying with the terms and conditions in this User Agreement, poses a legal liability, creates problems, or acts inconsistently with the letter or spirit of our policies, we reserve the right to terminate or suspend service, prohibit Local Orbit access, remove postings, and take technical and legal steps to prohibit access. Fees and Services</p>
            <h4>Local Orbit powered Marketplaces</h4>
            <p>Local Orbit offers different service levels for organizations that set up “white label” marketplaces on the Local Orbit platform.   Service levels, with features and pricing, are listed on the <a href="http://localorbit.com/pricing-detail">Pricing Detail Page</a>.  Service levels and features are subject to change.</p>
            <h4>LocalEyes™ Vendor Management Service</h4>
            <p>If you are a LocalEyes™ customer, specific features, pricing and services are set forth in your organization’s service agreement.</p>
            <h1>Users</h1>
            <p><b>Sellers include</b> any individual seller, aggregator, distributor or broker that sells products through the Local Orbit platform. <b>Buyers include</b> any individual buyer or business that orders products through the Local Orbit platform. <b>Market Manager Organizations include</b> any individual or business that uses the  Local Orbit platform to operate their distribution, aggregation, exchange, market cooperative or other business that sells products from one or more seller through the Local Orbit platform.</p>
            <h2>User Commitment</h2>
            <p>Whenever using Local Orbit as a buyer, seller, procurement manager, market manager or other user, you will not:</p>
            <ul>
            <li>Use our services if you are under the age of 18, not able to form legally binding contracts, or are suspended from Local Orbit;</li>
            <li>Fail to remit payment for items purchased by you, unless the Seller has agreed in writing to a price alteration, or a clear typographical mistake has been made;</li>
            <li>Compromise, transfer, or share your Local Orbit account (including feedback), Login or password to another party without our consent;</li>
            <li>Distribute or post spam, chain letters, or pyramid schemes;</li>
            <li>Distribute viruses or any other technologies that may harm Local Orbit, or the interests or property of Local Orbit users;</li>
            <li>Post items or content in an improper category or area on Local Orbit;</li>
            <li>Fail to deliver product purchased from you on the date specified, unless an alternate agreement has been reached and documented in writing with the Buyer;</li>
            <li>Evade or manipulate any payment structure, the billing process, or fees owed to Local Orbit, Local Orbit powered markets or Sellers on the Local Orbit platform;</li>
            <li>Post false, inaccurate, misleading, defamatory, or libelous content (including personal information);</li>
            <li>Violate any laws, third party rights, or our policies;</li>
            <li>Interfere with other users&#8217; listings;</li>
            <li>Copy, modify, or distribute content from Local Orbit and Local Orbit&#8217;s copyrights; or</li>
            <li>Gather information about users without their consent.</li>
            </ul>
            <h1>Prohibited and Restricted Items &#8211; Overview</h1>
            <p>Before you list your item, you need to find out if your item is allowed on Local Orbit and if the type of item is subject to certain restrictions to avoid potential issues with your listing. As a Local Orbit Seller or Market Manager, you are ultimately responsible for making sure that selling an item is legal in the eyes of the law. Violations of these policies may result in a range of actions, including:</p>
            <ul></ul>
            <ul>
            <li>Listing cancellation</li>
            <li>Limits on account privileges</li>
            <li>Account suspension</li>
            </ul>
            <p>When policy violations occur, Local Orbit emails the Market Manager, Seller and/or Buyer that a listing has been ended. You may contact Local Orbit to report violations by using <q>Contact Us</q> links found on most pages throughout the application. It is the responsibility of Market Managers, Sellers and Buyers to be aware of and compliant with these laws.  Policies about listing items are often based on country and state laws. These laws may also vary depending on product type, distribution methods, the end Buyer, and the amount sold. This includes any state laws regarding certification, grading, sorting, labeling, or marketing.  When selling across borders, be aware of trading and import restrictions. Certain items may be legal in your country or state, but may be illegal to sell outside border lines.</p>
            <h1>Rules for Listings</h1>
            <p>To promote a safe, fair, and enjoyable trading experience, Local Orbit has established a set of rules and policies for item listings. These restrictions involve how certain items are described, and practices that would provide an unfair advantage or result in a negative Buyer experience. Violations of these policies may result in a range of actions, including:</p>
            <ul>
            <li>Listing cancellation</li>
            <li>Limits on account privileges</li>
            <li>Account suspension</li>
            </ul>
            <p>When policy violations occur, Local Orbit sends an email to the Market Manager, Seller, and/or Buyer, to let them know of actions being taken. Any policy violations can be reported to Local Orbit using the Contact Us page.  Listings must not misrepresent items. Sellers need to make sure that their listings accurately represent the item being sold. Except as noted in the specific policy as exceptions, Sellers cannot:</p>
            <ul>
            <li>Incorrectly identify or omit the Product Origin</li>
            <li>List items in inappropriate categories</li>
            <li>Include brand names or other inappropriate keywords in a title or description</li>
            <li>Have misleading titles that do not accurately describe the item for sale</li>
            <li>List items, but then describe a different item in the description</li>
            </ul>
            <h4>Product Origin</h4>
            <p>All products listed on Local Orbit must identify their point of origin.  Misrepresentation or omission of the Product Origin is called false labeling. Listings cannot use techniques to avoid or circumvent any payment processing fees or other fees charged by Local Orbit powered markets. Except as noted in the specific policy as exceptions, Sellers cannot:</p>
            <ul>
            <li>Offer a catalog from which Buyers may directly order</li>
            <li>Allow Buyers a choice of significantly different items</li>
            <li>Include separate, hidden payment surcharges</li>
            <li>Offer the opportunity through Local Orbit to purchase the item or other merchandise outside of Local Orbit</li>
            <li>Use their Profile Page to promote outside-of-Local Orbit sales or prohibited items</li>
            <li>Include links that go outside of the Local Orbit site, with the exception of links to further descriptions, photos, and their business website</li>
            <li>Promote giveaways, random drawings, raffles, prizes, or bonuses</li>
            <li>Create a listing that does not offer an item or service</li>
            <li>Solicit support for a cause or campaign</li>
            <li>Advertise a desire to buy or trade items, except as allowed in site tools or features created specifically for this purpose</li>
            <li>Include third party endorsements</li>
            <li>Include third party credits</li>
            <li>Use profanity in a listing</li>
            </ul>
            <h2>Food Handling</h2>
            <p>Market Manager Organizations and Sellers shall be responsible for compliance with established food handling and storage methods for products managed through the Local Orbit platform.</p>
            <h2>Liability</h2>
            <p>The user shall indemnify, defend and hold harmless Local Orbit and its successors from and against any and all claims, demands, causes of action, losses, damages, costs and expenses (including reasonable attorneys’ fees) that might arise or be imposed due to the user’s, or the employees of the user’s, breach of its obligations under this Agreement.  Market Manager Organizations, Buyers and Sellers acknowledge and agree that Local Orbit shall have no liability in connection with the food supplied by vendors.</p>
            <h2>Financial Reporting, Billing and Payment Terms</h2>
            <p>All services are based on annual subscription fees. Local Orbit will maintain electronic records and back-ups of transactions.  Market Manager Organizations, Buyers and Sellers will be able to review online reports for current and historic sales and fees.</p>
            <h2>Payment Processing</h2>
            <p>If you use credit cards to make or accept payments, you agree to the terms of Local Orbit’s payment processor, <a href="https://stripe.com/us/terms">Stripe</a>.   If the Market Manager Organization or Seller uses Local Orbit’s optional payment processing services, through the Local Orbit platform, Stripe will transfer funds to the Market Manager Organization every Wednesday, after deducting its payment processing fees.  Local Orbit reserves the right to change the weekly payment day, if it provides at least thirty days’ notice to the Market Manager Organization.</p>
            <h2>Confidentiality</h2>
            <p>Users hereby acknowledge that in connection with the use of the Local Orbit Platform and Services, users will have access to and may receive confidential information concerning Local Orbit and its affiliated companies, customers, pricing, services, systems, strategies, products and similar information.   All users hereby agree that all such confidential information will be treated as confidential, that Market Manager Organizations, Sellers, Buyers and their employees will follow appropriate procedures to safeguard such confidential information, and, except in the performance of the Market Manager Organization duties under this Agreement, Market Manager Organizations, Sellers, Buyers and their employees will not at any time disclose any such confidential information to any third party without our prior written consent, during or after the term of this agreement.</p>
            <h2>Copyright and Trademark</h2>
            <p>Local Orbit owns intellectual property rights to any protectable part of its Platform, including but not limited to the design, artwork, functionality, and documentation.  Users may not copy, modify, or reverse engineer any part of the Platform or Services owned by Local Orbit.   The domain names created for the any Local Orbit powered marketplaces or vendor management portals are the property of Local Orbit.  Local Orbit will provide a royalty-free license to the organization for the domain name and Local Orbit trademarks during the term of the Agreement.</p>
            <h2>Proprietary Rights</h2>
            <p>Local Orbit is protected to the maximum extent permitted by copyright laws and international treaties. Content displayed on or through Local Orbit is protected by copyright as a collective work and/or compilation, pursuant to copyrights laws, and international conventions. Any reproduction, modification, creation of derivative works from or redistribution of Local Orbit or the collective work, and/or copying or reproducing content displayed on or through Local Orbit to any other server or location for further reproduction or redistribution is prohibited without the express written consent of Local Orbit. You further agree not to reproduce, duplicate or copy such content without the express written consent of Local Orbit, and agree to abide by any and all copyright notices displayed on Local Orbit. You may not decompile or disassemble, reverse engineer or otherwise attempt to discover any source code contained in the Local Orbit service. Without limiting the foregoing, you agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any aspect of the Local Orbit service. When you give Local Orbit content, you grant Local Orbit a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise the copyright, trademark, publicity and database rights (but no other rights) you have in the content, in any media known now or in the future.</p>
            <h2>Disclaimer of Warranties</h2>
            <p>You agree that use of Local Orbit and the services offered by Local Orbit are entirely at your own risk. Local Orbit and services are provided on an <q>as is</q> or <q>as available</q> basis, without any warranties of any kind. All express and implied warranties, including, without limitation, the warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights are expressly disclaimed to the fullest extent permitted by law. To the fullest extent permitted by law, Local Orbit disclaims any warranties for the security, reliability, timeliness, accuracy, and performance of Local Orbit services. To the fullest extent permitted by law, Local Orbit disclaims any warranties for other services accessed through any links on Local Orbit. To the fullest extent permitted by law, Local Orbit disclaims any warranties for viruses or other harmful components in connection with Local Orbit services. Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, some of the foregoing disclaimers may not apply to you insofar as they relate to implied warranties.</p>
            <h2>Liability</h2>
            <p>You will not hold Local Orbit responsible for other users&#8217; actions or inactions. You acknowledge that Local Orbit is not a broker. Local Orbit is a service to allow anyone to offer, sell, and buy locally at any time. We are not involved in the actual transaction between Buyers and Sellers. We have no control over and do not guarantee the quality, safety or legality of items advertised, the truth or accuracy of listings, the ability of Sellers to sell items, the ability of Buyers to pay for items, the timeliness of deliveries, or that a Buyer or Seller will actually complete a transaction.   We do not transfer legal ownership of items from the Seller to the Buyer. Unless the Buyer and the Seller agree otherwise, the Buyer will become the item’s lawful owner upon physical receipt of the item from the Seller   Further, we cannot guarantee continuous or secure access to our services, and operation of Local Orbit may be interfered with by numerous factors outside of our control. Accordingly, to the extent legally permitted, we exclude all implied warranties, terms and conditions. We are not liable for any loss of money, goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of Local Orbit. Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you.   Regardless of the previous paragraph, if we are found to be liable, our liability to the user or to any third party is limited to $100.   Local Orbit may contain hyperlinks or <q>links</q> to and from other web sites. These web sites may have user agreements that differ from our User Agreement so please review the terms of any other web sites that you visit. Our User Agreement applies solely to our web site. These links do not imply any affiliation between Local Orbit and the owners of other web sites, or any endorsement, approval or verification of any content contained on other web sites.</p>
            <h2>No Agency</h2>
            <p>No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this Agreement.</p>
            <h2>Resolution of Disputes</h2>
            <p>In the unlikely event a dispute arises between you and Local Orbit, our goal is to provide you with a neutral and cost effective means to resolve the dispute quickly. Before resorting to litigation, we strongly encourage you to first contact us directly to seek a resolution. We will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation. If, however, either you or Local Orbit choose to resolve the dispute through litigation, any legal proceedings concerning this Agreement shall be brought in the U.S. District Court for the Michigan Eastern District, Sixth Circuit, in Ann Arbor, Michigan, and you hereby consent to the personal jurisdiction of those Courts and waive any defenses that you may otherwise have relating to such jurisdiction.</p>
            <h2>Governing Law</h2>
            <p>This Agreement shall be governed in all respects by the laws of the State of Michigan as they apply to agreements entered into and to be performed entirely within Michigan between Michigan residents, without regard to conflict of law provisions.</p>
            <h2>General</h2>
            <p>Local Orbit reserves the right to amend this Agreement at any time. Amended terms will be posted on this page.  Amendments shall automatically be effective 7 days after they are initially posted. Use of Local Orbit assumes agreement with posted amendments. You’ll also be notified of any amendments at least one week before they take effect.</p>
          </div>

          <div id="accept-terms-of-service" class="pull-right">
            <%= check_box_tag("accept-terms-of-service", value = "1", checked = false ) %> <label for="accept-terms-of-service">Yes, I agree</label>
          </div>

        </fieldset>

        <div class="wizard_nav_div">
          <button class="wizard_nav" target="#form-contact-info">Previous</button>
          <button class="wizard_nav" target="#form-billing">Continue</button>
        </div>

      </div> <!-- end form-terms -->

      <!--==== Form tab break ==========================================================-->
      <div id="form-billing">
        <fieldset>
          <h2>Billing</h2>
          <div class="row">
            <div class="field column column--half column--guttered">
              <%= text_field(:billing, :address, placeholder: 'Address', class: "column--full") %>
            </div
            ><div class="field column column--half column--guttered">
              <%= text_field(:billing, :city, placeholder: 'City', class: "column--full") %>
            </div>
          </div>

          <div class="row row--field">
            <div class="field column column--half column--guttered">
              <%= text_field(:billing, :state, placeholder: 'State', class: "column--full") %>
            </div
            ><div class="field column column--half column--guttered">
              <%= text_field(:billing, :zip, placeholder: 'Zip', class: "column--full") %> 
            </div>
          </div>

          <div class="row row--field">
            <div class="field column column--half column--guttered">
              <%= text_field(:billing, :phone, placeholder: 'Phone') %> 
            </div>
          </div>
        </fieldset>

        <div class="wizard_nav_div">
          <button class="wizard_nav" target="#form-terms">Previous</button>
          <button class="wizard_nav" target="#form-review">Continue</button>
        </div>
      </div> <!-- end form-billing -->

      <!--==== Form tab break ==========================================================-->
      <div id="form-review">
        <fieldset>
          <h2>Review Plan Selection</h2>
          <div class="row">
            <div class="field column column--third column--guttered">
              <%= select(:details, :plan, @plan_data.each.map {|plan| [plan[:name], plan[:id]] }, {selected: @stripe_plan.try(:id) }, { class: "column--full" } ) %><br />
              <span class="help-text">You will be billed annually for your<br />Local Orbit Service Plan</span>
              <%# KXM This remains for its potential: <span class="help-text">You will be billed <%= number_to_currency(@stripe_plan.amount/100) % > every <%= pluralize(@stripe_plan.interval_count, @stripe_plan.interval) % > for your<br />Local Orbit Service Plan</span> %>
            </div
            ><div class="field column column--third">
              <%= text_field(:details, :price, placeholder: 'Price', class: "column--full", disabled: "disabled", name: nil, value: @stripe_plan.try(:amount)/100) %><br />
              <span id='progress-span'><%= image_tag asset_path('progressbar.gif'), class: 'is-hidden', id: 'progress-bar' %></span>
            </div
            ><div class="field column column--third column--guttered">
              <%= text_field(:details, :coupon, placeholder: 'Discount Code', class: "column--full") %>
              <button id="apply_discount" class="pull-right form-action">Apply Discount</button>
            </div>
          </div>

          <h2>Payment Information</h2>
          <% if @market.stripe_tok.present? %>
            <p>Credit card information has been provided, thank you.</p>
          <% else %>
            <div class="row row--field">
              <div class="field column column--half column--guttered">
                <span>&nbsp;</span><br />
                <%= text_field_tag(:card_name, nil, placeholder: 'Name', class: "column--full", name: nil) %>
              </div
              ><div class="field column column--half column--guttered">
                <span>&nbsp;</span><span class="tooltip pull-right" data-tooltip="We offer no-questions-asked refunds to all customers within 30 days of your purchase. If you are not satisfied with our product, then simply send us an email and we will refund your purchase right away. The refunded amount will include the annual service fees, minus any payment processing fees, (If you process any actual, rather than test, transactions).">&nbsp;</span>
                <%= text_field_tag(:card_number, nil, placeholder: 'Credit Card #', class: "column--full", name: nil) %> 
              </div>
            </div>

            <div class="row row--field">
              <div class="field column column--half column--guttered">
                <div class="column column--half column--guttered">
                  <%= text_field_tag(:expiration_month, nil, placeholder: 'Month', class: "column--full", name: nil) %> 
                </div
                ><div class="column column--half column--guttered">
                  <%= text_field_tag(:expiration_year, nil, placeholder: 'Year', class: "column--full", name: nil) %> 
                </div>
              </div
              ><div class="field column column--half column--guttered">
                <%= text_field_tag(:security_code, nil, placeholder: 'Security Code', class: "column--full", name: nil) %>
              </div>
            </div>
          <% end %>
        </fieldset>

        <div class="wizard_nav_div">
          <button class="wizard_nav" target="#form-billing">Previous</button>
          <%= f.submit "Submit Payment", class: "form-nav" %>
        </div>
      </div> <!-- end form-review -->
    </div>
