<div class="market-info row vcard">
  <aside class="column column--third">
    <h2>Contact</h2>
    <p>
      <span class="fn"><%= @market.contact_name %></span><br>
      <span class="email"><%= @market.contact_email %></span><br>
      <% if @market.first_address %>
      <span class="adr">
        <span class="street-address"><%= @market.first_address.address %></span><br>
        <span class="locality"><%= @market.first_address.city %></span>, <span class="region"><%=@market.first_address.state %></span> <span class="postal-code"><%= @market.first_address.zip %></span>
      </span><br>
      <span class="tel"><%= @market.contact_phone %></span>
      <% end %>
    </p>

    <h2>Pickup/Delivery</h2>
    <% @market.delivery_schedules.visible.order(:day).decorate.each do |delivery| %>
      <div>
        <%= "#{delivery.plural_weekday}, #{delivery.pickup_or_dropoff} #{delivery.time_window}" %>
      </div>
    <% end %>
  </aside
  ><div class="column column--two-thirds">
    <h1 class="org"><%= @market.name %></h1>

    <div class="row">
      <div class="about">
        <h2>About</h2>
        <%= @market.profile %>
      </div>
      <div class="policies">
        <h2>Policies</h2>
        <%= @market.policies %>
      </div>
    </div>

    <div class="row">
      <div class="where">
        <h2>Where</h2>
        <img class="location-map" alt="" src="<%= @market.seller_locations_map %>" />
      </div>
      <div class="market-sellers">
        <h2>Sellers</h2>
        <ul>
        <% @market.organizations.selling.each do |seller| %>
          <%= content_tag :li, link_to(seller.name, seller_path(seller)) %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
