<div class="row">
  <div class="photo-header">
    <%= image_tag Dragonfly.app.remote_url_for(@market.photo_uid), class: "photo-header-bg" if @market.photo.present? %>
    <h1 class="photo-header-txt"><span><%= @market.name %></span></h1>
  </div>
</div>
<div class="row">
  <div class="column column--three-fourths column--guttered">
    <div class="about row">
     <% if @market.photo.present? %>
      <div class="column column--guttered column--two-thirds">
        <h2 class="story-header">About</h2>
        <%= simple_format @market.profile %>
      </div><div class="column column--guttered column--third">
        <%= image_tag Dragonfly.app.remote_url_for(@market.photo_uid) %>
      </div>
    <% else %>
      <h2 class="story-header">About</h2>
      <%= simple_format @market.profile %>
    <% end %>
    </div>
    <div class="policies">
      <h2 class="story-header">Policies</h2>
      <%= simple_format @market.policies %>
    </div>


    <h2 class="story-header">Sellers</h2>
    <img class="location-map" alt="" src="<%= @market.seller_locations_map 680, 400 %>">
    <ul class="l-inline-list seller-list">
    <% @market.organizations.selling.each do |seller| %>
      <%= content_tag :li, link_to(seller.name, seller_path(seller)), class: "column--fourth" %>
    <% end %>
    </ul>
  </div
  ><aside class="column column--fourth column-guttered">
    <div class="header header--column">
      <h2 class="heading heading--sidebar">Contact</h2>
    </div>
    <div class="sidebar-box">
    <p class="vcard">
      <% if @market.contact_name.present? %><span class="fn"><%= @market.contact_name %></span><br><% end %>
      <% if @market.contact_email.present? %><span class="email"><%= @market.contact_email %></span><br><% end %>
      <% if @market.first_address %>
      <span class="adr">
        <span class="street-address"><%= @market.first_address.address %></span><br>
        <span class="locality"><%= @market.first_address.city %></span>, <span class="region"><%=@market.first_address.state %></span> <span class="postal-code"><%= @market.first_address.zip %></span>
      </span>
      <% end %>
      <% if @market.contact_phone.present? %><br><span class="tel"><%= @market.contact_phone %></span><% end %>
    </p>
    </div>

    <div class="header header--column">
      <h2 class="heading heading--sidebar">Pickup/Delivery</h2>
    </div>
    <div class="sidebar-box">
    <% @market.delivery_schedules.visible.order(:day).decorate.each do |delivery| %>
      <p>
        <span class="display-date"><%= delivery.plural_weekday %></span><br>
        <span class="time-range"><%= delivery.pickup_or_dropoff %><br><%= delivery.time_window %></span>
      </p>
    <% end %>
    </div>
  </aside>
</div>
