<%= render 'market_header' %>

<div class="row three-fourths-rule">
  <div class="column column--three-fourths column--guttered">
    <div class="tab-box" id="market-tab-box">
      <ul class="tabs tabs--small unguttered">
        <li class="tab">
          <a href="#market-about" class="active">About</a>
        </li>
        <li class="tab">
          <a href="#market-policies" class="inactive">Policies</a>
        </li>
      </ul>
      <div class="policies tabbed-item" id="market-policies">
        <h2 class="story-header">Policies</h2>
        <%= simple_format @market.policies %>
      </div>
      <div class="about tabbed-item" id="market-about">
        <div class="row">
         <% if @market.photo_stored? %>
          <div class="column column--guttered column--two-thirds">
            <h2 class="story-header">About</h2>
            <%= simple_format @market.profile %>
          </div><div class="column column--guttered column--third">
            <%= image_tag @market.photo.thumb("440x440>").url %>
          </div>
        <% else %>
          <h2 class="story-header">About Us</h2>
          <%= simple_format @market.profile %>
        <% end %>
        </div>

        <div class="header--column">
          <h2 class="heading story-header">Sellers</h2>
          <a href="#seller-map" class="toggle-slide seller-map-toggle" data-toggle-open="Hide Map" data-toggle-closed="Show Map">Hide Map</a>
        </div>
        <div class="slide seller-map-slide is-down" id="seller-map">
          <img class="location-map slide-content" alt="" src="<%= @market.seller_locations_map 680, 400 %>" height="400">
        </div>

        <ul class="l-inline-list seller-list">
        <% @market.organizations.visible.selling.each do |seller| %>
          <%= content_tag :li, link_to(seller.name, seller_path(seller)), class: "column--fourth" %>
        <% end %>
        </ul>
      </div>
    </div>
  </div
  ><aside class="column column--fourth column-guttered market-sidebar">
    <div class="mobile-entab" data-tabbox="#market-tab-box">
      <h2 class="story-header">Contact Us</h2>
      <div class="vcard">
        <% if @market.contact_name.present? %><strong class="fn"><%= @market.contact_name %></strong><br><% end %>
        <% if @market.contact_email.present? %><%= mail_to(@market.contact_email, @market.contact_email, {class:"email"}) %></a><br><% end %>
        <% if @market.default_address %>
        <p class="adr">
          <span class="street-address"><%= @market.default_address.address %></span><br>
          <span class="locality"><%= @market.default_address.city %></span>, <span class="region"><%=@market.default_address.state %></span> <span class="postal-code"><%= @market.default_address.zip %></span>
        </p>
        <% end %>
        <% if @market.contact_phone.present? %><span class="tel"><%= @market.contact_phone %></span><% end %>
      </div>
    </div>

    <div class="mobile-entab" data-tabbox="#market-tab-box">
      <h2 class="story-header">Pick Ups &amp; Deliveries</h2>
      <ul class="list-naked list-zebra deliveries-list">
      <% @market.delivery_schedules.visible.order(:day).decorate.each do |delivery| %>
        <li>
          <strong class="display-date"><%= delivery.buyer_weekday.pluralize %></strong> —
          <span class="time-range"><%= delivery.buyer_time_window %></span><br>
          <span class="location"><%= delivery.pickup_or_dropoff %><br></span>
        </li>
      <% end %>
      </ul>
    </div>
  </aside>
</div>
