<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.select :state, us_states %>
</div>
<div class="field">
  <%= f.label :zip %><br>
  <%= f.text_field :zip, size: 11 %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :fax %><br>
  <%= f.text_field :fax, class: "column--three-fourths" %>
</div>
