<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :name, "Address Label" %>
    <span class="tooltip pull-right" data-tooltip="You can assign more than one address to an Organization.  This is helpful if you have multiple facilities that are associated with your organization, such as an office and a greenhouse."></span>
    <br>
    <%= f.text_field :name, class: "column--full" %>
  </div
  ><div class="field column column--half column--guttered">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "column--full" %>
  </div>
</div>
<div class="row row--field">
  <div class="field column column--third column--guttered">
    <%= f.check_box :billing %>
    <%= f.label :billing, ("Set as Billing address") %>
  </div
  ><div class="field column column--third column--guttered">
    <%= f.check_box :default %>
    <%= f.label :default, ("Set as Default address") %>
  </div
  ><div class="field column column--third column--guttered">
    <%= f.check_box :remit_to %>
    <%= f.label :remit_to, ("Set as Remit-to address") %>
  </div>
</div>
<div class="row row--field">
  <div class="field column column--fourth column--guttered">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_state_select, {include_blank: true}, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, size: 11, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= f.label :country %><br>
    <%= f.select :country, options_for_select(Market.possible_countries, @address.country), class: "column--full" %>
  </div>
</div>
<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "column--full" %>
  </div
  ><div class="field column column--half column--guttered">
    <%= f.label :fax %><br>
    <%= f.text_field :fax, class: "column--full" %>
  </div>
</div>

