<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city, class: "column--three-fourths" %>
</div>
<div class="field">
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.label :zip %><br>
  <%= f.text_field :zip, size: 11 %>
</div>
