<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :name, "Address Label" %>
    <span class="tooltip pull-right" data-tooltip="You can assign more than one address to an Organization.  This is helpful if you have multiple facilities that are associated with your organization, such as an office and a greenhouse."></span>
    <br>
    <%= f.text_field :name, class: "column--full" %>
  </div
  ><div class="field column column--half column--guttered">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "column--full" %>
  </div>
</div>
<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= f.label :state %><br>
    <%= f.select :state, us_states, {include_blank: true}, class: "column--full" %>
  </div
  ><div class="field column column--fourth column--guttered">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, size: 11, class: "column--full" %>
  </div>
</div>
<div class="row row--field">
  <div class="field column column--half column--guttered">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "column--full" %>
  </div
  ><div class="field column column--half column--guttered">
    <%= f.label :fax %><br>
    <%= f.text_field :fax, class: "column--full" %>
  </div>
</div>
