<%= render 'admin/markets/header' %>

<div class="row row--partial">
  <%= form_for @address, url: admin_market_address_path(@market, @address), html: { class: "column column--three-fourths" } do |f| %>

  <h1>Update address</h1>

  <%= render 'shared/errors', { resource: @address } %>
    <%= render 'form', {f: f} %>
    <div class="form-actions">
      <%= link_to "Delete Address", admin_market_address_path(@market, @address), method: :delete, class: "btn pull-left destructive" %>
      <%= f.submit "Update Address" %>
    </div>
  <% end %>
</div>
