<%= link_to 'Add Address', new_admin_market_address_path(@market) %>

<% @addresses.each do |address| %>
  <ul>
    <li><%= address.name %></li>
    <li><%= address.address %></li>
    <li><%= address.city %>, <%= address.state %> <%= address.zip %></li>
  </ul>
<% end %>
