<%= render 'admin/markets/header' %>

<%= link_to 'Add Address', new_admin_market_address_path(@market), class: "btn btn--small btn--add pull-right" %>

<table>
  <thead>
    <tr>
      <td>Address</td>
      <td>Phone</td>
    </tr>
  </thead>
  <tbody>
  <% @addresses.each do |address| %>
    <tr class="<%= cycle "odd", "even" %>">
      <td>
        <div><%= link_to address.name, edit_admin_market_address_path(@market, address) %></div>
        <div><%= address.address %>, <%= address.city %>, <%= address.state %> <%= address.zip %></div>
      </td>
      <td>
        <%= address.phone %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
