<%= render 'admin/markets/header' %>

<h1>Add Market Address</h1>

<%= render 'shared/errors', { resource: @address } %>

<div class="row row--partial">
  <%= form_for [:admin, @address], html: { class: "column column--three-fourths" } do |f| %>
    <%= render 'form', {f: f} %>
    <div class="form-actions">
      <%= f.submit "Add Address" %>
    </div>
  <% end %>
</div>
