<%= form_for [:admin, @newsletter], html: {class: "newsletter column"} do |f| %>

  <%= render "shared/errors", { resource: @newsletter } %>

  <div class="field field--inline">
    <input name="email" type="email" placeholder="Email address" class="input--short" value="<%= current_user.email %>">
    <%= f.submit 'Send Test', class: "btn btn--small btn--test" %>
  </div>
  <%= f.submit 'Send Now', class: "btn btn--small btn--send pull-right", data: {confirm: "Are you ready to send this Newsletter?"} %>

  <fieldset name="send-to-info">
    <legend>Send To</legend>

    <div class="row">
      <%= f.check_box :buyers %>
      <%= f.label :buyers %><br>
    </div>

    <div class="row">
      <%= f.check_box :sellers %>
      <%= f.label :sellers %><br>
    </div>

    <div class="row">
      <%= f.check_box :market_managers %>
      <%= f.label :market_managers, "Market Managers" %><br>
    </div>
  </fieldset>

  <fieldset name="newsletter-info">
    <legend>Newsletter Information</legend>

    <div class="row">
      <%= f.label :image %>
      <div class="newsletter-image-container">
        <% if f.object.image %>
          <%= image_tag f.object.image.thumb('300x200>').url, class: "newsletter-image" %><br/>
          <span class="newsletter-remove"><%= f.check_box :remove_image %> <%= f.label "Remove Image" %></span>
        <% end %>
        <%= f.file_field :image, class: "newsletter-image-chooser" %>
        <%= f.hidden_field :retained_image %>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="row newsletter-field">
      <%= f.label :subject, "Email Subject" %><br>
      <%= f.text_field :subject, class: "column column--full" %>
    </div>

    <div class="row newsletter-field">
      <%= f.label :header, "Headline" %><br>
      <%= f.text_field :header, class: "column column--full" %>
    </div>

    <div class="row newsletter-field">
      <label for="wysihtml5-textarea">Body</label><br>
      <div id="wysihtml5-toolbar" class="wys-toolbar">
        <div class="wys-tools">
          <span class="wys-text-format">
            <a data-wysihtml5-command="bold" class="wys-tools-icon text-bold">B</a>
            <a data-wysihtml5-command="italic" class="wys-tools-icon text-italic">i</a>
            <a data-wysihtml5-command="underline" class="wys-tools-icon text-underline">U</a>
          </span>
          <div class="wys-divider"></div>
          <span class="wys-text-lists">
            <a data-wysihtml5-command="insertOrderedList" class="wys-tools-icon">1. <span>Numbered List</span></a>
            <a data-wysihtml5-command="insertUnorderedList" class="wys-tools-icon">• <span>Bulleted List</span></a>
          </span>
          <span class="wys-divider"></span>
          <span class="wys-text-colors">
            <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red" class="wys-tools-icon text-red">R</a>
            <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green" class="wys-tools-icon text-green">G</a>
            <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue" class="wys-tools-icon text-blue">B</a>
          </span>
          <span class="wys-divider"></span>
          <span class="wys-links">
            <a data-wysihtml5-command="createLink">Link</a>
          </span>
        </div>
        <div data-wysihtml5-dialog="createLink" style="display: none;" class="wys-create-link">
          <label>
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
          <a data-wysihtml5-dialog-action="save" class="btn btn--tiny btn--primary">Done</a>
          <a data-wysihtml5-dialog-action="cancel" class="cancel-link">Cancel</a>
        </div>
      </div>
      
      <%= f.text_area :body, rows: 15, id: "wysihtml5-textarea", class: "newsletter-body" %>
    </div>

  </fieldset>

  <div class="row form-actions">
    <%= f.submit "#{@newsletter.new_record? ? 'Add' : 'Save'} Newsletter", class: "btn--newsletter" %>
  </div>
<% end %>
