<%= form_for [:admin, @market, @newsletter], html: {class: "newsletter column column--three-fourths"} do |f| %>

  <%= render "shared/errors", { resource: @newsletter } %>

  <fieldset name="newsletter-info">
    <legend>Newsletter Information</legend>

    <div class="row">
      <%= f.label :subject %><br>
      <%= f.text_field :subject, class: "column column--three-fourths" %>
    </div>

    <div class="row">
      <%= f.label :header %><br>
      <%= f.text_field :header, class: "column column--three-fourths" %>
    </div>

    <div class="row">
      <%= f.label :body %><br>
      <%= f.text_field :body, class: "column column--three-fourths" %>
    </div>

    <div class="row">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "column column--three-fourths" %>
    </div>

  </fieldset>

  <fieldset name="send-to-info">
    <legend>Send To</legend>

    <div class="row">
      <%= f.check_box :buyers %>
      <%= f.label :buyers %><br>
    </div>

    <div class="row">
      <%= f.check_box :sellers %>
      <%= f.label :sellers %><br>
    </div>

    <div class="row">
      <%= f.check_box :market_managers %>
      <%= f.label :market_managers, "Market Managers" %><br>
    </div>
  </fieldset>

  <div class="row form-actions">
    <%= f.submit "#{@newsletter.new_record? ? 'Add' : 'Save'} Newsletter" %>
  </div>
<% end %>
