<div class="row row--partial">

  <%= form_for(@user, url: admin_user_path(@user), html: { class: "column column--two-thirds" }) do |f| %>
    <h1><i class="font-icon" data-icon="&#xe018;"></i>&nbsp; Editing User<%= ": #{@user.name}" if @user.name.present? %></h1>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "column--full" %>
    </div>

    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "column--full" %>
      </div>
    </div>

    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <%= f.label :password, "New Password" %><br>
        <%= f.password_field :password, :autocomplete => "off", class: "column--full" %>
      </div
      ><div class="field column column--half column--guttered">
        <%= f.label :password_confirmation, "Confirm Password" %><br>
        <%= f.password_field :password_confirmation, class: "column--full" %>
      </div>
    </div>

    <table class="sortable">
      <thead>
        <tr>
          <th>Market</th>
          <th>Organization(s)</th>
          <th>Role</th>
        </tr>
      </thead>
      <% @user.managed_markets.each do |market| %>
        <tr>
          <td><%= market.name %></td>
          <td><%= market.organizations.pluck(:name).to_sentence %></td>
          <td>Market Manager</td>
        </tr>
      <% end %>

      <% @user.organizations.each do |organization| %>
      <tr>
        <td><%= organization.markets.pluck(:name).to_sentence %></td>
        <td><%= organization.name %></td>
        <td><%= organization.can_sell? ? "Seller" : "Buyer" %></td>
      </tr>
      <% end %>
    </table>

    <div class="form-actions">
      <%= link_to "Clear Changes", edit_user_registration_path, class: "btn cancel" %>
      <%= f.submit "Save Changes" %>
    </div>

  <% end %>
</div>
