<%= render 'admin/users/header' %>
<p>This is a list of all users in your market, including Market Managers, Sellers and Buyers.</p>
<div class="row row--partial">
  <div class="column column--full">
    <div class="table-wrapper">
      <table class="product-table product-table--admin sortable">
        <thead class="stickable">
          <tr>
            <th data-column="name" class="<%= column_sort_classes("name")%>">Name</th>
            <th data-column="email" class="<%= column_sort_classes("email")%>">E-mail</th>
            <th>Affiliations</th>
            <% if current_user.admin? %>
              <th class="action"></th>
            <% end %>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tr class="user-row">
          <td class="name"><%= link_to (user.name || "Edit"), edit_admin_user_path(user) %></td>
          <td class="email"><%= user.email %></td>
          <td>
            <ul class="affiliations">
              <% user.managed_markets.each do |market| %>
                <li><%= market.name %>, Market Manager</li>
              <% end %>
              <% user.organizations.select{|o| o.markets.any? }.each do |organization| %>
                <li><%= organization.markets.pluck(:name).to_sentence %>: <%= organization.name %>, <%= organization.can_sell? ? "Seller" : "Buyer" %></li>
              <% end %>
            </ul>
          </td>
          <% if current_user.admin? %>
            <td class="action">

              <%= link_to "Login As", masquerade_path(user), class: "btn btn--small btn--save" %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= paginate @users %>
