<%= render 'admin/users/header' %>
<p>This is a list of all users in your market, including Market Managers, Suppliers and Buyers.</p>
<div class="row row--partial">
  <div class="column column--full">
    <div class="table-wrapper">
      <table class="product-table product-table--admin user-table sortable">
        <thead class="stickable">
          <tr>
            <th data-column="name" class="<%= column_sort_classes("name")%>">Name</th>
            <th data-column="email" class="<%= column_sort_classes("email")%>">E-mail</th>
            <th>Affiliations</th>
            <% if current_user.admin? || current_user.can_manage_market?(current_market) %>
              <th class="action"></th>
            <% end %>
          </tr>
        </thead>
        <% @users.decorate.each do |user| %>
        <tr class="user-row">
          <td class="name"><%= link_to (user.name || "Edit"), edit_admin_user_path(user) %></td>
          <td class="email"><%= user.email %></td>
          <td>
            <ul class="affiliations">
              <% user.affiliations.each do |a| %>
                <%= a.decorate.affiliation_item(user) %>
              <% end %>
            </ul>
          </td>
          <% if current_user.admin? || current_user.can_manage_market?(current_market) && !user_masquerade? %>
            <td class="action">
			  <%= user.global_toggle_enabled_button %>
              <%= link_to "Log In", user_masquerade_url(user, host: user.markets.first.try(:domain) || Figaro.env.domain), class: "btn btn--small btn--save" %>
              <% if user.is_invited? %>
                  <%= link_to "Re-Invite", admin_user_invite_path(user), class: "btn btn--small btn--save" %>
              <% end %>
              <% if !user.is_confirmed? && current_user.admin? %>
                <%= link_to "Confirm", admin_user_confirm_path(user), class: "btn btn--small btn--save" %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= paginate @users %>
