<h1 class="clear-before">Welcome to <%= current_market.name %></h1>

<div class="row row--partial">

  <div class="column column--half">
    <p>Please choose a pick up or delivery date.</p>

    <%= form_tag [:sessions, :deliveries], method: :post, id: "deliveries" do |f| %>

      <%= content_tag_for :fieldset, @deliveries do |d| %>
        <%= radio_button_tag "delivery_id", d.id %>
        <label for="delivery_id_<%= d.id %>">
          <span class="type"><%= d.type %></span>
          <span class="date"><%= d.display_date %></span>
          <span class="time_range"><%= d.time_range %></span>
        </label>


        <% if d.display_locations.count > 1 %>
          <%= select_tag "location_id[#{d.id}]", options_from_collection_for_select(d.display_locations, "id", "address", current_organization.shipping_location.id) %>
        <% else %>
          <%= content_tag_for :div, d.display_locations.first, class: "location" do |location| %>
            <%= hidden_field_tag "location_id[#{d.id}]", location.id unless d.buyer_pickup? %>
            <div class="address"><%= location.address %></div>
            <div class="city">
              <%= location.city %> <%= location.state %>, <%= location.zip %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="form-actions">
        <%= submit_tag "Start Shopping"%>
      </div>
    <% end %>
  </div>
</div>
