<div class="is-hidden modal modal--stealth popup" id="change-delivery-warning">
  <h3 class="popup-header">
    <button class="close"><i class="font-icon icon-close"></i></button>
    Date Change Confirmation
  </h3>
  <div class="popup-body">
    <p>
      <strong>Changing your delivery date will remove the items you have in your cart!</strong><br>
      You can only order for one delivery date at a time. If you would like to purchase the
      items that are in your cart, please do that before changing your delivery date. You
      can access your cart right now by clicking Cart in your navigation above.
    </p>

    <%= link_to "Empty Cart and Change Date", reset_sessions_deliveries_path(redirect_back_to: request.fullpath), class: "btn btn--save btn--small mobile-block" %>
  </div>
</div>

<div class="selected-delivery">
  <div class="header header--column ">
    <h2 class="heading heading--sidebar delivery-type"><%= current_delivery.selected_type %></h2>
    <% if can_change_delivery? %>
      <span class="change-delivery">
        <%= link_to "Change", "#change-delivery-warning", id: "change-delivery-date", class: "reset btn modal-toggle" %>
      </span>
    <% end %>
  </div>

  <div class="sidebar-box">
    <h3 class="subheading--sidebar">Who</h3>
    <p>
      <strong class="organization-name"><%= current_organization.name %></strong>
    </p>

    <h3 class="subheading--sidebar">When</h3>
    <p>
      <strong class="display-date"><%= current_delivery.buyer_display_date %></strong><br>
      <span class="time-range"><%= current_delivery.buyer_time_range %></span>
    </p>

    <h3 class="subheading--sidebar">Where</h3>
    <strong class="location-name"><%= current_cart.delivery_location.name %></strong><br>
    <span class="location-address">
      <%= current_cart.delivery_location.address %><br>
      <%= current_cart.delivery_location.city %>,
      <%= current_cart.delivery_location.state %>
      <%= current_cart.delivery_location.zip %>
    </span>
  </div>
</div>
