<table class="product-table product-table--user cart_items" data-cart-url="<%= cart_path %>">
  <% if @previous_top_level_category != category.top_level_category %>
    <% @previous_top_level_category = category.top_level_category %>
    <caption><%= category.top_level_category.name %></caption>
  <% end %>
  <thead>
    <tr>
      <th colspan="2"><%= category.name %></th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% products.each do |product| %>
    <tr class="product product-row cart_item" data-cart-item="<%= product.cart_item.to_json %>">
      <td class="product-image">
      <% if product.image_uid.present? %>
        <%= image_tag Dragonfly.app.remote_url_for(product.image_uid) %>
      <% else %>
        <%= image_tag 'default-product-image.png' %>
      <% end %>
      </td>
      <td class="info">
        <h3 class="name"><%= product.name %></h3>
        <p class="short_description"><%= product.short_description %>

        <% if product.long_description.present? %>
          <%= link_to raw('<i class="font-icon icon-plus-circle"> </i>'), "#product-#{product.id}-long-description", class: "popup-toggle" %>
          <div class="long-description-info is-hidden with-anchor left-anchor popup" id="product-<%= product.id %>-long-description">
            <div class="popup-header">
              Details <button class="close"><i class="font-icon icon-close"></i></button>
            </div>
            <div class="popup-body">
              <%= simple_format product.long_description %>
              <%= link_to "Learn More", coming_soon_dashboard_path %>
            </div>
          </div>
        <% end %>

        </p>
        <ul class="meta">
          <li class="organization-name">
            <%= link_to raw("<i class=\"font-icon icon-credit\"></i> #{product.organization_name}"), "#product-#{product.id}-who", class: "popup-toggle" %>
            <div class="who-info is-hidden with-anchor top-anchor popup" id="product-<%= product.id %>-who">
              <div class="popup-header">
                Who <button class="close"><i class="font-icon icon-close"></i></button>
              </div>
              <div class="popup-body">
                <%= product.who_story %>
              </div>
            </div>
          </li>
          <li class="how-story">
            <%= link_to raw('<i class="font-icon icon-archive"></i> How'), "#product-#{product.id}-how", class: "popup-toggle" %>
            <div class="how-info is-hidden with-anchor top-anchor popup" id="product-<%= product.id %>-how">
              <div class="popup-header">
                How <button class="close"><i class="font-icon icon-close"></i></button>
              </div>
              <div class="popup-body">
                <%= product.how_story %>
              </div>
            </div>
          </li>
          <li class="where">
            <%= link_to raw('<i class="font-icon icon-direction"></i> Where'), "#product-#{product.id}-where", class: "popup-toggle" %>
            <div class="where-info is-hidden with-anchor top-anchor popup" id="product-<%= product.id %>-where">
              <div class="popup-header">
                Holland, MI     <button class="close"><i class="font-icon icon-close"></i></button>
              </div>
              <img class="location-map" alt="" src="<%= product.location_map%>" />
            </div>
          </li>
        </ul>
      </td>
      <td class="pricing">
        <ul class="tiers">
          <% product.prices.view_sorted.decorate.each do |price| %>
            <li><span class="unit-price"><%= number_to_currency(price.sale_price)%></span> <span class="tier"><%= price.formatted_units %></span></li>
          <% end %>
        </ul>
      </td>
      <td class="quantity">
        <label>
          <input name="quantity" type="number" size="3" min="0" value="<%= product.cart_item.quantity %>" max="<%= product.available_inventory %>">
          <span class="price-for-quantity"><%= number_to_currency(product.cart_item.unit_price.sale_price) %></span>
        </label>
      </td>
      <td class="total price"><%= product.cart_item.decorate.display_total_price %></td>
      <td class="product-clear"><%= link_to "", "#", class: "font-icon icon-clear" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
