<div class="mobile-panes-wrapper">
  <div class="row mobile-panes" data-panes="3">
    <div class="column column--fourth secondary-panes" data-panes="2">

      <div class="mobile-pane" id="delivery_details">
        <div class="vacuus"></div>
        <a href="#delivery_products" class="pane-toggle mobile-only btn">Return to Shop</a>
        <%= render "selected_delivery" %>
      </div
      ><div class="mobile-pane" id="delivery_filters">
        <div class="vacuus"></div>
        <a href="#delivery_products" class="pane-toggle mobile-only btn">Return to Shop</a>
        <div class="header header--column">
          <h2 class="heading heading--sidebar">Filter the Shop</h2>
          <% if request.query_parameters.present? %>
            <%= link_to "Reset", products_path, class: "btn reset" %>
          <% end %>
        </div>

        <div id="product-filter">

          <a href="#product-filter-organization" class="filter-toggle caretted caretted--right">Seller</a>
          <%= filter_list(@products_for_sale.filter_organizations, :organization) %>

          <a href="#product-filter-category" class="filter-toggle caretted caretted--right">Category</a>
          <%= filter_list(@products_for_sale.filter_categories, :category) %>
        </div>
      </div
    ></div
    ><div class="column column--three-fourths mobile-pane" id="delivery_products">
      <div class="vacuus"></div>
      <a href="#delivery_details" class="pane-toggle mobile-only btn">Delivery Information</a>
      <a href="#delivery_filters" class="pane-toggle mobile-only btn">Filter Products</a>
      <div class="products--user">
        <h2 class="table-heading">Products Available on <%= current_delivery.display_date %></h2>
        <p class="table-summary">
          Please complete your order by <%= current_delivery.cutoff_time.strftime("%B %-d at %l%p") %>.<br>
          <%= current_delivery.selected_type.capitalize %> is <%= current_delivery.display_date %> <%= current_delivery.buyer_time_range %>.
        </p>

        <% if @products_for_sale.featured_promotion.present? %>
          <%= render "featured", { featured: @products_for_sale.featured_promotion } %>
        <% end %>

        <% @products_for_sale.each_category_with_products do |category, products| %>
          <%= render "table", products: products, category: category %>
        <% end %>

        <%= link_to "Review Cart", cart_path, id: "review_cart", class: "btn btn--money pull-right add-toggle mobile-block" %>
      </div>
    </div>
  </div>
</div>
