<div class="row">
  <div class="column column--fourth" id="product-filter">

    <%= render "selected_delivery" %>
  </div
  ><div class="column column--three-fourths">
    <h1><%= @product.name %></h1>

    <% if @product.image_uid.present? %>
      <%= image_tag Dragonfly.app.remote_url_for(@product.image_uid) %>
    <% else %>
      <%= image_tag 'default-product-image.png' %>
    <% end %>

    <p class="short_description"><%= simple_format @product.short_description %></p>

    <% if @product.long_description.present? %>
      <div class="long-description-info is-hidden with-anchor left-anchor popup" id="product-<%= @product.id %>-long-description">
        <div class="popup-header">
          Details <button class="close"><i class="font-icon icon-close"></i></button>
        </div>
        <div class="popup-body">
          <%= simple_format @product.long_description %>
        </div>
      </div>
    <% end %>



    <%= @product.who_story %>

    <%= @product.how_story %>

    <%= @product.location_label %>
    <img class="location-map" alt="" src="<%= @product.location_map %>">

    <ul class="tiers">
      <% @product.prices_for_market_and_organization(current_market, current_organization).each do |price| %>
        <li><span class="unit-price"><%= number_to_currency(price.decorate.sale_price)%></span> <span class="tier"><%= price.decorate.formatted_units %></span></li>
      <% end %>
    </ul>
  </div>
</div>