<div class="container" style="page-break-after: always;">

    <section class="header">
      <% if(include_product_names) %>
       <div class="productContent"><h1 class="headerText"><%= product_name %></h1><h4>from <span style="text-decoration:underline;">local</span> producers!</h1></h4></div>
      <% else %>
       <h1 style="margin-top:15px;">Real food from <span style="text-decoration:underline;">local</span> producers!</h1>
      <% end %>
    </section>

    <section class="farm-details">
       <div class="arrow-down"></div>
       <h2>Chestnut Growers, Inc.</h2>
       <div class="farm-location">
          <span><%= "#{farm.shipping_location.try(:city)}, #{farm.shipping_location.try(:state)}" %></span>
          <span>|</span>
          <span><%= farm.shipping_location.try(:geocode) %></span>
          <br><br><br>
       </div>
    </section>

    <section class="farm-content">
      <h4>Who We Are</h4>
      <p><%= farm.who_story %></p>

      <span><%= image_tag asset_url("table_tents_and_posters/LO_Circle_lo.png") %>Powered by <strong>Local Orbit</strong></span>
    </section>

    <section class="footer">
      <% if market.photo %>
         <div style="width:30%;float:left;text-align:center;">
            <%= image_tag market.photo.try(:url) %>
         </div>
      <% end %>
       <div style="width:62%;margin-left: 1%;float:left;">
          <h5>Brought to you by</h5>
          <h4><%= market.name %></h4>
          <span><%= market.tagline %></span>
          <br><br>
       </div>

    </section>

</div>
