<div class="main-printable-ad">
  <h1><%= @title %>
  <h4>Why use <%= @printables.downcase %>?</h4>
  <p><%= @printables[0].titleize + @printables[1..-1].downcase %> help you tell the stories of the farms and food markets you work with. The <%= @printables %> are customized to your order and you can access them for each order you place.</p>
  <h4>Printing Instructions</h4>
  <p>To print the <%= @printables.downcase %>, click the button below to download the PDF. From there you can open, save, or send the PDF to your printer.</p>
  <span><input type="checkbox"></input><strong>Include the Product Name</strong></span>
  <p><em>By selecting this option, the <%= @printables %> will display product information from your order.</em></p>
  <%= form_tag("", :method=>"post", :target=>"_blank") do %>
    <button href="" class="btn printable-btn">Download the PDF</button>
  <% end %>
</div>