<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <script src="<%= pdf_asset_url('jquery.js') %>"></script>
      <script src="<%= pdf_asset_url('pdf_resizer.js') %>"></script>
    </head>
    <body style='margin: 0; padding: 0;'>
    <style>

      .container{
        max-width: 480px;
        page-break-after: always;
        /* page-break-inside: avoid; */
        height: 562px;
        max-height: 562px;
        font-family: 'Helvetica', sans-serif;
        margin:0;
        padding:0;
        font-size: 14px;
        overflow:hidden;
        position: relative;
      }
      section{
        width: 100%;
        position: relative;
        display: inline-block;
      }

      .header{
        height:124px;
        background:#3F3E40;
        color:#E3E3E4;
        background-image:url("<%= pdf_asset_url 'table_tents_and_posters/Group.png' %> ");
        background-size:cover;
        background-position:center center;
        text-align:center;
        font-size:140%;
        /* position:relative; */
        /* width:100%; */
      }
      .headerWrapper {
        display: inline-block;
      }
      .header h4{
        margin-top: 0px;
      }
      h1.productName{
        margin-top:25px;
        font-size: 40px;
        line-height: 130%;
        padding:5px;
        margin-bottom: 0px;
      }
      h1.realFood{
        margin-top:5px;
        font-size: 40px;
        line-height: 130%;
        padding:5px;
        margin-bottom: 0px;
      }
      .arrow-down{
        width: 0;
        height: 0;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
        border-top: 14px solid;
        margin: 0 auto;
        margin-top: -1px;
      }

      .farm-details{
        color:#3F3E40;
        text-align:center;
        background:#E3E3E4;
        background-image:url("<%= pdf_asset_url 'table_tents_and_posters/map.png' %> ");
        position:relative;
        background-size:cover;
        background-position:center center;
        height: 88px;
        min-height: 88px;
        max-height: 88px;
        overflow: hidden;
      }

      .farm-details h2 {
        font-size:160%;
        margin-top: 3%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-left: 0;
      }
      .farm-location{
        font-weight:bold;
        font-size:86%;
      }

      .tt-farm-content{
        padding: 0;
        height: 275px;
        min-height: 275px;
        max-height: 275px;
        overflow:hidden;
      }
      .tt-farm-content p,.tt-farm-content h4{
        padding:0 6%;
        font-size: 84%;
      }
      .tt-farm-content .who-story {
        height: 208px;
        overflow: hidden;
      }


      p.lo-logo {
        font-size: 60%;
        color:black;
        right:3%;
        z-index:999999;
        background-color:white;
        text-align: right;
        position: absolute;
        bottom: -7px;
        right: 0px;
        width: 30%;
      }
      .lo-logo img{
        width:6px;
        width:16px;
        padding-right: 4px;
        padding-bottom: 3px;
        vertical-align: middle;
      }

      .footer{
        background:#3F3E40;
        background-image:url("<%= pdf_asset_url 'table_tents_and_posters/Group.png' %> ");
        color:#FEFEFE;
        background-size:cover;
        background-position:center center;
        min-height: 75px;
        /* overflow:hidden; */
      }

    .footer-table {
      width: 100%;
      height: 75px;
    }
    .footer-table tbody {
      /* background-color: red; */
    }


    .market-info h5{
      margin:0% 0 1%;
      text-transform:uppercase;
      border-bottom:1px solid;
      color:#8E8C8E;
      font-size: 70%;
    }
    .market-info h4{
      line-height: 70%;
      margin: 4% 0 0%;
      font-size: 80%;
      font-weight: bold;
    }
    .market-info span {
      font-size: 70%;
    }

    .footer-image-holder {
      width:120px;
      text-align:center;
      vertical-align:middle;
      padding-top:5px;
    }
    .footer-image-holder img {
      max-width: 100px;
      max-height: 50px;
      background:#ffffff;
      border: 1px solid #dfdfdf;
    }
    </style>
    <% params[:page_list].each do |page| %>
      <%= render partial: "table_tents_and_posters/table_tent_page", locals: {farm: page[:farm], farm_map: page[:farm_map], product_name: page[:product_name], include_product_names: params[:include_product_names], market: params[:market]} %>
    <% end %>

    <!-- <section>&#38;nbsp;</section> -->
  </body>
</html>
