<div class="label-heading">
  PRODUCT
</div>
<div class="label-content">
  <div class="label-row">
    <span class="small-text">For delivery on:</span><br/>
    <%= delivery.deliver_on.strftime("%B %e, %Y") %>
  </div>
  <div class="label-row">
    <span class="small-text">Order #:</span><br/>
    <%= order.order_number %>
  </div>
  <div class="label-row">
    <span class="small-text">Buyer</span><br/>
    <%= order.organization.name %>
  </div>
  <div class="label-row">
    <span class="small-text">Product</span><br/>
    <%= item.name %> <br/>
    <span style="font-size:80%">
      <%= "#{item.quantity} #{item.unit}" %>
      <% if item.lots.size > 0 %>
        <%= "| Lot ##{item.lots.first.id}" %>
      <% end %>
    </span>
  </div>
  <div class="label-row">
    <span class="small-text">Producer</span><br/>
    <%= item.seller_name %>
  </div>
  <div class="label-row">
    <div class="footer-row">
      <img class="qr-code" src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=test&chld=H|0"></img>
      <% if order.market.logo %>
        <%= image_tag ensure_full_url(order.market.logo.url).gsub("3000", "3500") %>
      <% end %>
    </div>
  </div>
</div>