<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= render partial: "shared/print_opensans" %>
    <%= render partial: "shared/print_opensanscondensed_bold" %>
    <%= render partial: "shared/print_opensanscondensed_light" %>
  </head>
  <body style='margin: 0; padding: 0;'>
  <style>
    .page{
      page-break-after: always;
      font-family: "Open Sans Condensed";
      line-height: 110%;
      margin-left: .25in;
      margin-top: 50px;
      padding-top:50px;
      font-size: 12px;
      min-height: 11in;
      max-height: 11in;
      min-width: 8.5in;
      max-width: 8.5in;
      position: relative;
      overflow:hidden;
    }
    .page-quarter {
      min-width: 395px;
      max-width: 395px;
      min-height: 510px;
      max-height: 510px;
      overflow: hidden;
      float: left;
    }
    .page-sixteenth {
        min-width: 1.9in;
        max-width: 1.9in;
        min-height: 2.5in;
        max-height: 2.5in;
        float: left;
        border: 1px solid #EEE;
        margin-right: .125in;
        overflow: hidden;
    }
    .label-box {
      min-width: 1.9in;
      max-width: 1.9in;
      min-height: 2.5in;
      max-height: 2.5in;
    }
    .upper-label { padding-top:  45px; }
    .middle-label { padding-top:  8px; }
    .lower-label { padding-top:  8px; }
    .left-label  { margin-left: 22px; }
    .right-label { margin-left: 5px; }

    .horizontal {
      -webkit-transform: rotate(-90deg);
      margin-left: -50px;
      margin-top: 60px;
      width: 462px;
      height: 365px;
    }
    .horizontal .label-row {
      width: 100%;
      margin-bottom: 2px;
      float: left;
    }
    .order-row {
      width: 100%;
      padding-bottom: 15px;
      float: left;
    }
    .label-content {
      padding: 3px;
      font-weight: 700;
    }
    .label-heading {
      margin-top: 3px;
      margin-right: 3px;
      text-align: center;
      background-color: #222;
      color: #FFF;
      border-radius: 10px;
      padding: 2px 7px;
      font-weight: 800;
      font-size: 8px;
      float: right;
    }
    .label-row {
      width: 100%;
      margin-bottom: 4px;
      float: left;
    }
    .small-label {
      font-size: 80%;
      font-weight: 400;
    }
    .small-text {
        font-size: 80%;
    }
    .footer-row {
      margin-top: 10px;
    }
    .footer-row img {
      max-height: 110px;
      max-width: 110px;
    }
    .left-code {
      float: left;
    }
    .left-code-qr {
        float: left;
        width: .95in;
    }
    .left-code-qr img {
        max-width: 45px;
        max-height: 45px;
    }    .right-code {
      float: left;
        margin-left: 5px;
        border-left: 1px solid #CCC;
        padding-left: 5px;
        width: .95in;
    }
    .right-code-qr {
        float: left;
        margin-left: 10px;
    }
    .right-code-qr img {
        max-width: 45px;
        max-height: 45px;
    }
    .qr-code {
    }
  </style>
  <% params[:pages].each do |page| %>
    <div class="page">
      <div class="label-row">
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:a][:template], locals: page[:a][:data] if page[:a] %>
          </div>
        </div>
        <div class="page-sixteenth">
            <div class="label-box">
              <%= render partial: page[:b][:template], locals: page[:b][:data] if page[:b] %>
            </div>
        </div>
        <div class="page-sixteenth">
            <div class="label-box">
              <%= render partial: page[:c][:template], locals: page[:c][:data] if page[:c] %>
            </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:d][:template], locals: page[:d][:data] if page[:d] %>
          </div>
        </div>
      </div>
      <div class="label-row">
        <div class="page-sixteenth">
            <div class="label-box">
              <%= render partial: page[:e][:template], locals: page[:e][:data] if page[:e] %>
            </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:f][:template], locals: page[:f][:data] if page[:f] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:g][:template], locals: page[:g][:data] if page[:g] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:h][:template], locals: page[:h][:data] if page[:h] %>
          </div>
        </div>
      </div>
      <div class="label-row">
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:i][:template], locals: page[:i][:data] if page[:i] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:j][:template], locals: page[:j][:data] if page[:j] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:k][:template], locals: page[:k][:data] if page[:k] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:l][:template], locals: page[:l][:data] if page[:l] %>
          </div>
        </div>
      </div>
      <div class="label-row">
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:m][:template], locals: page[:m][:data] if page[:m] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:n][:template], locals: page[:n][:data] if page[:n] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:o][:template], locals: page[:o][:data] if page[:o] %>
          </div>
        </div>
        <div class="page-sixteenth">
          <div class="label-box">
            <%= render partial: page[:p][:template], locals: page[:p][:data] if page[:p] %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</body>
</html>
