<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :subdomain %>
  <%= f.text_field :subdomain %>
</div>
<div>
  <%= f.label :timezone %>
  <%= f.time_zone_select :timezone %>
</div>
<div>
  <%= f.label :contact_name %>
  <%= f.text_field :contact_name %>
</div>
<div>
  <%= f.label :contact_email %>
  <%= f.text_field :contact_email %>
</div>
<div>
  <%= f.label :contact_phone %>
  <%= f.text_field :contact_phone %>
</div>
<div>
  <%= f.label :facebook %>
  <%= f.text_field :facebook %>
</div>
<div>
  <%= f.label :twitter %>
  <%= f.text_field :twitter %>
</div>
<div>
  <%= f.label :profile %>
  <%= f.text_area :profile %>
</div>
<div>
  <%= f.label :policies %>
  <%= f.text_area :policies %>
</div>