<%= render 'shared/errors', resource: @market %>
<fieldset>
  <legend>Market Information</legend>
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :name %>
      <span class="tooltip pull-right" data-tooltip="This is the primary name of your market.  Don't forget to double check your spelling."></span>
      <br>
      <%= f.text_field :name, class: "column--full" %>
    </div
    ><div class="field column column--half column--guttered">
      <%= f.label :subdomain %>
      <span class="tooltip pull-right" data-tooltip="This is your unique text for your Local Orbit URL."></span>
      <br>
      <%= f.text_field :subdomain, class: "column--full" %>
    </div>
  </div>

  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :logo %>
      <span class="tooltip pull-right" data-tooltip="This logo appears in the header of every page and email."></span>
      <br>
      <%= image_tag @market.logo.remote_url, class: "market-logo" if @market.logo_stored? %>
      <%= f.file_field :logo, class: "photo-button" %><br>
      <div><small>Drag and drop your logo anywhere in the "Choose File" area and it will be uploaded when you save.</small></div>
    </div
    ><div class="field column column--half column--guttered">
      <%= f.label :photo %>
      <span class="tooltip pull-right" data-tooltip="This photo appears on the Market Info page."></span>
      <br>
      <%= image_tag @market.photo.remote_url, class: "market-photo" if @market.photo_stored? %>
      <%= f.file_field :photo, class: "photo-button" %><br>
      <div><small>Drag and drop your photo anywhere in the "Choose File" area and it will be uploaded when you save.</small></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :tagline %>
    <span class="tooltip pull-right" data-tooltip="Located directly below the logo at the top of the page."></span>
    <br>
    <%= f.text_field :tagline, maxlength: 60, class: "column--full" %>
  </div>
  <div class="field">
    <%= f.label :timezone, "Time zone" %><br>
    <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, default: "Pacific Time (US & Canada)" %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name, class: "column--full"  %>
  </div>
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <%= f.label :contact_email %><br>
      <%= f.text_field :contact_email, class: "column--full" %>
    </div
    ><div class="field column column--half column--guttered">
      <%= f.label :contact_phone %><br>
      <%= f.text_field :contact_phone, size: 18, class: "column--full" %>
    </div>
  </div>

  <div class="field field--inline">
    <%= f.label :facebook %>
    <div class="combo-input">
      <span class="btn btn--start">facebook.com/</span><%= f.text_field :facebook %>
    </div>
  </div
  ><div class="field field--inline">
    <%= f.label :twitter %>
    <div class="combo-input">
      <span class="btn btn--start">@</span><%= f.text_field :twitter, maxlength: 15, size: 15 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :profile %>
    <span class="tooltip pull-right" data-tooltip="Here is your opportunity to tell your market's story. Why is your market the best source for local food? What makes your market unique?"></span>
    <br>
    <%= f.text_area :profile, rows: 4, class: "column--full" %>
  </div>
  <div class="field">
    <%= f.label :policies %>
    <span class="tooltip pull-right" data-tooltip="This information appears on the Market info page."></span>
    <br>
    <%= f.text_area :policies, rows: 4, class: "column--full"  %>
  </div>
  <div class="row row--field">
    <div class="field column column--half column--guttered">
      <label>Open or Closed</label><br>
      <%= f.check_box :closed, {checked: !f.object.closed?}, 0, 1 %>
      <%= f.label :closed, "This market is open" %>
      <span class="tooltip" data-tooltip="Please contact your administrator if you want to change this status."></span>
    </div
    ><div class="field column column--half column--guttered">
      <label>Organization registration</label><br>
      <%= f.check_box :auto_activate_organizations %>
      <%= f.label :auto_activate_organizations, "Auto-activate organizations" %>
      <span class="tooltip" data-tooltip="Check this box if you want organizations to be automatically activated upon registration."></span>
    </div>
  </div>

  <% if @market.new_record? || @market.plan.try(:cross_selling?) %>
    <div class="row row--field">
      <div class="field column column--half column--guttered">
        <label>Cross Selling</label><br>
        <%= f.check_box :allow_cross_sell %>
        <%= f.label :allow_cross_sell, "Allow Cross Selling" %>
        <span class="tooltip" data-tooltip="This feature applies to the Grow and Automate plans.  Check this box to allow cross selling between your markets."></span>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class="row row--field">
      <div class="field column column--half column--guttered" id="allowed-payment-options">
        <label>Allowed payment methods</label><br>
        <%= f.check_box :allow_purchase_orders %>
        <%= f.label :allow_purchase_orders %><br>
        <%= f.check_box :allow_credit_cards %>
        <%= f.label :allow_credit_cards %><br>
        <%= f.check_box :allow_ach %>
        <%= f.label :allow_ach, "Allow ACH" %><br>
      </div
      ><div class="field column column--half column--guttered" id="default-payment-options">
        <label>Default organization payment methods</label><br>
        <%= f.check_box :default_allow_purchase_orders %>
        <%= f.label :default_allow_purchase_orders, "Allow purchase orders" %><br>
        <%= f.check_box :default_allow_credit_cards %>
        <%= f.label :default_allow_credit_cards, "Allow credit cards" %><br>
        <%= f.check_box :default_allow_ach %>
        <%= f.label :default_allow_ach, "Allow ACH" %><br>
      </div>
    </div>
  <% end %>

</fieldset>
