<div class="tab-header">
  <div class="l-constraint">

    <%= link_to "< Return to Markets List", admin_markets_path, class: "redundant-nav" %>

    <%= form_for [:admin, @market], html: { class: "pull-right" } do |f| %>
      <%= f.hidden_field :active, value: !@market.active? %>
      <%= f.submit (@market.active? ? 'Deactivate' : 'Activate'), class: "btn--small" %>
    <% end %>

    <h1><%= @market.decorate.header %></h1>
    <div class="tabs-wrapper">
      <ul class="tabs">
        <%= content_tag(:li, link_to_or_span("Market Info",   [:edit, :admin, @market]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Managers",      [:admin, @market, :managers]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Addresses",     [:admin, @market, :addresses]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Deliveries",    [:admin, @market, :delivery_schedules]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Bank Accounts", [:admin, @market, :bank_accounts]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Fees",          [:admin, @market, :fees]), class: 'tab') if current_user.admin? %>
      </ul>
    </div>
  </div>
</div>
