<div class="tab-header stickable">
  <div class="l-constraint">

    <%= link_to "< Return to Markets List", admin_markets_path, class: "redundant-nav" %>

    <% if current_user.admin? %>
      <h1 class="pull-left"><%= @market.decorate.header %></h1>
      <%= form_for [:admin, @market], html: { class: "pull-right" } do |f| %>
        <%= f.hidden_field :active, value: !@market.active? %>
        <%= f.submit (@market.active? ? 'Deactivate' : 'Activate'), class: "btn--small btn--activate" %>
      <% end %>
    <% else %>
      <h1><%= @market.decorate.header %></h1>
    <% end %>

    <div class="tabs-wrapper">
      <ul class="tabs wrapping-tabs">
        <%= content_tag(:li, link_to_or_span("Market Info",   [:admin, @market]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Managers",      [:admin, @market, :managers]), class: 'tab') %>
        <%#= content_tag(:li, link_to_or_span("Users",         [:admin, @market, :managers]), class: 'tab todo') %>
        <%= content_tag(:li, link_to_or_span("Addresses",     [:admin, @market, :addresses]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Deliveries",    [:admin, @market, :delivery_schedules]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Payment Methods", [:admin, @market, :bank_accounts]), class: 'tab') %>
        <%= content_tag(:li, link_to_or_span("Deposit Accounts", [:admin, @market, :deposit_accounts]), class: 'tab') unless PaymentProvider.is_balanced?(@market.payment_provider) %>
        <%= content_tag(:li, link_to_or_span("Fees",          [:admin, @market, :fees]), class: 'tab') if current_user.admin? %>
        <%= content_tag(:li, link_to_or_span("Style Chooser", [:admin, @market, :style_chooser]), class: 'tab') if @market.plan.try(:custom_branding?) %>
        <%= content_tag(:li, link_to_or_span("Cross Sell", [:admin, @market, :cross_sell]), class: 'tab') if @market.plan.try(:cross_selling?) && @market.allow_cross_sell  %>
        <%= content_tag(:li, link_to_or_span("Stripe", [:admin, @market, :stripe]), class: 'tab') if FeatureAccess.stripe_standalone?(market: @market) %>
      </ul>
    </div>
  </div>
</div>
