<%= render "header" %>
<div class="row row--partial">
  <%= form_for [:admin, @market], html: { class: "column column--three-fourths" } do |f| %>
    <%= render 'form', {f: f} %>

    <div class="form-actions">
      <%= link_to "Cancel", admin_markets_path, class: "btn cancel" %>
      <%= f.submit "Update Market" %>
    </div>
  <% end %>
</div>
