<div>
  <div class="l-page-header">
    <h1><i class="font-icon" data-icon="&#xe000;"></i>&nbsp; Markets</h1>
    <div class="header-actions">
      <%= link_to 'Export CSV', coming_soon_dashboard_path, class: "export todo" %>
      <%= link_to 'Add Market', new_admin_market_url, class: "btn btn--add btn--small" if current_user.admin? %>
    </div>
  </div>
</div>

<table class="sortable market-org-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Contact Name</th>
      <th>Contact Phone</th>
    </tr>
  </thead>
  <% @markets.each do |market| %>
  <tr class="<%= cycle "odd", "even" %>">
    <td><%= link_to market.name, [:admin, market] %></td>
    <td><%= link_to market.subdomain, root_url(host: market.domain) %></td>
    <td><%= market.contact_name %></td>
    <td><%= market.contact_phone %></td>
  </tr>
  <% end %>
</table>
