<div>
  <%= render 'header' %>
  <div>
    <%= link_to "Edit Market", [:edit, :admin, @market] %>
    <%= form_for([:admin, @market]) do |f| %>
      <%= f.hidden_field :active, value: !@market.active? %>
      <%= f.submit @market.active? ? 'Deactivate' : 'Activate' %>
    <% end %>
  </div>
</div>


<table>
  <tr>
    <th scope="row">Name</th>
    <td><%= @market.name %></td>
  </tr>
  <tr>
    <th scope="row">Subdomain</th>
    <td><%= @market.subdomain %></td>
  </tr>
  <tr>
    <th scope="row">Timezone</th>
    <td><%= @market.timezone %></td>
  </tr>
  <tr>
    <th scope="row">Active?</th>
    <td><%= @market.active? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th scope="row">Contact Name</th>
    <td><%= @market.contact_name %></td>
  </tr>
  <tr>
    <th scope="row">Contact Email</th>
    <td><%= @market.contact_email %></td>
  </tr>
  <tr>
    <th scope="row">Contact Phone</th>
    <td><%= @market.contact_phone %></td>
  </tr>
  <% if @market.facebook.present? %>
  <tr>
    <th scope="row">Facebook</th>
    <td><%= link_to @market.facebook, @market.facebook %></td>
  </tr>
  <% end %>
  <% if @market.twitter.present? %>
  <tr>
    <th scope="row">Twitter</th>
    <td><%= link_to "@#{@market.twitter}", "https://twitter.com/#{@market.twitter}" %></td>
  </tr>
  <% end %>
</table>

<h2>Profile:</h2>
<%= @market.profile %>

<h2>Policies:</h2>
<%= @market.policies %>
