<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
     <h1><i class="font-icon" data-icon="&#xe00f;">&nbsp; </i>Financials</h1>
    </div>
    <div class="tabs-wrapper">
      <ul class="tabs">
        <% if policy(:financial_overview).index? %><%= content_tag(:li, link_to_or_span("Overview", [:admin, :financials, :overview]), class: 'tab') %><% end %>
        <% if policy(:send_invoices).index? %><%= content_tag(:li, link_to_or_span("Send Invoices", [:admin, :financials, :invoices]), class: 'tab') %><% end %>
        <% if policy(:enter_receipts).index? %><%= content_tag(:li, link_to_or_span("Enter Receipts", [:admin, :financials, :receipts]), class: 'tab') %><% end %>
        <% if policy(:record_payments).index? %><%= content_tag(:li, link_to_or_span("Record Payments to Suppliers", [:admin, :financials, :vendor_payments]), class: 'tab') %><% end %>
        <% if policy(:payment_history).index? %><%= content_tag(:li, link_to_or_span("Review Payment History", [:admin, :financials, :payments]), class: 'tab') %><% end %>
        <% if policy(:review_invoices).index? %><%= content_tag(:li, link_to_or_span("Review Invoices", [:admin, :financials, :invoices]), class: 'tab') %><% end %>
      </ul>
    </div>
  </div>
</div>
