<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
     <h1><i class="font-icon" data-icon="&#xe00f;">&nbsp; </i>Financials</h1>
    </div>
    <div class="tabs-wrapper">
      <ul class="tabs">
        <% unless current_user.admin? %>
          <%= content_tag(:li, link_to_or_span("Overview", [:admin, :financials, :overview]), class: 'tab') %>
        <% end %>

        <% if current_user.admin? || current_user.market_manager? %>
          <%= content_tag(:li, link_to_or_span("Send Invoices", [:admin, :financials, :invoices]), class: 'tab') %>
          <%= content_tag(:li, link_to_or_span("Enter Receipts", [:admin, :financials, :receipts]), class: 'tab') %>
          <%= content_tag(:li, link_to_or_span("Record Payments to Vendors", [:admin, :financials, :vendor_payments]), class: 'tab') %>
          <%= content_tag(:li, link_to_or_span("Review Payment History", [:admin, :financials, :payments]), class: 'tab') %>
        <% else %>
          <% if current_user.buyer_only? %>
            <%= content_tag(:li, link_to_or_span("Review Invoices", [:admin, :financials, :invoices]), class: 'tab') %>
          <% end %>

          <%= content_tag(:li, link_to_or_span("Review Payment History", [:admin, :financials, :payments]), class: 'tab') %>
        <% end %>
        <% if current_user.admin? %>
          <%= content_tag(:li, link_to_or_span("Service Payments", [:admin, :financials, :service_payments]), class: 'tab') %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
