<h1>Payment History</h1>

<table>
  <tr>
    <th>Payment Date</th>
    <th>Order #</th>
    <th>Payment Method</th>
    <th>Amount</th>
  </tr>
  <% if @payments.empty? %>
    <tr>
      <td colspan="4">
        No payment history available.
      <td>
    </tr>
  <% else %>
    <% @payments.each do |payment| %>
      <tr class="payment-row">
        <td class="date"><%= payment.updated_at.strftime("%m/%d/%Y") %></td>
        <td class="order-number">
          <%= payment.orders.first.order_number %>
          <% if payment.orders.count > 1 %>
            <%= link_to "+", "#", class:"modal-toggle more-info", data: { modal: "more-info-#{payment.id}"} %>
            <div class="popup modal more-info-<%= payment.id %> is-hidden">
              <% payment.orders.each do |order| %>
                <p><%= order.order_number %></p>
              <% end %>
            </div>
          <% end %>
        </td>
        <td class="payment-method"><%= payment.payment_type %></td>
        <td class="amount"><%= number_to_currency(payment.amount) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
