<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Local Orbit</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300|Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <% if current_market.present? %>
    <style>
    <% if current_market.background_color.present? -%>
      body {
        background-color: <%= current_market.background_color -%>;
      }
    <% end -%>
    <% if !current_market.background_image.blank? -%>
      body {
        background-image: url(<%= asset_path "backgrounds/#{current_market.background_image}" -%>);
      }
    <% else %>
      body {
        background-image: none;
      }
    <% end -%>
    <% if current_market.text_color.present? -%>
      a,
      button.reset, button.cancel, button.close, button.delete,
      .btn.reset,
      .btn.cancel,
      .btn.close,
      .btn.delete,
      input[type=reset].reset,
      input[type=reset].cancel,
      input[type=reset].close,
      input[type=reset].delete,
      input[type=submit].reset,
      input[type=submit].cancel,
      input[type=submit].close,
      input[type=submit].delete,
      .seller-map-toggle,
      .nav--sidebar a {
        color: <%= current_market.text_color -%>;
      }
      .l-app-header,
      .l-app-footer,
      .nav--main > a:hover,
      .nav--main > span,
      .btn--add,
      .btn--save,
      input[type=submit] {
        background-color: <%= current_market.text_color -%>;
      }
    <% end %>

    </style>
  <% end %>
</head>
<body class="<%= current_user.present? ? "" : "signed-out" %>">

  <div class="page-content">
    <header class="l-app-header" id="top">
      <div class="l-constraint">
        <% if current_user %>
        <p class="header header--welcome">
          <% if current_market %>
            <%= current_market.name %> <%= "— #{current_market.tagline}" unless current_market.tagline.blank? %>
          <% else %>
            Local Orbit
          <% end %>
          <span class="welcome-user">Welcome <%= current_user.name.present? ? current_user.name : current_user.email %></span>
        </p>
        <ul class="l-inline-list nav nav--app">
          <li><%= link_to 'Dashboard', dashboard_path, class: (current_page?(dashboard_path) ? "current" : "") %></li
          ><li><%= render "carts/link" %></li
          ><li><%= link_to 'Help', help_path %></li
          ><li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% end %>
      </div>
    </header>
    <div class="l-constraint l-main">
      <div id="flash-messages">
        <% if notice %>
          <div class="flash flash--notice"><p><%= notice %></p></div>
        <% end %>

        <% if alert %>
          <div class="flash flash--alert"><p><%= alert %></div>
        <% end %>
      </div>

      <%= render 'shared/navigation' %>

      <%= yield %>
    </div>
    <footer class="l-app-footer">
      <div class="l-constraint">
        <% if current_market.present? %>
          <div class="pull-right market-manager-contact">
            <% if current_market.managers.any? %>
              <%= mail_to current_market.managers.first.email, current_market.managers.first.name, class: "email" %>, Market Manager<br>
            <% end %>
            <% if current_market.addresses.any? && current_market.addresses.first.phone.present? %>
              Phone <%= number_to_phone current_market.addresses.first.phone %>
            <% end %>
          </div>
        <% end %>

        <div class="copyright">
          <a href="http://localorb.it">
            Powered by <span class="org">Local Orbit</span><br>
            © 2014
          </a>
        </div>
      </div>
    </footer>
  </div>
  <div class="overlay"></div>

  <%= javascript_include_tag "https://js.balancedpayments.com/v1/balanced.js" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
