<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Local Orbit</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300|Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body style="background-image: url(<%= asset_url 'backgrounds/kale.jpg' %>);">

  <div class="page-content">
    <header class="l-app-header" id="top">
      <div class="l-constraint">
        <% if current_user %>
        <p class="header header--welcome">
          <% if current_market %>
            <%= current_market.name %> — Connecting Farm to Market
          <% else %>
            Local Orbit
          <% end %>
          <span class="welcome-user">Welcome <%= current_user.email %></span>
        </p>
        <ul class="l-inline-list nav nav--app">
          <li><%= link_to 'Dashboard', dashboard_path %></li
          ><li><a href="#" class="cart">Cart <span class="counter">3</span></a></li
          ><li><a href="#">Help</a></li
          ><li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <p></p>
        <% end %>
      </div>
    </header>
    <div class="l-constraint l-main">
      <% if notice %>
        <p class="flash flash--notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="flash flash--alert"><%= alert %></p>
      <% end %>

      <%= render 'shared/navigation' %>

      <%= yield %>
    </div>
    <footer class="l-app-footer">
      <div class="l-constraint">
        Beep
      </div>
    </footer>
  </div>
  <div class="overlay"></div>

  <%= javascript_include_tag "application" %>
</body>
</html>
