<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Local Orbit</title>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0" id="viewport">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300|Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <style id="viewport-declarations">
    @-ms-viewport{ width: device-width;, zoom: 1.0}
    @-o-viewport{ width: device-width; zoom: 1.0}
    @viewport{ width: device-width; zoom: 1.0}
  </style>
  <% if current_market.present? %>

    <style>
      body {
      <% if current_market.background_color.present? -%>
        background-color: <%= current_market.background_color -%>;
      <% end -%>
      <% if !current_market.background_image.blank? -%>
        background-image: url(<%= asset_path "backgrounds/#{current_market.background_image}" -%>);
      <% else -%>
        background-image: none;
      <% end -%>
    }
    @media screen and (max-width: 640px) {
      body { background-image: none; }
    }
    <% if current_market.text_color.present? -%>
      a,
      button.reset, button.cancel, button.close, button.delete,
      .btn.reset,
      .btn.cancel,
      .btn.close,
      .btn.delete,
      input[type=reset].reset,
      input[type=reset].cancel,
      input[type=reset].close,
      input[type=reset].delete,
      input[type=submit].reset,
      input[type=submit].cancel,
      input[type=submit].close,
      input[type=submit].delete,
      .seller-map-toggle,
      .tagline,
      .nav--sidebar a {
        color: <%= current_market.text_color -%>;
      }
      .l-app-header,
      .l-app-footer,
      .nav--main > span,
      .btn--add,
      .btn--save,
      input[type=submit] {
        background-color: <%= current_market.text_color -%>;
      }
      .export path {
        fill: <%= current_market.text_color -%>;
      }
      @media screen and (min-width: 601px) {
        a:hover {
          color: <%= color_mix current_market.text_color, 10 %>;
        }
        .btn--add:hover,
        .btn--add:active,
        .btn--add.current,
        .nav--app a:hover,
        .nav--app a:active,
        .nav--app a.current {
          color: <%= color_mix current_market.text_color, 40 %>
        }
        .nav--main > a:hover {
          background-color: <%= current_market.text_color -%>;
        }
        .nav--main a:hover,
        .nav--main a:active,
        .nav--main a.current {
          color: #fff;
        }
      }
      .pdf-download {
        background-color: <%= color_mix current_market.text_color, 70 %>
      }
    <% end %>
    </style>
  <% end %>
</head>

<body class="controller-<%= controller.controller_name %> <%= current_user.present? ? "" : "signed-out" %> <%= "request-desktop" if cookies[:request_desktop] && cookies[:request_desktop] == "true"  %>">
  <%= render "shared/analytics" %>

  <div class="page-content">
    <header class="l-app-header stickable" id="top">
      <div class="l-constraint">
        <% if current_user %>
        <p class="header header--welcome">
          <% if current_market %>
            <%= current_market.name %>
          <% else %>
            Local Orbit
          <% end %>
          <% if user_masquerade? %>
            <span class="welcome-user">Impersonating <%= current_user.name.present? ? current_user.name : current_user.email %> <%= link_to raw("<i class='font-icon icon-close'></i>"), back_user_masquerade_index_path, id: 'exit-masquerade' %></span>
          <% else %>
            <span class="welcome-user">Welcome <%= current_user.name.present? ? current_user.name : current_user.email %></span>
          <% end %>
        </p>
        <a href="#admin-nav" class="nav-admin-toggle"><%= image_tag asset_path('hamburger.png'), alt: "Toggle Navigation", height: 20 %></a>
        <ul class="l-inline-list nav nav--app">
          <li><%= link_to 'Dashboard', dashboard_path, class: (current_page?(dashboard_path) ? "current hidden-mobile" : "hidden-mobile") %></li
          ><li><%= render "carts/link" %></li
          ><li><%= link_to 'Help', help_path %></li
          ><li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </header>
    <div class="l-constraint l-main">
      <div id="flash-messages">
        <% if notice %>
          <div class="flash flash--notice"><p><%= notice %></p></div>
        <% end %>

        <% if alert.present? %>
          <div class="flash flash--alert"><p><%= alert %></div>
        <% end %>
      </div>

      <%= render 'shared/navigation' %>

      <%= yield %>
    </div>
    <footer class="l-app-footer">
      <div class="l-constraint">
        <% if current_market.present? %>
          <div class="pull-right market-manager-contact">
            <%= mail_to current_market.contact_email, current_market.contact_name, class: "email" %>, Market Manager<br>
            <% if current_market.contact_phone.present? %>
              Phone <%= number_to_phone current_market.contact_phone %>
            <% end %>
          </div>
        <% end %>

        <div class="copyright">
          <a href="http://localorbit.com/">
            Powered by <span class="org">Local Orbit</span><br>
            © 2014
          </a>
          <button class="btn reset mobile-only mobile-block toggle-viewport" id="toggle-desktop">View Desktop Version</button>
        </div>
        <button class="btn reset btn--small hidden-mobile toggle-viewport is-hidden" id="toggle-mobile">View Mobile Version</button>
      </div>
    </footer>
  </div>
  <div class="overlay"></div>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "balanced" if @balanced %>
</body>
</html>
