<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LocalOrbit</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-content">
    <header id="top">
      <div class="header-content">
        <% if current_user %>
        <p>
          Farm Fresh Market
        </p>
        <ul>
          <li class="welcome">Welcome Erika!</li>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><a href="#" class="cart">Cart  <span>3</span></a></li>
          <li><a href="#">Help</a></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <p></p>
        <% end %>
      </div>
    </header>
    <div class="work-space">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <footer>Beep</footer>
  </div>

</body>
</html>
