<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<title>New Market Creation - Local Orbit</title>
  
  <link rel="pingback" href="http://localorbit.com/xmlrpc.php" />

  <!--[if lt IE 9]>
  <script src="http://localorbit.com/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
  <![endif]-->

  <script type="text/javascript"> document.documentElement.className = 'js'; </script>

	<!-- This site is optimized with the Yoast SEO plugin v3.0.7 - https://yoast.com/wordpress/plugins/seo/ -->
	<link rel="canonical" href="http://localorbit.com/pricing/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Pricing - Local Orbit" />
	<meta property="og:url" content="http://localorbit.com/pricing/" />
	<meta property="og:site_name" content="Local Orbit" />
	<!-- / Yoast SEO plugin. -->

	<link rel="alternate" type="application/rss+xml" title="Local Orbit &raquo; Feed" href="http://localorbit.com/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Local Orbit &raquo; Comments Feed" href="http://localorbit.com/comments/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Local Orbit &raquo; Pricing Comments Feed" href="http://localorbit.com/pricing/feed/" />

	<meta content="Divi v.2.5.9" name="generator"/>

	<style type="text/css"> img.wp-smiley, img.emoji {display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0 .07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0 !important; } </style>
	<style type="text/css"></style>

	<link rel='stylesheet' id='DiviModuleEditor-css'  href='http://localorbit.com/wp-content/plugins/divi-module-editor/style.css?ver=4.4.1' type='text/css' media='all' />
	<link rel='stylesheet' id='jquery-style-css'  href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css?ver=4.4.1' type='text/css' media='all' />
	<link rel='stylesheet' id='et-gf-open-sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css' media='all' />
	<link rel='stylesheet' id='et_bloom-css-css'  href='http://localorbit.com/wp-content/plugins/bloom/css/style.css?ver=1.1' type='text/css' media='all' />
	<link rel='stylesheet' id='collapseomatic-css-css'  href='http://localorbit.com/wp-content/plugins/jquery-collapse-o-matic/light_style.css?ver=1.6' type='text/css' media='all' />
	<link rel='stylesheet' id='et_monarch-css-css'  href='http://localorbit.com/wp-content/plugins/monarch/css/style.css?ver=1.2.6' type='text/css' media='all' />
	<link rel='stylesheet' id='fontawesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.4.1' type='text/css' media='all' />
	<link rel='stylesheet' id='divi-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='et-gf-francois-one-css'  href='http://fonts.googleapis.com/css?family=Francois+One:400&#038;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='et-gf-source-sans-pro-css'  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&#038;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='et-gf-open-sans-condensed-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&#038;subset=latin,cyrillic-ext,latin-ext,greek-ext,greek,vietnamese,cyrillic' type='text/css' media='all' />
	<link rel='stylesheet' id='divi-style-css'  href='http://localorbit.com/wp-content/themes/Divi/style.css?ver=2.5.9' type='text/css' media='all' />
	<link rel='stylesheet' id='et-shortcodes-css-css'  href='http://localorbit.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
	<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='http://localorbit.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
	<link rel='stylesheet' id='magnific-popup-css'  href='http://localorbit.com/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=2.5.9' type='text/css' media='all' />
	<link rel='stylesheet' id='wpmu-animate-min-css-css'  href='http://localorbit.com/wp-content/plugins/wordpress-popup/css/animate.min.css?ver=4.4.1' type='text/css' media='all' />

	<link rel='https://api.w.org/' href='http://localorbit.com/wp-json/' />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://localorbit.com/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://localorbit.com/wp-includes/wlwmanifest.xml" /> 
	<link rel='shortlink' href='http://localorbit.com/?p=124' />
	<link rel="alternate" type="application/json+oembed" href="http://localorbit.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalorbit.com%2Fpricing%2F" />
	<link rel="alternate" type="text/xml+oembed" href="http://localorbit.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalorbit.com%2Fpricing%2F&#038;format=xml" />

	<style type="text/css" id="et-social-custom-css"> .et_monarch .et_social_sidebar_networks li, .et_monarch .et_social_mobile li { background: #dddddd; } .et_monarch .et_social_sidebar_networks .et_social_icons_container li:hover, .et_monarch .et_social_mobile .et_social_icons_container li:hover { background: #7ebec5 !important; } .et_social_sidebar_border li { border-color: #7ebec5 !important; } </style> 

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<style id="theme-customizer-css"> @media only screen and ( min-width: 767px ) {body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p,  body .et_pb_bg_layout_dark .et_pb_post p { font-size: 18px; } .et_pb_slide_content, .et_pb_best_value { font-size: 20px; } } body { line-height: 1.5em; } .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background: #7ebec5 !important; } #et_search_icon:hover, .mobile_menu_bar:before, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .posted_in a { color: #7ebec5; } .et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit input, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button { color: #7ebec5; } .footer-widget h4 { color: #7ebec5; } .et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote { border-color: #7ebec5; } .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content { background-color: #7ebec5; } a { color: #7ebec5; } #top-header, #et-secondary-nav li ul { background-color: #666666; } #et-secondary-nav li ul { background-color: #f2f2f2; } #main-header .nav li ul a { color: #666666; } #top-menu li a { font-size: 22px; } body.et_vertical_nav .container.et_search_form_container .et-search-form input { font-size: 22px !important; } #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a,.et_color_scheme_red #top-menu li.current-menu-ancestor > a, .et_color_scheme_red #top-menu li.current-menu-item > a,.et_color_scheme_pink #top-menu li.current-menu-ancestor > a,.et_color_scheme_pink #top-menu li.current-menu-item > a,.et_color_scheme_orange #top-menu li.current-menu-ancestor > a,.et_color_scheme_orange #top-menu li.current-menu-item > a,.et_color_scheme_green #top-menu li.current-menu-ancestor > a,.et_color_scheme_green #top-menu li.current-menu-item > a { color: #7ebec5; } #main-footer { background-color: #444444; } #main-footer .footer-widget h4 { color: #7ebec5; } .footer-widget li:before { border-color: #7ebec5; } #footer-widgets .footer-widget li:before { top: 12.3px; }#et-footer-nav .bottom-nav li.current-menu-item a { color: #7fbec5; }.bottom-nav, .bottom-nav a { font-size: 16px ; }#footer-info { font-size: 13px ; }#footer-bottom .et-social-icon a { font-size: 16px ; } body .et_pb_button,.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt,.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button{border-width: 3px !important; border-radius: 50px; } body.et_pb_button_helper_class .et_pb_button,.woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce-page.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class input.button.alt, .woocommerce-page.et_pb_button_helper_class input.button.alt, .woocommerce.et_pb_button_helper_class #respond input#submit.alt, .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt, .woocommerce.et_pb_button_helper_class #content input.button.alt, .woocommerce-page.et_pb_button_helper_class #content input.button.alt,.woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button, .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button, .woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button, .woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit, .woocommerce.et_pb_button_helper_class #content input.button, .woocommerce-page.et_pb_button_helper_class #content input.button {} body .et_pb_button:after,.woocommerce a.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce input.button.alt:after, .woocommerce-page input.button.alt:after, .woocommerce #respond input#submit.alt:after, .woocommerce-page #respond input#submit.alt:after, .woocommerce #content input.button.alt:after, .woocommerce-page #content input.button.alt:after,.woocommerce a.button:after, .woocommerce-page a.button:after, .woocommerce button.button:after, .woocommerce-page button.button:after, .woocommerce input.button:after, .woocommerce-page input.button:after, .woocommerce #respond input#submit:after, .woocommerce-page #respond input#submit:after, .woocommerce #content input.button:after, .woocommerce-page #content input.button:after{content: ''; font-size: 20px; } @media only screen and ( min-width: 981px ) {.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation  { padding: 63px 0 0 0; } .et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a { padding-bottom: 63px; } .et_header_style_split .centered-inline-logo-wrap { width: 125px; margin: -125px 0; } .et_header_style_split .centered-inline-logo-wrap #logo { max-height: 125px; } .et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo { height: 125px; } .et_header_style_centered #top-menu > li > a { padding-bottom: 23px; } .et_header_style_centered #main-header .logo_container { height: 125px; } #logo { max-height: 100%; } .et_pb_svg_logo #logo { height: 100%; } .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container { height: 22.5px; } .et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul { background-color: ; } .et-fixed-header #top-menu li a { font-size: 18px; } .et-fixed-header #top-menu a, .et-fixed-header #et_search_icon:before, .et-fixed-header #et_top_search .et-search-form input, .et-fixed-header .et_search_form_container input, .et-fixed-header .et_close_search_field:after, .et-fixed-header #et-top-navigation .et-cart-info { color: #666666 !important; } .et-fixed-header .et_search_form_container input::-moz-placeholder { color: #666666 !important; } .et-fixed-header .et_search_form_container input::-webkit-input-placeholder { color: #666666 !important; } .et-fixed-header .et_search_form_container input:-ms-input-placeholder { color: #666666 !important; } .et-fixed-header #top-menu li.current-menu-ancestor > a, .et-fixed-header #top-menu li.current-menu-item > a { color: #7ebec5 !important; } } @media only screen and ( min-width: 1350px) {.et_pb_row { padding: 27px 0; } .et_pb_section { padding: 54px 0; } .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper { padding-top: 81px; } .et_pb_section.et_pb_section_first { padding-top: inherit; } .et_pb_fullwidth_section { padding: 0; } } @media only screen and ( max-width: 980px ) {} @media only screen and ( max-width: 767px ) {}</style>
	<style class="et_heading_font"> h1, h2, h3, h4, h5, h6 {font-family: 'Francois One', Helvetica, Arial, Lucida, sans-serif; } </style> 
	<style class="et_body_font"> body, input, textarea, select {font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif; } </style>
	<style class="et_all_buttons_font"> .et_pb_button {font-family: 'Francois One', Helvetica, Arial, Lucida, sans-serif; } </style> 
	<style class="et_primary_nav_font"> #main-header,#et-top-navigation {font-family: 'Open Sans Condensed', Helvetica, Arial, Lucida, sans-serif; } </style>
	<style class="et_secondary_nav_font"> #top-header .container{font-family: 'Open Sans Condensed', Helvetica, Arial, Lucida, sans-serif; } </style>
	<style id="module-customizer-css"></style>

	<link rel="shortcut icon" href="http://localorbit.wpengine.com/wp-content/uploads/2014/03/CurrentFavicon.ico" /><link rel="icon" href="http://localorbit.com/wp-content/uploads/2015/10/cropped-LO_Circle_lo1-32x32.png" sizes="32x32" />
	<link rel="icon" href="http://localorbit.com/wp-content/uploads/2015/10/cropped-LO_Circle_lo1-192x192.png" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed" href="http://localorbit.com/wp-content/uploads/2015/10/cropped-LO_Circle_lo1-180x180.png" />
	<meta name="msapplication-TileImage" content="http://localorbit.com/wp-content/uploads/2015/10/cropped-LO_Circle_lo1-270x270.png" />
	<style type="text/css" id="et-custom-css"> @media only screen and (min-width: 1024px) {.menu-item-3464 span {padding: 4px 15px; background: #7ebec5; color: #FFF; border-radius: 10px; } } @media only screen and (max-width: 980px) {.et_pb_fullwidth_menu .fullwidth-menu-nav, nav#top-menu-nav {display: block !important; } } @media only screen and (max-width: 767px) {nav#top-menu-nav, #et-top-navigation {width: 100%; } h3 {font-size:60px; word-wrap: break-word; } } @media only screen and (max-width: 420px) {h3 {font-size:60px; word-wrap: break-word; } } #logo {max-height: 95%; } .sub-menu {width: 50% !important; margin-left: 50%; } .fa {line-height: inherit !important; } .fa-ul {list-style-type: none !important; } .fa-li {top: 0px !important; } .logo_container {padding: 10px; } .menu-item-3532 span {padding: 4px 15px; background: #7ebec5; border-radius: 10px; } #top-menu li.mega-menu > ul > li > a:first-child{border: none; } .sub-menu li a span {font-weight: normal; border: none; } .network-icon .et_pb_main_blurb_image img {border-radius: 50%; border: 3px solid #FFF; padding: 20px; width: 150px; } .truck-icon .et_pb_main_blurb_image img {border-radius: 50%; border: 3px solid #FFF; padding: 20px; width: 150px; } </style> <style> @-ms-viewport{ width: auto !important; } </style>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <!-- ================================================= -->
  <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <style id="viewport-declarations">
    @-ms-viewport{ width: device-width;, zoom: 1.0}
    @-o-viewport{ width: device-width; zoom: 1.0}
    @viewport{ width: device-width; zoom: 1.0}
  </style>
  <% if current_market.present? %>

    <style>
      body {
      <% if current_market.background_color.present? -%>
        background-color: <%= current_market.background_color -%>;
      <% end -%>
      <% if !current_market.background_image.blank? -%>
        background-image: url(<%= asset_path "backgrounds/#{current_market.background_image}" -%>);
      <% else -%>
        background-image: none;
      <% end -%>
    }
    @media screen and (max-width: 640px) {
      body { background-image: none; }
    }
    <% if current_market.text_color.present? -%>
      a,
      button.reset, button.cancel, button.close, button.delete,
      .btn.reset,
      .btn.cancel,
      .btn.close,
      .btn.delete,
      input[type=reset].reset,
      input[type=reset].cancel,
      input[type=reset].close,
      input[type=reset].delete,
      input[type=submit].reset,
      input[type=submit].cancel,
      input[type=submit].close,
      input[type=submit].delete,
      .seller-map-toggle,
      .tagline,
      .nav--sidebar a {
        color: <%= current_market.text_color -%>;
      }

      .l-app-header,
      .l-app-footer,
      .product-category-divider,
      .nav--main > span,
      .btn--primary,
      .btn--add,
      .btn--save,
      input[type=submit],
      input[type=button].btn {
        background-color: <%= current_market.text_color -%>;
        border-color: <%= current_market.text_color -%>;
      }
      .set_filter,
      input[type=date].set_filter,
      input[type=datetime].set_filter,
      input[type=email].set_filter,
      input[type=search].set_filter,
      input[type=tel].set_filter,
      input[type=text].set_filter,
      input[type=number].set_filter,
      input[type=url].set_filter,
      input[type=password].set_filter,
      textarea.set_filter {
        background: <%= hex_to_rgba(current_market.text_color,0.2) %>;
        border: 1px solid <%=current_market.text_color%>;
      }
      .btn--secondary,
      input[type=submit].btn--secondary {
         background:<%= color_mix current_market.text_color, 14 %>;
         border-color:<%= color_mix current_market.text_color, 14 %>;
      }
      .export path {
        fill: <%= current_market.text_color -%>;
      }
      .nav--app a .counter{background-color: <%= current_market.text_color -%>;}
      .sidebar-box{border-color: <%= current_market.text_color -%>;}
      @media screen and (min-width: 601px) {
        a:hover {
          color: <%= color_mix current_market.text_color, 10 %>;
        }
        .nav--app a:hover,
        .nav--app a:active,
        .nav--app a.current {
          background: <%= color_mix current_market.text_color, 5.5 %>;
        }
        .nav--main > a:hover {
          background-color: <%= current_market.text_color -%>;
        }
        
        #admin-nav a:hover {
           color: inherit;
        }
        .nav--main a:hover,
        .nav--main a:active,
        .nav--main a.current {
          color: #fff;
        }
      }
      .pdf-download {
        background-color: <%= color_mix current_market.text_color, 70 %>
      }
    <% end %>
    </style>
  <% end %>
  <!-- ================================================= -->

</head>
<body class="page page-id-124 page-template-default et_bloom et_monarch et_button_left et_button_icon_visible et_button_custom_icon et_pb_button_helper_class et_fullwidth_nav et_fullwidth_secondary_nav et_fixed_nav et_show_nav et_hide_fixed_logo et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_expand et_secondary_nav_dropdown_animation_expand et_pb_footer_columns1 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar gecko">
	<div id="page-container">
		<div id="top-header">
			<div class="container clearfix">
				<div id="et-info">
					<span id="et-info-phone">734.545.8100</span>
					<a href="mailto:service@localorbit.com"><span id="et-info-email">service@localorbit.com</span></a>
				</div> <!-- #et-info -->
				<div id="et-secondary-menu">
					<ul id="et-secondary-nav" class="gfcustomizedmenu-secondary-menu menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3532"><a href="http://localorbit.com/demosignup/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-secondary-menu">Sign Up for a Demo</span></a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3632"><a target="_blank" href="https://app.localorbit.com/users/sign_in"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-secondary-menu">Customer Log In</span></a></li>
					</ul>				
				</div> <!-- #et-secondary-menu -->
			</div> <!-- .container -->
		</div> <!-- #top-header -->
	
		<header id="kxm-main-header" class="et-fixed-header">
			<div class="container clearfix et_menu_container">
				<div class="logo_container">
					<span class="logo_helper"></span>
					<!--a href="http://localorbit.com/">
						<img src="http://localorbit.com/wp-content/uploads/2016/01/Logo-Gray-TagLine.png" alt="Local Orbit" id="logo" data-height-percentage="100" />
					</a-->
				</div>
				<div id="et-top-navigation" data-height="125" data-fixed-height="40">
					<nav id="top-menu-nav">
						<ul id="top-menu" class="gfcustomizedmenu-primary-menu nav">
							<li id="menu-item-3507" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3507"><a><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Solutions</span></a>
							<ul class="sub-menu">
								<li id="menu-item-128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-128"><a href="http://localorbit.com/procurement"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">For High Volume and Institutional Foodservice Buyers</span></a></li>
								<li id="menu-item-3366" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3366"><a href="http://localorbit.com/suppliers"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">For Food Hubs, Aggregators, Coops and Producer/Suppliers</span></a></li>
								<li id="menu-item-3540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3540"><a href="http://localorbit.com/logistics-providers"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">For Logistics Providers and Distributors</span></a></li>
							</ul>
							</li>
							<li id="menu-item-3470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3470"><a href="http://localorbit.com/network/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Network</span></a></li>
							<li id="menu-item-127" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-127"><a><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Learn</span></a>
							<ul class="sub-menu">
								<li id="menu-item-3650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3650"><a href="http://localorbit.com/services/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Foodservice: Local and Sustainable Procurement</span></a></li>
								<li id="menu-item-3649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3649"><a href="http://localorbit.com/toolkit/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Launch: The Local Food Distribution Toolkit</span></a></li>
								<li id="menu-item-3679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3679"><a href="http://localorbit.com/workshops/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-primary-menu">Grow and Evolve: Hub Camp 2.0</span></a></li>
							</ul>
							</li>
						</ul>
					</nav>
					<div id="et_mobile_nav_menu">
						<div class="mobile_nav closed">
							<span class="select_page">Select Page</span>
							<span class="mobile_menu_bar"></span>
						</div>
					</div>
				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->

			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="http://localorbit.com/">
						<input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />
					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->

		<div id="et-main-area">
			<div id="main-content">

		    <% if flash[:error].present? %>
		      <div id="error_explanation"><p><%= flash[:error] %></p></div>
		    <% end %>
		    
		    <div id="flash-messages">
		      <% if notice %>
		        <div class="flash flash--notice"><p><%= notice %></p></div>
		      <% end %>

		      <% if alert.present? %>
		        <div class="flash flash--alert"><p><%= alert %></div>
		      <% end %>
		    </div>

		    <%# KXM Error reporting ambiguity - this seems related to an AJAX response... is it needed here? %>
		    <%#= render 'shared/errors', resource: @market %>

				<article class="page type-page status-publish hentry">

          <%# === Content rendered here === %> 
          <%= yield %>
					<%# ============================= %> 

				</article> <!-- .et_pb_post -->
			</div> <!-- #main-content -->

			<span class="et_pb_scroll_top et-pb-icon"></span>

			<footer id="main-footer">
				<div id="et-footer-nav">
					<div class="container">
						<ul id="menu-footer" class="gfcustomizedmenu-footer-menu bottom-nav">
							<li id="menu-item-3450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450"><a href="http://localorbit.com/api/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">API</span></a></li>
							<li id="menu-item-3541" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-3541"><a href="http://localorbit.com/pricing"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">Pricing</span></a></li>
							<li id="menu-item-3566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3566"><a href="http://localorbit.com/faq/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">FAQ</span></a></li>
							<li id="menu-item-3645" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3645"><a href="http://localorbit.com/subscribe/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">Get Our Newsletter</span></a></li>
							<li id="menu-item-3464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3464"><a href="http://localorbit.com/demosignup/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">Sign Up for a Demo</span></a></li>
							<li id="menu-item-3452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3452"><a href="http://localorbit.com/get-started/"><span class="gfcustomizedmenuitem gfcustomizedmedmenuitem-footer-menu">Get Started</span></a></li>
						</ul>
					</div>
				</div> <!-- #et-footer-nav -->

			
				<div id="footer-bottom">
					<div class="container clearfix">
						<ul class="et-social-icons">
						<li class="et-social-icon et-social-facebook"> <a href="https://www.facebook.com/localorbit" class="icon"> <span>Facebook</span> </a></li>
						<li class="et-social-icon et-social-twitter"> <a href="https://twitter.com/localorbit" class="icon"> <span>Twitter</span> </a> </li>
						<li class="et-social-icon et-social-linkedin"><a href="http://www.linkedin.com/company/local-orbit" class="icon"><span>Divi</span></a></li> </ul>
						<p id="footer-info"><a href="http://www.localorbit.com" title="Local Orbit">Copyright &copy 2016</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://www.localorbit.com/privacy">Privacy</a></p>
					</div>	<!-- .container -->
				</div>
			</footer> <!-- #main-footer -->
		</div> <!-- #et-main-area -->
	</div> <!-- #page-container -->

	<style type="text/css" id="tdm_fontawesome"> .fa { line-height: inherit !important; } .fa-ul {list-style-type: none !important; } .fa-ul > li {} .fa-li { top: 0px !important; } </style>
	<style type="text/css" id="et-builder-advanced-style"> .et_pb_pricing_tables_0 .et_pb_sum { font-size: 30px; line-height: 1px; } .et_pb_pricing_tables_0 .et_pb_dollar_sign, .et_pb_pricing_tables_0 .et_pb_frequency { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; line-height: 1.5em; } .et_pb_pricing_tables_0 .et_pb_best_value { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; font-weight: bold;font-size: 18px; } .et_pb_pricing_tables_0 .et_pb_pricing li { line-height: 18px; } body #page-container .et_pb_pricing_tables_0 .et_pb_button { color:#ffffff !important; background:#7ebec5; border-width:0px !important; border-radius:3px; letter-spacing:0px; font-size:16px; padding-left:0.7em; padding-right: 2em; } body #page-container .et_pb_pricing_tables_0 .et_pb_button:after {line-height:1.7em; font-size:16px !important; opacity:1; margin-left:.3em;left:auto; display: inline-block; } body #page-container .et_pb_pricing_tables_0 .et_pb_button:hover:after { margin-left:.3em; left:auto;margin-left:.3em; } body #page-container .et_pb_pricing_tables_0 .et_pb_button:hover {background:#670000 !important; border-radius:3px; letter-spacing:0px; } .et_pb_pricing_tables_0 .et_pb_pricing_heading h2 { font-size: 34px !important; } .et_pb_pricing_tables_0 .et_pb_pricing li span:before { border-color: #7ebec5; } .et_pb_row_0 { background-color:#7ebec5; } .et_pb_blurb_0.et_pb_blurb h4, .et_pb_blurb_0.et_pb_blurb h4 a { font-size: 50px; } .et_pb_blurb_0 .et-pb-icon { font-size: 96px; } .et_pb_section_1 { background-color:#f3f3f3; } .et_pb_text_1 p { line-height: 2.2em; } .et_pb_pricing_tables_0 .et_pb_pricing_heading { background-color: #7ebec5; } .et_pb_text_1 { line-height: 2.2em; } .et_pb_section_0 { background-color:#7ebec5; } </style>

  <script>RAILS_ENV = '<%= Rails.env %>';</script>
  <script>DEPLOY_ENV = '<%= Figaro.env.deploy_env %>';</script>
  <script>DEBUG = <%= Figaro.env.debug == 'ON' ? "true" : "false" %>;</script>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <%= include_payment_provider_scripts(@market.payment_provider || 'stripe') %>
  <%= javascript_include_tag "synchronousRemote" %>
  <%= javascript_include_tag "roll_your_own_market" %>
</body>
</html>